@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;

<AuthorizeView>
    <NotAuthorized>
        <button type="button" id="blazordemologin" class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="Login">
            <p class="[ text-white ]">Login</p>
            <svg  xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icons-tabler-outline icon-tabler-login-2 ] [ text-white ]"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                <path d="M3 12h13l-3 -3" /><path d="M13 15l3 -3" />
            </svg>
        </button>
    </NotAuthorized>
    <Authorized>
        <button type="button" id="blazordemologout" class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="Logout">
            <p>Welcome, @context.User.Identity!.Name - Please </p>
            <p class="[ text-white ]">Log out</p>
            <svg  xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icons-tabler-outline icon-tabler-logout-2 ] [ text-white ]"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2" />
                <path d="M15 12h-12l3 -3" />
                <path d="M6 15l-3 -3" />
            </svg>
        </button>
    </Authorized>
</AuthorizeView>

@code {
    [Inject] private NavigationManager NavigationManager { get; set; } = default!;

    private void Login()
    {
        NavigationManager.NavigateToLogin("/authentication/login");
    }

    private void Logout()
    {
        NavigationManager.NavigateToLogout($"/authentication/logout?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}");
    }
}