@page "/blogs/working-with-api-that-supports-remote-streaming-using-http-client-in-dotnet"
@using BaseComponents
@inherits BasePage

<Content FileName=@nameof(WorkingWithAPIStreaming)>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to work with API's that support <Highlight>Remote Streaming</Highlight>
                using <Highlight>HTTP Client</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/save-bandwidth-with-compression-when-sending-and-reading-data-using-http-client-in-dotnet" Match="NavLinkMatch.All">Save bandwidth with Compression when sending and reading data using HTTPClient in dotnet</NavLink>.
            </p>
        </What>

        <Why>
            <p>
                <Highlight>Streaming</Highlight>, in essence, is a method of <Highlight>transmitting or receiving data over a network as a
                continuous and steady flow, as opposed to receiving it all at once</Highlight>. While commonly associated with video and audio content,
                streaming has also become valuable for web APIs that return JSON data, especially when dealing with large datasets.
            </p>

            <p>
                In our case, we're focusing on a <Highlight>streaming endpoint</Highlight> from our API. When we send a request to this endpoint,
                the results start arriving one by one, effectively streaming to the consumer in this case, a web browser. This capability has been made possible
                thanks to the introduction of <Highlight>IAsyncEnumerable</Highlight> in ASP.NET Core 3 and changes in
                <Highlight>System.Text.Json</Highlight> to accommodate streaming in ASP.NET Core 6.
            </p>
        </Why>

        <How>
            <h4 id="integrating-with-streaming-api">Integrating with Streaming API</h4>

            <p>
                To better grasp this concept, let's briefly look at the API code.
            </p>

            <CodeSnippet CssClass="language-csharp">
[Route("api/numbersstream")]
[ApiController]
public class NumbersStreamController : ControllerBase
{
    private readonly INumbersRepository _numbersRepository;

    public NumbersStreamController(INumbersRepository numbersRepository)
    {
        _numbersRepository = numbersRepository ?? throw new ArgumentNullException(nameof(numbersRepository));
    }

    [HttpGet]
    public async IAsyncEnumerable&lt;int&gt; GetNumbersStream()
    {
        await foreach (var number in _numbersRepository.GetNumbersAsAsyncEnumerable())
        {
            // for demo purposes, add a delay to visually see the effect
            await Task.Delay(500);
            yield return number;
        }
    }
}
            </CodeSnippet>

            <p>
                At its core, data access begins with the return of an <Highlight>IAsyncEnumerable</Highlight>. Within the related controller action,
                results are <Highlight>yielded</Highlight> individually to the API consumer, ensuring an <Highlight>asynchronous streaming
                process</Highlight>. For now, this illustrates that data flows asynchronously from the data store to the client via API.
            </p>

            <CodeSnippet CssClass="language-csharp">
var httpClient = _httpClientFactory.CreateClient("NumbersAPIClient");

var request = new HttpRequestMessage(HttpMethod.Get, $"api/numbersstream");

var response = await httpClient.SendAsync(request, HttpCompletionOption.ResponseHeadersRead);
response.EnsureSuccessStatusCode();

var responseStream = await response.Content.ReadAsStreamAsync();
var numbers = JsonSerializer.DeserializeAsyncEnumerable&lt;int&gt;(responseStream);

await foreach (var number in numbers)
{
    Console.WriteLine(number);
}
            </CodeSnippet>

            <p>
                When it comes to working with the streaming API on the client side, a straightforward <Highlight>HttpClient</Highlight> approach won't
                suffice. <Highlight>Deserializing</Highlight> the entire <Highlight>stream</Highlight> into an
                <Highlight>IEnumerable</Highlight> of <Highlight>integer</Highlight> would cause the client to wait until all the data has
                been received before proceeding. In order to support streaming at the client level, we need a different approach.
            </p>

            <p>
                <Highlight>HttpClient</Highlight> provides this support through two components:
            </p>

            <ol>
                <li>
                    the <Highlight>IAsyncEnumerable</Highlight> <Highlight>interface</Highlight>, which has been available since .NET
                    Core 3 and allows <Highlight>asynchronous</Highlight> iteration over a set of values, aligning perfectly with the streaming
                    paradigm.
                </li>
                <li>
                    When we call <Highlight>System.Text.Json</Highlight>'s streaming capabilities like
                    <Highlight>DeserializeAsyncEnumerable</Highlight>, the result is an <Highlight>asynchronous enumerable</Highlight>
                    that lets us work on incoming data incrementally.
                </li>
            </ol>

            <p>
                When we combine these components, we can <Highlight>asynchronously</Highlight> iterate over the incoming objects from the integer
                stream, processing them one by one.
            </p>
        </How>

        <Summary>
            <p>
                In this article, we've delved into the world of <Highlight>streaming</Highlight> a method of <Highlight>transmitting or
                receiving data as a continuous flow over a network</Highlight>. This approach allows us to begin processing parts of the data while the
                rest is still being received, offering improved efficiency and responsiveness. On the client side, HttpClient's support for streaming is made
                possible through two key components <Highlight>IAsyncEnumerable</Highlight> Interface and
                <Highlight>System.Text.Json</Highlight>.
            </p>
        </Summary>
    </ContentBody>
</Content>