@if (!string.IsNullOrWhiteSpace(_imageSource))
{
    <img src="@_imageSource" />
}

<button type="button" class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="ShowImage">
    <p class="[ text-white ]">Show Image</p>
</button>

@code {
    private string? _imageSource = null;

    private void ShowImage()
    {
        _imageSource = $"/image/blogs/blazor/wasm/improve-performance-by-dynamically-loading-image-in-blazor-wasm.webp";
    }
}