<EditForm EditContext="@editContext" OnSubmit="@HandleSubmit">
    <p>
        <label>
            Identifier:
            <InputText 
                class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]"
                @bind-Value="starship.Identifier" />
        </label>
    </p>

    <button type="submit"
            class="[ bg-cyan-500 ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ]">
            Submit
    </button>

    <p>
        @message
    </p>
</EditForm>

@code {
    public class Starship
    {
        public string? Identifier { get; set; }

        public string? Description { get; set; }

        public string? Classification { get; set; }

        public int MaximumAccommodation { get; set; }

        public bool IsValidatedDesign { get; set; }

        public DateTime ProductionDate { get; set; }
    }

    private Starship starship = 
        new()
        {
            Identifier = "NCC-1701",
            Classification = "Exploration",
            MaximumAccommodation = 150,
            IsValidatedDesign = true,
            ProductionDate = new DateTime(2245, 4, 11)
        };
    private EditContext? editContext;
    private string? message;

    protected override void OnInitialized()
    {
        editContext = new(starship);
    }

    private async Task HandleSubmit()
    {
        if (editContext != null)
        {
            message = "HandleSubmit called: Form is valid";

            // Process the valid form
            // await ...
            await Task.CompletedTask;
        }
    }
}