<ErrorBoundary>
    <ChildContent>
        <Chat></Chat>
    </ChildContent>
    <ErrorContent>
        <div class="[ bg-red-500 ]">
            <p class="[ text-white ]">An error occured while establishing a connection. Please try again later.</p>
        </div>
    </ErrorContent>
</ErrorBoundary>