<ErrorBoundary @ref="@errorBoundary">
    <ChildContent>
        <Chat></Chat>
    </ChildContent>
    <ErrorContent>
        <div class="[ bg-red-500 ]">
            <p class="[ text-white ]">An error occured while establishing a connection. Please try again later.</p>
        </div>
        <button type="button" class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ rounded-md ] [ text-white ]" @onclick="Recover">
            Click to recover
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-activity ] [ inline ]" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 12h4l3 8l4 -16l3 8h4"></path>
            </svg>
        </button>
    </ErrorContent>
</ErrorBoundary>

@code {
    private ErrorBoundary errorBoundary = default!;

    private void Recover()
    {
        errorBoundary?.Recover();
    }
}