<button type="button"
        class="[ bg-cyan-500 ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" 
        @onclick="@(() => OnClick.InvokeAsync("Hello from Child Component"))">Click to get message from child component</button>

@code {
    [Parameter] public EventCallback<string> OnClick { get; set; }
}