<p class="[ flex flex-col md:flex-row ] [ space-y-1 md:space-x-1 ]">
    @for (var i = 0; i < 4; i++)
    {
        <button class="[ bg-fuchsia-500 ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ]" @onclick="ReportPointerLocation">
            Where's my mouse pointer for this button?
        </button>
    }
</p>

<p>@mousePointerMessage</p>

@code {
    private string? mousePointerMessage;

    private void ReportPointerLocation(MouseEventArgs e)
    {
        mousePointerMessage = $"Mouse coordinates: {e.ScreenX}:{e.ScreenY}";
    }
}