<EventCallbackChildDemo OnClick="ClickHandler"></EventCallbackChildDemo>

<p>Message: <b>@message</b></p>

@code {
    string message = "Hello from Parent Component";

    void ClickHandler(string newMessage)
    {
        message = newMessage;
    }
}