<h3>@Title</h3>

<br />

<input class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 border-gray-200 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]" 
       @bind="Title" />

<br />
<br />

<button type="button" class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="UpdateHeading">
    Update heading
</button>

@code {
    private string Title { get; set; } = "I ❤️ .NET";

    private void UpdateHeading()
    {
        Title = "Hello from I ❤️ .NET";
    }
}