<p>
    <label>
        field binding @@onchange
        <input class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 border-gray-200 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]" 
        @bind="inputValue" />
    </label>
</p>

<p>field value - <code>inputValue</code>: @inputValue</p>

<br />

<p>
    <label>
        Property binding @@oninput
        <input class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 border-gray-200 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]" 
        @bind-value="InputValue"
        @bind-value:event="oninput" />
    </label>
</p>

<p>Property value - <code>InputValue</code>: @InputValue</p>

@code {
    private string? inputValue;

    private string? InputValue { get; set; }
}