@page "/blogs/convert-html-to-pdf-report-in-dotnet"
@using ReportDemoComponents
@inherits BasePage

<Content FileName=@nameof(ConvertHtmlToPdf)>
    <ContentBody>
        <What>
            Converting <Highlight>HTML</Highlight> to <Highlight>PDF</Highlight> is a common
            requirement in many software applications. The need arises to create <abbr
                title="Portable Document Format">PDF</abbr> versions of <abbr
                title="Hyper Text Markup Language">HTML</abbr> documents for archiving or
            printing purposes, or to generate reports, invoices, and other types of documents. In this article, we will
            explore different approaches to convert HTML to PDF using .NET.
        </What>

        <Why>
            HTML is a markup language that is designed to be displayed in web browsers. However, it is not designed to
            be printed or saved as a document. Converting HTML to PDF allows you to preserve the original layout,
            formatting, and graphics of the HTML document, as well as to add features such as headers, footers, and page
            numbers. HTML5 combined with CSS3 gives the most powerful and flexible and dynamic layout that can used
            easily converted to PDF using print media query.
        </Why>

        <How>
            <p>
                There are several ways to convert HTML to PDF using .NET. Some of the popular methods include:
            </p>

            <ol>
                <li>Using <Highlight>wkhtmltopdf</Highlight>
                </li>
                <li>Using <Highlight>Chrome Headless</Highlight>
                </li>
                <li>Using <Highlight>Selenium WebDriver</Highlight>
                </li>
                <li>Using <Highlight>window.print()</Highlight>
                </li>
            </ol>

            <h4>Using <Highlight>wkhtmltopdf</Highlight>
            </h4>

            <p>
                <Highlight>wkhtmltopdf</Highlight> is a command-line tool that converts HTML to PDF using
                the
                WebKit rendering engine. To use wkhtmltopdf in .NET,
            </p>

            <ol>
                <li>Download and install <Highlight>wkhtmltopdf</Highlight> latest version from <NavLink
                        href="https://wkhtmltopdf.org/downloads.html" target="_blank">here</NavLink>.</li>
                <li>Use the below code.</li>
                <li>And call the method as <Highlight CssClasses="[ break-all ]">HtmlToPdf("test", new string[] {
                        "https://www.google.com" }, new string[] { "-s A5" });</Highlight>
                </li>
                <li>
                    If you need to convert HTML string to PDF, the tweak the above method and replace the Arguments to
                    Process StartInfo as
                    <Highlight CssClasses="[ break-all ]">$@@"/C echo | set /p=""{htmlText}"" |
                        ""{pdfHtmlToPdfExePath}"" {((options == null) ? "" : string.Join(" ", options))} -
                        ""C:\Users\xxxx\Desktop\{outputFilename}""";</Highlight>
                </li>
            </ol>

            <CodeSnippet CssClass="language-csharp">
public static string HtmlToPdf(string outputFilenamePrefix, string[] urls,
    string[] options = null,
    string pdfHtmlToPdfExePath = @@"C:\Program Files\wkhtmltopdf\bin\wkhtmltopdf.exe")
{
    string urlsSeparatedBySpaces = string.Empty;
    try
    {
        //Determine inputs
        if ((urls == null) || (urls.Length == 0))
            throw new Exception("No input URLs provided for HtmlToPdf");
        else
            urlsSeparatedBySpaces = String.Join(" ", urls); //Concatenate URLs

        string outputFilename = outputFilenamePrefix + "_" + DateTime.Now.ToString("yyyy-MM-dd-hh-mm-ss-fff") + ".PDF"; // assemble destination PDF file name

        var p = new System.Diagnostics.Process()
        {
            StartInfo =
            {
                FileName = pdfHtmlToPdfExePath,
                Arguments = ((options == null) ? "" : string.Join(" ", options)) + " " + urlsSeparatedBySpaces + " " + outputFilename,
                UseShellExecute = false, // needs to be false in order to redirect output
                RedirectStandardOutput = true,
                RedirectStandardError = true,
                RedirectStandardInput = true, // redirect all 3, as it should be all 3 or none
                WorkingDirectory = Path.Combine(Path.GetDirectoryName(Assembly.GetEntryAssembly().Location))
            }
        };

        p.Start();

        // read the output here...
        var output = p.StandardOutput.ReadToEnd();
        var errorOutput = p.StandardError.ReadToEnd();

        // ...then wait n milliseconds for exit (as after exit, it can't read the output)
        p.WaitForExit(60000);

        // read the exit code, close process
        int returnCode = p.ExitCode;
        p.Close();

        // if 0 or 2, it worked so return path of pdf
        if ((returnCode == 0) || (returnCode == 2))
            return outputFilename;
        else
            throw new Exception(errorOutput);
    }
    catch (Exception exc)
    {
        throw new Exception("Problem generating PDF from HTML, URLs: " + urlsSeparatedBySpaces + ", outputFilename: " + outputFilenamePrefix, exc);
    }
}
            </CodeSnippet>

            <h5>Drawbacks using <Highlight>wkhtmltopdf</Highlight>
            </h5>

            <ol>
                <li>
                    The latest build of <Highlight>wkhtmltopdf</Highlight> as of writing this article does
                    not
                    support latest HTML5 and CSS3. Hence if you try to
                    export any html that as <abbr title="Cascading Style Sheet">CSS</abbr> GRID then the output will not
                    be
                    as expected.
                </li>
                <li>You need to handle concurrency issues.</li>
            </ol>

            <h4>Using <Highlight>Chrome Headless</Highlight>
            </h4>

            <p>
                <Highlight>Chrome headless</Highlight> is a feature of the Google Chrome browser that
                allows
                you to run Chrome in a headless environment, without a
                graphical user interface. This feature can be used to convert HTML to PDF by printing the HTML document
                to a
                PDF file. To use chrome headless in .NET,
            </p>

            <ol>
                <li>Download and install <Highlight>Chrome headless</Highlight> latest version from
                    <NavLink href="https://www.google.com/intl/en_in/chrome/" target="_blank">here</NavLink>.
                </li>
                <li>Use the below code.</li>
                <li>This will convert html file to pdf file.</li>
                <li>
                    If you need to convert some url to pdf then use the following as Argument to Process StartInfo
                    <Highlight CssClasses="[ break-all ]">@@"/C --headless --disable-gpu
                        --run-all-compositor-stages-before-draw --print-to-pdf-no-header --print-to-pdf=""C:/Users/Abdul
                        Rahman/Desktop/test.pdf"" ""https://www.google.com"""</Highlight>
                </li>
            </ol>

            <CodeSnippet CssClass="language-csharp">
var p = new System.Diagnostics.Process()
{
    StartInfo =
    {
        FileName = "C:/Program Files (x86)/Google/Chrome/Application/chrome.exe",
        Arguments = @@"/C --headless --disable-gpu --run-all-compositor-stages-before-draw --print-to-pdf-no-header --print-to-pdf=""C:/Users/Abdul Rahman/Desktop/test.pdf"" ""C:/Users/Abdul Rahman/Desktop/grid.html""",
    }
};

p.Start();

// ...then wait n milliseconds for exit (as after exit, it can't read the output)
p.WaitForExit(60000);

// read the exit code, close process
int returnCode = p.ExitCode;
p.Close();
            </CodeSnippet>

            <h5>Drawbacks using <Highlight>Chrome Headless</Highlight>
            </h5>

            <ol>
                <li>
                    This works as expected with latest HTML5 and CSS3 features. Output will be same as you view in
                    browser
                    but when running this via <Highlight>IIS</Highlight>
                    you need to run the <Highlight>AppliactionPool</Highlight> of your application under
                    <Highlight>LocalSystem Identity</Highlight> or you need to
                    provide <Highlight>read/write</Highlight> access to <Highlight>IISUSRS
                    </Highlight>.
                </li>
            </ol>

            <h4>Using <Highlight>Selenium Webdriver</Highlight>
            </h4>

            <p>
                <Highlight>Selenium WebDriver</Highlight> is a popular <Highlight>Nuget
                </Highlight> package used for automating web browsers. It can be
                used to open a webpage and interact with it programmatically, including printing the page. To use
                Selenium
                Webdriver in .NET,
            </p>

            <ol>
                <li>Install Nuget Packages <Highlight>Selenium.WebDriver</Highlight> and
                    <Highlight>
                        Selenium.WebDriver.ChromeDriver</Highlight>.
                </li>
                <li>Use the below code.</li>
            </ol>

            <CodeSnippet CssClass="language-csharp">
public async Task&lt;byte[]&gt; ConvertHtmlToPdf(string html)
{
    var directory = Path.Combine(Environment.GetFolderPath(Environment.SpecialFolder.CommonDocuments), "ApplicationName");
    Directory.CreateDirectory(directory);
    var filePath = Path.Combine(directory, $"{Guid.NewGuid()}.html");
    await File.WriteAllTextAsync(filePath, html);

    var driverOptions = new ChromeOptions();
    // In headless mode, PDF writing is enabled by default (tested with driver major version 85)
    driverOptions.AddArgument("headless");
    using var driver = new ChromeDriver(driverOptions);
    driver.Navigate().GoToUrl(filePath);

    // Output a PDF of the first page in A4 size at 90% scale
    var printOptions = new Dictionary&lt;string, object&gt;
    {
        { "paperWidth", 210 / 25.4 },
        { "paperHeight", 297 / 25.4 },
        { "scale", 0.9 },
        { "pageRanges", "1" }
    };
    var printOutput = driver.ExecuteChromeCommandWithResult("Page.printToPDF", printOptions) as Dictionary&lt;string, object&gt;;
    var pdf = Convert.FromBase64String(printOutput["data"] as string);

    File.Delete(filePath);

    return pdf;
}
            </CodeSnippet>

            <h5>Drawbacks using <Highlight>Selenium WebDriver
                </Highlight>
            </h5>

            <ol>
                <li>This approach needs latest chrome browser to be installed in the server where the app runs.</li>
                <li>
                    If the chrome browser version in server is updated then <Highlight>
                        Selenium.WebDriver.ChromeDriver</Highlight> Nuget package needs to be updated.
                    Else this will throw run time error due to version mismatch.
                </li>
            </ol>

            <h5>Advantages using <Highlight>Selenium WebDriver
                </Highlight>
            </h5>

            <ol>
                <li>This just needs an Nuget installation and works as expected with latest HTML5 and CSS3 features.
                    Output
                    will be same as you view in browser.</li>
            </ol>

            <p>
                <strong>Note:</strong>The above drawbacks can be overcome if we are running app in <Highlight>
                    docker
                </Highlight>. All we need to do is to install
                chrome when building app image using <Highlight>Dockerfile</Highlight>.
            </p>

            <p>
                <strong>Note:</strong>With this approach, please make sure to add <Highlight
                    CssClasses="[ break-all ]">&lt;PublishChromeDriver&gt;true&lt;/PublishChromeDriver&gt;
                </Highlight>
                in <Highlight>.csproj</Highlight> file as shown below:
            </p>

            <CodeSnippet CssClass="language-csharp">
&lt;PropertyGroup&gt;
  &lt;TargetFramework&gt;net5.0&lt;/TargetFramework&gt;
  &lt;LangVersion&gt;latest&lt;/LangVersion&gt;
  &lt;Nullable&gt;enable&lt;/Nullable&gt;
  &lt;PublishChromeDriver&gt;true&lt;/PublishChromeDriver&gt;
&lt;/PropertyGroup&gt;
            </CodeSnippet>

            <p>
                This will publish the chrome driver when publishing the project.
            </p>

            <h4>Using <Highlight>window.print()</Highlight>
            </h4>

            <p>
                If the users are using your app from browser then you can rely on <Highlight>JavaScript
                </Highlight> and use <Highlight>window.print()</Highlight>
                and necessary print media css to generate PDF from the browser. For example generating invoice from
                browser
                in an inventory app.
            </p>

            <CodeSnippet CssClass="language-javascript">
export function printWindow() {
  return window.print();
}
            </CodeSnippet>

            <DemoSnippet Title="HTML to PDF Demo using window.print()">
                <p class="[ text-black ] [ dark:text-white ]">
                    <b>
                        Scenario - Let's try converting this page HTML to PDF from I ❤️ .NET. The examples uses staright
                        window.print() method but the ideas are open to control and
                        change layout & appearance using print media css.
                    </b>
                </p>
                <HTMLtoPdfDemo></HTMLtoPdfDemo>
            </DemoSnippet>

            <h5>Drawbacks using <Highlight>window.print()</Highlight>
            </h5>

            <ol>
                <li>In SPA like Blazor, we need to do some workaround with <Highlight>iframe</Highlight>
                    to
                    print sections of page.</li>
            </ol>

            <h5>Advantages using <Highlight>window.print()</Highlight>
            </h5>

            <ol>
                <li>No dependency on any tools.</li>
                <li>PDF generated directly from HTML, CSS and JS in browser.</li>
                <li>Faster</li>
                <li>Supports all the latest CSS properties.</li>
            </ol>
        </How>

        <Summary>
            <p>
                In this article we learn't how to convert HTML to PDF in .NET. Converting HTML to PDF is a common
                requirement in many software applications. There are several ways
                to convert HTML to PDF using .NET. The most preferred approach is to use browser <Highlight>
                    window.print()</Highlight> in front end apps and use
                <Highlight>Selenium Webdriver</Highlight> in backend API's.
            </p>
        </Summary>
    </ContentBody>
</Content>