<button type="button"
    class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @onclick="AddFreeUser">
    Add Free User
</button>

<button type="button"
    class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @onclick="AddPrimeUser">
    Add Prime User
</button>

<button type="button"
    class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @onclick="ApplyVisitor">
    Calculate Shipping Cost
</button>

@if (_results.Count > 0)
{
  @foreach (var result in _results)
  {
    <p>@result</p>
  }
}

@code {
  //Step 6: Test the Implementation
  private UserContainer _userContainer = new();
  private List<string> _results = [];

  public void AddFreeUser()
  {
    _userContainer.AddUser(new FreeUser("John"));
  }

  public void AddPrimeUser()
  {
    _userContainer.AddUser(new PrimeUser("Doe"));
  }

  public void ApplyVisitor()
  {
    var visitor = new ShippingCostVisitor();
    _results = _userContainer.ApplyVisitor(visitor);
  }
}
