@media print {
    #barcode-section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }

    html,
    body {
        max-width: 100mm;
        max-height: 35mm;
        width: fit-content;
        font-family: Calibri;
        font-size: 1rem;
    }

    article {
        padding: 20px 0 0 18px;
        margin-right: 18px;
        display: grid;
        grid-template-columns: 40mm 40mm;
        grid-gap: 36px;
        page-break-after: always;
    }

    p {
        margin: 0;
    }

    section {
        display: flex;
        flex-direction: column;
    }

        section header {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
        }

        section main {
            display: flex;
            justify-content: space-between;
        }

        section footer {
            text-align: center;
        }
}