@page "/blogs/python-interoperating-with-dotnet"
@inherits FragmentNavigationBase
@inject TableOfContents tableOfContents

<Content Title=@Title
         Description=@Description
         CreatedOn=@CreatedOn
         ModifiedOn=@ModifiedOn
         Slug=@Slug
         PosterPath=@PosterPath
         Keywords=@Keywords
         Channel="@Channel"
         ContentType="@ContentType"
         TotalContents=@TotalContents
         FileName=@nameof(Interoperating)>
    <ContentBody>
        <p>
            In this article, let's learn about how to use <ContentHighlight>Python</ContentHighlight> in .NET.
        </p>

        <h3 class="[ font-semibold text-lg ]">Table of Contents</h3>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction" class="[ font-semibold text-lg ]">Introduction</h3>

        <p>
            
        </p>

        <GithubGistSnippet Title="Python Interoperating" UserId="fingers10" FileName="ab77860f8b669ac1825b4f8c3cc5309c"></GithubGistSnippet>

        <h3 id="summary" class="[ font-semibold text-lg ]">Summary</h3>

        <p>
            
        </p>
    </ContentBody>
</Content>

@code {
    private string Title = "Python Interoperating with DotNet";
    private string Description = "In this post I will teach you how to interoperate and run python in .NET. All with live working demo.";
    private DateTime CreatedOn = new DateTime(2022, 9, 11, 22, 30, 0);
    private DateTime ModifiedOn = new DateTime(2022, 9, 11, 22, 30, 0);
    private string Slug = "python-interoperating-with-dotnet";
    private string PosterPath = "Blogs/Python";
    private string Channel = "python";
    private string ContentType = "blogs";
    private ushort TotalContents => (ushort)tableOfContents.Contents.Count(content => content.Type.Equals("Python", StringComparison.CurrentCultureIgnoreCase));
    private List<string> Keywords = new(2) { "Interoperating", "IronPython" };
}