@page "/blogs/linq-introduction"
@inherits BasePage

<Content FileName=@nameof(Introduction)>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about <Highlight>LINQ</Highlight> in .NET.
            </p>

            <h4 id="assumptions">Assumptions</h4>

            <p>
                I assume you are,
            </p>

            <ul>
                <li>a C# developer</li>
                <li>familiar with SQL</li>
                <li>new to using LINQ</li>
            </ul>

            <h4 id="pre-requisites">Pre Requisites</h4>

            <ul>
                <li>C# Generics</li>
                <li>C# Delegates, Lambda Expressions</li>
                <li>C# Extension Methods</li>
            </ul>

            <h4 id="introduction">Introduction</h4>

            <p>
                Language-Integrated Query <abbr title="Language-Integrated Query">LINQ</abbr> is a SQL-like syntax that you can use in C# and Visual Basic and allows you to query any type of
                collections that implement <Highlight>IEnumerable&lt;T&gt;</Highlight> or <Highlight>IQueryable&lt;T&gt;</Highlight>.
            </p>

            <p>
                Now, some of the most common <Highlight>IEnumerable</Highlight> types are,
            </p>

            <ul>
                <li>Any Array</li>
                <li>String (Array of characters)</li>
                <li>List&lt;T&gt;</li>
                <li>HashSet&lt;T&gt;, Dictionary&lt;TKey, TValue&gt;, LinkedList&lt;T&gt;, etc</li>
            </ul>

            <p>
                The <Highlight>IQueryable</Highlight> objects are typically those found in LINQ integrations. Now, some of the most common IQueryable integrations are,
            </p>

            <ul>
                <li>LINQ to XML - translator that knows how to read XML documents and then allow you to apply LINQ queries to that XML</li>
                <li>Entity Framework - SQL LINQ translator that reads from a SQL database and then gives you back that data that you can now query</li>
            </ul>

            <p>
                Besides the LINQ integrations, there's LINQ to objects
            </p>

            <ul>
                <li>LINQ and Strings</li>
                <li>LINQ and Reflection</li>
                <li>LINQ and File Directories</li>
                <li>LINQ to Entities</li>
                <li>LINQ to Dataset</li>
            </ul>

            <p>
                To use LINQ in your applications, all you need to do is add a using statement <Highlight>using System.Linq</Highlight>. What this does is this adds extension methods
                that are part of the <Highlight>Enumerable</Highlight> and <Highlight>Queryable</Highlight> base classes so that you can apply the LINQ queries to
                whatever you're going to do.
            </p>

            <figure>
                <img src="./image/blogs/linq/introduction/linq-in-dotnet.png" alt="linq in dotnet" class="[ w-full ]" />
            </figure>
        </What>

        <Why>
            <p>
                So, why use LINQ? Because,
            </p>

            <ul>
                <li>Unified approach for querying any types of object</li>
                <li>Eliminate looping code</li>
                <li>IntelliSense Support</li>
                <li>Type-checking of objects at compile time</li>
            </ul>

            <figure>
                <img src="./image/blogs/linq/introduction/why-use-linq-in-dotnet.png" alt="why use linq in dotnet" class="[ w-full ]" />
            </figure>
        </Why>

        <How>
            <h4 id="examples-sql-loops-and-linq">Examples SQL, Loops and LINQ</h4>

            <p>
                Let's take a quick comparison of SQL, loops, and LINQ. SQL is very similar to the LINQ query language, so we're going to take a look at SQL, looping, and LINQ all side by side.
                Let's start out with a simple SQL WHERE clause.
            </p>

            <CodeSnippet CssClass="language-csharp">
//SQL
//SELECT * from Products where the Price field is greater than 1000

//C# Loop
List&lt;Product&gt; products = GetProducts();
List&lt;Product&gt; filteredProducts = new();

foreach (var product in products)
{
  if (product.Price &gt; 1000)
  {
    filteredProducts.Add(product);
  }
}

//C# LINQ Where Clause
List&lt;Product&gt; products = GetProducts();
//Method Syntax
var filteredProducts = products.Where(product =&gt; product.Price &gt; 1000).ToList();
//Query Syntax
var filteredProducts = (from product in products
                        where product.Price &gt; 1000
                        select product).ToList();
            </CodeSnippet>

            <CodeSnippet CssClass="language-csharp">
//SQL
//SELECT MIN(Price) from Products

//C# Loop
List&lt;Product&gt; products = GetProducts();
decimal ret = decimal.MaxValue;

foreach (var product in products)
{
  if (product.Price &lt; ret)
  {
    ret = product.Price;
  }
}

//C# LINQ Where Clause
List&lt;Product&gt; products = GetProducts();
//Method Syntax
var ret = products.Min(product =&gt; product.Price);
//Query Syntax
var ret = (from product in products
           select product).Min();
            </CodeSnippet>

            <h4 id="linq-operations">LINQ Operations</h4>

            <p>
                So what are the types of operations that we can perform with LINQ? Well, we can
            </p>

            <ul>
                <li>Select</li>
                <li>Projection (change shape)</li>
                <li>Order (ascending / descending)</li>
                <li>Get an Element (find, first, last, single)</li>
                <li>Filter (where)</li>
                <li>Iteration / Partition (foreach, skip, take)</li>
                <li>Quantify (any, all, contains)</li>
                <li>Set Comparison (equal, except, intersection)</li>
                <li>Set Operations (union, concat)</li>
                <li>Joining (inner joins, outer joins)</li>
                <li>Grouping (groupby, subquery, groupjoin)</li>
                <li>Distinct Sets (distinct)</li>
                <li>Aggregation (count, sum, min, max, average)</li>
            </ul>

            <figure>
                <img src="./image/blogs/linq/introduction/linq-operations-in-dotnet.png" alt="linq operations in dotnet" class="[ w-full ]" />
            </figure>
        </How>

        <Summary>
            <p>
                In this article we learn't what is LINQ. It's a SQL-like syntax for C# used to query IEnumerable and IQueryable types. It can be used with many types of collections. It can search,
                order, group, etc and do many other operations. In the next article we will explore each operations with a demo.
            </p>
        </Summary>
    </ContentBody>
</Content>