@page "/blogs/using-linq-intersect-to-find-common-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQIntersect)>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to use <Highlight>Intersect</Highlight> in <Highlight>LINQ</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/using-linq-except-to-find-difference-in-data" Match="NavLinkMatch.All">Using LINQ Except to Find Difference in data</NavLink>.
            </p>

            <p>
                When working with two collections, we can find the same data between them using LINQ <Highlight>Intersect()</Highlight> method. The idea here is to find out
                values in one which is in other and returns the list of common ones. With <Highlight>Intersect()</Highlight>, we can compare two collections for Common items.
                <Highlight>Intersect()</Highlight> and <Highlight>IntersectBy()</Highlight> are exact opposite of <Highlight>Except()</Highlight>
                and <Highlight>ExceptBy()</Highlight>.
            </p>
        </What>

        <Why>
            <p>
                LINQ <Highlight>Intersect()</Highlight> is used to answer questions about collection such as
            </p>

            <ul>
                <li>Find phones that have sales</li>
                <li>Find customers who have ordered specific product</li>
                <li>Compare data in tables between different environments</li>
            </ul>
        </Why>

        <How>
            <h4 id="primitive-types">Using LINQ Intersect to compare primitive types</h4>

        <p>
            Primitive data types like <Highlight>int</Highlight>, <Highlight>decimal</Highlight>, <Highlight>string</Highlight>, etc can just
            compare the values against other value in the collection
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;int&gt; list = new() { 1, 2, 3, 4, 5 };
List&lt;int&gt; anotherList = new() { 4, 5, 6 };

//Method Syntax
List&lt;int&gt; result = list
                   .Intersect(anotherList)
                   .ToList();
                    
//Query Syntax
List&lt;int&gt; result = (from number in list select number)
                   .Intersect(anotherList)
                   .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Intersect Clause Demo">
            <p>
                Let's try LINQ Intersect with integer type
            </p>

            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Enter number and add it to respective sequence</li>
                <li>For demo purpose I have restricted sequence length to 3</li>
                <li>Click on Intersect Button to view the result</li>
                <li>Click on reset to try other combination</li>
            </ol>

            <IntersectDemo></IntersectDemo>
        </DemoSnippet>

        

        <h4 id="objects">Using LINQ Intersect to compare objects</h4>

        <p>
            Intersect checks for reference equality of two objects for <Highlight>object</Highlight> data types.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Sale&gt; sales = GetSales();

//Method Syntax
List&lt;int&gt; result = products.Select(product =&gt; product.Id)
                   .Intersect(sales.Select(sale =&gt; sale.ProductId))
                   .ToList();
                    
//Query Syntax
List&lt;int&gt; result = (from product in products select product.Id)
                   .Intersect(from sale in sales select sale.ProductId)
                   .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Intersect Clause Objects Demo">
            <p>
                Let's try LINQ Intersect with objects
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>We have <Highlight>Sale</Highlight> class with following properties - <Highlight>ProductId, Price</Highlight></li>
                <li>The tables are loaded with product and sale collection.</li>
                <li>Click on Intersect Button to view the result.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <IntersectObjectDemo></IntersectObjectDemo>
        </DemoSnippet>

        

        <h4 id="equality-comparer">Using LINQ Intersect to compare with Equality Comparer</h4>

        <p>
            So, equality for primitive data types with <Highlight>Intersect()</Highlight> is easy and straight forward, but with objects by default it's going to work by
            comparing object references. But in most cases we want to make comparison based on one or more properties in the object. To do that we need to start by creating
            <Highlight>EqualityComparer&lt;T&gt;</Highlight> class.
        </p>

        <ol>
            <li>Create a <Highlight>ProductComparer</Highlight> class that inherits from <Highlight>EqualityComparer&lt;Product&gt;</Highlight> class.</li>
            <li>Override <Highlight>Equals(Product 1, Product 2) method.</Highlight></li>
            <li>Write the conditions to check equality and return true if both matches.</li>
            <li>Also override <Highlight>GetHashCode()</Highlight> method and return unique value for every single object.</li>
        </ol>

        <CodeSnippet CssClass="language-csharp">
public class ProductComparer : EqualityComparer&lt;Product&gt;
{
    public override bool Equals(Product? product, Product? anotherProduct)
    {
        return (product?.Id == anotherProduct?.Id &amp;&amp;
                product?.Name == anotherProduct?.Name &amp;&amp;
                product?.Price == anotherProduct?.Price &amp;&amp;
                product?.Color == anotherProduct?.Color &amp;&amp;
                product?.Size == anotherProduct?.Size);
    }

    public override int GetHashCode([DisallowNull] Product product)
    {
        return $"{product.Id}{product.Name}{product.Price}{product.Color}{product.Size}".GetHashCode();
    }
}
        </CodeSnippet>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Product&gt; anotherProducts = GetProducts();
ProductComparer productComparer = new();

anotherProducts.Remove(0);

//Method Syntax
List&lt;Product&gt; result = products
                       .Intersect(anotherProducts, productComparer)
                       .ToList();
                    
//Query Syntax
List&lt;Product&gt; result = (from product in products select product)
                       .Intersect(anotherProducts, productComparer)
                       .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Intersect Clause with Comparer Demo">
            <p>
                Let's try LINQ Intersect with Comparer
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>The tables are loaded with two product collection.</li>
                <li>Click on Except Button to view the result.</li>
                <li>Unlike previous demo, here we use <Highlight>ProductComparer</Highlight> to compare objects based on their property values. So they will be equal irrespective of reference.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <IntersectWithComparerDemo></IntersectWithComparerDemo>
        </DemoSnippet>

        

        <h4 id="intersect-by-primitive-types">Using LINQ Intersect By to compare objects with Primitive Types</h4>

        <p>
            Starting .NET 6, Microsoft added <Highlight>IntersectBy()</Highlight> which is similar to <Highlight>Intersect</Highlight> in functionality but with an 
            simplification that we don't need to use a comparer class. We can use <Highlight>Key Expression</Highlight> to find the common.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;int&gt; productIds = new { 1, 2 };

//Method Syntax
List&lt;Product&gt; result = products
                       .IntersectBy(productIds, product =&gt; product.Id)
                       .ToList();
                    
//Query Syntax
List&lt;Product&gt; result = (from product in products select product)
                       .IntersectBy(productIds, product =&gt; product.Id)
                       .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Intersect By Clause Demo">
            <p>
                Let's try LINQ Intersect By with integer type
            </p>

            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Enter number and add it to sequence</li>
                <li>For demo purpose I have restricted sequence length to 3</li>
                <li>The Key Expression here is the Product ID. So whatever ID you enter in above sequence, IntersectBy() will compare and return the common Products from collection.</li>
                <li>For demo purpose I will be displaying only Product ID's</li>
                <li>Click on Intersect By Button to view the result</li>
                <li>Click on reset to try other combination</li>
            </ol>

            <IntersectByDemo></IntersectByDemo>
        </DemoSnippet>

        

        <h4 id="intersect-by-objects">Using LINQ Intersect By to compare objects</h4>

        <p>
            Previously, we saw a demo on how to find products that are sold. We can also perform the same function using <Highlight>IntersectBy()</Highlight>. Unlike 
            <Highlight>Intersect()</Highlight>, <Highlight>IntersectBy()</Highlight> will return list of <Highlight>Product</Highlight> instead of 
            product Id's.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Sale&gt; sales = GetSales();

//Method Syntax
List&lt;Product&gt; result = products
                       .IntersectBy&lt;Product, int&gt;(
                          sales.Select(sale =&gt; sale.ProductId),
                          product =&gt; product.Id
                        )
                       .ToList();
                    
//Query Syntax
List&lt;Product&gt; result = (from product in products select product)
                       .IntersectBy&lt;Product, int&gt;(
                          from sale in sales select sale.ProductId,
                          product =&gt; product.Id
                        )
                       .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Intersect By Clause Demo">
            <p>
                Let's try LINQ Intersect By with objects
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>We have <Highlight>Sale</Highlight> class with following properties - <Highlight>ProductId, Price</Highlight></li>
                <li>The tables are loaded with product and sale collection.</li>
                <li>The Key Expression here is the Product ID. IntersectBy() will compare and return the common Products from collection.</li>
                <li>For demo purpose I will be displaying only Product ID's</li>
                <li>Click on Intersect By Button to view the result.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <IntersectByObjectDemo></IntersectByObjectDemo>
        </DemoSnippet>

        

        </How>

        <Summary>

            <p>
                In this article we learn't how to check for common data between collections using <Highlight>Intersect</Highlight> and <Highlight>IntersectBy</Highlight>.
                This can be used to find if item is between collection matches or not and also we can compare object item using Comparer. All these can be used with any
                <Highlight>IEnumerable</Highlight> or <Highlight>IQueryable</Highlight> types.
            </p>
        </Summary>
    </ContentBody>
</Content>