@page "/blogs/using-linq-where-to-filter-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQWhere)>
    <ContentBody>
      <What>
        <p>
            This article explains how to use the <Highlight>Where</Highlight> method in <Highlight>LINQ</Highlight> to filter data in .NET.
        </p>
        <p>
            <strong>Note:</strong> If you haven't already, read the article on
            <NavLink href="blogs/using-linq-orderby-to-sort-data" Match="NavLinkMatch.All">Using LINQ OrderBy to Sort Data in collections</NavLink>.
        </p>
        <figure>
            <img src="./image/blogs/linq/where/linq-where-in-dotnet.png" alt="linq where in dotnet" class="[ w-full ]" />
        </figure>
      </What>
      <Why>
        <p>
            The <Highlight>Where</Highlight> method in LINQ allows filtering collections based on conditions. The resulting collection can be the same, smaller, or even empty. You can chain conditions using logical operators like <Highlight>&&</Highlight>, <Highlight>||</Highlight>, and <Highlight>!</Highlight>.
        </p>
      </Why>
      <How>
        <h4>Filtering by Single Property</h4>
        <p>
            Example of filtering a <Highlight>Product</Highlight> class by a single property.
        </p>
        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;Product&gt; filterProducts = products
			       .Where(product =&gt; product.Shape == "Diamond")
		               ToList();
                    
//Query Syntax
List&lt;Product&gt; filterProducts = (from product in products
	 	   	       where product.Name == "Diamond")
			       .ToList();
        </CodeSnippet>

        <h4>Filtering by Multiple Properties</h4>
        <p>
            Example of filtering a <Highlight>Product</Highlight> class by multiple properties using <Highlight>AND</Highlight> and <Highlight>OR</Highlight> operators.
        </p>
        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;Product&gt; filterProducts = products
			       .Where(product =&gt; product.Shape == "Diamond" || product.Color == "Red")
		               ToList();
                    
//Query Syntax
List&lt;Product&gt; filterProducts = (from product in products
	 	   	       where product.Name == "Diamond" || product.Color == "Red")
			       .ToList();
        </CodeSnippet>

        <h4>Custom Extension Method</h4>
        <p>
            Create a custom extension method to filter a collection. This method returns an <Highlight>IEnumerable&lt;T&gt;</Highlight> and can be used on the query instead of the <Highlight>Where</Highlight> method.
        </p>
        <CodeSnippet CssClass="language-csharp">
public static class ProductHelper 
{
  public static IEnumerable&lt;Product&gt; ByColor(this IEnumerable&lt;Product&gt; query, string color) 
  {
    return query.Where(product =&gt; product.Color == color);
  }
}

List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;Product&gt; filterProducts = products
			       .ByColor("Red")
		               ToList();
			       
//Query Syntax
List&lt;Product&gt; filterProducts = (from product in products
	 	   	       select product)
			       .ByColor("Red")
			       .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Where Clause Demo">
            <p>
                Let's try LINQ Where
            </p>
            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have a <Highlight>Product</Highlight> class with properties: <Highlight>Id, Name, Color, Price, Size</Highlight>.</li>
                <li>Enter the column names you would like to filter with conditions.</li>
                <li>Click on the Where button.</li>
                <li>Click on reset to try other combinations.</li>
            </ul>
            <WhereDemo></WhereDemo>
        </DemoSnippet>
      </How>
      <Summary>
        <p>
            This article covered how to filter data in collections using LINQ. We explored filtering with single and multiple fields using AND and OR conditions, and created a custom extension method. These techniques can be used with any <Highlight>IEnumerable</Highlight> or <Highlight>IQueryable</Highlight> types.
        </p>
      </Summary>
    </ContentBody>
</Content>