@page "/blogs/using-linq-last-to-select-single-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQLast) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to use <Highlight>Last</Highlight> and <Highlight>LastOrDefault</Highlight> in
                <Highlight>LINQ</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/using-linq-first-to-select-single-data" Match="NavLinkMatch.All">Using LINQ First to Select Single Data in Collections</NavLink>.
            </p>

            <p>
                We can select single piece of data from a collection using LINQ. We're going to use Last() and LastOrDefault() methods. Let's take a look at each of these methods and how they work.
            </p>
        </What>

        <Why>
            <p>
                When you need the last matching element, writing a manual backward search or reversing the collection first is inefficient. Last() throws an exception if no element matches,
                while LastOrDefault() returns null or a configurable default value — preventing unexpected exceptions in normal code flow.
            </p>
        </Why>

        <How>
            <h4 id="last">Search backward for an element using Last</h4>

        <p>
            When searching, some of the methods will actually throw an exception if you don't find anything based on the expression. So, for example, first, you pass in your lambda
            expression of what you're looking for. It searches backward in the collection and finds that last one that matches the expression and returns that. If it doesn't find it, it
            throws an exception.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
Product singleProduct = products
			.Last(product =&gt; product.Shape == "Red");
                    
//Query Syntax
Product singleProduct = (from product in products select product)
	 	   	.Last(product =&gt; product.Shape == "Red");
        </CodeSnippet>

        <DemoSnippet Title="LINQ Last Clause Demo">
            <p>
                Let's try LINQ Last
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Color, Price, Size</Highlight></li>
                <li>Enter the column names you would like to select.</li>
                <li>Click on Last Button</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <LastDemo></LastDemo>
        </DemoSnippet>

        

        <h4 id="last-or-default">Search backward for an element using LastOrDefault</h4>

        <p>
            The LastOrDefault, You pass in a lambda expression of what you're looking for, as well as an optional default value. It searches backwards in the collection, so it starts at the 
            end of the collection and searches backwards, returns null if the values are not found based on the expression, or if you supply a default value, it will return that.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
Product singleProduct = products
			.LastOrDefault(product =&gt; product.Shape == "Green",
			new Product { Id = -1, Name = "Not Found" });
                    
//Query Syntax
Product singleProduct = (from product in products select product)
	 	   	.LastOrDefault(product =&gt; product.Shape == "Green",
			new Product { Id = -1, Name = "Not Found" });
        </CodeSnippet>

        <DemoSnippet Title="LINQ LastOrDefault Clause Demo">
            <p>
                Let's try LINQ LastOrDefault
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Color, Price, Size</Highlight></li>
                <li>Enter the column names you would like to select.</li>
                <li>Click on Last Or Default Button</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <LastOrDefaultDemo></LastOrDefaultDemo>
        </DemoSnippet>

        

        <h4 id="when-to-use-which">When to use which?</h4>
        
        <p>
            So now I've shown you all these LINQ queries, but which ones do you use and when do you use them? So I'm going to do a comparison between the Last() versus the LastOrDefault()
            methods. If you expect the element to be present in the collection, you can use Last(). But if you're not sure if that element is present, then use LastOrDefault(), and that has
            to do with exceptions, right? Because the Last() is going to throw an exception if something is not found. So if you want to handle that or maybe rethrow an exception if something's 
            not found, you could use Last(). Me, I'd rather not deal with exceptions, so I really prefer LastOrDefault(). Also, this gives us back a null or some other default value, I find 
            it easier to check for null than actually check for an exception.
        </p>

        </How>

        <Summary>

            <p>
                In this article we learn't how to locate single data within collection using <Highlight>Last</Highlight> and <Highlight>LastOrDefault</Highlight>. We
                saw that there's an option to supply your own default value, that sometimes you need to catch exceptions or sometimes you need to check for null or that default value, depending on
                the method that you're calling. Now I always like using all the <Highlight>OrDefault()</Highlight> methods so that I can avoid anybody throwing exceptions. To me,
                throwing exceptions are not something that you want to use as a regular way of programming. Those should be exceptions. All these can be used with any
                <Highlight>IEnumerable</Highlight> or <Highlight>IQueryable</Highlight> types.
            </p>
        </Summary>
    </ContentBody>
</Content>