@page "/blogs/using-linq-concat-to-combine-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQConcat)>
    <ContentBody>
        <p>
            In this article, let's learn about how to use <Highlight>Concat</Highlight> in <Highlight>LINQ</Highlight> in .NET.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/using-linq-union-to-combine-data" Match="NavLinkMatch.All">Using LINQ Union to combine data</NavLink>.
        </p>

        <h3>Table of Contents</h3>

        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#primitive-types")" Match="NavLinkMatch.All">
                    Using LINQ Concat to combine primitive types
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#equality-comparer")" Match="NavLinkMatch.All">
                    Using LINQ Concat to combine with Equality Comparer
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>

        <p>
            When working with two collections, we can combine them using LINQ <Highlight>Concat()</Highlight> method. This will combine two collections and gives a single 
            collection with duplicates.
        </p>

        <p>
            LINQ <Highlight>Concat()</Highlight> is used to answer questions about collection such as
        </p>

        <ul>
            <li>Combining multiple data set from different sources for analysis</li>
            <li>Git merge and combine files with changes from both commits</li>
            <li>Append lines to files</li>
        </ul>

        <h3 id="primitive-types">Using LINQ Concat to combine primitive types</h3>

        <p>
            Primitive data types like <Highlight>int</Highlight>, <Highlight>decimal</Highlight>, <Highlight>string</Highlight>, etc can just
            compare the values against other value in the collection
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;int&gt; list = new() { 1, 2, 3, 4, 5 };
List&lt;int&gt; anotherList = new() { 4, 5, 6 };

//Method Syntax
List&lt;int&gt; result = list
                   .Concat(anotherList)
                   .ToList();
                    
//Query Syntax
List&lt;int&gt; result = (from number in list select number)
                   .Concat(anotherList)
                   .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Concat Clause Demo">
            <p>
                Let's try LINQ Concat with integer type
            </p>

            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Enter number and add it to respective sequence</li>
                <li>For demo purpose I have restricted sequence length to 3</li>
                <li>Click on Concat Button to view the result</li>
                <li>Click on reset to try other combination</li>
            </ol>

            <ConcatDemo></ConcatDemo>
        </DemoSnippet>

        

        <h3 id="equality-comparer">Using LINQ Concat to combine with Equality Comparer</h3>

        <p>
            So, combining primitive data types with <Highlight>Concat()</Highlight> is easy and straight forward. The same goes with objects. There is no need for comparer 
            as <Highlight>Concat()</Highlight> is going to simply combine without comparing.
        </p>

        <CodeSnippet CssClass="language-csharp">
public class ProductComparer : EqualityComparer&lt;Product&gt;
{
    public override bool Equals(Product? product, Product? anotherProduct)
    {
        return (product?.Id == anotherProduct?.Id &amp;&amp;
                product?.Name == anotherProduct?.Name &amp;&amp;
                product?.Price == anotherProduct?.Price &amp;&amp;
                product?.Color == anotherProduct?.Color &amp;&amp;
                product?.Size == anotherProduct?.Size);
    }

    public override int GetHashCode([DisallowNull] Product product)
    {
        return $"{product.Id}{product.Name}{product.Price}{product.Color}{product.Size}".GetHashCode();
    }
}
        </CodeSnippet>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Product&gt; anotherProducts = GetProducts();
ProductComparer productComparer = new();

//Method Syntax
List&lt;Product&gt; result = products
                       .Concat(anotherProducts, productComparer)
                       .ToList();
                    
//Query Syntax
List&lt;Product&gt; result = (from product in products select product)
                       .Concat(anotherProducts, productComparer)
                       .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Concat Clause with Objects Demo">
            <p>
                Let's try LINQ Concat with Comparer
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>The tables are loaded with two product collection.</li>
                <li>Click on Concat Button to view the result.</li>
                <li>Unlike previous demo, here we use <Highlight>ProductComparer</Highlight> to compare objects based on their property values. So they will be equal irrespective of reference.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <ConcatObjectDemo></ConcatObjectDemo>
        </DemoSnippet>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article we learn't how to combine data between collections using <Highlight>Concat</Highlight>. This can be used to combine items between collection 
            and return a unified collection with duplicates. All these can be used with any <Highlight>IEnumerable</Highlight> or 
            <Highlight>IQueryable</Highlight> types.
        </p>
    </ContentBody>
</Content>