@page "/blogs/simulating-left-outer-join-using-linq"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQLeftOuterJoin) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to do <Highlight>Left Outer Join</Highlight> in <Highlight>LINQ</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/using-linq-group-join-to-combine-data" Match="NavLinkMatch.All">Using LINQ Group Join to combine data</NavLink>.
            </p>

            <p>
                A <Highlight>LEFT OUTER JOIN</Highlight> in <abbr title="Structured Query Language">SQL</abbr> returns all the rows from the
                <Highlight>left table</Highlight>, and the matching rows from the <Highlight>right table</Highlight>. If there is no match, the result will
                contain <Highlight>NULL</Highlight> values for the <Highlight>right table's</Highlight> columns.
            </p>
        </What>

        <Why>
            <p>
                It is needed when you want to return all the records from one table <Highlight>the left table</Highlight> and any matching records from another table
                <Highlight>the right table</Highlight>. This is useful when you want to include records from one table that do not have matching records in the other table.
            </p>
        </Why>

        <How>
            <h4 id="left-outer-join">Simulating Left Outer Join using LINQ</h4>

        <p>
            Simulating Left Outer Join can be done using both <Highlight>Method Syntax</Highlight> and <Highlight>Query Syntax</Highlight>.
        </p>

        <p>With <Highlight>Method Syntax</Highlight> we can use,</p>

        <ol>
            <li><Highlight>SelectMany()</Highlight> method to select the 'right' collection.</li>
            <li><Highlight>Where()</Highlight> method to filter the 'right' collection.</li>
            <li><Highlight>DefaultIfEmpty()</Highlight> for 'right' collection.</li>
        </ol>

        <p>With <Highlight>Query Syntax</Highlight> we can use,</p>

        <ol>
            <li><Highlight>inner join</Highlight> using <Highlight>into</Highlight> and a second <Highlight>from</Highlight> statement.</li>
            <li><Highlight>null</Highlight> object may be returned in 'right' collection.</li>
            <li><Highlight>DefaultIfEmpty()</Highlight> for 'right' collection.</li>
        </ol>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Sale&gt; sales = GetSales();
List&lt;ProductSale&gt; result = new();

//Method Syntax
List&lt;ProductSales&gt; result = products
                           .SelectMany(product =&gt; sales.Where(sale =&gt; sale.ProductId == product.Id).DefaultIfEmpty(),
                           (product, sale) =&gt; new ProductSale
                           {
                              SaleId = sale?.Id,
                              ProductId = product.Id,
                              Name = product.Name,
                              Price = sale?.Price,
                              Color = sale?.ProductColor
                           })
                           .ToList();
                    
//Query Syntax
List&lt;ProductSales&gt; result = (from product in products
                            join sale in sales 
                            on product.Id equals sale.ProductId
                            into productSales
                            from sale in productSales.DefaultIfEmpty()
                            select new ProductSale
                             {
                                SaleId = sale?.Id,
                                ProductId = product.Id,
                                Name = product.Name,
                                Price = sale?.Price,
                                Color = sale?.ProductColor
                             }) 
                           .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Left Outer Join Using Group Join">
            <p>
                Let's try Left Outer Join using LINQ GroupJoin
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>We have <Highlight>Sale</Highlight> class with following properties - <Highlight>Id, Price</Highlight></li>
                <li>The tables are loaded with product and sale collection.</li>
                <li>The Key Expression here is the <Highlight>Product ID</Highlight>.</li>
                <li>Click on Left Outer Join Button to view the result.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <LeftOuterJoinDemo></LeftOuterJoinDemo>
        </DemoSnippet>

        

        </How>

        <Summary>

            <p>
                In this article we learn't how to combine data between collections by doing a <Highlight>Left Outer Join</Highlight> using LINQ. This allows you to group
                elements from one collection with elements from another collection based on a specified key representing one-to-many relationship. All these can be used with any
                <Highlight>IEnumerable</Highlight> or <Highlight>IQueryable</Highlight> types.
            </p>
        </Summary>
    </ContentBody>
</Content>