@page "/blogs/using-linq-take-to-select-specific-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQTake) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to use <Highlight>Take</Highlight> and <Highlight>TakeWhile</Highlight>
                in <Highlight>LINQ</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/using-linq-single-to-select-single-data" Match="NavLinkMatch.All">Using LINQ Single to Select Single Data in Collections</NavLink>.
            </p>

            <p>
                We can perform partition and select specific piece of data from beginning of a collection using LINQ. We're going to use Take() and TakeWhile() methods. Let's take a look at each
                of these methods and how they work.
            </p>
        </What>

        <Why>
            <p>
                When listing the items, its not always possible to list all the items. Sometimes we need to limit and partition the items from database or need a pagination in UI to display subset
                of records for better UX (User Experience) as not all the datas are required everytime unless its a reporting task. So <Highlight>Take(n)</Highlight> allows you to
                take only specific items from beginning of collection. It takes number of items given as input and returns n number of records from collection.
            </p>
        </Why>

        <How>
            <h4 id="take">Perform partition using Take</h4>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;Product&gt; partitionedProducts = products
                                    .Take(2)
                                    .ToList();
                    
//Query Syntax
List&lt;Product&gt; partitionedProducts = (from product in products select product)
                                    .Take(2)
                                    .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Take Clause Demo">
            <p>
                Let's try LINQ Take
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Color, Price, Size</Highlight></li>
                <li>Enter the number of products you would like to list.</li>
                <li>Click on Take Range Button</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <TakeDemo></TakeDemo>
        </DemoSnippet>

        

        <h4 id="take-range">Perform partition using Take with Range syntax</h4>

        <p>
            We can also use the <Highlight>Range Operator</Highlight> with Take() like <Highlight>Take(2..4)</Highlight>, 
            <Highlight>Take(..3)</Highlight>, <Highlight>Take(^2..^4)</Highlight> or <Highlight>Take(3..)</Highlight>.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;Product&gt; partitionedProducts = products
                                    .Take(2..)
                                    .ToList();
                    
//Query Syntax
List&lt;Product&gt; partitionedProducts = (from product in products select product)
                                    .Take(2..)
                                    .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Take Clause with Range Demo">
            <p>
                Let's try LINQ Take
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Color, Price, Size</Highlight></li>
                <li>Enter the number of products you would like to list.</li>
                <li>Click on Take Button</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <TakeRangeDemo></TakeRangeDemo>
        </DemoSnippet>

        

        <h4 id="take-while">Perform conditional partition using TakeWhile</h4>

        <p>
            We can also extract data conditionally using <Highlight>TakeWhile</Highlight> while the condition evaluates to true. Note that Enumeration stops when the predicate 
            function returns false for an element or when source contains no more elements.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;Product&gt; partitionedProducts = products
                                    .TakeWhile(product =&gt; product.Name.StartsWith("P"))
                                    .ToList();
                    
//Query Syntax
List&lt;Product&gt; partitionedProducts = (from product in products select product)
                                    .TakeWhile(product =&gt; product.Name.StartsWith("P"))
                                    .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ TakeWhile Clause Demo">
            <p>
                Let's try LINQ TakeWhile
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Color, Price, Size</Highlight></li>
                <li>Enter the condition based on which you like to select.</li>
                <li>Click on Take While Button</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <TakeWhileDemo></TakeWhileDemo>
        </DemoSnippet>

        

        </How>

        <Summary>

            <p>
                In this article we learn't how to locate partition and extract specific data within collection using <Highlight>Take</Highlight> and
                <Highlight>TakeWhile</Highlight>. We saw that there's an option to supply range of values using range operator. We also saw how we can pass an condition to partition
                data. All these can be used with any <Highlight>IEnumerable</Highlight> or <Highlight>IQueryable</Highlight> types.
            </p>
        </Summary>
    </ContentBody>
</Content>