@page "/blogs/using-linq-join-to-combine-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQJoin)>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to use <Highlight>Join</Highlight> in <Highlight>LINQ</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/using-linq-concat-to-combine-data" Match="NavLinkMatch.All">Using LINQ Concat to combine data</NavLink>.
            </p>

            <p>
                When working with two collections, we can combine them using LINQ <Highlight>Join()</Highlight> method. This will join elements between two or more collections
                and gives a single collection. <Highlight>Join()</Highlight> also know as <Highlight>Equi Join</Highlight> or
                <Highlight>Inner Join</Highlight> in SQL. To work with <Highlight>Join()</Highlight>, we need atleast one property in each collection to share
                equal value.
            </p>
        </What>

        <Why>
            <p>
                LINQ <Highlight>Join()</Highlight> is used to answer questions about collection such as
            </p>

            <ul>
                <li>Joining collections using common key value to define relationship between them</li>
                <li>Joining Customer and their Orders</li>
                <li>Joining Order and Order Items</li>
            </ul>
        </Why>

        <How>
            <h4 id="primitive-types">Using LINQ Join to combine primitive types</h4>

        <p>
            Primitive data types like <Highlight>int</Highlight>, <Highlight>decimal</Highlight>, <Highlight>string</Highlight>, etc can just
            combine the values against other equal values in the collection
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;int&gt; list = new() { 1, 2, 3, 4, 5 };
List&lt;int&gt; anotherList = new() { 4, 5, 6 };

//Method Syntax
var result = list
             .Join(anotherList, 
                   number =&gt; number, 
                   anotherNumber =&gt; anotherNumber, 
                   (number, anotherNumber) =&gt; new { number, anotherNumber ])
             .ToList();
                    
//Query Syntax
var result = (from number in list
             join anotherNumber in anotherList 
             on number equals anotherNumber
             select new { number, anotherNumber })
             .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Join Clause Demo">
            <p>
                Let's try LINQ Join with integer type
            </p>

            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Enter number and add it to respective sequence</li>
                <li>For demo purpose I have restricted sequence length to 3</li>
                <li>Click on Join Button to view the result</li>
                <li>Click on reset to try other combination</li>
            </ol>

            <JoinDemo></JoinDemo>
        </DemoSnippet>

        

        <h4 id="single-field">Using LINQ Join to combine Collections using single field</h4>

        <p>
            We can use <Highlight>Join()</Highlight> to combine elements between two or more sequences (arrays, lists, etc.) based on a key value. The result is a new sequence 
            that contains elements with the matching key and their associated values.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Sale&gt; sales = GetSales();
List&lt;ProductSale&gt; result = new();

//Method Syntax
List&lt;ProductSale&gt; result = products
                           .Join(sales, 
                                 product =&gt; product.Id,
                                 sale =&gt; sale.ProductId,
                                 (product, sale) =&gt; new ProductSale
                                 {
                                    ProductId = product.Id,
                                    SaleId = sale.Id,
                                    Name = product.Name,
                                    Price = sale.Price
                                 })
                           .ToList();
                    
//Query Syntax
List&lt;ProductSale&gt; result = (from product in products
                            join sale in sales 
                            on product.Id equals sale.ProductId
                            select new ProductSale
                             {
                                ProductId = product.Id,
                                SaleId = sale.Id,
                                Name = product.Name,
                                Price = sale.Price
                             }) 
                           .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Join Clause with Objects Demo">
            <p>
                Let's try LINQ Join with Objects
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>We have <Highlight>Sale</Highlight> class with following properties - <Highlight>Id, Price</Highlight></li>
                <li>The tables are loaded with product and sale collection.</li>
                <li>The Key Expression here is the <Highlight>Product ID</Highlight>. Join() will combine Products and Sales and return new <Highlight>ProductSale</Highlight> collection.</li>
                <li>Click on Join Button to view the result.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <JoinObjectSingleFieldDemo></JoinObjectSingleFieldDemo>
        </DemoSnippet>

        

        <h4 id="multiple-fields">Using LINQ Join to combine Collections using multiple fields</h4>

        <p>
            So for joining collections with more than one field, the key selector condition will have an <Highlight>anonymous</Highlight> object containing multiple fields to compare.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Sale&gt; sales = GetSales();
List&lt;ProductSale&gt; result = new();

//Method Syntax
List&lt;ProductSale&gt; result = products
                           .Join(sales, 
                                 product =&gt; new { ProductId = product.Id, ProductColor = product.Color },
                                 sale =&gt; new { ProductId = sale.ProductId, ProductColor = sale.ProductColor },
                                 (product, sale) =&gt; new ProductSale
                                 {
                                    ProductId = product.Id,
                                    SaleId = sale.Id,
                                    Name = product.Name,
                                    Price = sale.Price,
                                    Color = product.Color
                                 })
                           .ToList();
                    
//Query Syntax
List&lt;ProductSale&gt; result = (from product in products
                            join sale in sales 
                            on 
                              new { ProductId = product.Id, ProductColor = product.Color } 
                            equals 
                              new { ProductId = sale.ProductId, ProductColor = sale.ProductColor }
                            select new ProductSale
                             {
                                ProductId = product.Id,
                                SaleId = sale.Id,
                                Name = product.Name,
                                Price = sale.Price,
                                Color = product.Color
                             }) 
                           .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Join Clause with Objects Demo">
            <p>
                Let's try LINQ Join with Objects
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>We have <Highlight>Sale</Highlight> class with following properties - <Highlight>Id, Price</Highlight></li>
                <li>The tables are loaded with product and sale collection.</li>
                <li>The Key Expression here is the <Highlight>Product ID</Highlight> and <Highlight>Product Color</Highlight>. Join() will combine Products and Sales and return new <Highlight>ProductSale</Highlight> collection.</li>
                <li>Click on Join Button to view the result.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <JoinObjectMultipleFieldsDemo></JoinObjectMultipleFieldsDemo>
        </DemoSnippet>

        

        </How>

        <Summary>

            <p>
                In this article we learn't how to combine data between collections using <Highlight>Join</Highlight>. This can be used to combine items between collection
                and return a new collection. This can be done using the key selector. We can have single key selector or multiple key selector as <Highlight>anonymous</Highlight>
                object. All these can be used with any <Highlight>IEnumerable</Highlight> or <Highlight>IQueryable</Highlight> types.
            </p>
        </Summary>
    </ContentBody>
</Content>