@page "/blogs/using-linq-union-to-combine-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQUnion) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to use <Highlight>Union</Highlight> in <Highlight>LINQ</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/using-linq-intersect-to-find-common-data" Match="NavLinkMatch.All">Using LINQ Intersect to Find Common data</NavLink>.
            </p>

            <p>
                When working with two collections, we can combine them using LINQ <Highlight>Union()</Highlight> method. This will combine two collections and gives a single
                collection with out any duplicates.
            </p>
        </What>

        <Why>
            <p>
                LINQ <Highlight>Union()</Highlight> is used to answer questions about collection such as
            </p>

            <ul>
                <li>Git merge and combine files without duplicates</li>
                <li>Combine customers who have participated in specific sale</li>
            </ul>
        </Why>

        <How>
            <h4 id="primitive-types">Using LINQ Union to combine primitive types</h4>

        <p>
            Primitive data types like <Highlight>int</Highlight>, <Highlight>decimal</Highlight>, <Highlight>string</Highlight>, etc can just
            compare the values against other value in the collection
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;int&gt; list = new() { 1, 2, 3, 4, 5 };
List&lt;int&gt; anotherList = new() { 4, 5, 6 };

//Method Syntax
List&lt;int&gt; result = list
                   .Union(anotherList)
                   .ToList();
                    
//Query Syntax
List&lt;int&gt; result = (from number in list select number)
                   .Union(anotherList)
                   .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Union Clause Demo">
            <p>
                Let's try LINQ Union with integer type
            </p>

            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Enter number and add it to respective sequence</li>
                <li>For demo purpose I have restricted sequence length to 3</li>
                <li>Click on Union Button to view the result</li>
                <li>Click on reset to try other combination</li>
            </ol>

            <UnionDemo></UnionDemo>
        </DemoSnippet>

        

        <h4 id="equality-comparer">Using LINQ Union to combine with Equality Comparer</h4>

        <p>
            So, combining primitive data types with <Highlight>Union()</Highlight> is easy and straight forward, but with objects by default it's going to work by
            comparing object references. But in most cases we want to make comparison based on one or more properties in the object. To do that we need to start by creating
            <Highlight>EqualityComparer&lt;T&gt;</Highlight> class.
        </p>

        <ol>
            <li>Create a <Highlight>ProductComparer</Highlight> class that inherits from <Highlight>EqualityComparer&lt;Product&gt;</Highlight> class.</li>
            <li>Override <Highlight>Equals(Product 1, Product 2) method.</Highlight></li>
            <li>Write the conditions to check equality and return true if both matches.</li>
            <li>Also override <Highlight>GetHashCode()</Highlight> method and return unique value for every single object.</li>
        </ol>

        <CodeSnippet CssClass="language-csharp">
public class ProductComparer : EqualityComparer&lt;Product&gt;
{
    public override bool Equals(Product? product, Product? anotherProduct)
    {
        return (product?.Id == anotherProduct?.Id &amp;&amp;
                product?.Name == anotherProduct?.Name &amp;&amp;
                product?.Price == anotherProduct?.Price &amp;&amp;
                product?.Color == anotherProduct?.Color &amp;&amp;
                product?.Size == anotherProduct?.Size);
    }

    public override int GetHashCode([DisallowNull] Product product)
    {
        return $"{product.Id}{product.Name}{product.Price}{product.Color}{product.Size}".GetHashCode();
    }
}
        </CodeSnippet>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Product&gt; anotherProducts = GetProducts();
ProductComparer productComparer = new();

//Method Syntax
List&lt;Product&gt; result = products
                       .Union(anotherProducts, productComparer)
                       .ToList();
                    
//Query Syntax
List&lt;Product&gt; result = (from product in products select product)
                       .Union(anotherProducts, productComparer)
                       .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Union Clause with Comparer Demo">
            <p>
                Let's try LINQ Union with Comparer
            </p>

            <ul>
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>The tables are loaded with two product collection.</li>
                <li>Click on Union Button to view the result.</li>
                <li>Unlike previous demo, here we use <Highlight>ProductComparer</Highlight> to compare objects based on their property values. So they will be equal irrespective of reference.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <UnionObjectDemo></UnionObjectDemo>
        </DemoSnippet>

        

        <h4 id="union-by-object-types">Using LINQ Union By to combine objects</h4>

        <p>
            Starting .NET 6, Microsoft added <Highlight>UnionBy()</Highlight> which is similar to <Highlight>Union</Highlight> in functionality but with an 
            simplification that we don't need to use a comparer class. We can use <Highlight>Key Expression</Highlight> to combine items.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Product&gt; anotherProducts = GetProducts();

//Method Syntax
List&lt;Product&gt; result = products
                       .UnionBy(anotherProducts, product =&gt; product.Id)
                       .ToList();
                    
//Query Syntax
List&lt;Product&gt; result = (from product in products select product)
                       .UnionBy(anotherProducts, product =&gt; product.Id)
                       .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Union By Clause Demo">
            <p>
                Let's try LINQ Union By with object type
            </p>

            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>We have two <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>The tables are loaded with product collection respectively.</li>
                <li>The Key Expression here is the Product ID. UnionBy() will compare and combine Products from collection.</li>
                <li>For demo purpose I will be displaying only Product ID's</li>
                <li>Click on Union By Button to view the result.</li>
                <li>Click on reset to try other combination</li>
            </ol>

            <UnionByDemo></UnionByDemo>
        </DemoSnippet>

        

        </How>

        <Summary>

            <p>
                In this article we learn't how to combine data between collections using <Highlight>Union</Highlight> and <Highlight>UnionBy</Highlight>.
                This can be used to combine items between collection and return a unified collection without duplicates. All these can be used with any
                <Highlight>IEnumerable</Highlight> or <Highlight>IQueryable</Highlight> types.
            </p>
        </Summary>
    </ContentBody>
</Content>