@page "/blogs/using-linq-for-each-to-iterate-collections"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQForEach) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to use <Highlight>ForEach</Highlight> in <Highlight>LINQ</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/using-linq-count-min-max-average-sum-to-aggregate-data" Match="NavLinkMatch.All">Using LINQ Count Min Max Average and Sum to Aggregate data</NavLink>.
            </p>

            <p>
                When working with collection, we can perform set operation in them using LINQ <Highlight>ForEach()</Highlight> method. A set operation that iterates over an entire
                collection and allows us to set a property value within that collection. This is similar to a <abbr title="Structured Query Language">SQL</abbr>
                <Highlight>UPDATE</Highlight> command.
            </p>
        </What>
        <Why>
            <p>
                LINQ <Highlight>ForEach()</Highlight> is used to answer questions about collection such as
            </p>

            <ul>
                <li>Calculate a line total or set the total sales for a product.</li>
                <li>Printing each element to the console.</li>
                <li>Updating a property of each object in the collection.</li>
            </ul>
        </Why>
        <How>
            <h4 id="for-each">Using LINQ For Each to iterate collections</h4>

        <p>
            Set operation can be done using ForEach with quert syntaz or method syntax. In a real-world scenario, you may want to calculate Total Stock Value of items in inventory. 
            We can use query syntax to assign values to a property within an object. This can be done using a temporary variable, like <Highlight>let tmp</Highlight>, 
            and then assigning the property value you want to update. For instance, <Highlight CssClasses="[ break-all ]">let tmp = product.TotalStockValue = product.Price * product.Quantity</Highlight> 
            sets the length of a product name.
        </p>

        <p>
            Using the method syntax, you can use the ForEach method to directly set the property value of an object in a collection. For example, <Highlight CssClasses="[ break-all ]">product.TotalStockValue = product.Price * product.Quantity</Highlight> 
            assigns the length of the product name to another property within the product object.
        </p>

        <CodeSnippet CssClass="language-csharp">
IEnumerable&lt;Product&gt; products = GetProducts();

//Method Syntax
products.ForEach(product =&gt; product.TotalStock = product.Price * product.Quantity);

//Query Syntax
(from product in products
 let tmp = product.TotalStock = product.Price * product.Quantity
 select product);
        </CodeSnippet>

        <DemoSnippet Title="LINQ ForEach Demo">
            <p>
                Let's try LINQ ForEach with Objects
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name</Highlight></li>
                <li>The tables is loaded with product collection.</li>
                <li>The Key Expression here is the <Highlight>Product TotalStock</Highlight>. <Highlight>ForEach()</Highlight> will iterate Products and set / update values.</li>
                <li>Click on ForEach Button to view the TotalStock in Product.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <ForEachDemo></ForEachDemo>
        </DemoSnippet>

        

        <h4 id="for-each-sub-query">Using Sub Query in For Each</h4>
        
        <p>
            we'll learn how to use a sub query to calculate the total sales for each product in our Product object. Our Product class has some typical properties like Name, Color, and Price, 
            but we also have a couple of calculated properties, including TotalStock and TotalSales. TotalSales is marked as a nullable data type so that we can have either null or the total 
            sales in there.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Sale&gt; sales = GetSales();

//Method Syntax
products.ForEach(product =&gt; product.TotalSale 
         = sales.Where(sale =&gt; sale.ProductId == product.Id).Sum(sale =&gt; product.Price * sale.Quantity));

//Query Syntax
(from product in products
 let tmp = product.TotalSale 
         = sales.Where(sale =&gt; sale.ProductId == product.Id).Sum(sale =&gt; product.Price * sale.Quantity)
 select product);
        </CodeSnippet>

        <DemoSnippet Title="LINQ ForEach Sub Query">
            <p>
                Let's try LINQ ForEach with Sub Query
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Price, TotalSale</Highlight></li>
                <li>We have <Highlight>Sale</Highlight> class with following properties - <Highlight>Id, ProductId, Quantity</Highlight></li>
                <li>The tables are loaded with product and sale collection.</li>
                <li>The Key Expression here is the <Highlight>Product TotalSale</Highlight>. <Highlight>ForEach()</Highlight> will iterate Products and query matching sale for the product and set / update values.</li>
                <li>Click on ForEach With SubQuery Button to view the TotalSale in Product.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <ForEachSubQueryDemo></ForEachSubQueryDemo>
        </DemoSnippet>

        

        <h4 id="for-each-custom-method">Using Custom Method in For Each</h4>
        
        <p>
            We can use alternative method of calculating the TotalSales property in the Product object. Rather than using a subquery, we can use a method that allows us to call a 
            method inside the query. We then call the <Highlight>CalculateTotalSalesForProduct</Highlight> method, passing in the current product and the sales collection. 
            This method returns a <Highlight>decimal</Highlight> value calculated by running the same <Highlight>sales.Where</Highlight> query as before. 
            <strong><em>By breaking out the calculation into a separate method, we can use more complex logic if needed.</em></strong> The resulting collection is an IEnumerable of Products, 
            which we can filter using the Where method to only include those products with a TotalSales greater than 0. Finally, we convert the resulting collection to a list and return it.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
List&lt;Sale&gt; sales = GetSales();

//Method Syntax
products.ForEach(product =&gt; product.TotalSale = CalculateTotalSalesForProduct(sales, product));
products = products.Where(product =&gt; product.TotalSale &gt; 0).ToList();

//Query Syntax
(from product in products
 let tmp = product.TotalSale = CalculateTotalSalesForProduct(sales, product)
 select product);
 products = products.Where(product =&gt; product.TotalSale &gt; 0).ToList();
 
 decimal CalculateTotalSalesForProduct(IEnumerable&lt;Sale&gt; sales, Product product)
 {
     return sales.Where(sale =&gt; sale.ProductId == product.Id).Sum(sale =&gt; product.Price * sale.Quantity);
 }
        </CodeSnippet>

        <DemoSnippet Title="LINQ ForEach Custom Method">
            <p>
                Let's try LINQ ForEach with Custom Method
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Price, TotalSale</Highlight></li>
                <li>We have <Highlight>Sale</Highlight> class with following properties - <Highlight>Id, ProductId, Quantity</Highlight></li>
                <li>The tables are loaded with product and sale collection.</li>
                <li>The Key Expression here is the <Highlight>Product TotalSale</Highlight>. <Highlight>ForEach()</Highlight> will iterate Products and query matching sale for the product and set / update values.</li>
                <li>Click on ForEach With Custom Method Button to view the Products with <Highlight>TotalSale> 0</Highlight>.</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <ForEachCustomMethodDemo></ForEachCustomMethodDemo>
        </DemoSnippet>

        

        </How>
        <Summary>
            <p>
                In this article we learn't how to iterate collections using <Highlight>ForEach</Highlight>. This allows you to set / update values for objects inside
                collection. We also learnt how to use sub queries inside ForEach for performing set operations. By using sub queries, we can easily calculate aggregate values for a
                collection based on related data in another collection. Overall by using query syntax or the method syntax, you can assign values to properties within objects in a
                collection and make updates efficiently.
            </p>
        </Summary>
    </ContentBody>
</Content>