@page "/blogs/using-linq-contains-to-check-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQContains)>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to use <Highlight>Contains</Highlight> in <Highlight>LINQ</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/using-linq-any-to-find-type-of-data" Match="NavLinkMatch.All">Using LINQ Any to Find Type of Data</NavLink>.
            </p>

            <p>
                We can determine the type of data contained within the collection using LINQ <Highlight>Contains()</Highlight> method. The idea here is to find out if any items in a 
                collection meet a specific condition. For primitive data types like <Highlight>int</Highlight>, <Highlight>decimal</Highlight>, 
                <Highlight>string</Highlight>, etc we can just compare the values against other value in the collection but for <Highlight>Class</Highlight>, we need 
                to implement <Highlight>EqualityComparer</Highlight> class to do comparisons.
            </p>
        </What>

        <Why>
            <p>
                Checking whether a specific value exists in a collection without writing a manual loop is a frequent need. <Highlight>Contains()</Highlight> handles primitive 
                types with a simple equality check and supports complex objects through a custom <Highlight>EqualityComparer</Highlight>, enabling property-based comparison 
                instead of reference equality.
            </p>
        </Why>

        <How>
            <h4 id="contains">Using LINQ Contains to find Primitive types</h4>

        <p>
            LINQ <Highlight>Contains()</Highlight> is used to answer questions about collection such as, any students passed the exam?, Do any orders got shipped? Do any customers 
            opted for newsletters?. Let's take a look at syntax. The syntax for Contains() is we apply the Contains() method to some <Highlight>IEnumerable&lt;T&gt;</Highlight> collection 
            and we specify a predicate. This is then going to check if any items within the collection match the given condition. For example, 
            <Highlight CssClasses="[ break-all ]">IEnumerable&lt;T&gt;.Contains(predicate)</Highlight>. This will return a boolean value true or false indicating do 
            any element in the collection met the criteria?.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
bool result = products
              .Select(product =&gt; product.Color)
              .Contains("Red");
                    
//Query Syntax
bool result = (from product in products select product)
              .Select(product =&gt; product.Color)
              .Contains("Red");
        </CodeSnippet>

        <DemoSnippet Title="LINQ Contains Clause Demo">
            <p>
                Let's try LINQ Contains
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Color, Price, Size</Highlight></li>
                <li>Enter the color to find if any color matches the available colors.</li>
                <li>Click on Contains Button</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <ContainsDemo></ContainsDemo>
        </DemoSnippet>

            <h4 id="contains-with-comparer">Using LINQ Contains to find Object types</h4>

        <p>
            So, searching for primitive data types with <Highlight>Contains()</Highlight> is easy and straight forward, but with objects by default it's going to work by 
            comparing object references. But in most cases we want to make comparison based on one or more properties in the object. To do that we need to start by creating 
            <Highlight>EqualityComparer&lt;T&gt;</Highlight> class.
        </p>

        <ol>
            <li>Create a <Highlight>ProductComparer</Highlight> class that inherits from <Highlight>EqualityComparer&lt;Product&gt;</Highlight> class.</li>
            <li>Override <Highlight>Equals(Product 1, Product 2) method.</Highlight></li>
            <li>Write the conditions to check equality and return true if both matches.</li>
            <li>Also override <Highlight>GetHashCode()</Highlight> method and return unique value for every single object.</li>
        </ol>

        <CodeSnippet CssClass="language-csharp">
public class ProductIdComparer : EqualityComparer&lt;Product&gt;
{
    public override bool Equals(Product? product, Product? anotherProduct)
    {
        return product?.Id == anotherProduct?.Id;
    }

    public override int GetHashCode([DisallowNull] Product product)
    {
        return product.Id.GetHashCode();
    }
}
        </CodeSnippet>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();
Product product = products.Last();
ProductIdComparer productIdComparer = new();

//Method Syntax
bool result = products
              .Contains(product, productIdComparer);
                    
//Query Syntax
bool result = (from product in products select product)
              .Contains(product, productIdComparer);
        </CodeSnippet>

        <DemoSnippet Title="LINQ Contains Clause with Comparer Demo">
            <p>
                Let's try LINQ Contains with Comparer
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Color, Price, Size</Highlight></li>
                <li>Enter the product id to find if any product matches the condition.</li>
                <li>Click on Contains Button</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <ContainsWithComparerDemo></ContainsWithComparerDemo>
        </DemoSnippet>
        </How>

        <Summary>

            <p>
                In this article we learn't how to check for data within collection using <Highlight>Contains</Highlight>. This can be used to find if item is within 
                collection matches a criteria or not and also we can find object item using Comparer. All these can be used with any <Highlight>IEnumerable</Highlight> or 
                <Highlight>IQueryable</Highlight> types.
            </p>
        </Summary>
    </ContentBody>
</Content>