@page "/blogs/using-linq-distinct-to-select-unique-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQDistinct) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to use <Highlight>Distinct</Highlight> and <Highlight>DistinctBy</Highlight> 
                in <Highlight>LINQ</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/using-linq-skip-to-select-specific-data" Match="NavLinkMatch.All">Using LINQ Skip to Select Specific Data in Collections</NavLink>.
            </p>

            <p>
                We can get unique piece of data from beginning of a collection using LINQ. We're going to use Distinct() and DistinctBy() methods. Let's take a look at each of these methods and 
                how they work.
            </p>
        </What>

        <Why>
            <p>
                Duplicate data in collections is a common problem. Without <Highlight>Distinct()</Highlight>, you'd need to manually track seen values using a 
                <Highlight>HashSet</Highlight>. <Highlight>Distinct()</Highlight> deduplicates primitive collections, while <Highlight>DistinctBy()</Highlight> provides 
                property-level deduplication for complex objects, returning the first occurrence for each unique key.
            </p>
        </Why>

        <How>
            <h4 id="distinct">Get Unique items using Distinct</h4>

        <p>
            Sometimes we need to get just a distinct value out of the collection. For instance, we have a bunch of colors in there, we have a few blacks, we have a few violets, we have a few 
            reds,etc., so what we might want to do is say I just want to see the distinct colors, I don't want them all duplicated. So, let's take a look at how we can do that using LINQ and 
            get the unique items.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;string&gt; partitionedProducts = products
                                    .Select(product =&gt; product.Color)
                                    .Distinct()
                                    .ToList();
                    
//Query Syntax
List&lt;string&gt; partitionedProducts = (from product in products select product)
                                    .Select(product =&gt; product.Color)
                                    .Distinct()
                                    .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Distinct Clause Demo">
            <p>
                Let's try LINQ Distinct
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have Colors with duplicate data</li>
                <li>Click on Distinct Button</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <DistinctDemo></DistinctDemo>
        </DemoSnippet>

            <h4 id="distinct-by">Get Unique items using DistinctBy</h4>

        <p>
            Instead of just getting colors what if we want the entire product object? We can also extract entire product object conditionally using <Highlight>DistinctBy</Highlight> 
            while the condition evaluates to true. This returns the first product object for each color match and ignores the remaining for same color.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;Product&gt; partitionedProducts = products
                                    .DistinctBy(product =&gt; product.Color)
                                    .ToList();
                    
//Query Syntax
List&lt;Product&gt; partitionedProducts = (from product in products select product)
                                    .DistinctBy(product =&gt; product.Color)
                                    .ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ DistinctBy Clause Demo">
            <p>
                Let's try LINQ DistinctBy
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Color, Price, Size</Highlight></li>
                <li>Enter the expression by which you would like to list.</li>
                <li>Click on Distinct Button</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <DistinctByDemo></DistinctByDemo>
        </DemoSnippet>
        </How>

        <Summary>

            <p>
                In this article we learn't how to get unique data within collection using <Highlight>Distinct</Highlight> and <Highlight>DistinctBy</Highlight>. We also 
                learnt how to get unique object by passing an expression. All these can be used with any <Highlight>IEnumerable</Highlight> or <Highlight>IQueryable</Highlight> 
                types.
            </p>
        </Summary>
    </ContentBody>
</Content>