@page "/blogs/using-linq-to-select-and-project-data"
@using LINQDemoComponents
@inherits BasePage

<Content FileName=@nameof(LINQSelect)>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to use <Highlight>Select</Highlight> in <Highlight>LINQ</Highlight> in .NET.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/linq-introduction" Match="NavLinkMatch.All">Introducing LINQ in .NET</NavLink>.
            </p>

            <p>
                We can use LINQ <Highlight>Select</Highlight> to select data within collections. The select clause produces the results of the query and specifies the "shape" or
                type of each returned element. For example, you can specify whether your results will consist of complete objects, just one member, a subset of members, or some completely different
                result type based on a computation or new object creation. When the select clause produces something other than a copy of the source element, the operation is called a
                <Highlight>projection</Highlight>. The use of projections to transform data is a powerful capability of LINQ query expressions.
            </p>
        </What>

        <Why>
            <p>
                We can use LINQ Select to shape data and,
            </p>

            <ul>
                <li>Select Complete Object</li>
                <li>Select Single Property</li>
                <li>Select Specific Properties</li>
                <li>Select and Build Anonymous Class</li>
            </ul>
        </Why>

        <How>
            <h4 id="tldr">TLDR</h4>

        <figure>
            <img src="./image/blogs/linq/select/linq-select-in-dotnet.png" alt="linq select in dotnet" class="[ w-full ]" />
        </figure>

        <h4 id="complete-object">Select Complete Object</h4>

        <p>
            The following example shows how to select entire <Highlight>Product</Highlight> class and create a copy of it.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;Product&gt; selectProducts = products
			       .Select(product =&gt; product)
		               .ToList();

//Query Syntax
List&lt;Product&gt; selectProducts = (from product in products
	 	   	        select product)
			        .ToList();
        </CodeSnippet>

        <h4 id="single-property">Select Single Property</h4>

        <p>
            The following example shows how to select single property of <Highlight>Product</Highlight> class and create a <Highlight>List&lt;string&gt;</Highlight>.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;string&gt; selectProducts = products
		              .Select(product =&gt; product.Name)
		              .ToList();

//Query Syntax
List&lt;string&gt; selectProducts = (from product in products
		   	       select product.Name)
		   	       .ToList();
        </CodeSnippet>

        

        <h4 id="specific-properties">Select Specific Properties</h4>

        <p>
            The following example shows how to select specific properties from <Highlight>Product</Highlight> class and create a copy of it.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
List&lt;Product&gt; selectProducts = products
		               .Select(product =&gt; new Product {
			               ProductId = product.Id,
			               Name = product.Name
	      		       }).ToList();

//Query Syntax
List&lt;Product&gt; selectProducts = (from product in products
			        select new Product {
	 	                       ProductId = product.Id,
 	        	               Name = product.Name
			       }).ToList();
        </CodeSnippet>

        <h4 id="build-anonymous-class">Select and Build Anonymous Class</h4>

        <p>
            The following example shows how to change shape or build an <Highlight>anonymous</Highlight> class and create a copy of it.
        </p>

        <CodeSnippet CssClass="language-csharp">
List&lt;Product&gt; products = GetProducts();

//Method Syntax
var selectProducts = products
		     .Select(product =&gt; new {
			     Identifier = product.Id,
			     Name = product.Name
		     }).ToList();

//Query Syntax
var selectProducts = (from product in products
                      select new {
                        Identifier = product.Id,
                        Name = product.Name
                     }).ToList();
        </CodeSnippet>

        <DemoSnippet Title="LINQ Select Clause Demo">
            <p>
                Let's try LINQ Select
            </p>

            <ul class="[ list-disc ] [ ml-4 ]">
                <li>We have <Highlight>Product</Highlight> class with following properties - <Highlight>Id, Name, Color, Price, Size</Highlight></li>
                <li>Enter the column names you would like to select. Columns not selected will have default value</li>
                <li>Click on Select Button</li>
                <li>Click on reset to try other combination</li>
            </ul>

            <SelectDemo></SelectDemo>

        </DemoSnippet>

        

        </How>

        <Summary>

            <p>
                In this article we learn't how to Select data within collection using LINQ. We also learn't how to project the data, change shape, how to select complete object, how to select
                single property, how to select specific properties and how to build an anonymous class. All these can be used with any <Highlight>IEnumerable</Highlight> or
                <Highlight>IQueryable</Highlight> types.
            </p>
        </Summary>
    </ContentBody>
</Content>