@inherits DemoSnippetBase

<section class="[ flex flex-col ]">
    <div class="[ bg-gray-200 ] [ p-2 ] [ font-semibold ] [ text-black ]">
        Demo - @Title
    </div>
    <div class="[ bg-gray-300 ] [ p-4 ]">
        @DemoContent
    </div>
</section>