<div class="[ flex flex-col items-start ]">
    <div class="[ self-stretch ]">
        <figure>
            <img src="https://via.placeholder.com/285x160.webp" class="[ w-full ]" />
        </figure>
    </div>
    <div class="[ flex ]">
        <div>
            <figure class="[ mt-2 mr-2 ]">
                <img src="https://via.placeholder.com/48x48" />
            </figure>
        </div>
        <div class="[ dark:text-white ]">
            <h3>Article title goes here and can span some line</h3>
            <div class="[ flex items-start space-x-1 ]">
                <p>1.2 crore views</p>
                <p>2 weeks ago</p>
            </div>
        </div>
    </div>
</div>