<button type="button"
    class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @onclick="HandleCountryDiscountService">
    Create Country Discount Service
</button>

<button type="button"
    class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @onclick="HandleCodeDiscountService">
    Create Code Discount Service
</button>

<p>
    Total Amount: @_totalAmount
</p>

@code
{
    private decimal _totalAmount;
    private void HandleCountryDiscountService()
    {
        var countryDiscountFactory = new CountryDiscountFactory("India");
        var shoppingCart = new ShoppingCart(countryDiscountFactory);
        _totalAmount = shoppingCart.CalculateTotal();
    }

    private void HandleCodeDiscountService()
    {
        var codeDiscountFactory = new CodeDiscountFactory("INDIA15");
        var shoppingCart = new ShoppingCart(codeDiscountFactory);
        _totalAmount = shoppingCart.CalculateTotal();
    }
}