@using System.Globalization;
@inject TableOfContents tableOfContents

<ContentHead Title=@contentMetaData!.Title
             Description=@contentMetaData!.Description
             CreatedOn=@contentMetaData!.CreatedOn
             ModifiedOn=@contentMetaData!.ModifiedOn
             Slug=@contentMetaData!.Slug
             PosterPath=@PosterPath
             ContentType=@ContentType
             Keywords=@contentMetaData!.Keywords>
</ContentHead>

<section class="[ flex flex-col lg:flex-row ] [ p-5 lg:px-20 ] [ lg:space-x-5 space-y-5 lg:space-y-0 ]">
    <article class="[ lg:basis-3/4 ] [ space-y-5 ]">
        <ContentHeader Title=@contentMetaData.Title
                       ModifiedOn=@contentMetaData!.ModifiedOn
                       Slug=@contentMetaData!.Slug
                       PosterPath=@PosterPath
                       ChannelIconName="@contentMetaData!.Channel"
                       TotalContents=@tableOfContents.GetTotalContentsCountBySlug(Slug)
                       VideoUrl=@contentMetaData!.VideoUrl
                       FileName=@FileName
                       Channel=@contentMetaData!.Channel>
        </ContentHeader>
        <section class="[ dark:text-white ] [ space-y-2 ] [ leading-relaxed ]">
            @ContentBody
            <WhatsAppChannelAlert />
            <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
        </section>
        <footer class="[ max-w-full ]">
            <ul class="[ list-none ] [ flex items-center justify-start md:justify-center ] [ space-x-3 ] [ overflow-hidden overflow-x-auto ]">
                <li class="[ px-3 py-1 ] [ rounded-md ] [ bg-black text-white dark:bg-white dark:text-black ]">@(CultureInfo.CurrentUICulture.TextInfo.ToTitleCase(contentMetaData.Channel.Replace("-", " ")))</li>
                @foreach(var keyword in contentMetaData!.Keywords)
                {
                    <li class="[ px-3 py-1 ] [ rounded-md ] [ bg-black text-white dark:bg-white dark:text-black ] [ whitespace-nowrap ]">@keyword</li>
                }
            </ul>
        </footer>
        <hr class="[ dark:text-white my-1.5 ]" />
    </article>
    <ContentRecommendation Title=@contentMetaData.Title></ContentRecommendation>
</section>

@code {
    private ContentMetaData? contentMetaData = default!;
    [Parameter, EditorRequired] public string Slug { get; set; } = default!;
    [Parameter, EditorRequired] public string PosterPath { get; set; } = default!;
    [Parameter, EditorRequired] public RenderFragment ContentBody { get; set; } = default!;
    [Parameter, EditorRequired] public string ContentType { get; set; } = default!;
    [Parameter, EditorRequired] public string FileName { get; set; } = default!;

    override protected void OnInitialized()
    {
        contentMetaData = tableOfContents.GetContentBySlug(Slug);
    }
}