@inherits DemoSnippetBase

@if(Environment.IsPrerendering())
{
    <section class="[ flex items-center justify-center ] [ min-h-[300px] ] [ dark:bg-gray-100 dark:text-black ] [ bg-stone-900 text-white ]">
        Demo Space
    </section>
}
else
{
    <section class="[ flex flex-col ]">
        <h4 class="[ bg-gray-200 ] [ p-2 ] [ font-semibold ] [ text-black ] [ flex items-center ] [ dark:bg-gray-800 dark:bg-gray-800/80 dark:text-white ]">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-caret-right ] [ text-lime-700 ] [ fill-lime-500 ]" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M18 15l-6 -6l-6 6h12" transform="rotate(90 12 12)"></path>
            </svg> Demo - @Title
        </h4>
        <article class="[ bg-gray-300 ] [ dark:bg-gray-700 ] [ p-4 ]">
            @ChildContent
        </article>
    </section>
}