@page "/"

<PageTitle>Home - I ❤️ DotNet</PageTitle>

<HeadContent>
    <link rel="alternate" href="https://www.ilovedotnet.org/" hreflang="en" />
    <link rel="alternate" href="https://www.ilovedotnet.org/" hreflang="x-default" />
    <link rel="canonical" href="https://www.ilovedotnet.org/" />
</HeadContent>

<section class="[ dark:bg-black ] [ flex flex-col space-y-5 ] [ p-5 ]">
    <div class="[ text-center ] [ bg-yellow-500 ]">
        <p class="[ font-bold text-2xl uppercase ]">Coding In Progress</p>
    </div>
    <div class="[ grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 ]">
        <Thumbnail></Thumbnail>
    </div>
    <hr />
    <div class="[ grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 ]">
        <Thumbnail></Thumbnail>
    </div>
</section>