@page "/"

<PageTitle>Home - I ❤️ DotNet</PageTitle>

<section class="[ dark:bg-black ] [ flex flex-col space-y-5 ] [ lg:p-5 ]">
    <div class="[ text-center ] [ bg-yellow-500 ]">
        <p class="[ font-bold text-2xl uppercase ]">Coding In Progress</p>
    </div>
    <div class="[ grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 ]">
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
    </div>
    <hr />
    <div class="[ grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 ]">
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
        <Thumbnail></Thumbnail>
    </div>
</section>