@page "/blogs/message-pack-hub-protocol-and-keep-alive-in-signalr"
@inherits BasePage

<Content FileName=@nameof(MessagePackAndKeepAlive)>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about <Highlight>Message Pack Hub Protocol</Highlight> and <Highlight>Keep Alive</Highlight>
                in <Highlight>SignalR</Highlight>.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink class="[ underline ]" href="blogs/send-notifications-to-groups-and-connectionid-in-signalr" Match="NavLinkMatch.All">Send Notifications to Groups and Connection Id in SignalR</NavLink>.
            </p>

            <p>
                In our previous article, we learnt about what are <Highlight>Groups</Highlight> and <Highlight>Connection Id</Highlight> and how to
                send notifications to Groups and Connection Id. Today in this article, lets learn about another <Highlight>server and client features</Highlight>
                which helps in configuring <Highlight>Hub Protocol</Highlight> and <Highlight>Keep Alive</Highlight> available in SignalR.
            </p>
        </What>

        <Why>
            <p>
                By default, SignalR uses a <Highlight>JSON-based hub protocol</Highlight>. While human-readable and easy to debug, JSON can
                become a bottleneck for large or high-frequency messages. Without knowing about <Highlight>MessagePack</Highlight>,
                developers may accept unnecessary performance costs that could be avoided.
            </p>

            <p>
                <Highlight>Keep-alive messages</Highlight> solve a different but equally important problem: WebSocket connections can
                silently drop after periods of inactivity on firewalls and proxies. Without understanding keep-alive behaviour, you may
                see unexpected disconnections that are hard to reproduce and diagnose.
            </p>

            <p>
                Knowing how to switch to the MessagePack protocol and understanding how keep-alive messages work helps you build faster
                and more reliable SignalR applications.
            </p>
        </Why>

        <How>

            <h4 id="message-pack-hub-protocol-and-keep-alive" class="[ font-semibold text-lg ]">Message Pack Hub Protocol and Keep Alive</h4>

            <p>
            We have learnt that by default a <Highlight><abbr title="Java Script Object Notation">JSON</abbr> protocol</Highlight> was used as 
            <Highlight>Hub protocol</Highlight> in previous articles. Assuming the <Highlight>WebSocket's transport</Highlight> is 
            used, you can actually see the JSON messages when going to the <Highlight>Network tab</Highlight> of the 
            <Highlight>F12 developer tools</Highlight> of your <Highlight>browser</Highlight>. When you click on the 
            <Highlight>WebSocket connection</Highlight> to the hub and select the <Highlight>Messages tab</Highlight>, you can see 
            the message going through. When you click on it, <Highlight>you can see the actual message</Highlight>.
            </p>

            <p>
            There are also a number of <Highlight>other messages visible</Highlight>, which are of <Highlight>type:6</Highlight>. 
            These are <Highlight>keepalive messages</Highlight>. They are needed because <Highlight>WebSocket connections tend to close 
            automatically after a certain period of inactivity, and the keepalive messages are preventing that</Highlight>. Since JSON is text, it is not 
            <Highlight>very efficient, especially when dealing with larger messages</Highlight>. When you, for example, work with larger objects 
            that are passed as parameters, <Highlight>JSON protocol might be too slow or too inefficient</Highlight>. In that case, there's the 
            option to <Highlight>switch to MessagePack hub protocol, which is binary</Highlight>.
            </p>

            <p>
            To <Highlight>enable MessagePack Protocol</Highlight> install the Nuget package 
            <Highlight CssClasses="[ break-all ]">Microsoft.AspNetCore.SignalR.Protocols.MessagePack</Highlight> and call 
            <Highlight>AddMessagePackProtocol()</Highlight> to the SignalR setup in server and 
            <Highlight>HubConnectionBuilder</Highlight> in client.
            </p>

            <CodeSnippet CssClass="language-csharp">
// Server
..
builder.Services.AddSignalR()
                .AddMessagePackProtocol();


// Client
new HubConnectionBuilder()
                .WithUrl("https://ilovedotnet.org/notifications")
                .AddMessagePackProtocol()
                .Build();
            </CodeSnippet>

            <p>
            <Highlight>MessagePack serialization is strictly case-sensitive</Highlight>. That means that the property names of the objects that are 
            sent through the connection should match exactly. So to make this work, we have to use <Highlight>Pascal casing</Highlight> for property 
            names.  It's a MessagePack quirk that is not easy to bypass. When we now run the application and look at the messages again, they are now binary. 
            That's an <Highlight>advantage in terms of performance</Highlight>, but it also has a downside. They are 
            <Highlight>not as easy to read as the JSON messages</Highlight>.
            </p>

        

        </How>

        <Summary>
            <p>
                In this article, we learnt about <Highlight>Message Pack Hub Protocol</Highlight> and <Highlight>Keep Alive</Highlight>
                in SignalR. We also saw how to configure and check them in browser developer tools. In the next article, we will learn about
                <Highlight>Exceptions</Highlight> and <Highlight>Logging</Highlight> in SignalR.
            </p>
        </Summary>
    </ContentBody>
</Content>