@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<RemoteAuthenticatorView Action="@Action">
    <LogOutSucceeded>
        <p>You are logged out.</p>
        <RedirectToSecureWithOIDCPage />
    </LogOutSucceeded>
</RemoteAuthenticatorView>

@code {
    [Parameter]
    public string? Action { get; set; }
}