@using System.Runtime.InteropServices

<input type="number" min="0" class="[ px-4 py-2 ] [ border-2 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]" 
       @bind="inputValue" />

<p>
    Factorial of @inputValue is @fact(inputValue)
</p>

@code {
    private int inputValue = 0;

    [DllImport("Test")]
    static extern int fact(int n);
}