@page "/blogs/free-up-resources-with-cancellation-while-accessing-apis-using-http-client-in-dotnet"
@using HTTPClientDemoComponents
@inherits BasePage

<Content FileName=@nameof(FreeUpResourcesWithCancellation)>
    <ContentBody>
        <What>
            <p>
                <Highlight>Cancelling</Highlight> requests can be beneficial to <Highlight>performance</Highlight>, both at level of 
                <Highlight>bandwidth consumption</Highlight> and <Highlight>scalability</Highlight>.  Let's learn how and I'll guide 
                you through this. We will start by learning why we should cancel requests when we no longer need them. 
            </p>
        </What>

        <Why>
            <p>
                Imagine we're using HttpClient to get a data. Chances are that the <Highlight>user of your application will navigate away</Highlight> 
                or <Highlight>press a cancel button</Highlight>. In such a case, you want to be able to handle that instead of just letting the 
                request continue. The reasoning behind this is that behind the scenes, <Highlight>HttpClient</Highlight> works with 
                <Highlight>async tasks</Highlight>. There's another reason, though. It's not unheard of a <Highlight>timeout</Highlight> 
                to happen. If that happens, we want to be notified of that so we can gracefully handle such a timeout. In such a case, it is due to the timeout 
                that the task gets canceled.
            </p>

            <p>
                It's important to know that cancelling a task that's no longer needed will <Highlight>free up the thread</Highlight> that is used to 
                run the task. That means that <Highlight>thread is potentially returned to the thread pool where it can be used for other work</Highlight>.
                Cancellation in short helps to,
            </p>

            <ul>
                <li><Highlight>Save threads</Highlight> which can be used to handle other tasks / requests.</li>
                <li><Highlight>Save db calls</Highlight> which can save compute cost.</li>
                <li><Highlight>Save data</Highlight> transferred over network.</li>
            </ul> 
        </Why>

        <How>
            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/improving-performance-and-memory-use-while-accessing-apis-using-http-client-in-dotnet" Match="NavLinkMatch.All">Improving performance and memory use while accessing APIs using HTTPClient in dotnet</NavLink>.
            </p>

            <h4 id="cancellation-token-source-and-cancellation">Cancellation Token Source and Cancellation</h4>

            <p>
                To support <Highlight>cancelation</Highlight> of <Highlight>async tasks</Highlight>, a 
                <Highlight>CancellationTokenSource</Highlight> and a <Highlight>CancellationToken</Highlight> are used. A 
                <Highlight>CancellationTokenSource</Highlight> is an <Highlight>object</Highlight>, which manages and sends cancellation 
                notifications to the individual cancellation tokens. It exposes such a <Highlight>CancellationToken</Highlight> via its token property. 
                That <Highlight>CancellationToken</Highlight> is a lightweight value passed to one or more listeners, typically as a method parameter. 
            </p>

            <p>
                Listeners should then monitor the value of the <Highlight>IsCancellationRequested</Highlight> property of that token and react accordingly. 
                From that, it follows that a <Highlight>CancellationToken</Highlight> is what we need to pass to each task returning method we want to 
                listen to cancellation. So, the idea is that we provide these cancellation tokens to whichever part of our application we want to listen to cancellation 
                and cancel itself. And we use the <Highlight>CancellationToken</Highlight> source to effectively request them to cancel themselves, which it 
                does by sending notifications to those tokens.
            </p>

            <h4 id="supporting-cancellation-while-reading-data-from-api">Supporting Cancellation while reading data from API</h4>

            <p>
                All we need to do now is to initialize a <Highlight>CancellationTokenSource</Highlight> and set <Highlight>CancelAfter()</Highlight> 
                a timeout. Then, we pass the token to the <Highlight>HTTPClient</Highlight> <Highlight>SendAsync</Highlight> method. 
                We can then use the token to cancel the request if it takes too long. We can also use the token to cancel the request if the user navigates away. 
            </p>

            <p>
                <strong>Note:</strong> that for demo purpose we are cancelling after 10 seconds and we are awaiting for 5 seconds to simulate the API call failure. In real world 
                scenario, you can set the timeout to 30 seconds or 1 minute or you can cancel when user presses cancel button.
            </p>

            <CodeSnippet CssClass="language-csharp">
var cancellationTokenSource = new CancellationTokenSource();

cancellationTokenSource.CancelAfter(10);

await Task.Delay(5);

using var request = new HttpRequestMessage(HttpMethod.Get, "posts.json");

using var response = await client.SendAsync(request, HttpCompletionOption.ResponseHeadersRead, cancellationTokenSource.Token);

var responseStream = await response.Content.ReadAsStreamAsync(cancellationTokenSource.Token);

var result = await JsonSerializer.DeserializeAsync&lt;IEnumerable&lt;PostDto&gt;&gt;(responseStream, cancellationTokenSource.Token);
            </CodeSnippet>

            <DemoSnippet Title="Support Cancellation while Reading Data">
                <p>
                    Let's try Cancellation while reading data in this Demo, Click on the Read with Cancellation Button to see the demo on the screen. Note that 
                    data might not be rendered on the screen as the API is cancelled before the data is read. You can verify this from the browser network log.
                </p>
                <ReadWithCancellationDemo></ReadWithCancellationDemo>
            </DemoSnippet>

            <figure>
                <caption>Supporting Cancellation in API Calls</caption>
                <img src="./image/blogs/http-client/free-up-resources-with-cancellation-while-accessing-apis-using-http-client-in-dotnet/cancelled-requests.png" alt="cancelled-requests" class="[ w-full ]" />
            </figure>
        </How>  

        <Summary>
            <p>
                In this article, we learned about how to <Highlight>free up resources with cancellation</Highlight> while accessing APIs using 
                <Highlight>HTTP Client</Highlight> in .NET. We learned about what is <Highlight>CancellationTokenSource</Highlight> 
                and <Highlight>why we should cancel requests</Highlight> when we no longer need them and <Highlight>advantages of 
                cancellation</Highlight>. We also learned about <Highlight>how to support cancellation while reading data from API</Highlight>. 
                I hope you enjoyed reading this article.
            </p>
        </Summary>
    </ContentBody>
</Content>