@page "/blogs/prevent-image-leech-by-dynamically-streaming-image-in-blazor-wasm"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(DynamicallyStreamImage) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article let's learn how to prevent unauthorised use of images from crawlers in Blazor WASM apps.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/improve-performance-by-dynamically-loading-image-in-blazor-wasm" Match="NavLinkMatch.All">Improve performance by dynamically loading image in Blazor WASM</NavLink>.
            </p>
        </What>

        <Why>
            <p>
                Every now and then somebody builds a web site with the brilliant idea that they will uses images from other people's web sites as part of their 
                content. <Highlight>They enjoy the benefits of the traffic (for example, advertising revenue), while the image owner ends up paying for the 
                bandwidth. This is called image leeching.</Highlight> Image leeching or unauthorised use of images is a common problem on the web. It is a 
                problem that has been around since the early days of the web.
            </p>
        </Why>

        <How>
            <h4 id="use-case-for-dynamic-streaming">Use Case for Dynamic Streaming</h4>
        
            <p>
                We can also <Highlight>stream</Highlight> image into blazor wasm app using <Highlight>Javascript Interop</Highlight>. The 
                image will be stored as <abbr title="Binary Large Object">BLOB</abbr> and we can create a <Highlight>temporary URL</Highlight> to display 
                the image. The benefit of using temporary URL is that it will be difficult to crawl the image and it will make stealing / leeching difficult. Thus we 
                can prevent unauthorised use of image.
            </p>

            <h4 id="implementing-dynamic-streaming">Implementing Dynamic Streaming</h4>

            <p>
                First, we need to remove <Highlight>static image src reference</Highlight> from <Highlight>&lt;img&gt;</Highlight> tag 
                and add a <Highlight>ElementReference</Highlight> to the <Highlight>&lt;img&gt;</Highlight> tag. Now we need to get the 
                image <Highlight>Stream</Highlight> using <Highlight>HttpClient</Highlight> and convert it to 
                <Highlight>DotNetStreamReference</Highlight> and pass the <Highlight>ElementReference</Highlight> and 
                <Highlight>DotNetStreamReference</Highlight> to <Highlight>Javascript Interop</Highlight> method. 
                The <Highlight>Javascript Interop</Highlight> method transforms the <Highlight>DotNet Stream</Highlight> to 
                <Highlight>array buffer</Highlight> and creates <Highlight>BLOB</Highlight> and use that to create a 
                <Highlight>temporary URL</Highlight> and set it as <Highlight>src</Highlight> of the 
                <Highlight>&lt;img&gt;</Highlight> tag.
            </p>

            <CodeSnippet CssClass="language-javascript">
export async function LoadImageThroughStream(imageElement, imageStream) {
    const arrayBuffer = await imageStream.arrayBuffer();
    const blob = new Blob([arrayBuffer], {type: 'image/webp'});
    const url = URL.createObjectURL(blob);

    if (imageElement) {
        imageElement.onload = () =&gt; {
            URL.revokeObjectURL(url);
        }
        imageElement.src = url;
    }
}
            </CodeSnippet>

            <CodeSnippet CssClass="language-csharp">
&lt;img @@ref="_imageReference" /&gt;

@@code {
    private ElementReference _imageReference;
    private IJSObjectReference? _jsModule;

    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;
    [Inject] private HttpClient HttpClient { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _jsModule = await JSRuntime.InvokeAsync&lt;IJSObjectReference&gt;("import", "./_content/BlazorDemoComponents/streamImage.js");  

            var imageStream = await StreamImageAsync();

            if (imageStream != null)
            {
                var dotNetImageStream = new DotNetStreamReference(imageStream);
                await _jsModule.InvokeVoidAsync("LoadImageThroughStream", _imageReference, dotNetImageStream);
            }
        }
    }

    private async Task&lt;Stream?&gt; StreamImageAsync()
    {
        return await HttpClient.GetStreamAsync("/image/blogs/blazor/wasm/prevent-image-leech-by-dynamically-streaming-image-in-blazor-wasm.webp");        
    }
}
            </CodeSnippet>

            <DemoSnippet Title="Dynamic Image Streaming">
                <p class="[ text-black ] [ dark:text-white ]">
                    <b>
                        The below image is streamed dynamically with temporary URL. This can be verified by checking the network tab in the 
                        developer tools and the URL of the displayed image.
                    </b>
                </p>
                <Error>
                    <DynamicImageStreamingDemo></DynamicImageStreamingDemo>
                </Error>
            </DemoSnippet>

            <p>
                If we inspect the image element in the developer tools, we can see that the <Highlight>src</Highlight> of the image is a 
                <Highlight>temporary BLOB URL</Highlight> as shown below. 
            </p>

            <figure>
                <img src="./image/blogs/blazor/wasm/prevent-image-leech-by-dynamically-streaming-image-in-blazor-wasm/temporary-url.png" alt="temporary url" class="[ w-full ]" />
            </figure>

            <p>
                When you copy that URL and try to access it via browser you get an <Highlight>Error 404 saying that file cannot be accessed</Highlight> 
                as shown below.
            </p>

            <figure>
                <img src="./image/blogs/blazor/wasm/prevent-image-leech-by-dynamically-streaming-image-in-blazor-wasm/image-access-error.png" alt="image access error" class="[ w-full ]" />
            </figure>

            <p>
                As a result, it makes it more <Highlight>difficult to download the image outside the application</Highlight> and 
                <Highlight>prevents unauthorised use</Highlight> of the image.
            </p>

            <h4 id="advantages-of-dynamic-streaming">Advantages of Dynamic Streaming</h4>

            <p>
                The advantages of dynamic streaming are as follows,
            </p>

            <ul>
                <li><Highlight>Unauthorised Image Access</Highlight>.</li>
                <li><Highlight>Bandwidth Savings</Highlight>.</li>
                <li><Highlight>Cost Savings</Highlight>.</li>
            </ul>
        </How>

        <Summary>
            In this article, we learnt about the <Highlight>image leeching problem</Highlight> and how to prevent it by 
            <Highlight>dynamically streaming image</Highlight> in Blazor WASM apps. We also learnt about the advantages of dynamic streaming. 
            Hope you enjoyed reading this article. Thank you for reading from us.
        </Summary>
    </ContentBody>
</Content>