@page "/blogs/using-a-distributed-lock-in-hosted-service-in-asp-net-webapi"
@inherits BasePage

<Content FileName=@nameof(UsingADistributedLockInHostedService) UseNewTableOfContentsMenu=true>
    <ContentBody>
      <What>
        <p>
          One of our recent requirement in a client project has the need to query <Highlight>AWS Athena</Highlight> to get analytics 
          data every hour and display the same data in a dashboard. We could have used <Highlight>HangFire</Highlight> or 
          <Highlight>AWS Lambda</Highlight> to run this as jobs but we decided to use <Highlight>Hosted Service</Highlight> 
          in our Web API to query this data <Highlight>periodically for every one hour</Highlight> as we thought, HangFire is a overkill 
          for this work and also to spin up new lambda we need to go through lots of approvals and explanation process which is tedious in enterprises.
        </p>

        <p>
          We have <Highlight>minimum of six instances of our API running in production</Highlight> and it can 
          <Highlight>scale up to maximum of nine instances</Highlight> during peak traffic. We assumed even if the Hosted Service runs 
          inside all six instances at the same time, all background Service will query the data from AWS 
          Athena and <Highlight>update / overwrite</Highlight> the latest data inside our database and we can pull that data using 
          endpoint and show it in dashabord.
        </p>

        <figure>
          <img src="./image/blogs/webapi/using-a-distributed-lock-in-hosted-service-in-asp-net-webapi/problem-statement.png"
              alt="problem-statement" class="[ w-full ]" />
        </figure>

        <p>
          But since this has lots of moving parts, things didn'table go as expected in Production and in this article, lets learn how we have added 
          a <Highlight>distributed lock</Highlight> to solve this problem.
        </p>
      </What>

      <Why>
        <p>
          Everything worked by adding our logics inside simple Hosted Service in ASP.NET Web API app but the problem is that after some time we 
          started getting <Highlight>Rate Limit Exceptions</Highlight> from AWS Athena after deploying to production. The Exceptions 
          count was alarming and kept increasing. We were not getting these issues in lower environments and so we decided to introduce 
          <Highlight>retry mechanism</Highlight> by catching this error and log as warnings and deploying a retry for 5 times with 
          some delay and then log as error if it fails. Now we have sort of reduced the errors but warnings count was alarming. We felt like 
          we didn't actually solve the problem after taking this changes to production.
        </p>

        <figure>
          <img src="./image/blogs/webapi/using-a-distributed-lock-in-hosted-service-in-asp-net-webapi/with-retry.png"
              alt="with-retry" class="[ w-full ]" />
        </figure>

        <p>
          Adding up fuel to fire, the new requirement is to <Highlight>reduce the frequency to every 30 minutes</Highlight> from one hour. 
        </p>

        <p>
          We decided to solve this permanentely by adding a distributed lock using a table in our database without relying on any libraries or tools. 
          This way we <Highlight>don't introduce any tech debt and dependency</Highlight> and also making sure that 
          <Highlight>only one instances will query AWS Athena and process the data and store in our database at given point 
          in time</Highlight>. So that we don't over poll AWS Athena thus reducing the Rate Limit Exceptions from 
          AWS and also making it <Highlight>more cost efficient</Highlight> as every query,a storage and memory used will add up cost 
          to us.
        </p>

        <figure>
          <img src="./image/blogs/webapi/using-a-distributed-lock-in-hosted-service-in-asp-net-webapi/adding-a-distributed-lock.png"
              alt="adding-a-distributed-lock" class="[ w-full ]" />
        </figure>

        <p>
          So Now when every instances starts, Hosted Service will also started and will register the instance id inside in our settings table against 
          this job name. This way the <Highlight>last / latest instance incase if scale up happens will win and register its instance id</Highlight>. 
          So only one will run the job and process the result.
        </p>

        <p>
          But wait What happens if the current instance running the job becomes <Highlight>faulty and down for whatever reason or what if scale 
          down happens and current instance gets terminated?</Highlight> In either of the case some other available instance should register 
          itself and take over the background job. And how we did that is by adding a simple 
          <Highlight>Last Run TimeStamp</Highlight> against the job entry in settings table.
        </p>

        <p>
          So Now each instance while register its instance id, it will add the Last Run TimeStamp and then every instance will check settings table and 
          see if Last Run TimeStamp is more than a hour from now and if so then any other healthy instance will self register itself and start running 
          the job.
        </p>

        <figure>
          <img src="./image/blogs/webapi/using-a-distributed-lock-in-hosted-service-in-asp-net-webapi/failure-scenarios.png"
              alt="failure-scenarios" class="[ w-full ]" />
        </figure>
      </Why>

      <How>
        <p>
          Here is the code that we have used to solve this by adding a distributed lock in multiple instance scenario.
        </p>

        <CodeSnippet CssClass="language-csharp">
namespace ILoveDotNet.HostedServices;

public class ILoveDotNetAthenaQueryBackgroundService(
    ILogger&lt;ILoveDotNetAthenaQueryBackgroundService&gt; logger,
    TimeProvider timeProvider,
    IServiceProvider serviceProvider) : BackgroundService
{
  private const int QueryIntervalInMinutes = 30;
  private string _currentInstanceId = string.Empty;

  protected override async Task ExecuteAsync(CancellationToken stoppingToken)
  {
    await RegisterInstance($"ilovedotnet-bg-metrics-process-{Guid.NewGuid().ToString()}");

    timeProvider.CreateTimer(ReadDataFromAthena, null, TimeSpan.Zero, TimeSpan.FromMinutes(QueryIntervalInMinutes));
  }
  
  private async Task RegisterInstance(string processTrackingId)
  {
    try
    {
      using var scope = serviceProvider.CreateScope();
      var configRepo = scope.ServiceProvider.GetRequiredService&lt;IRepository&lt;Settings&gt;&gt;();
      var instanceService = scope.ServiceProvider.GetRequiredService&lt;IAwsInstanceService&gt;();

      if (string.IsNullOrEmpty(_currentInstanceId))
      {
        _currentInstanceId = instanceService.GetInstanceId();
      }

      var existingConfig = await configRepo.GetByIdAsync("ilovedotnet-bg-service");
      if (existingConfig != null)
      {
        existingConfig.UpdateValue(_currentInstanceId);
        configRepo.Update(existingConfig);
      }
      else
      {
        var config = new Settings("ilovedotnet-bg-service", _currentInstanceId);
        await configRepo.AddAsync(config);
      }

      await configRepo.SaveChangesAsync();
    }
    catch
    {
      // log error
    }
  }

  private async void ReadDataFromAthena(object? sender)
  {
    try
    {
      using var scope = serviceProvider.CreateScope();
      var metricsService = scope.ServiceProvider.GetRequiredService&lt;IMetricsService&gt;();
      var settingsRepo = scope.ServiceProvider.GetRequiredService&lt;IRepository&lt;Settings&gt;&gt;();
      var instanceService = scope.ServiceProvider.GetRequiredService&lt;IAwsInstanceService&gt;();

      var settings = await settingsRepo.GetByIdAsync("ilovedotnet-bg-service");
      _currentInstanceId = instanceService.GetInstanceId();

      var canExecute = await CanExecute(settings, _currentInstanceId);

      if (!canExecute)
      {
        // log and return
        return;
      }

      await metricsService.ProcessMetrics();

      // Resetting / Update instance id after saving metrics

      await RegisterInstance(processTrackingId);
    }
    catch (Exception e)
    {
      // log exception
    }
  }
  
  private async Task&lt;bool&gt; CanExecute(Settings? setting, string currentInstanceId)
  {
    if (setting == null)
    {
      return await Task.FromResult(false);
    }

    var thresholdTime = setting.LastUpdatedAt.AddMinutes(QueryIntervalInMinutes * 2);

    var bgProcessorInstanceId = GetProcessorInstanceId(setting);

    var currentUtcTime = timeProvider.GetUtcNow().DateTime;
    var isThresholdCrossed = thresholdTime &lt; currentUtcTime;

    return currentInstanceId.Equals(bgProcessorInstanceId, StringComparison.InvariantCultureIgnoreCase)
      || isThresholdCrossed;
  }
}
        </CodeSnippet>

        <p>
          Here is the explanation of the above code.
        </p>

        <ul>
          <li><strong>Registers the instance:</strong> Stores the instance ID in the database using <Highlight>RegisterInstance</Highlight> method.</li>
          <li><strong>Runs every 30 minutes:</strong> Uses a timer to trigger data collection using <Highlight>TimeProvider</Highlight>.</li>
          <li><strong>Checks eligibility:</strong> Ensures only one instance runs the job.</li>
          <li><strong>Processes data:</strong> Queries Athena and updates the database using <Highlight>ReadDataFromAthena</Highlight>.</li>
          <li><strong>Failsafe Mechanism:</strong> If the current instance stops, another takes over using <Highlight>CanExecute</Highlight> method.</li>
        </ul>
      </How>

      <Summary>
        <p>
          In a recent client project, we needed to query AWS Athena every hour to fetch analytics data for a dashboard. Instead of using HangFire or 
          lambda, we opted for a Hosted Service in our Web API, assuming multiple API instances querying Athena simultaneously would not cause issues. 
          However, in production, we encountered frequent AWS Athena Rate Limit Exceptions. Implementing a retry mechanism reduced errors but 
          significantly increased warnings, prompting us to rethink our approach—especially when the query frequency was reduced to 30 minutes.
        </p>

        <p>
          To solve this permanently, we introduced a distributed lock using a database table, ensuring only one instance queries Athena at a time, 
          reducing API calls and costs. Each instance registers itself with a timestamp, and if the current instance fails or scales down, another 
          instance takes over by checking if the last run timestamp is over an hour old. This approach eliminated redundant queries, reduced rate 
          limit issues, and improved system efficiency.
        </p>

        <p>
          <Highlight>Now this idea can be used to add distributed lock to hosted services in any multiple instance scenarios</Highlight>.
        </p>

        <figure>
          <img src="./image/blogs/webapi/using-a-distributed-lock-in-hosted-service-in-asp-net-webapi/complete.png"
              alt="complete" class="[ w-full ]" />
        </figure>
      </Summary>
    </ContentBody>
</Content>