<p>
    We are redirecting you back to the article. If this takes longer, then Please <NavLink href="/blogs/securing-blazor-wasm-with-oauth-and-oidc-using-identity-server" class="[ underline ]" Match="NavLinkMatch.All">click here</NavLink> 
    to go back to the article.
</p>

@code {
    [Inject] private NavigationManager Navigation { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        Navigation.NavigateTo("/blogs/securing-blazor-wasm-with-oauth-and-oidc-using-identity-server");
    }
}