@inject ScopedServiceDemo ScopedService1;
@inject ScopedServiceDemo ScopedService2;

<p>Guid from Scoped Service 1 : @ScopedService1.Id</p>
<p>Guid from Scoped Service 2 : @ScopedService2.Id</p>

<p>Scoped Dependency ScopedService1 Equals ScopedService2 : @(Object.ReferenceEquals(ScopedService1, ScopedService2))</p>