@inject SingletonServiceDemo SingletonService1;
@inject SingletonServiceDemo SingletonService2;

<p>Guid from Singleton Service 1 : @SingletonService1.Id</p>
<p>Guid from Singleton Service 2 : @SingletonService2.Id</p>

<p>Singleton Dependency SingletonService1 Equals SingletonService2 : @(Object.ReferenceEquals(SingletonService1, SingletonService2))</p>