@inject TransientServiceDemo TransientService1;
@inject TransientServiceDemo TransientService2;

<p>Guid from Transient Service 1 : @TransientService1.Id</p>
<p>Guid from Transient Service 2 : @TransientService2.Id</p>

<p>Transient Dependency TransientService1 Equals TransientService2 : @(Object.ReferenceEquals(TransientService1, TransientService2))</p>