@page "/blogs/ai-powered-language-detection-in-net-with-mlnet-and-automl"
@using MLNETDemoComponents
@inherits BasePage

<Content FileName=@nameof(LanguageDetection)>
    <ContentBody>
        <What>
            <p>
                <Highlight>Machine learning (ML)</Highlight> enables computers to make predictions and
                automate decision-making based on data.
                In <Highlight>.NET</Highlight> applications, <Highlight>ML.NET</Highlight>
                provides an easy way to integrate machine learning models. <Highlight>ML.NET</Highlight>
                allows
                developers to train, build, and deploy custom <Highlight>ML</Highlight> models without
                requiring prior <Highlight>ML</Highlight> expertise. It is
                open-source, cross-platform, and works offline, making it ideal for cloud and on-premises applications.
            </p>

            <p>
                In this article, we will explore how to use <Highlight>ML.NET</Highlight> to build a
                language detection model. We will use
                <Highlight>AutoML</Highlight> to train the model and <Highlight>Visual Studio's
                    Model Builder</Highlight> to simplify the process. The resulting model
                can be used to detect the language of a given text, which is useful for applications that process
                multilingual content.
            </p>
        </What>

        <Why>
            <p>
                You don't need <Highlight>machine learning</Highlight> expertise to use <Highlight>
                    Model Builder</Highlight>. All you need is some data, and a problem
                to solve.
            </p>

            <p>
                Traditional programming relies on explicit rules and control flow statements like <Highlight>if
                </Highlight>, <Highlight>else</Highlight>, <Highlight>switch
                </Highlight>,
                <Highlight>foreach</Highlight>, <Highlight>while</Highlight>, etc., which
                makes solving complex problems—like text classification or language
                detection—challenging. <Highlight>ML.NET</Highlight> overcomes this by allowing
                <Highlight>.NET</Highlight> developers to leverage <Highlight>machine learning
                </Highlight>
                without deep <Highlight>ML</Highlight> knowledge. With <Highlight>AutoML
                </Highlight> and <Highlight>Visual Studio's Model Builder</Highlight>, even
                beginners can train and
                deploy models effortlessly. This simplifies <Highlight>AI</Highlight> adoption in
                <Highlight>.NET</Highlight> applications, enabling powerful
                data-driven solutions.
            </p>

            <figure>
                <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/mlnet-and-automl-workflow.png"
                    alt="mlnet-and-automl-workflow" />
            </figure>
        </Why>

        <How>
            <p>
                Now let's learn how to use <Highlight>data classification</Highlight> to detect language
                with help of <Highlight>AutoML</Highlight> and <Highlight>ML.NET</Highlight>
                in a step-by-step manner.
            </p>

            <ol>
                <li>
                    <strong>Install <Highlight>Visual Studio 2022</Highlight>:</strong> Download and
                    install <Highlight>Visual Studio 2022 Community Edition</Highlight>
                    from the official website and make sure to install the extension <Highlight>ML.NET Model
                        Builder 2022</Highlight>.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/install-model-builder-2022-extension.png"
                            alt="install-model-builder-2022-extension" />
                    </figure>
                </li>
                <li>
                    To proceed with tasks and classify text into different languages, we need <Highlight>training
                        data</Highlight>. Since our
                    client deals with <Highlight>multi-locale</Highlight> historically, we have a rich
                    dataset to train. We exported the data as
                    <Highlight>CSV</Highlight> with two columns: the first column is <Highlight>
                        Language</Highlight>, and the second column is <Highlight>Message
                    </Highlight> in that language.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/language-detection-data.png"
                            alt="language-detection-data" />
                    </figure>
                </li>
                <li>
                    To create a <Highlight>Model Builder</Highlight> config file, right-click the project
                    in <Highlight>Solution Explorer</Highlight> and select <Highlight>Add > Machine
                        Learning Model</Highlight>. Name the file <Highlight>
                        LanguageDetectionModel.mbconfig</Highlight>, then open and configure it.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/add-machine-learning-model.png"
                            alt="add-machine-learning-model" />
                    </figure>

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/create-machine-learning-model.png"
                            alt="create-machine-learning-model" />
                    </figure>
                </li>
                <li>
                    To select a scenario, choose <Highlight>Data Classification</Highlight> and use the
                    <Highlight>Local CPU</Highlight> as the training environment.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/select-data-classification.png"
                            alt="select-data-classification" />
                    </figure>

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/select-local-cpu.png"
                            alt="select-local-cpu" />
                    </figure>
                </li>
                <li>
                    To specify the <Highlight>training data</Highlight>, select <Highlight>file
                    </Highlight> as the data source and choose <Highlight>language-messages.csv
                    </Highlight>.
                    Ensure the correct column headers are set, with <Highlight>Language</Highlight> as the
                    <Highlight>label</Highlight> and <Highlight>Message</Highlight> as the
                    <Highlight>feature</Highlight>.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/select-data-file.png"
                            alt="select-data-file" />
                    </figure>

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/fix-headers-in-advanced-options.png"
                            alt="fix-headers-in-advanced-options" />
                    </figure>
                </li>
                <li>
                    To train the model, click <Highlight>Start Training</Highlight>, set the training
                    duration, and check the model's performance.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/start-training.png"
                            alt="start-training" />
                    </figure>

                    Now you can see the <Highlight>best model getting auto selected and macro accuracy getting
                        displayed</Highlight>. The
                    <Highlight>closer the value to 1, the better the model</Highlight>. This again depends
                    the on the quality of data you
                    provide. Meanwhile you can also have a look at <Highlight>output logs</Highlight> to
                    see what is happening.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/output-logs.png"
                            alt="output-logs" />
                    </figure>

                    This will also <Highlight>update the csproj</Highlight> file with necessary Nuget
                    packages and references.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/csproject-update.png"
                            alt="csproject-update" />
                    </figure>
                </li>
                <li>
                    To evaluate the model, enter a sample message, click <Highlight>Predict</Highlight> to
                    check accuracy, and adjust training if needed.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/evaluate-model.png"
                            alt="evaluate-model" />
                    </figure>

                    You can see that it has <Highlight>detected the entered message as English with 25%
                    </Highlight> confidence compared to
                    other languages. This again depends on the data you provide for training.
                </li>
                <li>
                    To consume the model, copy the generated <Highlight>C#</Highlight> code, integrate it
                    into the <Highlight>Console App</Highlight> or your <Highlight>.NET App
                    </Highlight>, and use the <Highlight>Predict</Highlight> method for language
                    detection.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/consuming-model.png"
                            alt="consuming-model" />
                    </figure>

                    You can see that it has <Highlight>detected the entered message as English with 25%
                    </Highlight> confidence compared to
                    other languages. This again depends on the data you provide for training.
                </li>
                <li>
                    The final solution and code looks as follows.

                    <figure>
                        <img src="./image/blogs/mlnet/ai-powered-language-detection-in-net-with-mlnet-and-automl/solution-structure.png"
                            alt="solution-structure" />
                    </figure>

                    <CodeSnippet CssClass="language-razor">
@@using Microsoft.ML
@@using Microsoft.ML.Data
@@inject HttpClient _client;

&lt;textarea rows="5" 
          spellcheck="false" 
          placeholder="Enter your text here" 
          @@bind="inputText" 
          @@bind:event="oninput" 
          @@bind:after="TextChanged" /&gt;

&lt;p&gt;Detected Language: @@detectedLanguage&lt;/p&gt;

@@if (allLabels is not null)
{
    &lt;ul&gt;
        @@foreach (var label in allLabels)
        {
            &lt;li&gt;@@label.Key - @@($"{Math.Round(label.Value, 2):P2}")&lt;/li&gt;
        }
    &lt;/ul&gt;
}

@@code 
{
    private MLContext? _context;
    private PredictionEngine&lt;ModelInput,ModelOutput&gt;? _predictionEngine;
    private string? inputText;
    private string? detectedLanguage = "None";
    private IOrderedEnumerable&lt;KeyValuePair&lt;string, float&gt;&gt;? allLabels;

    override protected async Task OnInitializedAsync()
    {
        var model = await _client.GetStreamAsync("model/languagedetectionmodel.zip");
        _context = new MLContext();
        var transformer = _context.Model.Load(model, out DataViewSchema schema);
        _predictionEngine = _context.Model.CreatePredictionEngine&lt;ModelInput,ModelOutput&gt;(transformer);
    }

    private void TextChanged()
    {
        if (inputText is null or "")
        {
            detectedLanguage = "None";
            allLabels = null;
            return;
        }

        var input = new ModelInput
        {
            Message = inputText
        };

        var output = _predictionEngine!.Predict(input);

        detectedLanguage = output.PredictedLabel;

        allLabels = PredictAllLabels(input);
    }

    private IOrderedEnumerable&lt;KeyValuePair&lt;string, float&gt;&gt; PredictAllLabels(ModelInput input)
    {
        var result = _predictionEngine!.Predict(input);
        return GetSortedScoresWithLabels(result);
    }

    private IOrderedEnumerable&lt;KeyValuePair&lt;string, float&gt;&gt; GetSortedScoresWithLabels(ModelOutput result)
    {
        var unlabeledScores = result.Score;
        var labelNames = GetLabels(result);

        Dictionary&lt;string, float&gt; labledScores = new Dictionary&lt;string, float&gt;();
        for (int i = 0; i &lt; labelNames.Count(); i++)
        {
            // Map the names to the predicted result score array
            var labelName = labelNames.ElementAt(i);
            labledScores.Add(labelName.ToString(), unlabeledScores[i]);
        }

        return labledScores.OrderByDescending(c =&gt; c.Value);
    }

    private IEnumerable&lt;string&gt; GetLabels(ModelOutput result)
    {
        var schema = _predictionEngine!.OutputSchema;

        var labelColumn = schema.GetColumnOrNull("Language");
        if (labelColumn == null)
        {
            throw new Exception("Language column not found. Make sure the name searched for matches the name in the schema.");
        }

        // Key values contains an ordered array of the possible labels. This allows us to map the results to the correct label value.
        var keyNames = new VBuffer&lt;ReadOnlyMemory&lt;char&gt;&gt;();
        labelColumn.Value.GetKeyValues(ref keyNames);
        return keyNames.DenseValues().Select(x =&gt; x.ToString());
    }

    public class ModelInput
    {
        [LoadColumn(0)]
        [ColumnName(@@"Language")]
        public string Language { get; set; } = string.Empty;

        [LoadColumn(1)]
        [ColumnName(@@"Message")]
        public string Message { get; set; } = string.Empty;

    }

    public class ModelOutput
    {
        [ColumnName(@@"Language")]
        public uint Language { get; set; }

        [ColumnName(@@"Message")]
        public float[] Message { get; set; } = [];

        [ColumnName(@@"Features")]
        public float[] Features { get; set; } = [];

        [ColumnName(@@"PredictedLabel")]
        public string PredictedLabel { get; set; } = string.Empty;

        [ColumnName(@@"Score")]
        public float[] Score { get; set; } = [];

    }
}
                    </CodeSnippet>
                </li>
            </ol>

            <DemoSnippet Title="Language Detection Demo">
                <p>
                    Let's try Language Detection Demo, Start typing to see the language getting detected in screen.
                </p>
                <LanguageDetectionDemo></LanguageDetectionDemo>
            </DemoSnippet>
        </How>

        <Summary>
            <p>
                In this article, we learned how to use <Highlight>ML.NET</Highlight> and
                <Highlight>AutoML</Highlight> to build a language detection model. We used
                <Highlight>Visual Studio's Model Builder</Highlight> to simplify the process, making it
                easy for beginners to train and deploy
                models. The resulting model can <Highlight>detect the language of a given text</Highlight>
                , which is useful for applications
                that process multilingual content.
            </p>
        </Summary>
    </ContentBody>
</Content>