@page "/blogs/blazor-wasm-app-settings"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(AppSettings) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article, let's learn about how to read configuration from <Highlight>app settings</Highlight> in Blazor WASM application.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/blazor-wasm-dark-theme-and-light-theme">Blazor WASM Dark Theme and Light Theme</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            App Settings / Configuration (<Highlight>appsettings.json</Highlight>) located inside <Highlight>wwwroot</Highlight> is 
            used to store application related <Highlight>configuration</Highlight> in <abbr title="Java Script Object Notation">JSON</abbr> format 
            and load them in runtime based on environment to read keys/id for consuming any external services or urls for external services or conditionally 
            render UI or change code flow, etc.
        </p>

        <p>
            Blazor WebAssembly loads configuration from the following app settings files by default:
        </p>

        <ul>
            <li><Highlight>wwwroot/appsettings.json</Highlight></li>
            <li><Highlight>wwwroot/appsettings.{ENVIRONMENT}.json</Highlight>, where the {ENVIRONMENT} placeholder is the app's runtime environment</li>
        </ul>

        <p>
            Please note that <Highlight>appsettings.json</Highlight> in blazor wasm is located inside <Highlight>wwwroot</Highlight>. 
            Which means it can be read by anyone on client side. Hence don't store any sensitive information in it.
        </p>
        </Why>

        <How>
            <h4 id="how-to-read-appsettings">How to read App Settings?</h4>


        <p>
            To read the settings / configuration from <Highlight>appsettings.json</Highlight> you need to follow the below steps,
        </p>

        <ol>
            <li>Inject <Highlight>@@inject IConfiguration configuration</Highlight></li>
            <li>Use injected configuration object to read settings</li>
            <li>
                <ul>
                    <li>Use <Highlight>configuration.GetValue&lt;string&gt;("{KEY}")</Highlight> to read simple string value</li>
                    <li>Use <Highlight>configuration.GetValue&lt;bool&gt;("{KEY}")</Highlight> to read simple boolean value</li>
                    <li>Use <Highlight>configuration.GetSection("{KEY}")</Highlight> to read section as object</li>
                </ul>
            </li>
        </ol>

        <p>
            Configuration in app settings files are loaded by default. In I ❤️ .NET, a base url, authors value is stored in an app settings file and loaded by 
            the Blazor framework automatically. The value is read by a component.
        </p>

        <CodeSnippet CssClass="language-json">
{
  "authors": {
    "Abdul Rahman": "https://www.linkedin.com/in/thebhai",
    "Regina Sharon": "https://www.linkedin.com/in/regina-sharon"
  },
  "baseUrl": "https://www.ilovedotnet.org/"
}
        </CodeSnippet>

        

        <DemoSnippet Title="Read Settings From Configuration">
            <p class="[ text-black ] [ dark:text-white ]">
                <b>
                    Scenario - Let's try reading configuration from I ❤️ .NET <Highlight>appsettings.json</Highlight>
                </b>
            </p>
            <AppSettingsConfiguration></AppSettingsConfiguration>
        </DemoSnippet>
            <h4 id="appsettings-in-release-configuration">App Settings in Release Configuration</h4>


        <p>
            Generally configuration from <Highlight>appsettings.json</Highlight> will be used in production environment. We cannot have all same 
            configuration in all environment. So we can override configuration for different environment using 
            <Highlight>appsettings.{ENVIRONMENT}.json</Highlight>, where the {ENVIRONMENT} placeholder is the app's runtime environment. For 
            example, in I ❤️ .NET <Highlight>baseUrl</Highlight> in development environment will be different from production environment. So in 
            <Highlight>appsettings.development.json</Highlight> will have different 
            <Highlight>"baseUrl": "https://localhost:7176/"</Highlight> value.
        </p>

        <p>
            Other common use case would be, we have an API Key for consuming external service and that endpoint might have rate limiting mechanism in place. 
            If we use the same production Key in development, then we might end up exhausting our consumption limit. To avoid this we can use dummy keys or 
            different keys in development environment by overriding the key value in <Highlight>appsettings.development.json</Highlight>.
        </p>

        <p>
            Now that we have learned how to use app settings in blazor wasm. We are still left with one more stuff. It is not necessary to bundle all 
            <Highlight>appsettings.{ENVIRONMENT}.json</Highlight> to production. This can be safely removed in 
            <Highlight>Release</Highlight> configuration using the below settings in <Highlight>.csproj</Highlight> file.
        </p>

        <CodeSnippet CssClass="language-xml">
&lt;ItemGroup Condition="'$(Configuration)'=='Release'"&gt;
  &lt;Content Remove="wwwroot\appsettings.Development.json" /&gt;
  &lt;None Include="wwwroot\appsettings.Development.json" /&gt;
&lt;/ItemGroup&gt;
        </CodeSnippet>
            <h4 id="multiple-appsettings-json-configuration">What if we have multiple <Highlight>appsettings.{ENVIRONMENT}.json</Highlight>?</h4>


        <p>
            There are scenarios where we might have multiple <Highlight>appsettings.{ENVIRONMENT}.json</Highlight> files. For example, I have a 
            standalone blazor wasm application and it has the following five environments,
        </p>

        <ul>
            <li>Local</li>
            <li>Offline</li>
            <li>Docker</li>
            <li>Development</li>
            <li>Production</li>
        </ul>

        <p>
            In this case, we can set the respective environment in <Highlight>Blazor.start()</Highlight> in 
            <Highlight>index.html</Highlight> file. And make sure respective <Highlight>appsettings.{ENVIRONMENT}.json</Highlight> is 
            bundled in final output. Blazor WASM will automatically load the respective <Highlight>appsettings.{ENVIRONMENT}.json</Highlight> 
            based on the environment set in <Highlight>Blazor.start()</Highlight>. This can be verified by inspecting the network tab of the 
            browser developer tools. To exclude the unnecessary, we can do some small rejex changes in <Highlight>.csproj</Highlight> file in 
            respective pipelines.
        </p>

        <CodeSnippet CssClass="language-html">
&lt;script src="_framework/blazor.webassembly.js" autostart="false"&gt;&lt;/script&gt;
&lt;script&gt;
    if (window.location.hostname === "app.ilovedotnet.org") {
        Blazor.start({
            environment: "Production"
        });
    }
    else if (window.location.hostname === "app.dev.ilovedotnet.org") {
        Blazor.start({
            environment: "Development"
        });
    }
    else if (window.location.hostname === "www-docker.ilovedotnet.org") {
        Blazor.start({
            environment: "Docker"
        });
    }
    else {
        Blazor.start({
            environment: window.location.port === "5001" ? "Local" : "Offline"
        });
    }
&lt;/script&gt;
        </CodeSnippet>
        </How>

        <Summary>


        <p>
            I'm happy that you have reached to the end of this article. Here we learnt what is <Highlight>appsettings</Highlight> and why do we need 
            them. We also saw how to read values from <Highlight>appsettings</Highlight> and how to <Highlight>override</Highlight> 
            values for specific environment and we saw how to <Highlight>bundle</Highlight> appsettings for 
            <Highlight>release</Highlight> configuration in production. Finally we also learnt how to set Blazor environment in using 
            <Highlight>Blazor.start()</Highlight>. Thank you for taking your time to read here. See you in next article.
        </p>
        </Summary>
    </ContentBody>
</Content>