@page "/blogs/blazor-wasm-virtualization"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(BlazorVirtualization) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article, let's learn about <Highlight>Virtualization</Highlight> and how to use <Highlight>Virtualize</Highlight> 
            component to load huge data in Blazor WASM application.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/blazor-wasm-app-settings">Blazor WASM App Settings</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            <Highlight>Loading a large dataset or displaying data</Highlight> in a grid is a more common way to list data in many applications. 
            <Highlight>Virtualization</Highlight> is a technique for limiting UI rendering to just the parts that are currently visible in UI. 
            This will improve the rendering performance and gives better user experience. For example, virtualization is helpful when the app must render a long list 
            of items and only a subset of items is required to be visible at any given time.
        </p>
        </Why>

        <How>
            <h4 id="when-virtualization">When Virtualization?</h4>


        <p>
            Use the <Highlight>Virtualize</Highlight> component when:
        </p>

        <ul>
            <li>Rendering a set of data <Highlight>items in a loop</Highlight>. For example, loading Recommended Content in I ❤️ .NET</li>
            <li>Most of the <Highlight>items aren't visible due to scrolling</Highlight>.</li>
            <li>The rendered <Highlight>items are the same size</Highlight>.</li>
        </ul>

        <p>
            When the user scrolls to a certain point in the <Highlight>Virtualize</Highlight> component's list of items, the component 
            calculates the visible items to show. Unseen items aren't rendered.
        </p>
            <h4 id="without-virtualization">Without Virtualization</h4>

        
        <p>
            Without virtualization, a typical list data might use a C# <Highlight>foreach</Highlight> loop to render each item in a list. 
            In the following example:
        </p>

        <ul>
            <li><Highlight>tableOfContents.Contents</Highlight> is a collection of contents.</li>
            <li>The <Highlight>VirtualizationContent</Highlight> displays details about each content.</li>
            <li>
                The <Highlight>@@key directive attribute</Highlight> preserves the relationship of each 
                <Highlight>VirtualizationContent</Highlight> component to its rendered content by the content's ContentId.
            </li>
        </ul>
        
        <CodeSnippet CssClass="language-razor">
&lt;div style="height:500px;overflow-y:scroll"&gt;
    @@foreach (var content in tableOfContents.Contents.OrderByDescending(content =&gt; content.CreatedOn).ToList())
    {
        &lt;VirtualizationContent Details="content"&gt;&lt;/VirtualizationContent&gt;
    }
&lt;/div&gt;
        </CodeSnippet>

        
        
        <DemoSnippet Title="Without Virtualization Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                To demonstrate how list renders without virtualization, let's create a list of contents using <Highlight>foreach</Highlight> 
                loop.
            </p>
            <br />
            <div>
                <VirtualizationDemo EnableVirtualization="false"></VirtualizationDemo>
            </div>
        </DemoSnippet>
            <h4 id="with-virtualization">With Virtualization</h4>


        <p>
            If the collection contains thousands of contents, rendering the contents takes a long time and users experience a noticeable UI lag. Most of the 
            contents aren't seen because they fall outside of the height of the <Highlight>&lt;div&gt;</Highlight> element.
        </p>

        <p>
            Instead of rendering the entire list of contents at once, replace the <Highlight>foreach</Highlight> loop in the preceding example 
            with the <Highlight>Virtualize</Highlight> component:
        </p>

        <ul>
            <li>
                Specify <Highlight>tableOfContents.Contents</Highlight> as a fixed item source to 
                <Highlight>Virtualize&lt;TItem&gt;.Items</Highlight>. Only the currently visible contents are rendered by the 
                <Highlight>Virtualize</Highlight> component.
            </li>
            <li>
                Specify a context for each content with the <Highlight>Context</Highlight> parameter. In the following example, 
                <Highlight>content</Highlight> is used as the context, which provides access to each content's details.
            </li>
        </ul>
        
        <CodeSnippet CssClass="language-razor">
&lt;div style="height:500px;overflow-y:scroll"&gt;
    &lt;Virtualize Items="@@tableOfContents.Contents.OrderByDescending(content =&gt; content.CreatedOn).ToList()" Context="content"&gt;
        &lt;VirtualizationContent @@key="@@($"{content.Type}-{content.Order}")" Details="content"&gt;&lt;/VirtualizationContent&gt;
    &lt;/Virtualize&gt;
&lt;/div&gt;
        </CodeSnippet>

        

        <DemoSnippet Title="With Virtualization Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                To demonstrate how list renders with virtualization, let's create a list of contents using <Highlight>Virtualize</Highlight> 
                Component.
            </p>
            <br />
            <div>
                <VirtualizationDemo EnableVirtualization="true"></VirtualizationDemo>
            </div>
        </DemoSnippet>

        <p>
            If a context isn't specified with the <Highlight>Context</Highlight> parameter, use the value of 
            <Highlight>context</Highlight> in the item content template to access each contents's details:
        </p>
            <h4 id="virtualize-component">Virtualize Component</h4>


        <p>The <Highlight>Virtualize</Highlight> component:</p>
        
        <ul>
            <li><Highlight>Calculates the number of items to render</Highlight> based on the height of the container and the size of the rendered items.</li>
            <li><Highlight>Recalculates and rerenders the items</Highlight> as the user scrolls.</li>
            <li><Highlight>Only fetches the slice of records from an external API that correspond to the current visible region</Highlight>, instead of downloading all of the data from the collection.</li>
        </ul>

        <p>
            The item content for the <Highlight>Virtualize</Highlight> component can include:
        </p>

        <ul>
            <li><Highlight>Plain HTML and Razor code</Highlight>, as the preceding example shows.</li>
            <li>One or more <Highlight>Razor components</Highlight>.</li>
            <li>A mix of <Highlight>HTML/Razor and Razor components</Highlight>.</li>
        </ul>
            <h4 id="item-provider-delegate">Item provider delegate</h4>


        <p>
            If you don't want to load all of the items into memory, you can specify an items provider delegate method to the component's 
            <Highlight>Virtualize&lt;TItem&gt;.ItemsProvider</Highlight> parameter that asynchronously retrieves the requested items on demand. 
            In the following example, the <Highlight>LoadContents</Highlight> method provides the items to the 
            <Highlight>Virtualize</Highlight> component:
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;Virtualize Context="content" ItemsProvider="@@LoadContents"&gt;
    &lt;VirtualizationContent @@key="@@($"{content.Type}-{content.Order}")" Details="content"&gt;&lt;/VirtualizationContent&gt;
&lt;/Virtualize&gt;

@@code {
  private async ValueTask&lt;ItemsProviderResult&lt;Content&gt;&gt; LoadContents(ItemsProviderRequest request)
  {
      var numContents = Math.Min(request.Count, totalContents - request.StartIndex);
      var contents = await ContentsService.GetContentsAsync(request.StartIndex, 
          numContents, request.CancellationToken);

      return new ItemsProviderResult&lt;Content&gt;(contents, totalContents);
  }
}
        </CodeSnippet>

        

        <p>
            The items provider receives an <Highlight>ItemsProviderRequest</Highlight>, which specifies the required number of items starting 
            at a specific start index. The items provider then retrieves the requested items from a database or other service and returns them as an 
            <Highlight>ItemsProviderResult&lt;TItem&gt;</Highlight> along with a count of the total items. The items provider can choose to 
            retrieve the items with each request or cache them so that they're readily available.
        </p>
        
        <p>
            A <Highlight>Virtualize</Highlight> component can only accept <strong>one item source</strong> from its parameters, so don't attempt 
            to simultaneously use an items provider and assign a collection to Items. If both are assigned, an 
            <Highlight>InvalidOperationException</Highlight> is thrown when the component's parameters are set at runtime.
        </p>
            <h4 id="placeholder">Placeholder</h4>


        <p>
            Because requesting items from a remote data source might take some time, you have the option to render a <Highlight>placeholder</Highlight> 
            with item content:
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;Virtualize Context="content" ItemsProvider="@@LoadContents"&gt;
  &lt;ItemContent&gt;
    &lt;VirtualizationContent @@key="@@($"{content.Type}-{content.Order}")" Details="content"&gt;&lt;/VirtualizationContent&gt;
  &lt;/ItemContent&gt;
  &lt;Placeholder&gt;
    &lt;p&gt;
      Loading&amp;hellip;
    &lt;/p&gt;
  &lt;/Placeholder&gt;  
&lt;/Virtualize&gt;

@@code {
  private async ValueTask&lt;ItemsProviderResult&lt;Content&gt;&gt; LoadContents(ItemsProviderRequest request)
  {
      var numContents = Math.Min(request.Count, totalContents - request.StartIndex);
      var contents = await ContentsService.GetContentsAsync(request.StartIndex, 
          numContents, request.CancellationToken);

      return new ItemsProviderResult&lt;Content&gt;(contents, totalContents);
  }
}
        </CodeSnippet>

        <ul>
            <li>
                Use a <Highlight>Placeholder (&lt;Placeholder&gt;...&lt;/Placeholder&gt;)</Highlight> to display content until the item data 
                is available.
            </li>
            <li>Use <Highlight>Virtualize&lt;TItem&gt;.ItemContent</Highlight> to set the item template for the list.</li>
        </ul>
            <h4 id="item-size">Item size</h4>


        <p>
            The height of each item in pixels can be set with <Highlight>Virtualize&lt;TItem&gt;.ItemSize</Highlight> (default: 50). By default, 
            the <Highlight>Virtualize</Highlight> component measures the rendering size (height) of individual items after the initial render 
            occurs. Use <Highlight>ItemSize</Highlight> to provide an exact item size in advance to assist with accurate initial render performance 
            and to ensure the correct scroll position for page reloads. If the default ItemSize causes some items to render outside of the currently visible view, 
            a second re-render is triggered. To correctly maintain the browser's scroll position in a virtualized list, the initial render must be correct. If not, 
            users might view the wrong items. The following example changes the height of each item from the default of 50 pixels to 25 pixels:
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;Virtualize Items="@@tableOfContents.Contents" Context="content" ItemSize="25"&gt;
    ...
&lt;/Virtualize&gt;
        </CodeSnippet>
            <h4 id="overscan-count">Overscan count</h4>

        
        <p>
            <Highlight>Virtualize&lt;TItem&gt;.OverscanCount</Highlight> determines and controls how many additional items are rendered before 
            and after the visible region. This setting helps to reduce the frequency of rendering during scrolling. However, higher values result in more 
            elements rendered in the page (default: 3). The following example changes the overscan count from the default of three items to four items:
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;Virtualize Items="@@tableOfContents.Contents" Context="content" OverscanCount="4"&gt;
    ...
&lt;/Virtualize&gt;
        </CodeSnippet>
            <h4 id="statechanges">Statechanges</h4>


        <p>
            When making changes to items rendered by the <Highlight>Virtualize</Highlight> component, call 
            <Highlight>StateHasChanged</Highlight> to force re-evaluation and rerendering of the component.
        </p>
        </How>

        <Summary>


        <p>
            In this article, we learned how to use <Highlight>Virtualize</Highlight> component to <Highlight>load huge data</Highlight> 
            without compromising on performance and user experience. We also learned about <Highlight>Item provider delegate</Highlight>, 
            <Highlight>Placeholder</Highlight>, <Highlight>Item size</Highlight> and <Highlight>Overscan count</Highlight>. 
            The live in browser demo should have helped you to see what is happening in realtime while you scroll.
        </p>
        </Summary>
    </ContentBody>
</Content>