@page "/blogs/blazor-wasm-communication-between-components"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(CommunicationBetweenComponents) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article, let's learn about how to <Highlight>communicate</Highlight> between components in Blazor WASM application.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/blazor-wasm-event-handling-and-event-arguments">Blazor WASM Event Handling And Event Arguments</NavLink>.
        </p>
        </What>

        <Why>

        <p>
            In Blazor WASM, components are the fundamental building blocks of the UI. Complex applications are composed of many components that need to share
            data and coordinate state. Without a structured way to pass information between components, maintaining consistency across the UI becomes difficult
            and error-prone.
        </p>

        <p>
            Blazor provides several built-in mechanisms for component communication, each suited to different scenarios. Understanding when to use
            <Highlight>Component Parameters</Highlight>, <Highlight>Cascading Values</Highlight>, <Highlight>Event Callbacks</Highlight>,
            and <Highlight>State Containers</Highlight> is key to building maintainable Blazor applications.
        </p>

        <p>
            Choosing the right communication pattern keeps your component tree decoupled, your data flow predictable, and your application easy to test and extend.
        </p>
        </Why>

        <How>
            <h4 id="component-parameters">Component Parameters</h4>


        <p>
            The simple and straight forward way is by passing values as <Highlight>Component Parameters</Highlight>. Component parameters 
            pass data to components and are defined using <Highlight>public C# properties</Highlight> on the component class with 
            the <Highlight>[Parameter]</Highlight> attribute.
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;h4&gt;Title: &lt;b&gt;@@Title&lt;/b&gt;&lt;/h4&gt;

&lt;p&gt;Description: &lt;b&gt;@@Description&lt;/b&gt;&lt;/p&gt;

@@code {
    [Parameter] public string? Title { get; set; }
    [Parameter] public string? Description { get; set; }
}
        </CodeSnippet>

        

        <DemoSnippet Title="Component Parameters Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                In this example you can pass <Highlight>Title</Highlight> and <Highlight>Descripiton</Highlight> to component 
                using <Highlight>Component Parameters</Highlight>.
            </p>
            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Add <Highlight>[Parameter]</Highlight> attribute to component property.</li>
                <li>Pass data to component explicitly or assign a variable from ancestor or parent component.</li>
            </ol>
            <br />
            <div>
                <ComponentParameterDemo Title="Component Parameter" Description="Communication using Component Parameter"></ComponentParameterDemo>
            </div>
        </DemoSnippet>
            <h4 id="cascading-values-and-parameters">Cascading Values and Parameters</h4>


        <p>
            <Highlight>Cascading values and parameters</Highlight> provide a convenient way to flow data down a component hierarchy from an 
            ancestor component or parent component to any number of descendent components or child components. Unlike <Highlight>Component parameters</Highlight>, 
            cascading values and parameters don't require an attribute assignment for each descendent component or child component where the data is consumed. 
            Cascading values and parameters also allow components to coordinate with each other across a component hierarchy.
        </p>

        <CodeSnippet CssClass="language-razor">
//App.Razor
&lt;CascadingValue Value="SmallDevice"&gt;
  &lt;Router ..&gt;
    ..
  &lt;/Router&gt;
&lt;/CascadingValue&gt;  

@@code {
  private bool SmallDevice = true;
}

//CascadingDemo.razor
&lt;p&gt;Viewing I ❤️ .NET On Mobile Device? : @@(SmallDevice ? "Yes" : "No")&lt;/p&gt;

@@code {
    [CascadingParameter] public bool SmallDevice { get; set; }
}
        </CodeSnippet>

        
        
        <DemoSnippet Title="Cascading Values and Parameters Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                In this example you can get <Highlight>Cascading Value</Highlight> from ancestor component or parent component. The following 
                component binds the <Highlight>SmallDevice</Highlight> cascading value from <Highlight>App.razor</Highlight> to a 
                cascading parameter, optionally using the same name of <Highlight>SmallDevice</Highlight>. The parameter is used by 
                I ❤️ DotNet to identify the device.
            </p>
            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Pass <Highlight>&lt;CascadingValue&gt; Value="SmallDevice"</Highlight> from ancestor or parent component</li>
                <li>Add <Highlight>[CascadingParameter]</Highlight> attribute to component property and give the same name to property.</li>
            </ol>
            <br />
            <div>
                <CascadingValuesAndParametersDemo></CascadingValuesAndParametersDemo>
            </div>
        </DemoSnippet>
            <h4 id="event-callbacks">Event Callbacks</h4>


        <p>
            <Highlight>EventCallback</Highlight> and <Highlight>EventCallback&lt;T&gt;</Highlight> are used to pass data from child 
            component to parent component upon a certain event like button click. We can also assign synchronous or asynchronous methods and communicate to 
            parent component using event callbacks along with data.
        </p>

        <CodeSnippet CssClass="language-razor">
//Child.razor
&lt;button @@onclick="@@(() =&gt; OnClick.InvokeAsync("Hello from Child Component"))"&gt;Click to get message from child component&lt;/button&gt;

@@code {
    [Parameter] public EventCallback&lt;string&gt; OnClick { get; set; }
}

//Parent.razor
&lt;EventCallbackChildDemo OnClick="ClickHandler"&gt;&lt;/EventCallbackChildDemo&gt;

&lt;p&gt;Message: &lt;b&gt;@@message&lt;/b&gt;&lt;/p&gt;

@@code {
    string message = "Hello from Parent Component";

    void ClickHandler(string newMessage)
    {
        message = newMessage;
    }
}
        </CodeSnippet>

        

        <DemoSnippet Title="Event Callbacks Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                In this example you can click on button in Child Component and this will invoke <Highlight>OnClick EventCallback&lt;string&gt;</Highlight> 
                from child component and pass the <Highlight>message</Highlight> from child component to parent component.
            </p>
            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>Add <Highlight>[Parameter] public EventCallback&lt;string&gt; OnClick { get; set; }</Highlight> to child component.</li>
                <li>Then on any event invoke <Highlight>OnClick.InvokeAsync("Hello from Child Component")</Highlight> from child component.</li>
                <li>
                    Render <Highlight>&lt;EventCallbackChildDemo OnClick="ClickHandler"&gt;&lt;/EventCallbackChildDemo&gt;</Highlight> from 
                    parent component and bind <Highlight>ClickHandler</Highlight>.
                </li>
                <li>Now click on button from Child Component.</li>
            </ol>
            <br />
            <div>
                <EventCallbackParentDemo></EventCallbackParentDemo>
            </div>
        </DemoSnippet>
            <h4 id="state-container">State Container</h4>


        <p>
            This last method is the complex way to communicate between many components across the whole application. We need to register this state container 
            as <Highlight>Scoped</Highlight> or <Highlight>Singleton</Highlight> service and <Highlight>inject</Highlight> 
            the same and use it to store and pass data between components on any event.
        </p>

        <CodeSnippet CssClass="language-razor">
//AppStateDemo.cs
public class AppStateDemo
{
    public event Action OnChange = default!;
    public readonly List&lt;string&gt; messages1 = new();
    public readonly List&lt;string&gt; messages2 = new();

    public void SendMessageToChat1(string message)
    {
        messages1.Add(message);
        NotifyStateChanged();
    }

    public void SendMessageToChat2(string message) 
    {
        messages2.Add(message);
        NotifyStateChanged();
    }
    
    private void NotifyStateChanged() =&gt; OnChange?.Invoke();
}

//Chat1Demo.razor
@@inject AppStateDemo AppState;
@@implements IDisposable;

@@foreach (var message in AppState.messages1)
{
    &lt;p&gt;@@message&lt;/p&gt;
}

&lt;button @@onclick="SendMessage"&gt;Send Message to chat 2&lt;/button&gt;

@@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    void SendMessage()
    {
        AppState.SendMessageToChat2("Red");
    }
    
    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}

//Chat2Demo.razor
@@inject AppStateDemo AppState;
@@implements IDisposable;

@@foreach (var message in AppState.messages2)
{
    &lt;p&gt;@@message&lt;/p&gt;
}

&lt;button @@onclick="SendMessage"&gt;Send Message to chat 1&lt;/button&gt;

@@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    void SendMessage()
    {
        AppState.SendMessageToChat1("Red");
    }
    
    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}

//StateContainer.razor
&lt;Chat1Demo&gt;&lt;/Chat1Demo&gt;
&lt;Chat2Demo&gt;&lt;/Chat2Demo&gt;

@@code {
}

//Program.cs
services.AddScoped&lt;AppStateDemo&gt;();
        </CodeSnippet>

        

        <DemoSnippet Title="State Container Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                In this example you can see the usage of <Highlight>State Container - AppStateDemo</Highlight> used to communicate between two 
                components.
            </p>
            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>
                    Create a <Highlight>AppStateDemo.cs</Highlight> class with <Highlight>event</Highlight> and 
                    <Highlight>Action</Highlight> and methods to notify changes. This class stores messages and there is also an 
                    <Highlight>OnChange</Highlight> event which will be needed by components to store message.
                </li>
                <li>
                    Register <Highlight>services.AddScoped&lt;AppStateDemo&gt;();</Highlight> in <Highlight>Program.cs</Highlight> 
                    as <Highlight>Scoped</Highlight> or <Highlight>Singleton</Highlight> service.
                </li>
                <li>
                    <Highlight>@@inject AppStateDemo AppStateDemo</Highlight> in chat components to send message on button click.
                </li>
                <li>
                    StateContainer component ties chat component together. Chat component handles <Highlight>OnChange</Highlight> event exposed 
                    by <Highlight>AppStateDemo</Highlight> class. Whenever message is sent <Highlight>StateHasChanged</Highlight> 
                    will be invoked and the chat component will re-render new messages.
                </li>
                <li>
                    Please note that it's important to unsubscribe components <Highlight>StateHasChanged</Highlight> method from 
                    <Highlight>AppStateDemo</Highlight>'s <Highlight>OnChange</Highlight> event using 
                    <Highlight>IDisposable</Highlight> interface else this will introduce a memory leak.
                </li>
            </ol>
            <br />
            <div>
                <StateContainerDemo></StateContainerDemo>
            </div>
        </DemoSnippet>
        </How>

        <Summary>


        <p>
            In this article, we learned how to <Highlight>Communicate</Highlight> between components in blazor WASM application using 4 different 
            techniques. We started with simple straight forward <Highlight>Component Parameters</Highlight> and <Highlight>Cascading Parameters</Highlight> 
            and then moved to <Highlight>EventCallback</Highlight> and finally to <Highlight>State Container</Highlight>. I would 
            recommend to make use of simple straight forward ways unless you need a complex state container.
        </p>
        </Summary>
    </ContentBody>
</Content>