@page "/blogs/blazor-wasm-controlling-head-content"
@inherits BasePage
@inject TableOfContents tableOfContents

<Content FileName=@nameof(ControllingHeadContent) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article, let's learn about how to control <Highlight>head content</Highlight> like <Highlight>page title</Highlight>, 
            <Highlight>meta tags</Highlight> and other <Highlight>script tags</Highlight> in Blazor WASM application.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on 
            <NavLink href="blogs/blazor-wasm-forms-validation">Blazor WASM Forms Validation</NavLink>.
        </p>  

        <p>
            Prior to .NET 6.0 there is no straight forward way to control head content in Blazor WASM application. We need to do some javascript hacks to 
            achieve this. With .NET 6.0, we got a new, easy and simple way to control head content. Now Razor components can modify the HTML 
            <Highlight>&lt;head&gt;</Highlight> element content of a page, including setting the page's title 
            (<Highlight>&lt;title&gt;</Highlight> element) and modifying metadata 
            (<Highlight>&lt;meta&gt;</Highlight> elements).
        </p>
        </What>

        <Why>


        <p>
            With Blazor WASM the responsibility of rendering HTML is on the client side and this brings a new challenge Search Engine Optimization (SEO) and 
            Social Media Optimization (SMO). Search engine bots crawl our sites to list it in the search engine results while Social media bots crawl our sites 
            when we share them on social media which makes the sharing link to look good with eye catching posters or with pages body content.
        </p>

        <p>
            Ofcourse the (&lt;body&gt;) content of our site is more important but (&lt;head&gt;) content gives extra control with &lt;meta&gt; tags for 
            SEO and SMO optimization.
        </p>
        </Why>

        <How>
            <h4 id="steps">Steps</h4>


        <ol>
            <li>Add <Highlight>HeadOutlet</Highlight> Component - <Highlight>builder.RootComponents.Add&lt;HeadOutlet&gt;("head::after");</Highlight> in Program.cs.</li>
            <li>Add <Highlight>PageTitle</Highlight> Component - <Highlight>&lt;PageTitle&gt;Your Page Title&lt;/PageTitle&gt;</Highlight> inside your component or page.</li>
            <li>Add <Highlight>HeadContent</Highlight> Component - <Highlight>&lt;HeadContent&gt;&lt;meta name="description" content="description"&gt;&lt;/HeadContent&gt;</Highlight> inside your component or page.</li>
        </ol>
            <h4 id="headoutlet"><Highlight>HeadOutlet</Highlight> Component</h4>


        <p>
            This is fairly a straight forward step and this will mostly be available and configured already in Program.cs in new Blazor WASM projects. If not 
            all you need to do is to add the following line <Highlight>builder.RootComponents.Add&lt;HeadOutlet&gt;("head::after");</Highlight> 
            in Program.cs.
        </p>

        <p>
            This component takes the responsibilty of appending the content of <Highlight>PageTitle</Highlight> and <Highlight>HeadContent</Highlight> 
            to (&lt;head&gt;) tag using <Highlight>::after</Highlight> pseudo element.
        </p>
            <h4 id="pagetitle"><Highlight>PageTitle</Highlight> Component</h4>


        <p>
            The <Highlight>PageTitle</Highlight> component is used to control page &lt;title&gt; when rendering HTML to a HeadOutlet component. This 
            can be placed anywhere inside component or page in your blazor application.
        </p>
        
        <CodeSnippet CssClass="language-razor">
&lt;PageTitle&gt;@@Title&lt;/PageTitle&gt;

&lt;p&gt;
    &lt;label&gt;
        Try giving new &lt;code&gt;PageTitle&lt;/code&gt;.
        &lt;input @@bind-value="Title" @@bind-value:event="oninput" /&gt;
    &lt;/label&gt;
&lt;/p&gt;

@@code {
    private string Title = "Blazor WASM Controlling Head Content";
}
        </CodeSnippet>

        <DemoSnippet Title="PageTitle Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                This example binds <Highlight>&lt;title&gt;</Highlight> element to <Highlight>PageTitle</Highlight>.
            </p>
            <br />
            <p>
                <label>
                    Try giving new <Highlight>PageTitle</Highlight>.
                    <input class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 border-gray-200 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]" 
                    @bind-value="Title"
                    @bind-value:event="oninput" />
                </label>
            </p>
        </DemoSnippet>
            <h4 id="headcontent"><Highlight>HeadContent</Highlight> Component</h4>


        <p>
            The <Highlight>HeadContent</Highlight> component is similar to <Highlight>PageTitle</Highlight> component but used to 
            append its content to the &lt;head&gt; when rendering HTML to a HeadOutlet component. We can also give &lt;title&gt;inside this component. This 
            can be placed anywhere inside component or page in your blazor application.
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;HeadContent&gt;
    &lt;meta name="Head Content Demo" content="@@description"&gt;
&lt;/HeadContent&gt;

@@code {
    private string description = "Head Content Demo";
}
        </CodeSnippet>

        <DemoSnippet Title="HeadContent Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                This example appends <Highlight>&lt;meta name="Head Content Demo" content="Head Content Demo"&gt;</Highlight> to <Highlight>&lt;head&gt;</Highlight> 
                element. You can inspect this page head to verify this. I have added screenshot for your reference.
            </p>
            <br />
            <HeadContent>
                <meta name="Head Content Demo" content="Head Content Demo">
            </HeadContent>
            <figure>
                <img src="./image/blogs/blazor/wasm/headcontent/head-content-demo-screenshot.png" alt="blazor wasm headcontent demo screenshot" class="[ w-full ]" />
            </figure>
        </DemoSnippet>
            <h4 id="drawbacks">Drawbacks</h4>


        <p>
            Browsers are more forgiving that sometimes they ignore our mistakes. Here is why?
        </p>

        <details open="true">
            <summary>What if we use <Highlight>PageTitle</Highlight> twice?</summary>
            <CodeSnippet CssClass="language-razor">
@@page "/pagetitledemo"

&lt;PageTitle&gt;Page Title 1&lt;/PageTitle&gt;
&lt;PageTitle&gt;Page Title 2&lt;/PageTitle&gt;
            </CodeSnippet>
            <p>
                Blazor will not create two title tags inside of the head of your document. Instead, the last PageTitle component to be rendered will be 
                reflected as the title of your document.
            </p>
        </details>

        <details open="true">
            <summary>What if we give <Highlight>&lt;title&gt;</Highlight> inside <Highlight>HeadContent</Highlight>?</summary>
            <CodeSnippet CssClass="language-razor">
&lt;PageTitle&gt;Page title from PageTitle&lt;/PageTitle&gt;
&lt;HeadContent&gt;
  &lt;title&gt;Page title from HeadContent&lt;/title&gt;
&lt;/HeadContent&gt;
            </CodeSnippet>
            <p>
                Browser will use second title. But I recommend using <Highlight>PageTitle</Highlight> component for titles as it designed for 
                that and it takes care of creating and updating.
            </p>
        </details>

        <details open="true">
            <summary>What if we have mutiple <Highlight>HeadContent</Highlight>?</summary>
            <CodeSnippet CssClass="language-razor">
@@page "/headcontentdemo"

&lt;HeadContent&gt;
  &lt;meta name="description" content="page description" /&gt;
  &lt;meta name="author" content="Abdul Rahman - I ❤️ .NET"&gt;
&lt;/HeadContent&gt;
&lt;HeadContent&gt;
  &lt;meta name="description" content="another page description" /&gt;
&lt;/HeadContent&gt;
            </CodeSnippet>
            <p>
                Blazor will not merge instead it will replace the contents of last <Highlight>HeadContent</Highlight> and remaining will be lost.
            </p>
        </details>
            <h4 id="alternatives">Alternatives</h4>


        <p>
            We can overcome the above drawbacks with <NavLink href="https://github.com/jsakamoto/Toolbelt.Blazor.HeadElement" target="_blank">Toolbelt.Blazor.HeadElement</NavLink>. 
            This is an awesome Nuget Package which covers some edge cases that are not covered by <Highlight>PageTitle</Highlight> and 
            <Highlight>HeadContent</Highlight> components.
        </p>
            <h4 id="example">Realworld example</h4>


        <p>
            Here is I ❤️ DotNet's HeadContent Configuration - A good Real world example.
        </p>

        <CodeSnippet CssClass="language-razor">
@@inject IConfiguration configuration
@@inject Sitemaps sitemap

&lt;Title&gt;@@Title - I ❤️ DotNet&lt;/Title&gt;

&lt;Meta Property="description" Content="@@Description" /&gt;
&lt;Meta Property="keywords" Content="@@($".NET, DotNet, I Love DotNet, I ❤️ DotNet, Blazor, Blazor (WebAssembly), Blazor Wasm, C#, Entity Framework, LINQ, ML.NET, Web API, TDD, OOPS, Middleware, JWT, Dependency Injection, {string.Join(", ", Keywords)}")" /&gt;
&lt;Meta Property="url" Content="@@($"{BaseUrl}{ContentType}/{Slug}/")" /&gt;
&lt;Meta Property="identifier-URL" Content="@@($"{BaseUrl}{ContentType}/{Slug}/")" /&gt;
&lt;Meta Property="og:site_name" Content="I Love DotNet" /&gt;
&lt;Meta Property="og:type" Content="article" /&gt;
&lt;Meta Property="og:title" Content="@@Title" /&gt;
&lt;Meta Property="og:image" Content="@@($"{BaseUrl}image/brand/mini-logo.png")" /&gt;
&lt;Meta Property="og:image" Content="@@($"{BaseUrl}image/{normalizedPosterPath}/{Slug}.png")" /&gt;
&lt;Meta Property="og:image:alt" Content="DotNet bot with heart and DotNet brand" /&gt;
&lt;Meta Property="og:description" Content="@@Description" /&gt;
&lt;Meta Property="og:url" Content="@@($"{BaseUrl}{ContentType}/{Slug}/")" /&gt;
&lt;Meta Property="twitter:card" Content="summary_large_image" /&gt;
&lt;Meta Property="twitter:title" Content="@@Title" /&gt;
&lt;Meta Property="twitter:image" Content="@@($"{BaseUrl}image/brand/mini-logo.png")" /&gt;
&lt;Meta Property="twitter:image" Content="@@($"{BaseUrl}image/{normalizedPosterPath}/{Slug}.png")" /&gt;
&lt;Meta Property="twitter:image:alt" Content="DotNet bot with heart and DotNet brand" /&gt;
&lt;Meta Property="twitter:description" Content="@@Description" /&gt;
&lt;Meta Property="twitter:url" Content="@@($"{BaseUrl}{ContentType}/{Slug}/")" /&gt;
&lt;Meta Property="article:published_time" Content="@@CreatedOn.ToString("yyyy-MM-ddTHH:mm:ss.fffZ")" /&gt;
&lt;Meta Property="article:modified_time" Content="@@ModifiedOn.ToString("yyyy-MM-ddTHH:mm:ss.fffZ")" /&gt;
&lt;Meta Property="article:tag" Content=".NET" /&gt;
&lt;Meta Property="article:tag" Content="DotNet" /&gt;
&lt;Meta Property="article:tag" Content="I Love DotNet" /&gt;
&lt;Meta Property="article:tag" Content="I ❤️ DotNet" /&gt;
&lt;Meta Property="article:tag" Content="Blazor" /&gt;
&lt;Meta Property="article:tag" Content="Blazor (WebAssembly)" /&gt;
&lt;Meta Property="article:tag" Content="Blazor Wasm" /&gt;
&lt;Meta Property="article:tag" Content="C#" /&gt;
&lt;Meta Property="article:tag" Content="Entity Framework" /&gt;
&lt;Meta Property="article:tag" Content="LINQ" /&gt;
&lt;Meta Property="article:tag" Content="ML.NET" /&gt;
@@foreach(var keyword in Keywords)
{
    &lt;Meta Property="article:tag" Content="@@keyword" /&gt;
}
@@foreach(var sitemap in sitemap.Files)
{
    &lt;Link Rel="sitemap" Href="@@($"{BaseUrl}{sitemap}")" type="application/xml" title="Sitemap" /&gt;   
}
&lt;Link Rel="alternate" Href="@@($"{BaseUrl}atom.xml")" type="application/rss+xml" /&gt;
&lt;Link Rel="alternate" Href="@@($"{BaseUrl}{ContentType}/{Slug}/")" hreflang="en" /&gt;
&lt;Link Rel="alternate" Href="@@($"{BaseUrl}{ContentType}/{Slug}/")" hreflang="x-default" /&gt;
&lt;Link Rel="canonical" Href="@@($"{BaseUrl}{ContentType}/{Slug}/")" /&gt;
&lt;Link Rel="index" Href="@@($"{BaseUrl}{ContentType}/{Slug}/")" title="@@($"{Title} - I ❤️ DotNet")" /&gt;
&lt;HeadContent&gt;
    @@(new MarkupString(
        $$""""
        &lt;script type="application/ld+json"&gt;
        {
            "@@context": "https://schema.org",
            "@@type": "Article",
            "publisher": {
                "@@type": "Organization",
                "name": "I Love DotNet",
                "url": "{{BaseUrl}}",
                "logo": {
                    "@@type": "ImageObject",
                    "url": "{{BaseUrl}}favicon.ico",
                    "width": 16,
                    "height": 16
                }
            },
            "author": {
                "@@type": "Person",
                "name": "Abdul Rahman Shabeek Mohamed",
                "image": {
                    "@@type": "ImageObject",
                    "url": "//https://www.gravatar.com/avatar/6f221209a03c1800679fc684dea24bf2?s=250&amp;d=mm&amp;r=x",
                    "width": 250,
                    "height": 250
                },
                "url": "{{BaseUrl}}author/abdulrahman/",
                "sameAs": [
                    "https://www.linkedin.com/in/fingers10",
                    "https://github.com/fingers10",
                    "https://stackoverflow.com/users/10851213/fingers10",
                    "https://www.youtube.com/channel/UCOS3wCw7SVXjXXffMPqid7A"
                ]
            },
            "headline": "{{Title}}",
            "url": "{{BaseUrl}}{{ContentType}}/{{Slug}}/",
            "datePublished": "{{CreatedOn:yyyy-MM-ddTHH:mm:ss.fffZ}}",
            "dateModified": "{{ModifiedOn:yyyy-MM-ddTHH:mm:ss.fffZ}}",
            "image": {
                "@@type": "ImageObject",
                "url": "{{BaseUrl}}image/{{normalizedPosterPath}}/{{Slug}}.png",
                "width": 1265,
                "height": 827
            },
            "keywords": ".NET, DotNet, I Love DotNet, I ❤️ DotNet, Blazor, Blazor (WebAssembly), Blazor Wasm, C#, Entity Framework, LINQ, ML.NET, Web API, TDD, OOPS, Middleware, JWT, Dependency Injection, {{string.Join(", ", Keywords)}}",
            "description": "{{Description}}",
            "mainEntityOfPage": {
                "@@type": "WebPage",
                "@@id": "{{BaseUrl}}"
            }
        }
        &lt;/script&gt;
        """"
    ))
&lt;/HeadContent&gt;

@@code {
    private string BaseUrl =&gt; configuration.GetValue&lt;string&gt;("baseUrl")!;
    private string normalizedPosterPath =&gt; PosterPath.ToLower();

    [Parameter, EditorRequired] public string Title { get; set; } = default!;
    [Parameter, EditorRequired] public string Description { get; set; } = default!;
    [Parameter, EditorRequired] public DateTime CreatedOn { get; set; }
    [Parameter, EditorRequired] public DateTime ModifiedOn { get; set; }
    [Parameter, EditorRequired] public string Slug { get; set; } = default!;
    [Parameter, EditorRequired] public string PosterPath { get; set; } = default!;
    [Parameter, EditorRequired] public string ContentType { get; set; } = default!;
    [Parameter, EditorRequired] public List&lt;string&gt; Keywords { get; set; } = new();
}
        </CodeSnippet>
        </How>

        <Summary>


        <p>
            In this article, we learned about what is <Highlight>HeadOutlet</Highlight>, <Highlight>HeadContent</Highlight> and 
            <Highlight>PageTitle</Highlight> and how to control <Highlight>&lt;head&gt;</Highlight> content in HTML in blazor WASM 
            application. Make sure to use this for dynamic head contents. For static head contents it is better to add them directly in index.html.
        </p>
        </Summary>
    </ContentBody>
</Content>

@code {
    private string Title = string.Empty;
    override protected void OnInitialized()
    {
        base.OnInitialized();
        Title = tableOfContents.GetContentBySlug(Slug).Title;
    }
}