@page "/blogs/blazor-wasm-dark-theme-and-light-theme"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(DarkThemeAndLightTheme) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article, let's learn about how to configure <Highlight>dark theme</Highlight> in Blazor WASM application.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/blazor-wasm-lazy-loading">Blazor WASM Lazy Loading</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            Dark Mode or Theme has become common nowadays. Almost all the operating system, apps and websites started supporting Dark Mode as first class feature as it gives a pleasing 
            experience to eyes when reading or using the app at night time. So it's time to design dark version of apps or website to go along with the default design. Let's see how we 
            can implement this in Blazor application.
        </p>
        </Why>

        <How>
            <h4 id="steps-to-configure-dark-theme">Steps to configure dark theme</h4>


        <p>
            First, lets have a <Highlight>enum</Highlight> <Highlight>DisplayMode</Highlight> to represent different display modes. Next, we need the help of 
            <Highlight>Javascript</Highlight> here to add respective <abbr title="Cascading Style Sheet">CSS</abbr> class to our document based on the option we select. We 
            can select <Highlight>Light</Highlight> mode, <Highlight>Dark</Highlight> mode or <Highlight>System</Highlight> mode to let it detect 
            based on operating systems default display mode.
        </p>

        <CodeSnippet CssClass="language-razor">
@@implements IAsyncDisposable

&lt;section&gt;
    &lt;button @@onclick="() =&gt; SetTheme(DisplayMode.Light)"&gt;Light&lt;/button&gt;
    &lt;button @@onclick="() =&gt; SetTheme(DisplayMode.Dark)"&gt;Dark&lt;/button&gt;
    &lt;button @@onclick="() =&gt; SetTheme(DisplayMode.System)"&gt;System&lt;/button&gt;
&lt;/section&gt;

@@code {
    public enum DisplayMode
    {
        Light,
        Dark,
        System
    }

    private IJSObjectReference? module;

    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        module = await JSRuntime.InvokeAsync&lt;IJSObjectReference&gt;("import", "./js/displaymode.js");
    }

    public async Task SetTheme(DisplayMode displayMode)
    {
        if (module is not null) 
        {
            await module.InvokeVoidAsync("onDisplayModeChanged", $"{displayMode.ToString().ToLower()}");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
        </CodeSnippet>

        

        <p>
            When we click on button to set theme or mode, <Highlight>SetTheme(DisplayMode displayMode)</Highlight> method is called by <Highlight>Blazor</Highlight> 
            which in turn will use <Highlight>JavaScript</Highlight> to call <Highlight>onDisplayModeChanged</Highlight> function. If the selected 
            <Highlight>DisplayMode</Highlight> is <Highlight>Dark</Highlight> or <Highlight>System</Highlight> and if the operation system has dark 
            theme enabled? then we can set <Highlight>dark</Highlight> CSS Class to <Highlight>HTML</Highlight> document and store the user preference in 
            <Highlight>Local Storage</Highlight> to retain it for next time when the user visits our app.
        </p>

        <p>
            If the user has selected <Highlight>Light</Highlight> <Highlight>DisplayMode</Highlight> then we can remove the 
            <Highlight>dark</Highlight> CSS Class from the <Highlight>HTML</Highlight> document and also remove the entry from 
            <Highlight>Local Storage</Highlight>.
        </p>

        <CodeSnippet CssClass="language-javascript">
export function onDisplayModeChanged(mode) {
    if (mode === 'dark' || (mode === 'system' &amp;&amp; window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark');
        localStorage.setItem('DisplayMode', 'dark');
    }
    else {
        document.documentElement.classList.remove('dark');
        localStorage.removeItem('DisplayMode');
    }
}
        </CodeSnippet>

        <p>
            Now that all set, we need to make sure to load the user preference when the user visits our site anytime in future. For this we can again use small 
            <Highlight>Javascript</Highlight> on page load in our <Highlight>index.html</Highlight> to check if the 
            <Highlight>Local Storage</Highlight> entry has <Highlight>DisplayMode</Highlight> key with <Highlight>dark</Highlight> value or we can 
            check if the operating system supports <Highlight>Dark</Highlight> mode. In both case we can add <Highlight>dark</Highlight> CSS class back to 
            <Highlight>HTML</Highlight> document. If both the above cases are not met then, we can leave it to default light theme.
        </p>

        <CodeSnippet CssClass="language-html">
&lt;html&gt;
  &lt;head&gt;
    &lt;script&gt;
      if (localStorage.DisplayMode === 'dark' || (!('DisplayMode' in localStorage) &amp;&amp; window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark');
      } else {
          document.documentElement.classList.remove('dark');
      }
    &lt;/script&gt;
  &lt;/head&gt;
  &lt;body&gt;
    ...
  &lt;/body&gt;
&lt;/html&gt;
        </CodeSnippet>

        <p>
            Time for a live demo. Try with below demo and make sure to inspect and see how CSS classed are toggled in <Highlight>HTML</Highlight> along with 
            <Highlight>Local Storage</Highlight> changes.
        </p>

        <DemoSnippet Title="Display Mode">
            <p class="[ text-black ] [ dark:text-white ]">
                <b>
                    Click on one of the display mode and see how the I ❤️ DotNet responds.
                </b>
            </p>
            <DisplayTheme></DisplayTheme>
        </DemoSnippet>
        </How>

        <Summary>


        <p>
            In this article we saw how to configure dark theme in blazor wasm application. We saw how to apply system theme by default and we also saw a live demo of how i love dotnet responds 
            to dark theme.
        </p>
        </Summary>
    </ContentBody>
</Content>