@page "/blogs/blazor-wasm-dockerizing"
@inherits BasePage

<Content FileName=@nameof(Dockerizing)>
    <ContentBody>
        <p>
            In this article, let's learn about <ContentHighlight>Dockerizing</ContentHighlight> Blazor apps.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink class="[ underline ]" href="blogs/blazor-wasm-pre-rendering" Match="NavLinkMatch.All">Blazor WASM Pre Rendering</NavLink>.
        </p>

        <h3 class="[ font-semibold text-lg ]">Table of Contents</h3>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#what-is-docker")" Match="NavLinkMatch.All">
                    What is Docker?
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#containerising-blazor-wasm-app")" Match="NavLinkMatch.All">
                    Containerising a Blazor WASM App
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction" class="[ font-semibold text-lg ]">Introduction</h3>

        <p>
            Containers are like packages that contain everything an application needs to run, including the application code, its dependencies, configuration files, and more. By 
            putting all of these things together in one place, containers make it easy to run an application consistently across different environments.
        </p>

        <p>
            To use containers, you first create an image that contains all of the necessary components. Then, you can create instances of this image, which are called containers, and 
            run them on any machine that supports the container platform.
        </p>

        <p>
            In this tutorial, we'll learn how to use containers to run a Blazor Server application. We'll cover how to create an image that includes all of the necessary components, 
            and then how to use that image to create and run containers.
        </p>

        <p>
            Before we get into things, let's cover what Docker is and a few key concepts.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="what-is-docker" class="[ font-semibold text-lg ]">What is Docker?</h3>

        <p>
            <ContentHighlight>Docker</ContentHighlight> is a tool that helps people build, share, and run containers. Containers are like tiny packages that contain just what an 
            application needs to run, and they can be run on a shared operating system kernel. Because they're so lightweight, many containers can be run on a single physical machine, 
            making them more efficient than traditional virtual machines.
        </p>

        <p>
            <ContentHighlight>Containers</ContentHighlight> are quick to start up because they only contain what's necessary to run the application. This makes them great for scaling 
            on demand, because new containers can be started in just a few seconds. In contrast, traditional virtual machines take a few minutes to start up, so they're not as good for 
            scaling quickly.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 id="docker-file" class="[ font-semibold text-lg ]">Docker File</h4>

        <p>
            A <ContentHighlight>Dockerfile</ContentHighlight> is like a step-by-step instruction manual that tells Docker how to create an image of your application. When you run the 
            <ContentHighlight>docker build</ContentHighlight> command with a Dockerfile, Docker uses the instructions in the file to create an image.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 id="image" class="[ font-semibold text-lg ]">Image</h4>

        <p>
            When you run a Dockerfile, it creates a Docker <ContentHighlight>image</ContentHighlight> that contains your application. This image is built up in layers, like an onion. 
            Each layer can be cached to speed up the build process. Once an image is created, it cannot be changed, but it can be used as a starting point for creating new images.
        </p>

        <p>
            Docker images can be stored in an image repository, which is like a library of images. Some examples of image repositories are <ContentHighlight>Docker Hub</ContentHighlight> 
            and <ContentHighlight>Azure Container Registry</ContentHighlight>. Image repositories make it easy to share your images with others who might need them. It's kind of like 
            <ContentHighlight>NuGet</ContentHighlight>, but for containers.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 id="container" class="[ font-semibold text-lg ]">Container</h4>

        <p>
            When you run an image, it creates a <ContentHighlight>container</ContentHighlight>. A container is like a copy of the image that's running and doing the work. You can create 
            many containers from a single image. To start a container, you use the <ContentHighlight>docker run</ContentHighlight> command and tell Docker which image to use as the basis 
            for the container.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="containerising-blazor-wasm-app" class="[ font-semibold text-lg ]">Containerising a Blazor WASM App</h3>

        <h4 id="challenge" class="[ font-semibold text-lg ]">Challenge</h4>

        <p>
            Blazor WebAssembly projects require a different approach because they produce static files when published. Unlike other ASP.NET Core apps, we don't need to use the ASP.NET Core 
            runtime to serve them. This means we don't need to use the ASP.NET Core runtime Docker image as the base for our final image. So, how are we going to serve our files? The 
            solution is to use NGINX.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 id="what-is-nginx" class="[ font-semibold text-lg ]">What is NGINX?</h4>

        <p>
            <ContentHighlight>NGINX</ContentHighlight> is a free and open-source web server that can be used as a reverse proxy, load balancer, and HTTP cache. It's great at serving 
            static content quickly. Compared to Apache, it uses less memory and can handle up to four times the number of requests per second.
        </p>

        <p>
            There's a Docker image available for NGINX, with several different versions to choose from. We'll be using the <ContentHighlight>NGINX:Alpine</ContentHighlight> image, 
            which is very small - less than 5MB - and contains everything we need to serve our Blazor WebAssembly application.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 id="pre-requisites" class="[ font-semibold text-lg ]">Prerequisites</h4>

        <p>
            If you haven't used <ContentHighlight>Docker</ContentHighlight> before, you'll need to install <NavLink class="[ underline ]" href="https://www.docker.com/products/docker-desktop/" target="_blank">Docker Desktop</NavLink> 
            or <NavLink class="[ underline ]" href="https://rancherdesktop.io/">Rancher Desktop</NavLink> for either Windows or Mac. Just follow the instructions provided during the setup 
            process and you should be up and running within a few minutes. For this tutorial, we'll be using the <NavLink class="[ underline ]" href="https://github.com/ILoveDotNet/ilovedotnet">ilovedotnet</NavLink> 
            project repo for a Blazor WASM application.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 id="creating-a-nginx-configuration-file" class="[ font-semibold text-lg ]">Creating a NGINX Configuration File</h4>

        <p>
            To serve our Blazor WebAssembly application in our container, we need to use NGINX web server. Since our app is a Single Page Application (SPA), we need to configure NGINX 
            to route all requests to <ContentHighlight>index.html</ContentHighlight>. To do this, we create a new file named <ContentHighlight>nginx.conf</ContentHighlight> in the 
            project's root directory and paste the provided code. 
        </p>

        <GithubGistSnippet Title="NGINX Configuration File" UserId="fingers10" FileName="abadae6d9b16f0a3dd40bc7acd10265b"></GithubGistSnippet>

        <p>
            Let's break down the above code and understand in detail
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">events</ContentHighlight> section defines the event loop used by NGINX. In this case, the default values are used, so the 
            section is empty.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">http</ContentHighlight> section defines the HTTP server, including the server block and the location block.
        </p>

        <p>
            The <ContentHighlight CssClasses="[ break-all ]">include mime.types</ContentHighlight> directive loads the MIME types file, which defines the file types and their 
            associated content types that NGINX can serve.    
        </p>
        
        <p>
            The <ContentHighlight CssClasses="[ break-all ]">types</ContentHighlight> block defines additional MIME types that NGINX should recognize. In this case, the 
            <ContentHighlight CssClasses="[ break-all ]">application/wasm</ContentHighlight> MIME type is added.
        </p>
        
        <p>
            The <ContentHighlight CssClasses="[ break-all ]">server</ContentHighlight> block defines the virtual server. The listen directive specifies the IP address and port number 
            that the server should listen on. In this case, it listens on port <ContentHighlight CssClasses="[ break-all ]">80</ContentHighlight>.
        </p>
        
        <p>
            The <ContentHighlight CssClasses="[ break-all ]">index</ContentHighlight> directive specifies the default file name that should be served when a directory is requested. In 
            this case, <ContentHighlight CssClasses="[ break-all ]">index.html</ContentHighlight> is served.
        </p>

        <p>
            The <ContentHighlight CssClasses="[ break-all ]">location</ContentHighlight> block specifies how NGINX should handle requests for a specific location. In this case, 
            requests to the root URL <ContentHighlight CssClasses="[ break-all ]">/</ContentHighlight> are handled. The <ContentHighlight CssClasses="[ break-all ]">root</ContentHighlight> 
            directive specifies the directory where NGINX should look for files to serve. In this case, it's <ContentHighlight CssClasses="[ break-all ]">/user/share/nginx/html</ContentHighlight>.
        </p>
        
        <p>
            The <ContentHighlight CssClasses="[ break-all ]">try_files</ContentHighlight> directive tells NGINX to try to serve the requested file first <ContentHighlight CssClasses="[ break-all ]">$uri</ContentHighlight>, 
            followed by any directory with the same name as the requested file <ContentHighlight CssClasses="[ break-all ]">$uri/</ContentHighlight>. If neither of those exists, NGINX 
            will serve the <ContentHighlight CssClasses="[ break-all ]">index.html</ContentHighlight> file. If that file doesn't exist either, NGINX returns a 404 error 
            <ContentHighlight CssClasses="[ break-all ]">=404</ContentHighlight>.
        </p>

        <p>
            Overall, this configuration sets up a basic <ContentHighlight>HTTP server</ContentHighlight> that listens on <ContentHighlight>port 80</ContentHighlight> and serves files 
            from the <ContentHighlight CssClasses="[ break-all ]">/usr/share/nginx/html</ContentHighlight>, with support for the <ContentHighlight>application/wasm</ContentHighlight> 
            <ContentHighlight>MIME</ContentHighlight> type. If you plan to use this in production, it is recommended to refer to the NGINX docs for all configuration options.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 id="creating-a-docker-file" class="[ font-semibold text-lg ]">Creating a Docker File</h4>

        <p>
            Let's create a dockerfile in the project's root directory with the following code.
        </p>

        <GithubGistSnippet Title="Docker File" UserId="fingers10" FileName="473971b3a50935308531c1affa67a2f0"></GithubGistSnippet>

        <p>
            Let's break down the above code and understand in detail
        </p>

        <p>
            FROM <ContentHighlight CssClasses="[ break-all ]">mcr.microsoft.com/dotnet/sdk:7.0-alpine AS build-env</ContentHighlight> specifies the base image for the build environment. 
            The <ContentHighlight CssClasses="[ break-all ]">AS</ContentHighlight> keyword is used to create a named build-env which is an Alpine-based image that includes the .NET Core 
            SDK.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">RUN apk add nodejs</ContentHighlight> and <ContentHighlight CssClasses="[ break-all ]">RUN apk add npm</ContentHighlight> install 
            Node.js and NPM package manager using Alpine's package manager apk.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">WORKDIR /app</ContentHighlight> sets the working directory inside the container to <ContentHighlight CssClasses="[ break-all ]">/app</ContentHighlight>.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">COPY . ./</ContentHighlight> copies all files from the host machine to the container's <ContentHighlight CssClasses="[ break-all ]">/app</ContentHighlight> 
            directory.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">RUN npm --prefix Web install</ContentHighlight> installs the required packages and dependencies of the Node.js application found 
            in the Web directory, which is a subdirectory inside <ContentHighlight CssClasses="[ break-all ]">/app</ContentHighlight>. The <ContentHighlight CssClasses="[ break-all ]">--prefix</ContentHighlight> 
            option specifies the installation path of the packages.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">RUN dotnet publish "Web/Web.csproj" -c Release -o output</ContentHighlight> builds and publishes the .NET Core application found 
            in the <ContentHighlight CssClasses="[ break-all ]">Web/Web.csproj</ContentHighlight> file. The -c option specifies the build configuration and -o option specifies the output 
            directory.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">FROM nginx:alpine</ContentHighlight> specifies the base image for the final image, which is Nginx in this case.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">WORKDIR /user/share/nginx/html</ContentHighlight> sets the working directory inside the container to 
            <ContentHighlight CssClasses="[ break-all ]">/user/share/nginx/html</ContentHighlight>.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">COPY --from=build-env /app/output/wwwroot .</ContentHighlight> copies the published output of the .NET Core application from 
            the previous build stage to the current image's working directory. The <ContentHighlight CssClasses="[ break-all ]">--from</ContentHighlight> option specifies the build 
            stage to copy from.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">COPY Web/nginx.conf /etc/nginx/nginx.conf</ContentHighlight> copies the Nginx configuration file found in the Web directory to 
            the <ContentHighlight CssClasses="[ break-all ]">/etc/nginx</ContentHighlight> directory inside the container.
        </p>

        <p>
            <ContentHighlight CssClasses="[ break-all ]">EXPOSE 80</ContentHighlight> exposes <ContentHighlight CssClasses="[ break-all ]">port 80</ContentHighlight> of the container 
            to the host machine.
        </p>

        <p>
            Overall, this Dockerfile sets up an environment to build a .NET Core application and an Nginx web server. The build environment installs Node.js and NPM, copies the .NET 
            Core application and its dependencies, builds and publishes the .NET Core application, and outputs the published files to a designated folder. Then, in the final image, 
            Nginx is installed and configured to serve the published files, and port 80 is exposed for access.
        </p>

        <p>
            A word of caution!!. The docker file created above doesnt work directly with <ContentHighlight>docker build</ContentHighlight> command. There exists some path issues. So 
            I have decided to use docker compose to up and run with above docker file.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 id="creating-a-docker-compose-file" class="[ font-semibold text-lg ]">Creating a Docker Compose File</h4>

        <p>
            Docker Compose is a tool for defining and running multi-container Docker applications. It allows you to define a set of containers and their configurations in a single 
            file, called a Docker Compose file. The Docker Compose file is written in YAML syntax and contains information about each container, such as its image, environment 
            variables, network settings, and volumes.
        </p>

        <p>
            By defining all the containers in a single file, Docker Compose allows you to easily spin up and manage complex applications with multiple containers, such as web servers, 
            databases, and messaging systems. You can start all the containers in the application with a single command, and Docker Compose will ensure that they are started in the 
            correct order and with the correct configuration.
        </p>

        <p>
            Create the following <ContentHighlight>docker-compose.yml</ContentHighlight> at the root of the <ContentHighlight>Solution</ContentHighlight> folder.
        </p>

        <GithubGistSnippet Title="Docker Compose File" UserId="fingers10" FileName="3406280d32baaf6a0f83730066e52036"></GithubGistSnippet>

        <p>
            This Docker Compose file sets up a service named <ContentHighlight>ilovedotnet</ContentHighlight> that runs a pre-built Docker image or builds an image from a Dockerfile, 
            sets environment variables, and maps the container's port 80 to the host machine's port 8080.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 id="up-and-run-via-docker" class="[ font-semibold text-lg ]">Up and Run via Docker</h4>

        <p>
            Time to see a demo. We have our <ContentHighlight>docker-compose.yml</ContentHighlight> setup at <ContentHighlight>solution folder level</ContentHighlight> and 
            <ContentHighlight>Dockerfile</ContentHighlight> and <ContentHighlight>nginx.conf</ContentHighlight> setup at <ContentHighlight>project folder level</ContentHighlight>.
        </p>

        <p>
            All we need to do now is to run command <ContentHighlight>docker compose up</ContentHighlight> from the solution folder level. This will build the image and start the 
            container. You can clone the <NavLink class="[ underline ]" href="https://github.com/ILoveDotNet/ilovedotnet">ilovedotnet</NavLink> repo and execute the above command.
        </p>

        <p>
            After running the command, open a web browser and navigate to <ContentHighlight>http://localhost:8080</ContentHighlight>. The application should load successfully as shown 
            below.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/dockerizing/running from container.png" loading="lazy" alt="I Love Dotnet Running from Container" class="[ w-full ]" />
        </figure>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="summary" class="[ font-semibold text-lg ]">Summary</h3>

        <p>
            This article covered the challenges that come with running a Blazor WebAssembly application in a container. We created an image for our application that utilizes NGINX to 
            serve the static content generated by Blazor WebAssembly applications. Finally, we verified that everything was working as expected by starting a container using our docker 
            compose setup.
        </p>
    </ContentBody>
</Content>