@page "/blogs/blazor-wasm-forms"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(Forms) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article, let's learn about how to collect data using <Highlight>forms</Highlight> in Blazor WASM application.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/blazor-wasm-communication-between-components">Blazor WASM Communication Between Components</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            Forms are key part of any web application as they used to collect data from the user and submit to server for further processing. This information 
            might range from the user details that we collect as part of a sign-up process down to a single textbox that allows users to leave comments or 
            post messages in an collaborative application.
        </p>
        </Why>

        <How>
            <h4 id="introducing-editform">Introducing EditForm</h4>


        <p>
            The Blazor framework renders forms using a built-in component called <Highlight>EditForm</Highlight>. We can bind a model to this 
            component to collect different types of data and process it. Although it is possible to create forms using the standard 
            <Highlight>&lt;form&gt;</Highlight> HTML element, it is recommend to use the <Highlight>EditForm</Highlight> component 
            because of the additional features and benefits it provides.
        </p>
        
        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on 
            <NavLink href="blogs/blazor-wasm-data-binding">Blazor Wasm Data Binding</NavLink>.
        </p>
            <h4 id="binding-model-with-editform">Binding Model with EditForm</h4>


        <p>
            To start working with EditForm, we need to create a model class that will hold the data that we want to collect.
        </p>
        
        <CodeSnippet CssClass="language-razor">
&lt;EditForm Model="@@starship" OnValidSubmit="@@HandleValidSubmit"&gt;
    &lt;p&gt;
        &lt;label&gt;
            Identifier:
            &lt;InputText @@bind-Value="starship.Identifier" /&gt;
        &lt;/label&gt;
    &lt;/p&gt;
    &lt;p&gt;
        &lt;label&gt;
            Description (optional):
            &lt;InputTextArea @@bind-Value="starship.Description" /&gt;
        &lt;/label&gt;
    &lt;/p&gt;
    &lt;p&gt;
        &lt;label&gt;
            Primary Classification:
            &lt;InputSelect @@bind-Value="starship.Classification"&gt;
                &lt;option value=""&gt;Select classification ...&lt;/option&gt;
                &lt;option value="Exploration"&gt;Exploration&lt;/option&gt;
                &lt;option value="Diplomacy"&gt;Diplomacy&lt;/option&gt;
                &lt;option value="Defense"&gt;Defense&lt;/option&gt;
            &lt;/InputSelect&gt;
        &lt;/label&gt;
    &lt;/p&gt;
    &lt;p&gt;
        &lt;label&gt;
            Maximum Accommodation:
            &lt;InputNumber @@bind-Value="starship.MaximumAccommodation" /&gt;
        &lt;/label&gt;
    &lt;/p&gt;
    &lt;p&gt;
        &lt;label&gt;
            Engineering Approval:
            &lt;InputCheckbox @@bind-Value="starship.IsValidatedDesign" /&gt;
        &lt;/label&gt;
    &lt;/p&gt;
    &lt;p&gt;
        &lt;label&gt;
            Production Date:
            &lt;InputDate @@bind-Value="starship.ProductionDate" /&gt;
        &lt;/label&gt;
    &lt;/p&gt;

    &lt;button type="submit"&gt;Submit&lt;/button&gt;

    &lt;p&gt;
        @@message
    &lt;/p&gt;
&lt;/EditForm&gt;

@@code {
    public class Starship
    {
        public string? Identifier { get; set; }

        public string? Description { get; set; }

        public string? Classification { get; set; }

        public int MaximumAccommodation { get; set; }

        public bool IsValidatedDesign { get; set; }

        public DateTime ProductionDate { get; set; }
    }

    private Starship starship = new() { ProductionDate = DateTime.UtcNow };
    private string? message = null;

    private void HandleValidSubmit()
    {
        message = "HandleValidSubmit called";

        // Process the valid form
    }
}
        </CodeSnippet>

        <DemoSnippet Title="EditForm With Model Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                The following form accepts user input using:
            </p>
            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>The properties defined in the preceding Starship model.</li>
                <li>Several of Blazor's built-in form components.</li>
                <li>
                    The EditForm in the example creates an EditContext based on the assigned Starship instance 
                    <Highlight>(Model="@@starship")</Highlight> and handles a valid form.
                </li>
                <li>Message is printed on submit.</li>
            </ol>
            <br />
            <div>
                <EditFormModelDemo></EditFormModelDemo>
            </div>
        </DemoSnippet>
            <h4 id="binding-editcontext-with-editform">Binding EditContext with EditForm</h4>

        
        <p>
            An EditForm creates an <Highlight>EditContext</Highlight> based on the assigned model instance as a cascading value for other 
            components in the form. The EditContext tracks metadata about the edit process, including which fields have been modified and the current validation 
            messages.
        </p>

        <p>
            <strong>
                Assigning to either an <Highlight>EditForm.Model</Highlight> or an <Highlight>EditForm.EditContext</Highlight> 
                can bind a form to data.
            </strong>
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;EditForm EditContext="@@editContext" OnSubmit="@@HandleSubmit"&gt;
    &lt;p&gt;
        &lt;label&gt;
            Identifier:
            &lt;InputText @@bind-Value="starship.Identifier" /&gt;
        &lt;/label&gt;
    &lt;/p&gt;

    &lt;button type="submit"&gt;Submit&lt;/button&gt;

    &lt;p&gt;
        @@message
    &lt;/p&gt;
&lt;/EditForm&gt;

@@code {
    public class Starship
    {
        public string? Identifier { get; set; }

        public string? Description { get; set; }

        public string? Classification { get; set; }

        public int MaximumAccommodation { get; set; }

        public bool IsValidatedDesign { get; set; }

        public DateTime ProductionDate { get; set; }
    }

    private Starship starship = 
        new()
        {
            Identifier = "NCC-1701",
            Classification = "Exploration",
            MaximumAccommodation = 150,
            IsValidatedDesign = true,
            ProductionDate = new DateTime(2245, 4, 11)
        };
    private EditContext? editContext;
    private string? message;

    protected override void OnInitialized()
    {
        editContext = new(starship);
    }

    private async Task HandleSubmit()
    {
        if (editContext != null)
        {
            message = "HandleSubmit called: Form is valid";

            // Process the valid form
            // await ...
            await Task.CompletedTask;
        }
    }
}
        </CodeSnippet>

        <DemoSnippet Title="EditForm With EditContext Demo">
            <p class="[ text-black ] [ dark:text-white ]">
                The following form accepts user input using:
            </p>
            <ol class="[ list-decimal ] [ ml-4 ]">
                <li>
                    A shortened version of the preceding Starfleet Starship Database form is used that only accepts a value for the starship's identifier. 
                    The other Starship properties receive valid default values when an instance of the Starship type is created.
                </li>
                <li>The HandleSubmit method executes when the Submit button is selected.</li>
                <li>The form is validated by calling EditContext.Validate in the HandleSubmit method.</li>
                <li>Message is printed on submit.</li>
            </ol>
            <br />
            <div>
                <EditFormEditContextDemo></EditFormEditContextDemo>
            </div>
        </DemoSnippet>
            <h4 id="handling-form-submission">Handling Form Submission</h4>


        <p>
            When the user submits the form, the EditForm component calls the <Highlight>EditForm.OnSubmit</Highlight> event handler.
            This event handler is passed the EditContext as a parameter. The EditContext provides access to the EditForm's model and the form's
            current state.
        </p>

        <p>
            The EditForm provides the following callbacks for handling form submission:
        </p>

        <ul>
            <li>Use <Highlight>OnValidSubmit</Highlight> to assign an event handler to run when a form with valid fields is submitted.</li>
            <li>Use <Highlight>OnInvalidSubmit</Highlight> to assign an event handler to run when a form with invalid fields is submitted.</li>
            <li>
                Use <Highlight>OnSubmit</Highlight> to assign an event handler to run regardless of the form fields' validation status. 
                The form is validated by calling <Highlight>EditContext.Validate</Highlight> in the event handler method. If Validate 
                returns true, the form is valid.
            </li>
        </ul>
        </How>

        <Summary>


        <p>
            In this article, we learned what is <Highlight>EditForm</Highlight> and how to use <Highlight>Forms</Highlight> in 
            blazor application by binding either to a <Highlight>Model</Highlight> or to a <Highlight>EditContext</Highlight>.
        </p>
        </Summary>
    </ContentBody>
</Content>