@page "/blogs/using-hot-keys-in-blazor-wasm"
@inherits BasePage

<Content FileName=@nameof(HotKeys) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article, let's learn about how to setup and use <Highlight>Hot Keys</Highlight> in Blazor WASM apps.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/prevent-image-leech-by-dynamically-streaming-image-in-blazor-wasm" Match="NavLinkMatch.All">Prevent image leech by dynamically streaming image in Blazor WASM</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            In the context of front-end development, a <Highlight>hotkey</Highlight>, also known as a 
            <Highlight>keyboard shortcut</Highlight> or <Highlight>shortcut key</Highlight>, is a combination of keys on a computer 
            keyboard that <Highlight>triggers specific actions within a software application</Highlight>. Hotkeys are designed to enhance user productivity 
            and provide a quicker way to perform tasks without using a mouse or navigating through menus.            
        </p>
        </Why>

        <How>
            <h4 id="installation">Installation</h4>

        
        <p>
            To start with Hot Keys, you need to,
        </p>

        <ol>
            <li>Install the <Highlight CssClasses="[ break-all ]">Toolbelt.Blazor.HotKeys2</Highlight> package from NuGet.</li>
            <li>Register HotKeys in DI Container using <Highlight CssClasses="[ break-all ]">builder.Services.AddHotKeys2()</Highlight>.</li>
        </ol>
            <h4 id="configuration">Configuration</h4>


        <p>
            To configure hot keys inside a component, you need to,
        </p>

        <ol>
            <li>Implement <Highlight>IDisposable interface</Highlight> to the component.</li>
            <li><Highlight>Inject</Highlight> the <Highlight>HotKeys</Highlight> service into the component.</li>
            <li>
                Create hot key context using <Highlight CssClasses="[ break-all ]">HotKeys.CreateContext()</Highlight> in 
                <Highlight>OnInitialized()</Highlight> or <Highlight>OnAfterRender()</Highlight> method.
            </li>
            <li>
                Add the combination with key and action to the <Highlight>HotKeysContext object</Highlight> that is returned from 
                <Highlight>CreateContext()</Highlight> method, using <Highlight>Add()</Highlight> method.
            </li>
            <li>
                You can also specify the <Highlight>async</Highlight> method to the <Highlight>callback action</Highlight> argument. 
                The method of the callback action can take an argument which is <Highlight>HotKeyEntryByCode</Highlight> or 
                <Highlight>HotKeyEntryByKey</Highlight> object.
            </li>
            <li>
                <Highlight>Dispose</Highlight> the <Highlight>HotKeysContext object</Highlight> when the component is disposing, in 
                the <Highlight>Dispose()</Highlight> method of the component.
            </li>
        </ol>

        

        <CodeSnippet CssClass="language-csharp">
using Toolbelt.Blazor.HotKeys2;

namespace ILoveDotNet;

public class SearchBase : ComponentBase, IDisposable
{
    private HotKeysContext HotKeysContext = default!;
    
    protected ElementReference SearchInput;
    
    [Inject] private HotKeys HotKeys { get; set; } = default!;
    
    protected override async Task OnInitializedAsync()
    {
        HotKeysContext = HotKeys.CreateContext()
                                .Add(Key.Slash, async () =&gt; await SearchInput.FocusAsync());
    }
    
    public void Dispose()
    {
        HotKeysContext.Dispose();
    }
}
        </CodeSnippet>
            <h4 id="use-cases-for-hot-keys">Use Cases for Hot Keys</h4>


        <p>
            The most common use cases for hot keys are,
        </p>

        <ul>
            <li><Highlight>Saving a record</Highlight> while updating</li>
            <li><Highlight>Activating search</Highlight> within a web site</li>
        </ul>
            <h4 id="demo">Demo</h4>

        
        <DemoSnippet Title="Dynamic Image Streaming">
            <p class="[ text-black ] [ dark:text-white ]">
                I ❤️ .NET <Highlight>uses hot keys to provide search functionality</Highlight>. You can use press 
                <Highlight>/</Highlight> key to activate search in the site.
            </p>

            <figure>
                <img src="./image/blogs/blazor/wasm/using-hot-keys-in-blazor-wasm/hotkeys-demo.gif" alt="hotkeys demo" class="[ w-full ]" />
            </figure>
        </DemoSnippet>
            <h4 id="advantages-of-hot-keys">Advantages of Hot Keys</h4>


        <p>
            The advantages of hot keys are as follows,
        </p>

        <ul>
            <li><Highlight>Speed & Efficiency</Highlight>.</li>
            <li><Highlight>Improved Accessibility</Highlight>.</li>
            <li><Highlight>Reduced mouse dependency</Highlight>.</li>
            <li><Highlight>Customization & Personilization</Highlight>.</li>
        </ul>
            <h4 id="limitations">Limitations</h4>


        <p>
            The only limitation of hot keys is that it can be used only in <Highlight>desktop devices</Highlight> where we have a key board device 
            available to activate hot key.
        </p>
        </How>

        <Summary>


        <p>
            In this article, we learned about what is hot keys and how to configure them in Blazor WASM apps using <Highlight>BlazorHotKeys</Highlight> 
            package. We also learned about the advantages of using hot keys in our apps.  Hotkeys <Highlight>empower end users</Highlight> by 
            providing faster, more accessible, and customizable ways to interact with software applications, <Highlight>enhancing their overall efficiency and 
            user experience</Highlight>. You can learn more about the <Highlight CssClasses="[ break-all ]">Toolbelt.Blazor.HotKeys2</Highlight> 
            package in official <NavLink href="https://github.com/jsakamoto/Toolbelt.Blazor.HotKeys2" class="[ underline ]" target="blank">docs</NavLink>.
        </p>
        </Summary>
    </ContentBody>
</Content>