@page "/blogs/developing-hybrid-app-with-blazor-wasm-and-dotnet-maui"
@inherits FragmentNavigationBase

<Content FileName=@nameof(HybridAppWithMAUI)>
    <ContentBody>
        <p>
            In this article, let's learn about developing <ContentHighlight>Hybrid App</ContentHighlight> using Blazor WASM and MAUI.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink class="[ underline ]" href="blogs/blazor-wasm-publishing-to-azure-static-web-apps" Match="NavLinkMatch.All">Developing Hybrid App with Blazor WASM and .NET MAUI</NavLink>.
        </p>

        <h3 class="[ font-semibold text-lg ]">Table of Contents</h3>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#converting-blazor-wasm-to-maui-hybrid-app")" Match="NavLinkMatch.All">
                    Converting Blazor WASM to MAUI Hybrid App
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction" class="[ font-semibold text-lg ]">Introduction</h3>

        <p>
            
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="converting-blazor-wasm-to-maui-hybrid-app" class="[ font-semibold text-lg ]">Converting Blazor WASM to MAUI Hybrid App</h3>

        <p>

        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="summary" class="[ font-semibold text-lg ]">Summary</h3>

        <p>
            
        </p>
    </ContentBody>
</Content>

@code {
    private string Slug = "developing-hybrid-app-with-blazor-wasm-and-dotnet-maui";
}