@page "/blogs/blazor-wasm-javascript-interop-and-isolation"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(JavascriptInteropAndIsolation) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article let's learn about <Highlight>Javascript Interop</Highlight> and 
            <Highlight>Javascript Isolation</Highlight>.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on 
            <NavLink href="blogs/blazor-wasm-styles-and-css-isolation">Blazor WASM Styles and CSS Isolation</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            In Blazor WASM we should try to have minimal usage of Javascript. Though Blazor WASM runs on top of web assembly, we might sometime require access to javascript for certain 
            operations like displaying alert, prompt setting theme on html element, focusing a suggestion from autocomplete input on up and down keyboard key press, getting viewport size 
            or at few cases we might need to use the existing javascript library to render chart, grid, etc.
        </p>

        <p>
            The above usecases can be solved in two different ways as mentioned below.
        </p>
        </Why>

        <How>
            <h4 id="javascript-interop">Javascript Interop</h4>


        <p>
            To start using <Highlight>Javascript</Highlight> using JS interop, first we need our javascript code in a separate js file place inside 
            <Highlight>wwwroot</Highlight> and we need to inject <Highlight>IJSRuntime</Highlight> in the component to invoke our javascript function.
        </p>

        <p>
            Let's look on how to display a simple javascript alert in blazor. We'll start with defining a <Highlight>blazorInterop</Highlight> object just to make sure we don't 
            pollute the global <Highlight>window</Highlight> object. Now let's register a simple <Highlight>displayAlert</Highlight> function which will take text 
            and display it in javascript <Highlight>alert()</Highlight>.
        </p>

        <CodeSnippet CssClass="language-javascript">
var blazorInterop = blazorInterop || {};

blazorInterop.displayAlert = (textToDisplay) =&gt; { alert(textToDisplay); };
        </CodeSnippet>

        <h5 id="javascript-interop-js-from-dotnet">Calling JS from .Net</h5>

        <p>
            Before we proceed on invoking the function make sure to add a reference to your javascript file in <Highlight>index.html</Highlight>. Now let's inject 
            <Highlight>IJSRuntime</Highlight> into our component and call <Highlight>blazorInterop.displayAlert("I ❤️ DotNet")</Highlight> using
            <Highlight>InvokeVoidAsync</Highlight> as we don't have any return value from the javascript function.
        </p>

        <CodeSnippet CssClass="language-razor">
&lt;button @@onclick="() =&gt; DisplayAlert()"&gt;Display Alert&lt;/button&gt;

@@code {
    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    private async Task DisplayAlert()
    {
        await JSRuntime.InvokeVoidAsync("blazorInterop.displayAlert", "I ❤️ DotNet");
    }
}
        </CodeSnippet>

        <DemoSnippet Title="Javascript Interop - Displaying Alert">
            <JavascriptAlert></JavascriptAlert>
        </DemoSnippet>

        

        <p>
            Voila.. now we are using javascript logics in our blazor app. That's a fairly simple example. Let's look at another example where we need some values from javascript function. 
            If we want to find the current viewport width and height, then we can leverage javascript to get window height and width and return it back to blazor. The steps are same like 
            before except this time we need to call the javascript function using <Highlight CssClasses="[ break-all ]">InvokeAsync&lt;WindowDimensions&gt;("blazorInterop.getViewportDimensions")</Highlight>.
        </p>

        <CodeSnippet CssClass="language-javascript">
var blazorInterop = blazorInterop || {};

blazorInterop.getViewportDimensions = () =&gt; {
    return { width: window.innerWidth, height: window.innerHeight };
}
        </CodeSnippet>

        <CodeSnippet CssClass="language-razor">
&lt;button @@onclick="() =&gt; DisplayAlert()"&gt;Get Dimensions&lt;/button&gt;

&lt;p&gt;Window Width: @@windowDimensions.Width px&lt;/p&gt;
&lt;p&gt;Window Height: @@windowDimensions.Height px&lt;/p&gt;

@@code {
    private WindowDimensions windowDimensions = new();

    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    private async Task DisplayAlert()
    {
        windowDimensions = await JSRuntime.InvokeAsync&lt;WindowDimensions&gt;("blazorInterop.getViewportDimensions");
        Console.WriteLine(windowDimensions.Height);
    }

    public class WindowDimensions
    {
        public int Width { get; set; }        
        public int Height { get; set; }
    }
}
        </CodeSnippet>

        <DemoSnippet Title="Javascript Interop - Finding Viewport Dimensions">
            <JavascriptViewportDimensions></JavascriptViewportDimensions>
        </DemoSnippet>

        

        <h5 id="javascript-interop-dotnet-from-js">Calling .Net from JS</h5>

        <p>
            There are situations where you need to call a .Net method from JS function. One example is clicking on a point in chart to display additional information. Now you need to pass some 
            information from <Highlight>JS</Highlight> to <Highlight>.NET</Highlight> and make API call to retrieve additional information. You can call 
            <Highlight>static</Highlight> method or <Highlight>.NET instance</Highlight> method from JS. Let's see how to do this in blazor.
        </p>

        <h5 class="[ font-semibold text-sm ]">Invoking Static Method</h5>

        <p>
            Calling a <Highlight>static</Highlight> method is pretty simple. All you need to do is to add <Highlight>[JSInvokable]</Highlight> attribute to your
            <Highlight>.NET static</Highlight> method and call the static .Net method from JS using <Highlight CssClasses="[ break-all ]">DotNet.invokeMethod('Namespace', '.Net Static Method Name')</Highlight>.
        </p>

        <CodeSnippet CssClass="language-javascript">
var blazorInterop = blazorInterop || {};

blazorInterop.callDotNetStaticFromJs = () =&gt; {
    let message = DotNet.invokeMethod('Web', 'GetMessageFromDotNet');
    alert(`Message from .Net Static Method - ${message}`);
}
        </CodeSnippet>

        <CodeSnippet CssClass="language-razor">
&lt;button @@onclick="() =&gt; DisplayAlert()"&gt;Calling .Net Static Method from JS&lt;/button&gt;

@@code {
    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    private async Task DisplayAlert()
    {
        await JSRuntime.InvokeVoidAsync("blazorInterop.callDotNetStaticFromJs");
    }

    [JSInvokable]
    public static string GetMessageFromDotNet()
    {
        return "DotNet ❤️ JS";
    }
}
        </CodeSnippet>

        <DemoSnippet Title="Javascript Interop - Calling .Net Static Method From JS">
            <DotNetStaticMethodFromJavascript></DotNetStaticMethodFromJavascript>
        </DemoSnippet>

        

        <h5 class="[ font-semibold text-sm ]">Invoking Instance Method</h5>

        <p>
            Calling an <Highlight>component instance</Highlight> method needs an <Highlight>.NET instance by reference</Highlight> to be passed to JS. This can be 
            done by wrapping the component instance inside <Highlight>DotNetObjectReference&lt;ComponentInstance&gt;</Highlight> and calling create on it. Then we can invoke .NET 
            method from JS using <Highlight>InvokeMethod</Highlight> or <Highlight>InvokeMethodAsync</Highlight> from the passed instance reference. Finally we need 
            to <Highlight>dispose</Highlight> the <Highlight>DotNetObjectReference</Highlight>.
        </p>

        <CodeSnippet CssClass="language-javascript">
var blazorInterop = blazorInterop || {};

blazorInterop.callDotNetInstanceFromJs = (dotNetHelper) =&gt; {
    let message = dotNetHelper.invokeMethod('GetMessageFromDotNet');
    alert(`Message from .Net Static Method - ${message}`);
}
        </CodeSnippet>

        <CodeSnippet CssClass="language-razor">
@@implements IDisposable

&lt;button @@onclick="() =&gt; DisplayAlert()"&gt;Calling .Net instance Method from JS&lt;/button&gt;

@@code {
    private DotNetObjectReference&lt;DotNetInstanceMethodFromJavascript&gt;? objRef;

    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    private async Task DisplayAlert()
    {
        objRef = DotNetObjectReference.Create(this);
        await JSRuntime.InvokeVoidAsync("blazorInterop.callDotNetInstanceFromJs", objRef);
    }

    [JSInvokable]
    public string GetMessageFromDotNet()
    {
        return "DotNet ❤️ JS";
    }

    public void Dispose()
    {
        objRef?.Dispose();
    }
}
        </CodeSnippet>

        <DemoSnippet Title="Javascript Interop - Calling .Net Instance Method From JS">
            <DotNetInstanceMethodFromJavascript></DotNetInstanceMethodFromJavascript>
        </DemoSnippet>
            <h4 id="javascript-isolation">Javascript Isolation</h4>


        <p>
            Blazor supports JS isolation in standard JS modules. This has the following benefits:
            <ol>
                <li>No need to add reference to js file in index.html</li>
                <li>Imported JS no longer pollutes the global namespace.</li>
                <li>Consumers of a library and components aren't required to import the related JS.</li>
            </ol>
        </p>

        <p>
            With Javascript Isolation, the steps are same but with an extra step to load <Highlight>JS Module</Highlight> using <Highlight>IJSRuntime</Highlight> 
            into <Highlight>IJSObjectReference (module)</Highlight>. After loading the module, we need to call JS functions using 
            <Highlight>IJSObjectReference module InvokeAsync</Highlight> instead of <Highlight>IJSRuntime</Highlight>. We also need to make sure the module is 
            <Highlight>disposed</Highlight> on <Highlight>component dispose</Highlight>.
        </p>

        <CodeSnippet CssClass="language-javascript">
export function showPrompt(message) {
    return prompt(message, 'Type anything here');
}
        </CodeSnippet>

        <CodeSnippet CssClass="language-razor">
@@implements IAsyncDisposable

&lt;button @@onclick="TriggerPrompt"&gt;Trigger browser window prompt&lt;/button&gt;

&lt;p&gt;Your message: @@result&lt;/p&gt;

@@code {
    private IJSObjectReference? module;
    private string? result;

    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JSRuntime.InvokeAsync&lt;IJSObjectReference&gt;("import","./js/demo/jsisolation.js");
        }
    }

    private async Task TriggerPrompt()
    {
        result = await Prompt("Provide some text");
    }

    public async ValueTask&lt;string?&gt; Prompt(string message) 
    {
        if(module is not null) 
        {
            return await module.InvokeAsync&lt;string&gt;("showPrompt", message);
        }

        return null;
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
        </CodeSnippet>

        <DemoSnippet Title="Javascript Isolation - Calling Javascript prompt from JS Module">
            <JavascriptIsolation></JavascriptIsolation>
        </DemoSnippet>
        </How>

        <Summary>


        <p>
            I'm happy that you have reached to the end of this article. We learned what is Javascript Interop and Javascript Isolation. We saw how to call JS functions from .NET and vice versa 
            with a live working demo. I hope you enjoyed this.
        </p>
        </Summary>
    </ContentBody>
</Content>