@page "/blogs/blazor-wasm-lazy-loading"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(LazyLoading)>
    <ContentBody>
        <What>

        <p>
            In this article, let's learn about what is <Highlight>lazy loading</Highlight>, why it is needed and how to implement lazy loading 
            in Blazor WASM application.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/blazor-wasm-error-logging">Blazor WASM Error Logging</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            <Highlight>Lazy loading</Highlight> in Blazor WASM helps to <Highlight>defer downloading of assemblies</Highlight> until 
            the route in which the assembly components used are requested by the end user. This helps to <Highlight>improve startup performance</Highlight> 
            of large Blazor WASM applications. This will be more useful in <Highlight>micro-frontends</Highlight> where each micro-frontend is a 
            Blazor WASM application.
        </p>

        <p>
            I ❤️ .NET makes use of lazy loading to load blog related components only when an blog is opened. It makes sense to not load all the components 
            and assemblies when the user just visit the home screen. Thus <Highlight>saving startup time</Highlight> and 
            <Highlight>saving user bandwidth</Highlight> by <Highlight>avoiding unnecessary downloads</Highlight>.
        </p>
        </Why>

        <How>
            <h4 id="how-to-implement-lazy-loading">How to implement Lazy loading?</h4>


        <p>
            To implement lazy loading, we need to follow two steps.
            <ol>
                <li>
                    <NavLink href="@($"blogs/{Slug}#project-configuration")" Match="NavLinkMatch.All">
                        <Highlight>Project file</Highlight> configuration
                    </NavLink>
                </li>
                <li>
                    <NavLink href="@($"blogs/{Slug}#router-configuration")" Match="NavLinkMatch.All">
                        <Highlight>Router</Highlight> component configuration
                    </NavLink>
                </li>
            </ol>
        </p>

        

        <h5 id="project-configuration">Project file configuration</h5>

        <ol>
            <li>First we need to find the components to be lazy loaded and move them to new assembly <Highlight>(Razor Class Library Project)</Highlight>.</li>
            <li>Next refer this <Highlight>new assembly</Highlight> in the Blazor WASM project.</li>
            <li>Finally add the assembly name with <Highlight>.wasm</Highlight> extension in the Blazor WASM <Highlight>.csproj</Highlight> using <Highlight>BlazorWebAssemblyLazyLoad</Highlight>.</li>
            <li>Repeat step 2 for as many assemblies to be lazy loaded.</li>
        </ol>

        

        <CodeSnippet CssClass="language-xml">
&lt;ItemGroup&gt;
  &lt;ProjectReference Include="..\BlazorDemoComponents\BlazorDemoComponents.csproj" /&gt;
  &lt;ProjectReference Include="..\BaseComponents\BaseComponents.csproj" /&gt;
&lt;/ItemGroup&gt;

&lt;ItemGroup&gt;
  &lt;BlazorWebAssemblyLazyLoad Include="BlazorDemoComponents.wasm" /&gt;
  &lt;BlazorWebAssemblyLazyLoad Include="BaseComponents.wasm" /&gt;
&lt;/ItemGroup&gt;
        </CodeSnippet>

        <p>
            This will make Blazor framework to prevent the assemblies to be loaded at app launch thus improves the performance.
        </p>

        

        <h5 id="router-configuration"><Highlight>Router</Highlight> component configuration</h5>

        <ol>
            <li>Go to <Highlight>App.razor</Highlight> file.</li>
            <li>Import <Highlight>@@using Microsoft.AspNetCore.Components.WebAssembly.Services</Highlight>.</li>
            <li>Inject <Highlight>@@inject LazyAssemblyLoader AssemblyLoader</Highlight></li>
            <li>In <Highlight>Router</Highlight> component, assign <Highlight>OnNavigateAsync="@@OnNavigateAsync"</Highlight>. This event gets triggered whenever we navigate to new page.</li>
            <li>Now you can conditionally <Highlight>lazy load asssemblies</Highlight> based on route using <Highlight CssClasses="[ break-all ]">await AssemblyLoader.LoadAssembliesAsync(new[] { "Components.wasm" });</Highlight></li>
        </ol>

        <CodeSnippet CssClass="language-razor">
@@using Microsoft.AspNetCore.Components.WebAssembly.Services
@@inject LazyAssemblyLoader AssemblyLoader

&lt;Router AppAssembly="@@typeof(Program).Assembly" OnNavigateAsync="@@OnNavigateAsync"&gt;
  ...
&lt;/Router&gt;

@@code {
    private async Task OnNavigateAsync(NavigationContext args)
    {
       try
       {
          if (args.Path.Contains("blogs", StringComparison.OrdinalIgnoreCase))
          {
              await AssemblyLoader.LoadAssembliesAsync(new[] { "BaseComponents.wasm" });
          }

          if (args.Path.Contains("blazor", StringComparison.OrdinalIgnoreCase))
          {
              await AssemblyLoader.LoadAssembliesAsync(new[] { "BlazorDemoComponents.wasm" });
          }
       }
       catch (Exception ex)
       {
           // Log exception
       }
    }
}
        </CodeSnippet>

        

        <p>
            Wow. We have completed lazy loading implementation in Blazor WASM application. Now that your Blazor WASM app will <Highlight>start up faster</Highlight> 
            and <Highlight>lazy load assemblies on demand based on route</Highlight> thus <Highlight>increasing speed</Highlight> and 
            <Highlight>saves user bandwidth</Highlight>.
        </p>

        <p>
            Notice that in the network tab only necessary items to load home page will be requested.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/lazy-loading/home-screen-of-i-love-dotnet.webp" alt="home screen of i love dotnet" class="[ w-full ]" />
        </figure>

        

        <p>
            Now on navigating to Blazor Wasm Lazy Loading article, Notice that in the network tab <Highlight>BaseComponents.wasm.br</Highlight> and 
            <Highlight>BlazorDemoComponents.wasm.br</Highlight> will be requested.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/lazy-loading/lazy-loading-of-blazor-demo-components.webp" alt="lazy loading of blazor demo components" class="[ w-full ]" />
        </figure>
        </How>

        <Summary>


        <p>
            I'm happy that you have reached to the end of this article. We learned what is <Highlight>lazy loading</Highlight> and why it is needed 
            and how to configure lazy loading in blazor wasm applications. This will benefit a lot in <Highlight>micro-frontend</Highlight> 
            architecture. All these can be validated from <Highlight>network tab</Highlight> of your browser inside 
            <Highlight>i love dotnet</Highlight> site.
        </p>
        </Summary>
    </ContentBody>
</Content>