@page "/blogs/blazor-wasm-pre-rendering"
@inherits BasePage

<Content FileName=@nameof(PreRendering) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article, let's learn about <Highlight>Pre Rendering</Highlight> Blazor apps during publish time to improve 
            <abbr title="Search Engine Optimization">SEO</abbr> and <abbr title="Social Media Optimization">SMO</abbr>.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/blazor-wasm-publishing-to-github-pages" Match="NavLinkMatch.All">Publishing to GitHub Pages</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            The output of a published Blazor WebAssembly application consists of static files exclusively. But just like other single page application (SPA) 
            frameworks, Blazor WASM is not properly indexed by search engines. This makes it very hard to do <NavLink href="https://developer.mozilla.org/en-US/docs/Glossary/SEO" target="_blank">Search Engine Optimization</NavLink> 
            (<abbr title="Search Engine Optimization">SEO</abbr>). Prerendering can improve Search Engine Optimization (SEO) by rendering content for the initial HTTP response that search engines can use 
            to calculate page rank.
        </p>
        </Why>

        <How>
            <h4 id="seo-problem-with-spa">SEO problem with SPA</h4>


        <p>
            Search engines crawl your website using "crawlers" also called "spiders" sometimes. These crawlers are essentially bots visiting every page it 
            can find on your website. The content on those pages are then added to the search index. But what do crawlers see when they visit SPA's? For 
            Blazor WASM applications, this is what crawlers see:
        </p>

        <CodeSnippet CssClass="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /&gt;
    &lt;title&gt;I Love DotNet&lt;/title&gt;
    &lt;base href="/" /&gt;
    &lt;link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" /&gt;
    &lt;link href="css/app.css" rel="stylesheet" /&gt;
    &lt;link href="ILoveDotNet.styles.css" rel="stylesheet" /&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div id="app"&gt;Loading...&lt;/div&gt;

    &lt;div id="blazor-error-ui"&gt;
        An unhandled error has occurred.
        &lt;a href="" class="reload"&gt;Reload&lt;/a&gt;
        &lt;a class="dismiss"&gt;🗙&lt;/a&gt;
    &lt;/div&gt;
    &lt;script src="_framework/blazor.webassembly.js"&gt;&lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
        </CodeSnippet>

        

        <p>
            Here is the snapshot of what crawlers see without prerendering <Highlight>Index.razor</Highlight>.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/prerendering/before-prerendering.png" loading="lazy" alt="What crawlers see without prerendering" class="[ w-full ]" />
        </figure>

        <p>
            <strong>The only thing the crawlers see are the words "Loading…" or a blank screen.</strong>
        </p>

        <p>
            To optimize for search engines at the margins, you can add some content above and below, or use the title and description meta tags in the head, 
            but that won't get you far. The reason why it doesn't see your entire SPA, is because most search engine crawlers do not execute JavaScript.
        </p>
            <h4 id="seo-solution-for-spa">SEO solution for SPA</h4>


        <p>
            Many SPA frameworks have support for rendering the same application on both client and server. Being able to render both server and client side 
            combines best of both worlds. You have the speed and SEO benefits from server rendered applications and the UX benefits of a SPA. Server side 
            pre-rendering is a great solution, but it does require your code to be executed on a server which is not possible if you’re using a static site 
            host.
        </p>

        <p>
            So instead of pre-rendering server side at request time, you can pre-render at publish-time. You can then host the HTML files outputted at 
            publish-time on static site hosts, giving you the best performance, best SEO, best UX, and a more affordable hosting.
        </p>
            <h4 id="pre-render-at-publish-time">Pre-render Blazor WASM at publish time</h4>


        <h5>Steps</h5>

        <ol>
            <li>Install <Highlight>BlazorWasmPreRender.Build</Highlight> Nuget package.</li>
            <li>
                <p>Configure Services registration</p>

                <p>
                    If you are registering any services (except HttpClient that isn't specially configured) to the service provider at the startup of your 
                    Blazor WebAssembly app, please extract that process to the static method named 
                    <Highlight CssClasses="[ break-all ]">static void ConfigureServices(IServiceCollection services, string baseAddress)</Highlight>.
                </p>

                <CodeSnippet CssClass="language-csharp">
public class Program
{
  public static async Task Main(string[] args)
  {
    var builder = WebAssemblyHostBuilder.CreateDefault(args);
    builder.RootComponents.Add&lt;App&gt;("#app");

    // 👇 Extract service registration...
    services.AddScoped(sp =&gt; new HttpClient { BaseAddress = new Uri(baseAddress) });
    services.AddScoped&lt;IFoo, MyFoo&gt;();

    await builder.Build().RunAsync();
  }
}
                </CodeSnippet>

                

                <CodeSnippet CssClass="language-csharp">
public class Program
{
  public static async Task Main(string[] args)
  {
    var builder = WebAssemblyHostBuilder.CreateDefault(args);
    builder.RootComponents.Add&lt;App&gt;("#app");

    ConfigureServices(builder.Services, builder.HostEnvironment.BaseAddress);

    await builder.Build().RunAsync();
  }

  // 👇 ... to this named static method.
  private static void ConfigureServices(IServiceCollection services, string baseAddress)
  {
    services.AddScoped(sp =&gt; new HttpClient { BaseAddress = new Uri(baseAddress) });
    services.AddScoped&lt;IFoo, MyFoo&gt;();
  }
}
                </CodeSnippet>

                <p>
                    <strong>Note:</strong> The "ConfigureServices" local function must be "static" local function.
                </p>

                <p>
                    The <Highlight>ConfigureServices()</Highlight> method can also have an <Highlight>IConfiguration</Highlight> 
                    argument reflected with the contents of the <Highlight>wwwroot/appsetting.json</Highlight> JSON file.
                </p>
            </li>
            <li>Publish the project.</li>
        </ol>

        <p>
            Now after pre rendering the project during publish, you can check the <Highlight>wwwroot/index.html</Highlight> to see the pre 
            rendered contents. Now that crawlers can see:
        </p>

        <CodeSnippet CssClass="language-html">
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;

&lt;head&gt;
    &lt;meta charset="utf-8" /&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /&gt;
    &lt;title&gt;I Love DotNet&lt;/title&gt;
    &lt;base href="/" /&gt;
    &lt;link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" /&gt;
    &lt;link href="css/app.css" rel="stylesheet" /&gt;
    &lt;link href="ILoveDotNet.styles.css" rel="stylesheet" /&gt;
&lt;!-- %%-PRERENDERING-HEADOUTLET-BEGIN-%% --&gt;
&lt;!--Blazor:{"type":"webassembly","assembly":"Microsoft.AspNetCore.Components.Web",
"typeName":"Microsoft.AspNetCore.Components.Web.HeadOutlet","parameterDefinitions":"W10=",
"parameterValues":"W10=","prerenderId":"e9e5b3f7e26f4242a0a258246f92a8e7"}
--&gt;&lt;title&gt;Index&lt;/title&gt;&lt;!--Blazor:{"prerenderId":"e9e5b3f7e26f4242a0a258246f92a8e7"}--&gt;
&lt;!-- %%-PRERENDERING-HEADOUTLET-END-%% --&gt;
&lt;/head&gt;

&lt;body&gt;
    &lt;div id="app"&gt;
&lt;!-- %%-PRERENDERING-BEGIN-%% --&gt;
&lt;!--Blazor:{"type":"webassembly","assembly":"WasmNonServiceWorkerPrerender",
"typeName":"WasmNonServiceWorkerPrerender.App","parameterDefinitions":"W10=",
"parameterValues":"W10=","prerenderId":"ef8d06ce84074336aebf21f1c1208c83"}
--&gt;&lt;div class="page" b-7cnpq78vhy&gt;
        &lt;div class="sidebar" b-7cnpq78vhy&gt;
            &lt;div class="top-row ps-3 navbar navbar-dark" b-fzjo1kuotl&gt;
                &lt;div class="container-fluid" b-fzjo1kuotl&gt;
                    &lt;a class="navbar-brand" href b-fzjo1kuotl&gt;WasmNonServiceWorkerPrerender&lt;/a&gt;
        &lt;button title="Navigation menu" class="navbar-toggler" b-fzjo1kuotl&gt;&lt;span class="navbar-toggler-icon" b-fzjo1kuotl&gt;&lt;/span&gt;&lt;/button&gt;&lt;/div&gt;&lt;/div&gt;

&lt;div class="collapse" b-fzjo1kuotl&gt;
    &lt;nav class="flex-column" b-fzjo1kuotl&gt;&lt;div class="nav-item px-3" b-fzjo1kuotl&gt;
        &lt;a href="" class="nav-link active"&gt;&lt;span class="oi oi-home" aria-hidden="true" b-fzjo1kuotl&gt;&lt;/span&gt; Home
            &lt;/a&gt;&lt;/div&gt;
        &lt;div class="nav-item px-3" b-fzjo1kuotl&gt;&lt;a href="counter" class="nav-link"&gt;&lt;span class="oi oi-plus" aria-hidden="true" b-fzjo1kuotl&gt;&lt;/span&gt; Counter
            &lt;/a&gt;&lt;/div&gt;
        &lt;div class="nav-item px-3" b-fzjo1kuotl&gt;&lt;a href="fetchdata" class="nav-link"&gt;&lt;span class="oi oi-list-rich" aria-hidden="true" b-fzjo1kuotl&gt;&lt;/span&gt; Fetch data
            &lt;/a&gt;&lt;/div&gt;&lt;/nav&gt;&lt;/div&gt;&lt;/div&gt;

    &lt;main b-7cnpq78vhy&gt;&lt;div class="top-row px-4" b-7cnpq78vhy&gt;&lt;a href="https://docs.microsoft.com/aspnet/" target="_blank" b-7cnpq78vhy&gt;About&lt;/a&gt;&lt;/div&gt;

        &lt;article class="content px-4" b-7cnpq78vhy&gt;

&lt;h1&gt;Hello, world!&lt;/h1&gt;

Welcome to your new app.

&lt;div class="alert alert-secondary mt-4"&gt;&lt;span class="oi oi-pencil me-2" aria-hidden="true"&gt;&lt;/span&gt;
    &lt;strong&gt;How is Blazor working for you?&lt;/strong&gt;

    &lt;span class="text-nowrap"&gt;
        Please take our
        &lt;a target="_blank" class="font-weight-bold link-dark" href="https://go.microsoft.com/fwlink/?linkid=2148851"&gt;brief survey&lt;/a&gt;&lt;/span&gt;
    and tell us what you think.
&lt;/div&gt;&lt;/article&gt;&lt;/main&gt;&lt;/div&gt;
        &lt;!--Blazor:{"prerenderId":"ef8d06ce84074336aebf21f1c1208c83"}--&gt;
&lt;!-- %%-PRERENDERING-END-%% --&gt;
&lt;!--Blazor-Component-State:e30=--&gt;&lt;/div&gt;

    &lt;div id="blazor-error-ui"&gt;
        An unhandled error has occurred.
        &lt;a href="" class="reload"&gt;Reload&lt;/a&gt;
        &lt;a class="dismiss"&gt;🗙&lt;/a&gt;
    &lt;/div&gt;
    &lt;script src="_framework/blazor.webassembly.js" autostart="false"&gt;&lt;/script&gt;



    &lt;script src="decode.min.js"&gt;&lt;/script&gt;
    &lt;script src="brotliloader.min.js"&gt;&lt;/script&gt;
&lt;/body&gt;

&lt;/html&gt;
        </CodeSnippet>

        

        <p>
            Here is the snapshot of what crawlers see with prerendering <Highlight>Index.razor</Highlight>.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/prerendering/after-prerendering.png" loading="lazy" alt="What crawlers see with prerendering" class="[ w-full ]" />
        </figure>

        <p>
            More detailed documentation can be found in <NavLink href="https://github.com/jsakamoto/BlazorWasmPreRendering.Build" target="_blank">BlazorWasmPreRendering.Build GitHub Readme</NavLink>.
        </p>
        </How>

        <Summary>


        <p>
            SPA frameworks like Blazor require the execution of JavaScript to function. Most search engine crawler's don't execute JavaScript which means 
            JavaScript generated content won't be indexed. Google's crawlers do execute JavaScript and they can successfully index Blazor WASM apps. To 
            optimize for other search engines, you can pre-render Blazor WASM on the server, but that requires server side code execution.
        </p>

        <p>
            For static site hosts like GitHub Actions and Azure Static Web Apps, server side code execution is not available. Instead of pre-rendering in 
            response to HTTP requests, you can move the pre-rendering to the build pipeline. Using "BlazorWasmPreRender.Build" package will improve the 
            internet search results of your static hosting Blazor Wasm app with only minimal or no code changes.
        </p>

        <p>
            Additionally, you can integrate these pre-rendering tools inside of your continuous integration and continuous deployment pipelines. Using GitHub 
            Actions, you can pre-render your Blazor application and deploy it to GitHub Pages. Deploying pre-rendered applications to GitHub Pages will 
            increase SEO but also resolve those pesky HTTP 404 errors.
        </p>
        </Summary>
    </ContentBody>
</Content>