@page "/blogs/printing-barcode-to-label-printer-from-blazor-wasm"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(PrintingBarcode)>
    <ContentBody>
        <p>
            In this article, let's learn about <Highlight>printing Barcode</Highlight> to a label printer in Blazor WASM apps.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/how-to-generate-barcode-in-blazor-wasm" Match="NavLinkMatch.All">How to generate barcode in Blazor WASM</NavLink>.
        </p>

        <h3>Table of Contents</h3>

        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#printing-barcode")" Match="NavLinkMatch.All">
                    Printing Barcode
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>

        <p>
            In my previous post I wrote about generating barcode in Blazor WASM apps. As a bonus I got an <Highlight>another opportunity to print barcode to 
            a label printer</Highlight> from blazor wasm apps. This is a very common scenario in many industries like <Highlight>manufacturing, retail, 
            logistics</Highlight>, etc. where they need to print barcode. However it took a day for me to figure out how to achieve this via blazor wasm and 
            print to label printer using browser. So, I thought of writing this to help others to solve similar problem.
        </p>

        <p>
            There are many windows applications available in market to print barcode to label printer. There are even licensed reporting apps which can solve this 
            problem but <Highlight>I'm always a fan of HTML and CSS. So, I decided to do it from blazor wasm app</Highlight>. Lets see how we can 
            achieve this.
        </p>

        

        <h3 id="printing-barcode">Printing Barcode</h3>

        <p>
            I assume you have <Highlight>good HTML5, CSS3 and JavaScript knowledge</Highlight>. If not, I recommend you to learn them first. I'm not 
            going to explain the basics of HTML, CSS and JavaScript in this article. I will be using <Highlight>HTML5</Highlight>, 
            <Highlight>CSS3</Highlight> and <Highlight>JavaScript</Highlight> to achieve this. I will be using 
            <Highlight>Blazor WASM</Highlight> to build the UI.
        </p>

        <p>
            As a pre-requisite, we need label printer to be installed in our system. I'm using <Highlight>TVS LP 46 NEO</Highlight> label printer. 
            This is a plug and play printer and it comes with a <Highlight>windows driver</Highlight>. So, we need to install the driver in our system. 
            Once the driver is installed, we can see the printer getting detected in our system.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/printing-barcode-to-label-printer/tvs-lp-46-neo-bple-printer.png" alt="tvs lp 46 neo bple printer" class="[ w-full ]" />
        </figure>

        

        <p>
            Select your printer from installed pinters and go to <Highlight>print preferences</Highlight>. Under <Highlight>Page Setup</Highlight> 
            tab in <Highlight>Stock</Highlight> section edit the default <Highlight>USER</Highlight> profile to change the label size.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/printing-barcode-to-label-printer/printer-preferences.png" alt="printer preferences" class="[ w-1/2 ]" />
        </figure>

        

        <p>
            Next we need to <Highlight>configure printer with our label size</Highlight>. This is an important step. If we don't configure the printer 
            with our label size, then the printer will not print correctly. This step took me good amount of time to figure out. <Highlight>The trick here is 
            to set the width to two label size 100mm (50mm + 50mm)</Highlight>. Remember two labels per row. Let me make it easier for you folks.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/printing-barcode-to-label-printer/label-size-settings.png" alt="label size settings" class="[ w-1/2 ]" />
        </figure>

        

        <p>
            Now under <Highlight>Graphics</Highlight> tab in <Highlight>Dithering</Highlight> section select 
            <Highlight>None</Highlight> to have barcode printed as solid barcode without any dots.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/printing-barcode-to-label-printer/graphics-settings.png" alt="graphics settings" class="[ w-1/2 ]" />
        </figure>

        

        <p>
            I need to print the barcode to the label of size <Highlight>35mm height</Highlight> and <Highlight>50mm width</Highlight>. 
            The label sheet will have <Highlight>two labels in one row</Highlight>. We need to convert <Highlight>each row to page</Highlight> 
            using css and make browser understand one row as one page. Once we do this when we print from browser, the browser will send print for each page and that 
            will be printed in one row from our label printer.
        </p>

        <p>
            Here is how the actual label roll sheet looks like.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/printing-barcode-to-label-printer/label-sheet.png" alt="label sheet" class="[ w-1/2 ]" />
        </figure>

        

        <CodeSnippet CssClass="language-razor">
@@using Microsoft.JSInterop

@@implements IAsyncDisposable

&lt;HeadContent&gt;
    &lt;style&gt;
        #barcode-section-to-print, #barcode-section-to-print * {
            display: none;
        }
    &lt;/style&gt;
&lt;/HeadContent&gt;

&lt;input type="number" 
       min="1"
       class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 ] [ focus:outline-none focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]" 
       @@bind="Count" /&gt;

&lt;button type="button" 
        class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @@onclick="PrintBarCode"&gt;
    Print Barcode
&lt;/button&gt;

&lt;section id="barcode-section-to-print"&gt;
    @@for (int i = 0; i &lt; _rows; i++)
    {
        &lt;article&gt;
            @@for (int j = 0; j &lt; (i == _rows - 1 ? _remainder == 0 ? 2 : 1 : 2); j++)
            {
                &lt;section&gt;
                    &lt;header&gt;@@_brandName&lt;/header&gt;
                    &lt;main&gt;@@_siteUrl&lt;/main&gt;
                    &lt;footer&gt;
                        &lt;canvas id="@@($"canvas{i}{j}")" width="1" height="1" style="border: 1px solid #fff" data-text="@@_barcodeText"&gt;&lt;/canvas&gt;
                    &lt;/footer&gt;
                &lt;/section&gt;
            }
        &lt;/article&gt;
    }
&lt;/section&gt;

@@code {
    private int _rows = 0;
    private int _remainder = 0;
    private int _count = 1;
    private string _brandName = "I ❤️ .NET";
    private string _siteUrl = "https://ilovedotnet.org";
    private string _barcodeText = "12345";

    public int Count
    {
        get =&gt; _count;
        set
        {
            _count = value;
            _rows = Math.DivRem(_count, 2, out _remainder) + _remainder;
        }
    }   

    private IJSObjectReference? module;
    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    protected override void OnInitialized()
    {
        _rows = Math.DivRem(_count, 2, out _remainder) + _remainder;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JSRuntime.InvokeAsync&lt;IJSObjectReference&gt;("import", "./_content/BlazorDemoComponents/printbwipbarcode.js");
        }
    }

    private async Task PrintBarCode()
    {
        if (module is not null)
        {
            await module.InvokeVoidAsync("printBarcode");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}
        </CodeSnippet>

        

        <p>
            In the above code,
        </p>

        <ol>
            <li>We are getting number of label count as input from user.</li>
            <li>
                Once the user inputs the <Highlight>Count</Highlight>, the bind action will calculate number of rows it needs to print and store it 
                in <Highlight>_rows</Highlight>.
            </li>
            <li>
                We are using <Highlight>Math.DivRem</Highlight> to find the <Highlight>quotient</Highlight> and 
                <Highlight>remainder</Highlight> and add remainder to rows count.
            </li>
            <li>Now immediately the UI will be rendered with <Highlight>two barcodes in each row</Highlight> based on row count.</li>
            <li>Thats it we are ready with our HTML setup.</li>
            <li>
                Here I have hidden the <Highlight>#barcode-section-to-print</Highlight> purposefully to avoid all the plumbing works not visible 
                to user for <Highlight>better user experience</Highlight>.
            </li>
        </ol>

        

        <CodeSnippet CssClass="language-css">
@@media print {
    #barcode-section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }

    html,
    body {
        max-width: 100mm;
        max-height: 35mm;
        width: fit-content;
        font-family: Calibri;
        font-size: 1rem;
    }

    article {
        padding: 20px 0 0 18px;
        margin-right: 18px;
        display: grid;
        grid-template-columns: 40mm 40mm;
        grid-gap: 36px;
        page-break-after: always;
    }

    p {
        margin: 0;
    }

    section {
        display: flex;
        flex-direction: column;
    }

        section header {
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
        }

        section main {
            display: flex;
            justify-content: space-between;
        }

        section footer {
            text-align: center;
        }
}
        </CodeSnippet>

        

        <p>
            In the above <Highlight>@@print @@media</Highlight> css code,
        </p>

        <ol>
            <li>We are adjusting the <Highlight>position</Highlight> of document to be printed.</li>
            <li>
                Then we are setting the <Highlight>max-width</Highlight> of <Highlight>html</Highlight> and 
                <Highlight>body</Highlight> to <Highlight>100mm (it's because we will have two labels in on row 50mm + 50mm)</Highlight> 
                and <Highlight>max-height</Highlight> to <Highlight>35mm</Highlight>.
            </li>
            <li>
                Now we are using <Highlight>CSS3 GRID</Highlight> to layout our barcodes inside <Highlight>article</Highlight> tag in 
                two columns per row.
            </li>
            <li>
                Each barcode inside <Highlight>section</Highlight> tag will be using <Highlight>CSS3 Flex</Highlight> to layout its 
                content.
            </li>
            <li>
                Keep an eye on <Highlight>page-break-after: always;</Highlight> inside <Highlight>article</Highlight> tag. This css 
                is <Highlight>responsible for making each row as separate page in browser</Highlight>.
            </li>
            <li>You can add rest of the css to adjust font, padding, margin and spacing to make sure barcode is on correct position in physical print output.</li>
        </ol>

        

        <CodeSnippet CssClass="language-javascript">
import("./bwip.min.js");

export function printBarcode() {
    var iframe = document.querySelector('#barcode-print') || document.createElement('iframe');
    iframe.setAttribute("id", "barcode-print");
    document.body.appendChild(iframe);
    iframe.contentWindow.document.body.innerHTML = document.querySelector('#barcode-section-to-print').innerHTML;
    var printScript = document.createElement("script");
    printScript.innerHTML = `function setPrintStyles() {
                                var css = \`@@media print { @@page { size: 100mm 35mm; } }\`,
        		                    head = document.head || document.getElementsByTagName('head')[0],
        		                    style = document.createElement('style');
	    	                    head.appendChild(style);
	    	                    style.type = 'text/css';
	    	                    style.appendChild(document.createTextNode(css));
                            }`;
    iframe.contentWindow.document.head.appendChild(printScript);
    var barCodeScript = document.createElement("script");
    barCodeScript.innerHTML = `function drawBarCode() {
                                document.querySelectorAll('canvas').forEach(function (barcodeCanvas) {
                                        bwipjs.toCanvas(barcodeCanvas, {
                                        bcid: "code128", // Barcode type
                                        text: barcodeCanvas.dataset.text, // Text to encode
                                        scale: 2, // 2x scaling factor
                                        height: 6, // Bar height, in millimeters
                                        includetext: false, // Show human-readable text
                                        textxalign: "center", // Always good to set this
                                    });
                                });
                            }`;
    iframe.contentWindow.document.head.appendChild(barCodeScript);
    var bodyScript = document.createElement("script");
    bodyScript.innerHTML = `fetch('${window.location.origin}/_content/BlazorDemoComponents/barcode-label.css')
							.then(response =&gt; response.text())
							.then(cssdata =&gt; {
								var head = document.head || document.getElementsByTagName('head')[0],
									style = document.createElement('style');
								head.appendChild(style);
								style.type = 'text/css';
								style.appendChild(document.createTextNode(cssdata));
                                
                                fetch('${window.location.origin}/_content/BlazorDemoComponents/bwip.min.js')
							        .then(response =&gt; response.text())
							        .then(scriptdata =&gt; {
								        var body = document.body || document.getElementsByTagName('body')[0],
									        script = document.createElement('script');
								        body.appendChild(script);
								        script.type = 'text/javascript';
								        script.appendChild(document.createTextNode(scriptdata));
                                        drawBarCode();
								        setPrintStyles();
								        window.print();
							        });
							});`;
    iframe.contentWindow.document.body.appendChild(bodyScript);
}
        </CodeSnippet>

        

        <p>
            Now we are done with <Highlight>skeleton (HTML5)</Highlight> and <Highlight>makeup (CSS3)</Highlight>. We still need some 
            <Highlight>JavaScript</Highlight> to make it work. Let's see what we have done in the above code.
        </p>

        <ol>
            <li>Import the <Highlight>bwip.min.js</Highlight> file using dynamic import.</li>
            <li>
                Define a function <Highlight>printBarcode()</Highlight> that will be called to <Highlight>print the barcode from our 
                PrintBarcodeDemo component</Highlight>.
            </li>
            <li>
                Create an <Highlight>iframe</Highlight> element or select an existing one with the ID 
                <Highlight>barcode-print</Highlight>.
            </li>
            <li>
                Set the ID of the iframe to <Highlight>barcode-print</Highlight>. This is to make sure if the element is already present that can 
                be reused.
            </li>
            <li>Append the <Highlight>iframe</Highlight> to the <Highlight>document body</Highlight>.</li>
            <li>
                Set the <Highlight>HTML content</Highlight> of the iframe's body to the HTML content of the element with the ID 
                <Highlight>barcode-section-to-print</Highlight>. This will bring our 
                <Highlight>barcode HTML to the iframe body</Highlight>.
            </li>
            <li>
                Create a <Highlight>script</Highlight> element to define a function that sets print styles. Note that we are setting 
                <Highlight>@@print @@page size to 100mm 35mm</Highlight>.
            </li>
            <li>Append the <Highlight>print script</Highlight> to the <Highlight>iframe's head</Highlight>.</li>
            <li>Create a <Highlight>script</Highlight> element to define a <Highlight>function that draws barcodes</Highlight>.</li>
            <li>Append the <Highlight>barcode script</Highlight> to the <Highlight>iframe's head</Highlight>.</li>
            <li>
                Create a <Highlight>script</Highlight> element to <Highlight>fetch</Highlight> CSS and JavaScript files, and call 
                <Highlight>function to draw the barcode for each canvas element</Highlight> and <Highlight>call window.print()</Highlight> 
                inside <Highlight>iframe</Highlight>.
            </li>
            <li>Append the <Highlight>body script</Highlight> to the <Highlight>iframe's body</Highlight>.</li>
        </ol>

        <p>
            That's it above setup will nicely generate barcode and layout it in two columns per row and print it to the label printer.
        </p>

        

        <DemoSnippet Title="Printing Barcode to label printer from Blazor WASM">
            <p class="[ text-black ] [ dark:text-white ]">
                <b>
                    Scenario - Let's try printing barcode using our <Highlight>PrintingBarcodeDemo</Highlight> component. Try inputting different 
                    values and click on Print button.
                </b>
            </p>
            <PrintingBarcodeDemo></PrintingBarcodeDemo>
        </DemoSnippet>

        

        <p>
            In a nutshell, the <Highlight>trick</Highlight> here is to use <Highlight>CSS3 GRID</Highlight> and 
            <Highlight>CSS3 FLEX</Highlight> to layout the barcodes in <Highlight>two columns per row</Highlight> and use 
            <Highlight>CSS3 @@media print</Highlight> to set the page size and use <Highlight>@@page-break-after: always;</Highlight> 
            to make each row as separate page. Once we do this, the browser will send print for each page and that will be printed in one row from our label printer.
        </p>

        

        <p>
            Finally select your <Highlight>barcode printer</Highlight> from browser and <Highlight>uncheck default header and footer</Highlight> 
            from browser print window and also <Highlight>set margins to none</Highlight> in browser print window and most importantly select 
            <Highlight>Paper Size</Highlight> as <Highlight>USER</Highlight> profile which we edited in <Highlight>Page Setup</Highlight> 
            under <Highlight>Printer Preferences</Highlight> and click on <Highlight>Print</Highlight>. That's it you will see the barcode 
            printed in your label printer.
        </p>

        

        <p>
            Note that browser print window itself show the barcodes in 2 pages in below image which will print in two rows in label sheet.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/printing-barcode-to-label-printer/browser-print-window.png" alt="browser print window" class="[ w-full ]" />
        </figure>

        

        <h3 id="summary">Summary</h3>

        <p>
            In this article we learnt how to <Highlight>print barcode to label printer from blazor wasm application</Highlight>. We learnt how to 
            configure printer page based on our label size and we used the power of HTML5 and CSS3 to print barcode to labels from browser without any third 
            party apps. Hope you enjoyed reading this article and it saved a lot of time for you.
        </p>
    </ContentBody>
</Content>