@page "/blogs/blazor-wasm-publishing-to-iis"
@inherits FragmentNavigationBase

<Content FileName=@nameof(PublishingToIIS)>
    <ContentBody>
        <p>
            In this article, let's learn about <ContentHighlight>Publishing</ContentHighlight> Blazor apps to <ContentHighlight>IIS</ContentHighlight> in windows machine.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink class="[ underline ]" href="blogs/blazor-wasm-dynamic-component">Blazor WASM Dynamic Component</NavLink>.
        </p>

        <h3 class="[ font-semibold text-lg ]">Table of Contents</h3>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#publishing-to-iis")" Match="NavLinkMatch.All">
                    Publishing to IIS
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction" class="[ font-semibold text-lg ]">Introduction</h3>

        <p>
            With ASP.NET Blazor WebAssembly (WASM) you can create .NET web applications that run completely inside of the browser sandbox. The publish 
            output of a Blazor WASM project are <strong>all static files</strong>. Now that you can run .NET web applications without server-side code, 
            you can deploy these applications to IIS. With the Blazor WebAssembly hosting model:
        </p>

        <ul class="[ list-disc ] [ ml-4 ]">
            <li>The Blazor app, its dependencies, and the .NET runtime are downloaded to the browser in parallel.</li>
            <li>The app is executed directly on the browser UI thread.</li>
        </ul>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="publishing-to-iis" class="[ font-semibold text-lg ]">Publishing to IIS</h3>

        <h4 class="[ font-semibold text-base ]">Prerequisites</h4>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <p>
                    Install IIS in your machine.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/installing-iis.png" loading="lazy" alt="Installing IIS" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
            <li>
                <p>
                    Install URL Rewrite module from <NavLink class="[ underline ]" href="https://www.iis.net/downloads/microsoft/url-rewrite" target="blank">here</NavLink>.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/installing-url-rewrite.png" loading="lazy" alt="Installing URL Rewrite" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
            <li>
                <p>
                    Install Hosting Bundle for Latest .NET Version from <NavLink class="[ underline ]" href="https://dotnet.microsoft.com/en-us/download/dotnet/6.0/runtime" target="blank">here</NavLink>. .NET 6.0 is the latest version at the time of writing.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/installing-windows-hosting-bundle.png" loading="lazy" alt="Installing .NET Windows Hosting Bundle" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
            <li>Restart the machine after installing all the above prerequisites.</li>
        </ol>

        <h4 class="[ font-semibold text-base ]">Publishing</h4>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <p>
                    Open the project in Visual Studio.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/open-project-in-visual-studio.png" loading="lazy" alt="open project in visual studio" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
            <li>
                <p>
                    Right click the project and click on publish.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/right-click-and-publish.png" loading="lazy" alt="right click and publish" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
            <li>
                <p>
                    Click on New Publish Profile.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/click-on-new-publish-profile.png" loading="lazy" alt="click on new publish profile" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
            <li>
                <p>
                    Select Folder target and click on Next.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/select-folder-target.png" loading="lazy" alt="select folder target" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
            <li>
                <p>
                    Leave the path to default location or change it to new path.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/set-publish-path.png" loading="lazy" alt="set publish path" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
            <li>
                <p>
                    CLick on publish.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/click-publish.png" loading="lazy" alt="click publish" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
        </ol>

        <p>
            If there are no build errors, then your application will be published successfully in the folder you have mentioned. After the publishing is 
            successful, we will move on to configure IIS.
        </p>

        <p>
            <strong>Note:</strong> In the publish directory, you will find a <ContentHighlight>web.config</ContentHighlight> file and a 
            <ContentHighlight>wwwroot</ContentHighlight> folder. The config file helps you host your application in IIS, but you don't need that file for 
            static site hosts. 
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 class="[ font-semibold text-base ]">Configuring IIS</h4>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>Open IIS and right-click on Sites >> Add Web Site.</li>
            <li>An “Add Website” pop up box will open. Here we need to furnish details in six fields.</li>
            <li>Site name: Put any name of your choice. Here I put "ilovedotnet".</li>
            <li>Physical Path: The path to the folder where you have published your application.</li>
            <li>Binding Type: Select https.</li>
            <li>(Optional) - Binding Port: Change to anyport example, 44353 or leave it to 443.</li>
            <li>(Optional) - Host name: This is the name we put in the browser to access our application. We will put ilovedotnet.com for this demo.</li>
            <li>SSL Certificate: Select IIS Express Development Certificate.</li>
        </ol>

        <figure>
            <img src="./image/blogs/blazor/wasm/publishing-to-iis/configuring-iis.png" loading="lazy" alt="configuring iis" class="[ w-full ]" />
        </figure>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <p>
            Next step is to configure the “Application Pool” for our site. The application pool name will be the same as the “Site name” we have provided in 
            the last step. Therefore, in this case, the application pool name will be “ilovedotnet”. 
        </p>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>Click to “Application Pools” from the left panel.</li>
            <li>Double click on the pool “ilovedotnet”.</li>
            <li>It will open an “edit application pool” window.</li>
            <li>Select “No Managed Code” from the .NET CLR version drop-down.</li>
        </ol>

        <figure>
            <img src="./image/blogs/blazor/wasm/publishing-to-iis/configure-application-pool.png" loading="lazy" alt="configure application pool" class="[ w-full ]" />
        </figure>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 class="[ font-semibold text-base ]">Configuring DNS Host</h4>

        <p>
            The last step is to configure our DNS host file.
        </p>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <p>
                    Navigate to <ContentHighlight>C:\Windows\System32\drivers\etc</ContentHighlight> path in your machine and open the “hosts” file using any text editor.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/hosts-file.png" loading="lazy" alt="hosts file" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
            <li>
                <p>
                    We need to add the hostname that we provided in IIS against the localhost IP address.
                </p>
                <figure>
                    <img src="./image/blogs/blazor/wasm/publishing-to-iis/configuring-hosts-file.png" loading="lazy" alt="configuring hosts file" class="[ w-full ]" />
                </figure>
                <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
            </li>
        </ol>

        <h4 class="[ font-semibold text-base ]">Demo</h4>

        <p>
            Open any browser in your machine and enter the hostname you have configured. You can see that the application will open in the browser window.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/publishing-to-iis/final-output.png" loading="lazy" alt="final output" class="[ w-full ]" />
        </figure>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h4 class="[ font-semibold text-base ]">Troubleshooting common hosting issues</h4>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <blockquote>
                    If you are unable to open the website and get a DNS not found an error.
                </blockquote>

                <p>
                    Check if the hostname is configured correctly in the host file. Make sure that your machine is not connected to any VPN server. Also, 
                    if you are using any Web proxy then disable it.
                </p>
            </li>
            <li>
                <blockquote>
                    HTTP Error 500.19 - Internal Server Error - The requested page cannot be accessed because the related configuration data for the page 
                    is invalid. 
                </blockquote>

                <p>
                    This error message is clear. The publish folder is inaccessible because of insufficient permissions. Grant Read permission to the 
                    IIS_IUSRS group on the publish folder so that it can access Web.config file.
                </p>
            </li>
            <li>
                <blockquote>
                    If the website is loading but data is not getting populated and you get a 500 Internal server error.
                </blockquote>

                <p>
                    Make sure that your connection string is in the correct format. The user id that you have specified in your connection string should 
                    have db_datareader and db_datawriter permissions. If the issue persists then provide the user with db_owner permission
                </p>
            </li>
        </ol>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>

        <h3 id="summary" class="[ font-semibold text-lg ]">Summary</h3>

        <p>
            In this article, we learned how to deploy a Blazor application on IIS in windows machine. We also learned how to resolve some of the common 
            hosting issues while deploying a Blazor application.
        </p>
    </ContentBody>
</Content>

@code {
    private string Slug = "blazor-wasm-publishing-to-iis";
}