@page "/blogs/blazor-wasm-publishing-to-github-pages"
@inherits BasePage

<Content FileName=@nameof(PublishingToGitHubPages) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article, let's learn about <Highlight>Publishing</Highlight> Blazor apps to <Highlight>GitHub Pages</Highlight>.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/blazor-wasm-publishing-to-iis">Blazor WASM Publishing to IIS</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            With ASP.NET Blazor WebAssembly (WASM) you can create .NET web applications that run completely inside of the browser sandbox. The publish 
            output of a Blazor WASM project are <strong>all static files</strong>. Now that you can run .NET web applications without server-side code, 
            you can deploy these applications to various static site hosts, such as Azure Static Web Apps and GitHub Pages. With the Blazor WebAssembly 
            hosting model:
        </p>

        <ul>
            <li>The Blazor app, its dependencies, and the .NET runtime are downloaded to the browser in parallel.</li>
            <li>The app is executed directly on the browser UI thread.</li>
        </ul>
        </Why>

        <How>
            <h4 id="publishing-to-github-pages">Publishing to GitHub Pages</h4>


        <h5>Prerequisites</h5>

        <ol>
            <li>Create a Blazor Wasm Project.</li>
            <li>Add <Highlight>PublishSPAforGitHubPages.Build</Highlight> Nuget Package.</li>
            <li>
                <p>
                    Application source code must be inside of a GitHub repository. So, you need to create a local Git repository and commit your 
                    source code to the repository using these commands.
                </p>
                <CodeSnippet CssClass="language-plaintext">
# add the gitignore file tailored for dotnet applications, this will ignore bin/obj and many other non-source code files
dotnet new gitignore
# create the git repository
git init
# track all files that are not ignore by .gitignore
git add --all
# commit all changes to the repository
git commit -m "Initial commit"
                </CodeSnippet>
            </li>
        </ol>

        <h5>Push Blazor Project to GitHub</h5>

        <p>
            Create a new GitHub repository (<NavLink href="https://docs.github.com/en/github/getting-started-with-github/create-a-repo" target="blank">instructions</NavLink>) 
            and copy the commands to "push an existing repository from the command line" from the empty GitHub repository page, here's what it should looks 
            like but with a different URL:
        </p>

        <CodeSnippet CssClass="language-plaintext">
git remote add origin https://github.com/ilovedotnet/ilovedotnet.git
git push -u origin master
        </CodeSnippet>

        

        <h5>Create a GitHub Actions Workflow</h5>

        <p>
            Now that your source code has been pushed to GitHub, you'll need to create a <b>GitHub Actions Workflow</b> that builds your project, commits the 
            output and pushes the code to a separate GitHub branch. GitHub Pages will use this separate branch (usually named '<b>gh-pages</b>') as the static 
            files for your site.
        </p>

        <p>
            Start by navigating to the <b>Actions</b> tab in your GitHub repository and click on the link '<b>set up a workflow yourself</b>':
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/publishing-to-github-pages/create-github-actions-workflow.png" loading="lazy" alt="create github actions workflow" class="[ w-full ]" />
        </figure>
        
        <p>
            Clicking that link will take you to the 'Edit new file' page. The file that you are about to create will instruct GitHub Actions how to build and 
            deploy your project using YAML.These Workflow YAML files will be stored under the folder '.github/workflows/'.
        </p>

        <p>
            <strong>Note:</strong> Check out the GitHub Actions documentation to learn more about creating workflows.
        </p>

        <p>
            On the right side you can browse the GitHub Actions marketplace and read documentation. The GitHub Actions marketplace already has a ton of 
            pre-made actions so you don't have reinvent the wheel. For example, when you search for '.NET', the first result is 'Setup .NET Core SDK' which 
            is an action provided by the GitHub organization. You'll be using this action in the next steps.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/publishing-to-github-pages/configure-github-actions-workflow.png" loading="lazy" alt="configure github actions workflow" class="[ w-full ]" />
        </figure>

        <p>
            Delete all code in this file so you can build your workflow from scratch. The first line you'll need to add is the 'name' property. 
            Give a meaningful name for your workflow:
        </p>

        <CodeSnippet CssClass="language-yaml">
name: build and test and deploy
        </CodeSnippet>

        

        <p>
            Next, you need to specify what will trigger the workflow. Add the following lines:
        </p>

        <CodeSnippet CssClass="language-yaml">
# Run workflow on every push to the master branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
        </CodeSnippet>

        <p>
            These lines instruct GitHub Actions to run your workflow on every <Highlight>git push</Highlight> and 
            <Highlight>pull request</Highlight> to the main-branch.
        </p>

        <p>
            Now, you must configure your jobs, and which image each job will run on. Give your job a meaningful name following the kebab-case naming 
            convention such as <Highlight>deploy-to-github-pages</Highlight>.
        </p>

        <p>
            Configure your job to run on Ubuntu by adding <Highlight>runs-on: ubuntu-latest</Highlight>, and add an empty steps property.
        </p>

        <CodeSnippet CssClass="language-yaml">
jobs:
  deploy-to-github-pages:
  # use ubuntu-latest image to run steps on
    runs-on: ubuntu-latest
    steps:
        </CodeSnippet>

        <p>
            The first step to add will be using the <Highlight>checkout</Highlight> action provided by GitHub. Without passing any parameters to 
            the action, the <Highlight>checkout</Highlight> action will by default perform a <Highlight>git checkout</Highlight> 
            against your main branch.
        </p>

        <CodeSnippet CssClass="language-yaml">
    # uses GitHub's checkout action to checkout code form the main branch
    - uses: actions/checkout@@v4
        </CodeSnippet>

        <p>
            Once this action is performed, your code will be available to work with.
        </p>

        

        <p>
            To build and publish the Blazor application, you'll also need to have the .NET Core SDK which doesn't come pre-installed with the Ubuntu machine. 
            Using the <Highlight>setup-dotnet</Highlight> action provided by GitHub, you can easily install the .NET SDK on top of the Ubuntu 
            machine:
        </p>

        <CodeSnippet CssClass="language-yaml">
    # sets up .NET Core SDK 6.0.x
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@@v4
      with:
        dotnet-version: 8.0.x
        </CodeSnippet>

        <p>
            By passing in the <Highlight>dotnet-version</Highlight> parameter, you can specify which version of the .NET SDK you want to install.
        </p>

        <p>
            Next install <Highlight>wasm-tools</Highlight> workload to enable aot on publish. Using the <Highlight>run</Highlight> property, you can specify which commands to execute. Add a 
            <Highlight>run</Highlight> property with value of your <Highlight>dotnet workload install wasm-tools</Highlight> command.
        </p>

        <CodeSnippet CssClass="language-yaml">
      # Install dotnet wasm buildtools workload
      - name: Install .NET WASM Build Tools
        run: dotnet workload install wasm-tools
        </CodeSnippet>

        <p>
            Now that the .NET Core SDK is installed, you can run the <Highlight>dotnet publish</Highlight> command to build and deploy your 
            Blazor app. Using the <Highlight>run</Highlight> property, you can specify which commands to execute. Add a 
            <Highlight>run</Highlight> property with value of your <Highlight>dotnet publish</Highlight> command.
        </p>

        <CodeSnippet CssClass="language-yaml">
      # Publishes Blazor project to the release-folder
      - name: Publish .NET Core Project
        run: dotnet publish ./Web/Web.csproj -c:Release -p:GHPages=true -o dist/Web --nologo
        </CodeSnippet>

        

        <ul>
            <li>Using the <Highlight>-c</Highlight> (--configuration) argument, you can tell to build the project using the Release configuration.</li>
            <li>
                Using the <Highlight>-p</Highlight> (--configuration) argument, you can tell to publish the project for GitHub Pages deployment. This 
                will generate necessary files like <Highlight>404.html</Highlight>, <Highlight>nojeykyll</Highlight> and rewrite the 
                <Highlight>base</Highlight> url in all pages to match to your github username.
            </li>
            <li>
                Using the <Highlight>-o</Highlight> (--output) argument, you can specify where to put the published files. 
                <b>Tell dotnet to publish the project to the <Highlight>dist/Web</Highlight> folder</b>.
            </li>
            <li>The <Highlight>--nologo</Highlight> argument will prevent some unnecessary lines from being output to the console.</li>
        </ul>

        <p>
            Now that you have successfully published the project to the 'dist/Web' folder, you can use another very helpful action from the marketplace called 
            <NavLink href="https://github.com/marketplace/actions/deploy-to-github-pages" target="blank">'github-pages-deploy-action'</NavLink>.
            This action will make it easy to publish your static files to GitHub Pages.
        </p>

        <CodeSnippet CssClass="language-yaml">
    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@@v4
      with:
        BRANCH: gh-pages
        FOLDER: dist/Web/wwwroot
        single-commit: true # No need of history for publish branch
        </CodeSnippet>

        <ul>
            <li>
                The <Highlight>BRANCH</Highlight> property will configure which branch the action will create and push to. 
                <strong>Set this to 'gh-pages'</strong>.
            </li>
            <li>The <Highlight>FOLDER</Highlight> property will configure which folder and files will be pushed to the 'gh-pages' branch. 
                <strong>Set this to 'dist/Web/wwwroot'</strong>. This is where the project will be published, and all the static resources are in the 
                wwwroot-subfolder.
            </li>
        </ul>

        <p>
            Now that all steps are in place, commit the file:
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/publishing-to-github-pages/commit-github-actions-workflow.png" loading="lazy" alt="commit github actions workflow" class="[ w-full ]" />
        </figure>

        <p>
            Navigate back to the GitHub Actions overview page by pressing the "Actions" tab.
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/publishing-to-github-pages/github-actions-workflow-created.png" loading="lazy" alt="github actions workflow created" class="[ w-full ]" />
        </figure>

        

        <p>
            You can now find your GitHub Action Workflow and the workflow runs on this page. Click on your first run which was automatically created when 
            you committed the workflow, and watch it publish your project to the 'gh-pages' branch:
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/publishing-to-github-pages/github-actions-workflow-run-completed.png" loading="lazy" alt="github actions workflow run completed" class="[ w-full ]" />
        </figure>

        <p>
            Once completed, you can see the result by navigating to the 'gh-pages' branch in your repository:
        </p>

        <figure>
            <img src="./image/blogs/blazor/wasm/publishing-to-github-pages/gh-pages-branch.png" loading="lazy" alt="gh-pages branch" class="[ w-full ]" />
        </figure>

        <p>
            The last step is to <strong>enable GitHub pages in the repository settings</strong>. Navigate to the settings by clicking on the <strong>'Settings' 
            tab</strong>. Scroll down to the <b>'GitHub Pages'</b> section and <b>select the 'gh-pages' branch in the 'Source' dropdown</b>.
        </p>

       <figure>
            <img src="./image/blogs/blazor/wasm/publishing-to-github-pages/github-pages.png" loading="lazy" alt="github pages" class="[ w-full ]" />
       </figure>

       <p>
           After a few seconds to a minute, the GitHub Pages site should be available at <Highlight><strong>'[YOUR_USERNAME].github.io/[YOUR_REPOSITORY_NAME]'</strong></Highlight>.
       </p>

        

       <p>
           Here is the complete workflow configuration:
       </p>

       <CodeSnippet CssClass="language-yaml">
name: build and test and deploy

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    steps:
      # Checkout the code
      - uses: actions/checkout@@v4

      # Install .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@@v4
        with:
          dotnet-version: 8.0.x
          
      # Install dotnet wasm buildtools workload
      - name: Install .NET WASM Build Tools
        run: dotnet workload install wasm-tools
          
      # Publishes Blazor project to the release-folder
      - name: Publish .NET Core Project
        run: dotnet publish ./Web/Web.csproj -c:Release -p:GHPages=true -o dist/Web --nologo

      - name: Commit wwwroot to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@@v4
        with:
          BRANCH: gh-pages
          FOLDER: dist/Web/wwwroot
          single-commit: true # No need of history for publish branch
       </CodeSnippet>

        <h5>Configure CNAME</h5>

        <p>
            You can also use custom domain to load your blazor wasm app.
        </p>

        <ol>
            <li>Purchase your custom domain.</li>
            <li>Add <Highlight>&lt;GHPagesBase&gt;/&lt;/GHPagesBase&gt;</Highlight> property in your <Highlight>.csproj</Highlight>.</li>
            <li>Add a <Highlight>CNAME</Highlight> file with your domain name <Highlight>ilovedotnet.org</Highlight> as content and commit in <Highlight>gh-pages</Highlight> branch.</li>
            <li>Configure GitHub IP Address in your DNS Settings from your domain provider. You can learn more about configuring custom domain for your GitHub Pages from <NavLink href="https://docs.github.com/en/pages/configuring-a-custom-domain-for-your-github-pages-site" target="blank">here</NavLink>.</li>
            <li>Add your domain name in the custom domain text box in github pages configuration.</li>
            <li>After some time your site will be published under your domain.</li>
        </ol>
        </How>

        <Summary>


        <p>
            Blazor WebAssembly can be served as static files. These files can be hosted in static hosting sites such as GitHub Pages. Using GitHub Actions 
            you can create a workflow to automatically deploy the Blazor application to GitHub pages.
        </p>
        </Summary>
    </ContentBody>
</Content>