@page "/blogs/blazor-wasm-styles-and-css-isolation"
@using BlazorDemoComponents
@inherits BasePage

<Content FileName=@nameof(StylesAndCssIsolation) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>

        <p>
            In this article let's learn about few factors to be considered when <Highlight>styling</Highlight> blazor apps and also learn about 
            what is <Highlight>CSS Isolation</Highlight>. We should try to keep the Javascript usage to very minimal level. This needs to be 
            considered when choosing styling libraries. 
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on 
            <NavLink href="blogs/blazor-wasm-controlling-head-content">Blazor WASM Controlling Head Content</NavLink>.
        </p>
        </What>

        <Why>


        <p>
            <a class="[ underline ]" href="https://getbootstrap.com/" target="_blank"><Highlight>Bootstrap</Highlight></a> has been widely accepted by many of the developers 
            across the globe. Even I have used bootstrap in most of my projects till now and also the default blazor wasm project template comes with bootstrap as the default styling toolkit. 
            That's because of it's built in responsive nature. But the major drawback of using bootstrap with blazor is the Javascript dependency. Almost all bootstrap components needs 
            Javascript for event handling and changing states of the component. But this doesn't work well with blazor component lifecycle. Hence you can only use few components from bootstrap 
            like alerts, badge, etc which can work without Javascript. I personally don't prefer styling my blazor apps with bootstrap because of the above drawbacks.
        </p>

        <p>
            With the new CSS features like <Highlight>Flexbox</Highlight> and <Highlight>Grid</Highlight>, I recommend to write your own CSS for your blazor apps
            as that will give you more control of your styles. This again depends on the team's CSS knowledge and timeline we have for the project that we work on. So the alernatives I suggest 
            would be to go for <Highlight>Bulma</Highlight> or <Highlight>TailwindCSS</Highlight>.
        </p>

        <p>
            <a class="[ underline ]" href="https://bulma.io/" target="_blank"><Highlight>Bulma</Highlight></a> is the only modern pure CSS framework which doesn't require any CSS 
            knowledge. This is 100% responsive and built on top of flexbox and it's modular. We can only import the component's that we need. This being a pure CSS framework we can use 
            <Highlight>C#</Highlight> logics in blazor to write our own event handling like <Highlight>@@onclick, @@onfocus</Highlight>, etc to bring interactivity 
            to components. But the drawback I see is that this doesn't have many components compared to bootstrap. I ❤️ .NET uses 
            <a class="[ underline ]" href="https://bulma.io/documentation/components/dropdown/" target="_blank"><Highlight>Bulma Dropdown Component</Highlight></a> for switching 
            between dark mode and light mode. To learn more about how to implement dark mode and light mode in blazor wasm app, refer 
            <NavLink href="blogs/blazor-wasm-dark-theme-and-light-theme">Blazor WASM Dark Theme and Light Theme</NavLink>.
        </p>

        <p>
            To start using bulma in your blazor wasm app, follow the below steps.
            <ol>
                <li>Install <a class="[ underline ]" href="https://nodejs.org/en/download/"><Highlight>Node JS</Highlight></a> in your operating system.</li>
                <li>In your project directory, do an <Highlight>npm init</Highlight> and answer questions. This will create a <Highlight>package.json</Highlight> file in your root directory.</li>
                <li>Do a <Highlight>npm install node-sass bulma</Highlight></li>
                <li>Now add <Highlight>Styles.css</Highlight> file in your root directory and import the needed bulma components like follows <Highlight CssClasses="[ break-all ]">@@import './node_modules/bulma/sass/components/dropdown.sass';</Highlight></li>
                <li>Add <Highlight>"buildbulma": "node-sass --omit-source-map-url styles.css wwwroot/css/app.css"</Highlight> inside <Highlight>scripts</Highlight> section in <Highlight>package.json</Highlight></li>
                <li>Finally do <Highlight>npm run buildbulma</Highlight> from your project root directory. This will import and add necessary css and output it in <Highlight>wwwroot/css/app.css</Highlight></li>
                <li>Make sure to add a reference to <Highlight>app.css</Highlight> in your <Highlight>index.html</Highlight></li>
            </ol>
        </p>

        <CodeSnippet CssClass="language-json">
{
  "name": "ilovedotnet",
  "version": "1.0.0",
  "description": "configuration to build bulma css",
  "scripts": {
    "buildbulma": "node-sass --omit-source-map-url styles.css wwwroot/css/app.css"
  },
  "author": "Abdul Rahman",
  "license": "CC0-1.0 License",
  "dependencies": {
    "bulma": "^0.9.3",
    "node-sass": "^7.0.1"
  }
}
        </CodeSnippet>

        

        <p>
            <a class="[ underline ]" href="https://tailwindcss.com/" target="_blank"><Highlight>TailwindCSS</Highlight></a> is a utility-first CSS framework with lots of 
            predefined utility classes that help us to speed up the CSS development directly from HTML markup. You don't need any separate CSS file for your components or you don't need to 
            pollute your global CSS. You can almost find any utility class from tailwindcss and it also has configuration available to customise and extend as per own needs. The only 
            limitation here is that you need to be aware of CSS. You need to know when to use which CSS property for your design. This will help you to choose right utility class from 
            tailwindcss. I ❤️ .NET extensively uses TailwindCSS to design and layout components and pages.
        </p>

        <p>
            To start using tailwindcss in your blazor wasm app, follow the below steps.
            <ol>
                <li>Install <a class="[ underline ]" href="https://nodejs.org/en/download/"><Highlight>Node JS</Highlight></a> in your operating system.</li>
                <li>In your project directory, do an <Highlight>npx tailwindcss init</Highlight>. This will create a <Highlight>package.json</Highlight> and <Highlight>tailwind.config.js</Highlight> file in your root directory.</li>
                <li>Go to <Highlight>tailwind.config.js</Highlight> and add template files path as follows <Highlight>content: ['../**/*.html', '../**/*.razor', '../**/*.cs']</Highlight></li>
                <li>Go to <Highlight>app.css</Highlight> file and import tailwind components like <Highlight>@@tailwind base;@@tailwind components;@@tailwind utilities;</Highlight></li>
                <li>Add <Highlight>"buildcss": "npx tailwindcss -i wwwroot/css/app.css -o wwwroot/css/app.min.css --watch"</Highlight> inside <Highlight>scripts</Highlight> section in <Highlight>package.json</Highlight></li>
                <li>Finally do <Highlight>npm run buildcss</Highlight> from your project root directory. This will import and add necessary css and output it in <Highlight>wwwroot/css/app.min.css</Highlight></li>
                <li>Make sure to add a reference to <Highlight>app.min.css</Highlight> in your <Highlight>index.html</Highlight></li>
            </ol>
        </p>

        <CodeSnippet CssClass="language-json">
{
  "name": "ilovedotnet",
  "version": "1.0.0",
  "description": "configuration to build and purge css",
  "scripts": {
    "buildcss": "npx tailwindcss -i wwwroot/css/app.css -o wwwroot/css/app.min.css"
  },
  "author": "Abdul Rahman",
  "license": "CC0-1.0 License",
  "dependencies": {
    "tailwindcss": "^3.0.2"
  }
}
        </CodeSnippet>

        

        <p>
            I ❤️ .NET uses both bulma and tailwindcss together. Here is the complete configuration.
        </p>

        <CodeSnippet CssClass="language-json">
{
  "name": "ilovedotnet",
  "version": "1.0.0",
  "description": "configuration to build and purge css",
  "scripts": {
    "buildbulma": "node-sass --omit-source-map-url styles.css wwwroot/css/app.css",
    "buildcss:dev": "npm run buildbulma &amp;&amp; npx tailwindcss -i wwwroot/css/app.css -o wwwroot/css/app.min.css --watch",
    "purgecss": "purgecss --config ./purgecss.config.js",
    "buildcss:prod": "npm run buildbulma &amp;&amp; npx tailwindcss -i wwwroot/css/app.css -o wwwroot/css/app.min.css --minify",
    "buildcss": "npm run buildcss:prod &amp;&amp; npm run purgecss"
  },
  "author": "Abdul Rahman",
  "license": "CC0-1.0 License",
  "dependencies": {
    "autoprefixer": "^10.4.0",
    "bulma": "^0.9.3",
    "node-sass": "^7.0.1",
    "purgecss": "^4.1.3",
    "tailwindcss": "^3.0.2"
  }
}
        </CodeSnippet>

        <CodeSnippet CssClass="language-javascript">
module.exports = {
    important: true,
    content: ['../**/*.html', '../**/*.razor', '../**/*.cs'],
    darkMode: 'class',
    theme: {
        extend: {}
    },
    variants: {
        extend: {},
    },
    plugins: [
        require('autoprefixer')
    ],
};
        </CodeSnippet>

        

        <CodeSnippet CssClass="language-javascript">
module.exports = {
    content: ['../**/*.html', '../**/*.razor', '../**/*.cs'],
    extractors: [
        {
            extractor: (content) =&gt; {
                // fix for escaped tailwind prefixes (sm:, lg:, etc)
                return content.match(/[A-Za-z0-9-_:\/]+/g) || []
            },
            extensions: ['css', 'html', 'razor'],
        },
    ],
    css: ['wwwroot/css/app.min.css'],
    safelist: ['blazor-error-boundary'],
    output: 'wwwroot/css/app.min.css'
};
        </CodeSnippet>

        <CodeSnippet CssClass="language-css">
@@import './node_modules/bulma/sass/components/dropdown.sass';
@@tailwind base;
@@tailwind components;
@@tailwind utilities;
        </CodeSnippet>

        <p>
            In development environment, you can do <Highlight>npm run buildcss:dev</Highlight>
            and continue with <Highlight>development</Highlight> where as for
            <Highlight>production</Highlight> you can do
            <Highlight>npm run buildcss</Highlight>. This can be configured in
            <Highlight>CI/CD Pipline</Highlight> as well. Additionally you can
            <Highlight>remove app.css</Highlight> file in
            <Highlight>Release</Highlight> configuration and also configure
            <Highlight>Compile</Highlight> event for
            <Highlight>Release</Highlight> configuration as show below.
        </p>

        <CodeSnippet CssClass="language-xml">
&lt;ItemGroup Condition="'$(Configuration)'=='Release'"&gt;
  &lt;Content Remove="wwwroot\css\app.css" /&gt;
  &lt;None Include="wwwroot\css\app.css" /&gt;
&lt;/ItemGroup&gt;

&lt;Target Name="BuildCSS" BeforeTargets="Compile" Condition="'$(Configuration)'=='Release'"&gt;
  &lt;Exec EnvironmentVariables="NODE_ENV=production" Command="npm run buildcss" /&gt;
&lt;/Target&gt;
        </CodeSnippet>

        <p>
            If you don't prefer to use <Highlight>TailwindCSS</Highlight>, <Highlight>Bulma</Highlight>, <Highlight>Bootstrap</Highlight> or your
            <Highlight>own CSS</Highlight>, then you can still Get productive fast with <Highlight>re-usable UI components</Highlight> from top component vendors like
            <a class="[ underline ]" href="https://www.telerik.com/blazor-ui" target="_blank"><Highlight>Telerik</Highlight></a>,
            <a class="[ underline ]" href="https://www.devexpress.com/blazor/" target="_blank"><Highlight>DevExpress</Highlight></a>,
            <a class="[ underline ]" href="https://www.syncfusion.com/blazor-components" target="_blank"><Highlight>Syncfusion</Highlight></a>,
            <a class="[ underline ]" href="https://blazor.radzen.com/" target="_blank"><Highlight>Radzen</Highlight></a>,
            <a class="[ underline ]" href="https://www.infragistics.com/products/ignite-ui-blazor" target="_blank"><Highlight>Infragistics</Highlight></a>,
            <a class="[ underline ]" href="https://www.grapecity.com/componentone/blazor-ui-controls" target="_blank"><Highlight>Grapecity</Highlight></a>,
            <a class="[ underline ]" href="https://www.htmlelements.com/blazor/" target="_blank"><Highlight>jQWidgets</Highlight></a>,
            <a class="[ underline ]" href="https://www.fast.design/docs/integrations/blazor/" target="_blank"><Highlight>Fast Blazor</Highlight></a> and others.
            Or use one of the many
            <a class="[ underline ]" href="https://github.com/AdrienTorris/awesome-blazor?WT.mc_id=dotnet-35129-website#libraries--extensions" target="_blank"><Highlight>open-source component libraries</Highlight></a>
            from the Blazor community. The drawback I see when going for any of the components is that there is lack of modularity. For using a simple component you need to refer all packages. 
            This increases the overall app size. They also don't work well when assembly trimming is enabled or you need to do additional configurations to make this work perfectly.
        </p>
        </Why>

        <How>
            <h4 id="css-isolation">CSS Isolation</h4>


        <p>
            CSS Isolation helps to add a CSS file specific to a component. This helps to avoid polluting global CSS file and all CSS related to component gets automatically 
            <Highlight>scoped</Highlight> for that particular component. We don't need to worry about one component CSS affecting other component CSS. Blazor WASM takes care of 
            handling these complexities behind the scenes.
        </p>

        <p>
            Let's say you have a component named <Highlight>Chat.razor</Highlight>. Then you need to add CSS file names <Highlight>Chat.razor.css</Highlight>. IDE 
            will automatically collapse the CSS file within component file. And for the CSS to reflect in your app, you need to add a stylesheet reference link to 
            <Highlight>index.html</Highlight> with your assembly name like <Highlight CssClasses="[ break-all ]">&lt;link href="YourProjectAssemblyName.styles.css" rel="stylesheet" /&gt;</Highlight>.
        </p>
        </How>

        <Summary>


        <p>
            I'm happy that you have reached to the end of this article. Here we learnt about CSS frameworks available for blazor and we saw the factors to be considered before choosing a CSS 
            framework. We also saw how to isolate CSS in blazor apps. Feel free to check the source code of I Love Dotnet to see how styles are isolated.
        </p>
        </Summary>
    </ContentBody>
</Content>