<p>Reading Data Using Decorator : @_result</p>

<button type="button"
    class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @onclick="HandleDecorator">
    Read Data via Decorator
</button>


@code
{
    private IRepository _cachedDatabaseRepository = new CachedDatabaseRepository(new DatabaseRepository());
    private string? _result;

    private void HandleDecorator()
    {
        _result = _cachedDatabaseRepository.ReadData();
    }
}

