@page "/blogs/generate-excel-report-using-closed-xml-in-dotnet"
@using ReportDemoComponents
@inherits BasePage

<Content FileName=@nameof(GenerateClosedXMLExcel)>
    <ContentBody>
        <What>
            <p>
                Reports are essential for tracking key performance indicators, analyzing data, and making informed decisions. Common formats include 
                PDF, Word, PowerPoint, and Excel. Excel is widely preferred due to its availability, ease of use, data visualization options, and 
                powerful data manipulation capabilities.
            </p>

            <p>
                @(DateTime.Now.Year - 2016) years ago, Years ago, Crystal Reports was commonly used in .NET applications for generating back-office 
                reports. However, designing reports was complex, requiring proficiency in Crystal Reports. Alternatives often relied on Microsoft 
                Office/Interop, necessitating Office installation on target servers.
            </p>

            <p>
                <a href="https://github.com/ClosedXML/ClosedXML.Report" target="_blank">
                    <Highlight>ClosedXML.Report</Highlight>
                </a> is a modern, open-source .NET library built on top of <a href="https://github.com/ClosedXML/ClosedXML" target="_blank">
                    <Highlight>ClosedXML</Highlight></a>. 
                It enables developers to create, read, and manipulate Excel documents in the XML-based Office Open XML format. The library simplifies 
                working with Excel files programmatically, allowing report generation, data visualizations, and other Excel-based solutions without 
                requiring Microsoft Excel installation on the target system. This makes it ideal for automating Excel-related tasks and integrating 
                Excel functionality into custom applications.
            </p>

            <p>
                In this article, we'll explore how to generate Excel reports using ClosedXML.Report in .NET.
            </p>
        </What>

        <Why>
            <p>
                Closed XML is an open-source project and has a large community of developers and users. Its repository
                is maintained on GitHub and is actively updated by the development team.
            </p>

            <p>
                We can consider using Closed XML Report for the following options and benefits,
            </p>

            <ol>
                <li>It is open source and it is built on top of <Highlight>ClosedXML</Highlight>
                </li>
                <li>No need to install Microsoft Excel or Interop in target server</li>
                <li>Integrate Excel into custom applications</li>
                <li>Save development time</li>
                <li>Improve data processing performance</li>
                <li>It is compatible with latest .NET</li>
                <li>Get all the benefits of excel</li>
            </ol>
        </Why>

        <How>
            <h4>Generating Simple Excel Report</h4>

            <p>
                Sometimes, we have a list of records that needs to be directly exported to Excel. With
                <Highlight>ClosedXML.Report</Highlight>, this is a simple and easy process,
                which can be accomplished in four steps.
            </p>

            <ol>
                <li>Install <Highlight>ClosedXML.Report</Highlight> Nuget Package</li>
                <li>
                    <p>Convert <Highlight>List / IEnumerable</Highlight> data to <Highlight>
                            DataTable</Highlight>
                    </p>
                    <CodeSnippet CssClass="language-csharp">
public static DataTable ToDataTable&lt;T&gt;(this IEnumerable&lt;T&gt; data, string name)
{
    PropertyDescriptorCollection properties = TypeDescriptor.GetProperties(typeof(T));
    DataTable table = new(name);

    foreach (PropertyDescriptor prop in properties)
        table.Columns.Add(prop.Name, Nullable.GetUnderlyingType(prop.PropertyType) ?? prop.PropertyType);

    foreach (T item in data)
    {
        DataRow row = table.NewRow();

        foreach (PropertyDescriptor prop in properties)
            row[prop.Name] = prop.GetValue(item) ?? DBNull.Value;

        table.Rows.Add(row);
    }

    return table;
}
                    </CodeSnippet>
                </li>
                <li>
                    <p>Add <Highlight>DataTable</Highlight> to Excel <Highlight>WorkSheet
                        </Highlight>
                    </p>
                    <CodeSnippet CssClass="language-csharp">
var data = new TableOfContents().Contents;
var table = data.ToDataTable("contents");

using var wb = new XLWorkbook();
wb.Worksheets.Add(table).ColumnsUsed().AdjustToContents();
                    </CodeSnippet>
                </li>
                <li>
                    <p>Save it to excel file or <Highlight>MemoryStream</Highlight> and get
                        <Highlight>bytes[]</Highlight> from workbook and send to browser for download</p>
                    <CodeSnippet CssClass="language-csharp">
// save to file
wb.SaveAs("report.xlsx");

// or get bytes to return excel file from web api
using var stream = new MemoryStream();
wb.SaveAs(stream);
return stream.ToArray();
                    </CodeSnippet>
                </li>
            </ol>

            <CodeSnippet CssClass="language-csharp">
@@using ClosedXML.Excel
@@using Microsoft.JSInterop

@@implements IAsyncDisposable

&lt;button @@onclick="SimpleExcel"&gt;Download Simple Excel&lt;/button&gt;

@@code 
{
    private IJSObjectReference? module;
    private string? base64String;

    [Inject] private TableOfContents TableOfContents { get; set; } = default!;
    [Inject] private IJSRuntime JSRuntime { get; set; } = default!;

    protected override void OnInitialized()
    {
        var data = TableOfContents.AllContents;
        var table = data.ToDataTable("contents");

        using var wb = new XLWorkbook();
        wb.Worksheets.Add(table).ColumnsUsed().AdjustToContents();
        using var stream = new MemoryStream();
        wb.SaveAs(stream);

        var bytes = stream.ToArray();
        base64String = Convert.ToBase64String(bytes);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JSRuntime.InvokeAsync&lt;IJSObjectReference&gt;("import", "./excel-download.js");
        }
    }

    private async Task SimpleExcel()
    {
        if (module is not null)
        {
            await module.InvokeVoidAsync("saveAsFile", "TableOfContents.xlsx", base64String);
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}

internal static class Utilities
{
    public static DataTable ToDataTable&lt;T&gt;(this IEnumerable&lt;T&gt; data, string name)
    {
        PropertyDescriptorCollection properties = TypeDescriptor.GetProperties(typeof(T));
        DataTable table = new(name);

        foreach (PropertyDescriptor prop in properties)
            table.Columns.Add(prop.Name, Nullable.GetUnderlyingType(prop.PropertyType) ?? prop.PropertyType);

        foreach (T item in data)
        {
            DataRow row = table.NewRow();

            foreach (PropertyDescriptor prop in properties)
                row[prop.Name] = prop.GetValue(item) ?? DBNull.Value;

            table.Rows.Add(row);
        }

        return table;
    }
}
            </CodeSnippet>

            <DemoSnippet Title="Generate Simple Excel Report Using Closed XML">
                <p>
                    I attempted to export a table of contents from I Love .NET, and the output is as follows.
                </p>

                <ErrorBoundary>
                    <ChildContent>
                        <SimpleClosedXMLDemo></SimpleClosedXMLDemo>
                    </ChildContent>
                    <ErrorContent>
                        <div class="[ bg-red-500 ]">
                            <p class="[ text-white ]">An error occured while downloading the excel. Please try again
                                later.</p>
                        </div>
                    </ErrorContent>
                </ErrorBoundary>

                <figure>
                    <img src="./image/blogs/report/generate-excel-report-using-closed-xml-in-dotnet/simple-report-using-closed-xml.png"
                         alt="simple-report-using-closed-xml" class="[ w-full ]" />
                </figure>
            </DemoSnippet>

            <h4>Generating Complex Excel Report</h4>

            <p>
                In an enterprise, it is common to have complex data sets that need to be generated as Excel files. The
                data may include nested lists of data, such as one-to-many relationships, and
                this can be displayed in Excel as nested tables. This is also possible using <Highlight>
                    ClosedXML.Report</Highlight>, and can be achieved in five steps.
            </p>

            <ol>
                <li>Install <Highlight>ClosedXML.Report</Highlight> Nuget Package</li>
                <li>
                    <p>
                        Design a report Template. This step involves more work. We need to design a excel template to be
                        used and add it in our project directory and enable copy to output on build.
                        This template used in next step. We need to follow simple rules when designing the template.
                    </p>

                    <figure>
                        <img src="./image/blogs/report/generate-excel-report-using-closed-xml-in-dotnet/copy-to-output.png"
                             alt="copy-to-output" class="[ w-1/2 ]" />
                    </figure>

                    <ol>
                        <li>
                            <p>
                                The first column <Highlight>A</Highlight> needs to be left empty in Excel
                                as it is used by ClosedXML for internal processing.
                            </p>

                            <figure>
                                <img src="./image/blogs/report/generate-excel-report-using-closed-xml-in-dotnet/empty-column-a.png"
                                     alt="empty-column-a" class="[ w-1/4 ]" />
                            </figure>
                        </li>
                        <li>
                            <p>
                                We need to use <Highlight>{{PropertyName}}</Highlight> placeholder to let
                                Closed XML know what data needs to be replaced in the excel cells.
                            </p>

                            <figure>
                                <img src="./image/blogs/report/generate-excel-report-using-closed-xml-in-dotnet/placeholder.png"
                                     alt="placeholder" class="[ w-full ]" />
                            </figure>

                            <p>
                                The placeholder can contain any valid <Highlight>C#</Highlight> expression
                                like <Highlight>{{GeneratedOn.ToString("dd-MM-yyyy")}}</Highlight>.
                                You can either format the data in code itself or use excel to do formatting or apply any
                                styles in excel to cell while designing template. You can also place images. This
                                can be useful when we generate Confidential report and add confidential classification
                                image to report directly in excel.
                            </p>
                        </li>
                        <li>
                            <p>
                                While building a document, <Highlight>ClosedXML.Report</Highlight> finds
                                all named ranges and determines data sources by their name.
                                <Highlight>Range</Highlight> name should coincide with the name of the
                                variable serving a data source for this range. For nested tables, the range
                                name is built using an <Highlight>underscore (_)</Highlight>. E.g., to
                                output values from <Highlight CssClasses="[ break-all ]">
                                    Data[].AuthorChannels[].ArticleDetails[]</Highlight>
                                the range name must be <Highlight CssClasses="[ break-all ]">
                                    Data_AuthorChannels_ArticleDetails</Highlight>.
                            </p>

                            <p>
                                Also we need to make sure that each data range must have minimum of one column and two
                                rows (one row for data and an empty row for CLosedXML to do processing). That said,
                                let's see some ranges in action.
                            </p>

                            <figure>
                                <img src="./image/blogs/report/generate-excel-report-using-closed-xml-in-dotnet/article-details-named-range.png"
                                     alt="article-details-named-range" class="[ w-full ]" />
                            </figure>

                            <figure>
                                <img src="./image/blogs/report/generate-excel-report-using-closed-xml-in-dotnet/author-channels-named-range.png"
                                     alt="author-channels-named-range" class="[ w-full ]" />
                            </figure>

                            <figure>
                                <img src="./image/blogs/report/generate-excel-report-using-closed-xml-in-dotnet/data-named-range.png"
                                     alt="data-named-range" class="[ w-full ]" />
                            </figure>
                        </li>
                    </ol>
                </li>
                <li>
                    <p>Load the template and add data variable to template</p>
                    <CodeSnippet CssClass="language-csharp">
var template = new XLTemplate(@@"ILoveDotNetContentTemplate.xlsx");
template.AddVariable(data);
                    </CodeSnippet>
                </li>
                <li>
                    <p>Generate the report using template</p>
                    <CodeSnippet CssClass="language-csharp">
template.Generate();
                    </CodeSnippet>
                </li>
                <li>
                    <p>Save it to excel file or <Highlight>MemoryStream</Highlight> and get
                        <Highlight>bytes[]</Highlight> from workbook and send to browser for download</p>
                    <CodeSnippet CssClass="language-csharp">
// save to file
template.SaveAs("report.xlsx");

// or get bytes to return excel file from web api
using var stream = new MemoryStream();
template.WorkBook.SaveAs(stream);
return stream.ToArray();
                    </CodeSnippet>
                </li>
            </ol>

            <CodeSnippet CssClass="language-csharp">
internal class Program
{
    private static void Main(string[] args)
    {
        Console.WriteLine("I Love .NET - https://ilovedotnet.org");

        var data = new TableOfContents().Contents;

        var complexdata = new
        {
            PlatformName = "I Love .NET",
            ReportName = "Contet Report",
            CreatedBy = "Abdul Rahman",
            GeneratedOn = DateTime.Now,
            Data = data.GroupBy(content =&gt; content.Author)
                       .Select(x =&gt; new
                       {
                           AuthorName = x.Key,
                           TotalArticles = x.Count(),
                           AuthorChannels = x.GroupBy(y =&gt; y.Type)
                                              .Select(z =&gt; new
                                              {
                                                  ChannelName = z.Key,
                                                  TotalArticles = z.Count(),
                                                  ArticleDetails = z.Select(c =&gt; new 
                                                  {
                                                      ArticleName = c.Title,
                                                      CreatedOn = c.CreatedOn,
                                                      Url = c.ContentUrl
                                                  }).ToList()
                                              })
                                              .ToList()
                       }).ToList()
        };

        var template = new XLTemplate(@@"ILoveDotNetContentTemplate.xlsx");

        template.AddVariable(complexdata);
        template.Generate();
        template.Workbook.Worksheets
            .Worksheet(template.Workbook.Worksheets.First().Name)
            .ColumnsUsed()
            .AdjustToContents();

        template.SaveAs("report.xlsx");

        //Show report
        Process.Start(new ProcessStartInfo("report.xlsx") { UseShellExecute = true });

        Console.ReadLine();
    }
}
            </CodeSnippet>

            <DemoSnippet Title="Generating Complex Excel Report">
                <p>
                    I attempted to export complex real-world data from I Love .NET, and the output is as follows. You
                    can alos notice how Generated Date get formatted as expected.
                </p>

                <ErrorBoundary>
                    <ChildContent>
                        <ComplexClosedXMLDemo></ComplexClosedXMLDemo>
                    </ChildContent>
                    <ErrorContent>
                        <div class="[ bg-red-500 ]">
                            <p class="[ text-white ]">An error occured while downloading the excel. Please try again
                                later.</p>
                        </div>
                    </ErrorContent>
                </ErrorBoundary>

                <p>Template:</p>

                <figure>
                    <img src="./image/blogs/report/generate-excel-report-using-closed-xml-in-dotnet/content-report-template.png"
                         alt="content-report-template" class="[ w-full ]" />
                </figure>

                <p>Report:</p>

                <figure>
                    <img src="./image/blogs/report/generate-excel-report-using-closed-xml-in-dotnet/complex-report-using-closed-xml.png"
                         alt="complex-report-using-closed-xml" class="[ w-full ]" />
                </figure>
            </DemoSnippet>

            <h4>More Information</h4>

            <p>
                Additional information can be found in the official documentation, accessible via the <NavLink
                    class="underline" href="https://closedxml.github.io/ClosedXML.Report/docs/en/" target="_blank">
                    official documentation</NavLink>.
                They support various types of reports and provide sample templates on their website.
            </p>
        </How>

        <Summary>
            <p>
                In this article we learn't how to generate simple and complex excel report using <Highlight>
                    ClosedXML.Report</Highlight>. Closed XML is a .NET library that enables
                developers to create, read, and manipulate Microsoft Excel files without using Microsoft Excel. It
                provides an API that simplifies the process of working with Excel files, making
                it easier to automate tasks, integrate Excel into custom applications, and improve data processing
                performance. Closed XML is an open-source project with an active community of
                developers and users, and is regularly updated. By using Closed XML, developers can efficiently and
                effectively generate Excel reports and other solutions, without having to depend
                on Microsoft Excel being installed on the target system.
            </p>
        </Summary>
    </ContentBody>
</Content>