<header id="header" class="[ flex items-center justify-between ] [ px-5 ] [ dark:bg-black ]">
    <h1 id="brand" class="[ font-bold ] [ flex items-center justify-between space-x-1 ]">
        <span class="[ dark:text-white ]">I</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-heart ] [ text-red-500 ] [ inline ] [ fill-current ]" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"></path>
        </svg>
        <span style="color:#512bd4">.NET</span>
    </h1>
    <section id="search" class="[ flex ]">
        <input type="search" placeholder="Search" class="[ px-4 ] [ border-2 ] [ focus:outline-none focus:border-gray-400 ] [ dark:bg-black dark:border-black dark:focus:border-blue-800 ]" autocapitalize="none" autocomplete="off" autocorrect="off" />
        <button type="button" aria-label="Search" class="[ bg-white ] [ h-10 w-10 ] [ border-2 border-l-0 ] [ dark:bg-gray-700 dark:border-black ]">
            <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-search ] [ inline ] [ text-gray-500 ] [ stroke-1 ] [ dark:text-white ]" width="25" height="25" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="10" cy="10" r="7"></circle>
                <line x1="21" y1="21" x2="15" y2="15"></line>
            </svg>
        </button>
    </section>
    <section id="display-and-social" class="[ flex items-center space-x-1.5 ]">
        <Theme></Theme>
        <Social></Social>
    </section>
</header>