<header id="header" class="[ flex items-center justify-between ] [ px-5 ]">
    <h1 id="brand" class="[ font-bold ] [ flex items-center justify-between ]"><span>I</span> <img src="icons/heart.svg" class="[ text-red-500 ] [ inline ] [ fill-current ]" alt="love" height="20" width="20" onload="SVGInject(this)" /> <span style="color:#512bd4">.NET</span></h1>
    <section id="search" class="[ flex ]">
        <input type="search" placeholder="Search" class="[ px-4 ] [ border-2 ]" autocapitalize="none" autocomplete="off" autocorrect="off" />
        <button type="button" aria-label="Search" class="[ bg-white ] [ h-10 w-10 ] [ border-2 border-l-0 ]">
            <img src="icons/search.svg" class="[ inline ] [ text-gray-400 ]" alt="Search" height="25" width="25" onload="SVGInject(this)" />
        </button>
    </section>
    <section id="social" class="[ flex justify-between ] [ bg-white ]">
        <a href="https://stackoverflow.com/users/10851213/fingers10" target="_blank">
            <img src="icons/brand-stackoverflow.svg" class="[ text-yellow-500 ]" alt="Stackoverflow" height="30" width="30" onload="SVGInject(this)" />
        </a>
        <a href="https://lnkd.in/g4-f-dcN" target="_blank">
            <img src="icons/brand-linkedin.svg" class="[ text-blue-500 ]" alt="LinkedIn" height="30" width="30" onload="SVGInject(this)" />
        </a>
        <a href="https://github.com/ILoveDotNet" target="_blank">
            <img src="icons/brand-github.svg" class="[ text-black ]" alt="GitHub" height="30" width="30" onload="SVGInject(this)" />
        </a>
        <a href="https://www.youtube.com/channel/UCOS3wCw7SVXjXXffMPqid7A" target="_blank">
            <img src="icons/brand-youtube.svg" class="[ text-red-500 ]" alt="YouTube" height="30" width="30" onload="SVGInject(this)" />
        </a>
    </section>
</header>