<header id="header" class="[ flex items-center justify-between ] [ bg-white ] [ px-5 ] [ dark:bg-gray-800 dark:bg-gray-800/80 ] [ h-14 ] [ sticky top-0 ] [ backdrop-blur-sm bg-white/30 ]">
    <h1 id="brand" class="[ @(HideNonSearchItems ? "hidden" : null) ]">
        <NavLink href="/" class="[ font-bold ] [ flex items-center justify-between space-x-1 ]">
            <span class="[ dark:text-white ]">I</span>
            <span class="animate-pulse">❤️</span>
            <span class="[ text-indigo-600 ] [ dark:text-white ]">.NET</span>
        </NavLink>
    </h1>
    <Search ToggleNonSearchItems="ToggleNonSearchItems"></Search>
    <section id="display-and-social" class="[ @(HideNonSearchItems ? "hidden" : null) ] [ flex items-center space-x-1.5 ]">
        <Theme></Theme>
        <Social></Social>
    </section>
</header>

@code {
    private bool HideNonSearchItems;

    private void ToggleNonSearchItems(bool hideNonSearchItems)
    {
        HideNonSearchItems = hideNonSearchItems;
    }
}