@inject AppState AppState

<header id="header" class="[ flex items-center justify-between ] [ bg-white ] [ px-5 ] [ dark:bg-gray-800 dark:bg-gray-800/80 ] [ h-14 ] [ sticky top-0 ] [ backdrop-blur-sm bg-white/80 ] [ z-10 ]">
    <button type="button" class="[ hidden md:block ] [ mr-4 ]" @onclick="ToggleMenu">
        <svg xmlns="http://www.w3.org/2000/svg" class="[ icon icon-tabler icon-tabler-menu-2 ]" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
           <line x1="4" y1="6" x2="20" y2="6"></line>
           <line x1="4" y1="12" x2="20" y2="12"></line>
           <line x1="4" y1="18" x2="20" y2="18"></line>
        </svg>
    </button>
    <h1 id="brand" class="[ @(HideNonSearchItems ? "hidden" : null) ]">
        <NavLink href="/" class="[ font-bold ] [ flex items-center justify-between space-x-1 ]">
            <span class="[ dark:text-white ]">I</span>
            <span class="animate-pulse">❤️</span>
            <span class="[ text-indigo-600 ] [ dark:text-white ]">.NET</span>
        </NavLink>
    </h1>
    <Search ToggleNonSearchItems="ToggleNonSearchItems"></Search>
    <section id="display-and-social" class="[ @(HideNonSearchItems ? "hidden" : null) ] [ flex items-center space-x-1.5 ]">
        <Theme></Theme>
        <Others></Others>
    </section>
</header>

@code {
    private bool HideNonSearchItems;

    private void ToggleNonSearchItems(bool hideNonSearchItems)
    {
        HideNonSearchItems = hideNonSearchItems;
    }

    private void ToggleMenu()
    {
        AppState.ToggleNavigationMenu();
    }
}