@inherits LayoutComponentBase
@inject AppState AppState
@implements IDisposable

<Header></Header>
<main id="main" class="[ @(AppState.ShowNavigation ? "[ pb-14 md:pb-0 md:pl-16 ]" : "[ transition-all delay-75 duration-150 ease-in-out ]") ]">
    <StarAndShareRequest></StarAndShareRequest>
    @Body
</main>
@if (AppState.ShowNavigation)
{
    <Navigation></Navigation>
}

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}