@inherits LayoutComponentBase

<header id="header" class="[ flex items-center justify-between ] [ px-5 ]" style="background:#512bd4">
    <h1 id="brand" class="[ text-white font-bold ]">I <span class="[ text-red-500 ]">❤️</span> .Net</h1>
    <section id="search"></section>
</header>
<main id="main">
    @Body
</main>
<footer id="footer" class="[ flex items-center justify-between ] [ px-5 ]" style="background:#512bd4">
    <section id="copyright" class="[ text-white font-bold ]">
        <p>Copyright &copy; @DateTime.Now.Year I <span class="[ text-red-500 ]">❤️</span> .Net</p>
    </section>
    <section id="social" class="[ flex justify-between ]" style="background:white;">
        <a href="https://lnkd.in/g4-f-dcN" target="_blank">
            <img src="image/social/linkedin-brands.svg" alt="LinkedIn" height="30" width="30">
        </a>
        <a href="https://github.com/ILoveDotNet" target="_blank">
            <img src="image/social/github-brands.svg" alt="GitHub" height="30" width="30">
        </a>
        <a href="https://www.youtube.com/channel/UCOS3wCw7SVXjXXffMPqid7A" target="_blank">
            <img src="image/social/youtube-brands.svg" alt="YouTube" height="30" width="30">
        </a>
    </section>
</footer>
