<label>
    Email Address
    <input class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 ] [ focus:outline-none focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]" 
           type="email"
           @bind="emailAddress" />
</label>

<button type="button" class="[ bg-cyan-500 ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="CreateAbstractedEmail">
    Create Email Address
</button>

<p>@message</p>

@code {

    private string? message;
    private string emailAddress = default!;

    private void CreateAbstractedEmail()
    {
        EmailAddress.Create(emailAddress);
        message = $"Email Created Successfully!!";
    }

}