<label>
    Number of Edges
    <input class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 border-gray-200 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]" 
           type="number"
           @bind="numberOfEdges" />
</label>

<button type="button" class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="CreateEncapsulatedSquare">
    Create Square
</button>

<p>@message</p>

@code {

    private string? message;
    private int numberOfEdges;

    private void CreateEncapsulatedSquare()
    {
        new EncapsulatedSquare(Enumerable.Range(1, numberOfEdges).Select(edge => new Edge()));
        message = $"Square Created Successfully with {numberOfEdges} edges!!";
    }

}