@page "/talks/blazor-spa-from-aspnet-family"

<Content Title=@Title
         Description=@Description
         CreatedOn=@CreatedOn
         ModifiedOn=@ModifiedOn
         Slug=@Slug
         PosterPath=@PosterPath
         Keywords=@Keywords
         Channel="@Channel"
         ContentType="@ContentType"
         VideoContentUrl="@VideoContentUrl" 
         TotalContents=@TotalContents>
    <ContentBody>
        <p>
            With modern web apps, building a rich UI is hard. We normally use javascript to build a rich UI with the limitation of not being able 
            to reuse server side code. In today's session let's learn what Blazor is and how it differs from Javascript SPA like angular, react or 
            vue. (Note: Click on the above poster to play video.)
        </p>
    </ContentBody>
</Content>

@code {
    private string Title = "Blazor - SPA from ASP.NET Family";
    private string Description = "In this talk I will teach you what is blazor and why do we need to go for blazor. All with live working demo.";
    private DateTime CreatedOn = new DateTime(2022, 2, 27, 22, 30, 0);
    private DateTime ModifiedOn = new DateTime(2022, 2, 27, 22, 30, 0);
    private string Slug = "blazor-spa-from-aspnet-family";
    private string PosterPath = "talks";
    private string Channel = "talk";
    private string ContentType = "talks";
    private string VideoContentUrl = "https://www.youtube.com/watch?v=MUVyb9T5gU0&ab_channel=GeekNightChennai";
    private ushort TotalContents = 1;
    private List<string> Keywords = new(4) { "Blazor", "Web Assembly", "SPA", "ASP.NET" };
}