@page "/blogs/configuring-authentication-in-functional-testing-in-asp-net-webapi"
@inherits BasePage

<Content FileName=@nameof(ConfiguringAuthenticationInFunctionalTestingInASPNET)>
    <ContentBody>
        <p>
            In this article, let's learn about how to setup <ContentHighlight>Authentication</ContentHighlight> in 
            <ContentHighlight>Functional Test</ContentHighlight> in <ContentHighlight>WebAPI</ContentHighlight> in ASP.NET Core.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/using-wiremock-net-in-functional-testing-in-asp-net-webapi" Match="NavLinkMatch.All">Using WireMock.NET in Functional testing in ASP.NET WEB API</NavLink>.
        </p>

        <h3>Table of Contents</h3>

        <ol>
            <li>
                <NavLink href="@($"blogs/{Slug}#introduction")" Match="NavLinkMatch.All">
                    Introduction
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#setup-authentication")" Match="NavLinkMatch.All">
                    Setup Authentication
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#setup-authorization")" Match="NavLinkMatch.All">
                    Setup Authorization
                </NavLink>
            </li>
            <li>
                <NavLink href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="introduction">Introduction</h3>

        <p>
            In our previous article we saw how to use <ContentHighlight>WireMock.NET</ContentHighlight> in functional test to validate HTTP calls. In this article,
            we will see how to setup <ContentHighlight>Authentication</ContentHighlight> and <ContentHighlight>Authorization</ContentHighlight> in functional test in 
            <ContentHighlight>WebAPI</ContentHighlight> in ASP.NET Core step by step. We will be using the same project that we used in our previous article.
        </p>

        <p>
            The straight forward way to enable <ContentHighlight>Authentication</ContentHighlight> and <ContentHighlight>Authorization</ContentHighlight> in 
            Web API is to add <ContentHighlight CssClasses="[ break-all ]">UseAuthentication()</ContentHighlight> middleware and decorate necessary endpoints 
            with <ContentHighlight>[Authorize]</ContentHighlight> attribute.
        </p>

        <CodeSnippet CssClass="language-csharp">
builder.Services.AddControllers();

builder.Services.AddAuthentication().AddJwtBearer();

var app = builder.Build();

app.UseAuthorization();
        </CodeSnippet>

        <p>
            Now we need to decorate the endpoints with <ContentHighlight>[Authorize]</ContentHighlight> attribute as shown below.
        </p>

        <figure>
            <caption>Decorating Endpoints with Authorize Attribute</caption>
            <img src="./image/blogs/webapi/configuring-authentication-in-functional-testing-in-asp-net-webapi/decorating-with-authorize.png" alt="decorating-with-authorize" class="[ w-full ]" />
        </figure>

        <p>
            Now if we run our tests, all our tests will fail with <ContentHighlight>401 UnAuthorized</ContentHighlight> as shown below.
        </p>

        <figure>
            <caption>Failing Tests after enabling Authentication</caption>
            <img src="./image/blogs/webapi/configuring-authentication-in-functional-testing-in-asp-net-webapi/failed-test.png" alt="failed-test" class="[ w-full ]" />
        </figure>

        <p>
            Lets quickly verify if we are getting <ContentHighlight>401 UnAuthorized</ContentHighlight> from swagger. Here is the swagger response from the 
            <ContentHighlight>WeatherForecast</ContentHighlight> endpoint.
        </p>

        <figure>
            <caption>Swagger output from Endpoint to return values from API</caption>
            <img src="./image/blogs/webapi/configuring-authentication-in-functional-testing-in-asp-net-webapi/swagger-response.png" alt="swagger-response" class="[ w-full ]" />
        </figure>

        <h3 id="setup-authentication">Setup Authentication</h3>

        <p>
            Setting up <ContentHighlight>Authentication</ContentHighlight> in <ContentHighlight>Functional Test</ContentHighlight> is a bit tricky as it cannot be 
            mocked like unit tests. But here is plan as per <NavLink href="https://learn.microsoft.com/en-us/aspnet/core/test/integration-tests?view=aspnetcore-8.0#mock-authentication" class="[ underline ]" target="_blank">official documentation</NavLink>. 
        </p>

        <ol>
            <li>
                <p>
                    Let's start with Empty <ContentHighlight>AuthClaimsProvider</ContentHighlight>.
                </p>

                <CodeSnippet CssClass="language-csharp">
using System.Security.Claims;

namespace FunctionalTest;
public class AuthClaimsProvider
{
    public IList&lt;Claim&gt; Claims { get; }

    public AuthClaimsProvider(IList&lt;Claim&gt; claims)
    {
        Claims = claims;
    }

    public AuthClaimsProvider()
    {
        Claims = [];
    }
}
                </CodeSnippet>

            </li>
            <li>
                <p>
                    Next, we need to add <ContentHighlight>AuthenticationHandler</ContentHighlight>.
                </p>

                <CodeSnippet CssClass="language-csharp">
using Microsoft.AspNetCore.Authentication;
using Microsoft.Extensions.Logging;
using Microsoft.Extensions.Options;
using System.Security.Claims;
using System.Text.Encodings.Web;

namespace FunctionalTest;
public class TestAuthHandler(
    IOptionsMonitor&lt;AuthenticationSchemeOptions&gt; options,
    ILoggerFactory logger,
    UrlEncoder encoder,
    AuthClaimsProvider claimsProvider) : AuthenticationHandler&lt;AuthenticationSchemeOptions&gt;(options, logger, encoder)
{
    public const string SchemeName = "Test";
    private readonly IList&lt;Claim&gt; _claims = claimsProvider.Claims;

    protected override Task&lt;AuthenticateResult&gt; HandleAuthenticateAsync()
    {
        var identity = new ClaimsIdentity(_claims, SchemeName);
        var principal = new ClaimsPrincipal(identity);
        var ticket = new AuthenticationTicket(principal, SchemeName);

        // If needed to add anything in HttpContext to be available inside app, then we can do it below.
        // the below example uses claims to set value. But it can be anything. 
        // Just Inject _httpContextAccessor in this class and use.
        // _httpContextAccessor.HttpContext.Items[key] = principal.Claims.First(claim =&gt; claim.Type == key)?.Value;

        var result = AuthenticateResult.Success(ticket);

        return Task.FromResult(result);
    }
}
                </CodeSnippet>

            </li>
            <li>
                <p>
                    When application is started in test host add new authentication scheme (let's call it <ContentHighlight>Test</ContentHighlight>).
                </p>

                <CodeSnippet CssClass="language-csharp">
using Microsoft.AspNetCore.Authentication;
using Microsoft.AspNetCore.Hosting;
using Microsoft.AspNetCore.Mvc.Testing;
using Microsoft.AspNetCore.TestHost;
using Microsoft.Extensions.DependencyInjection;

namespace FunctionalTest;
public class CustomWebApiFactory(SharedFixture fixture) : WebApplicationFactory&lt;Program&gt;
{
    public SharedFixture SharedFixture =&gt; fixture;

    protected override void ConfigureWebHost(IWebHostBuilder builder)
    {
        builder.UseEnvironment("Test");
        
        builder.ConfigureTestServices(services =&gt;
        {
            services.AddAuthentication(TestAuthHandler.SchemeName)
                .AddScheme&lt;AuthenticationSchemeOptions, TestAuthHandler&gt;(TestAuthHandler.SchemeName, _ =&gt; { });

            services.AddScoped(_ =&gt; new AuthClaimsProvider());
        });
    }
}
                </CodeSnippet>

            </li>
            <li>
                <p>
                    Configure authentication scheme to use custom authentication handler (<ContentHighlight>TestAuthHandler</ContentHighlight>) that creates 
                    fake identity for integration tests. This handler creates fake user when <ContentHighlight>HandleAuthenticateAsync()</ContentHighlight> is 
                    called. We don't need any additional hacks to make ASP.NET Core application use this fake identity. Our integration test needs also some 
                    changes because of authentication handler.
                </p>
            </li>
        </ol>

        <p>
            That's it now if we run our tests, it should pass. Here is the output of the test after adding the above code.
        </p>

        <figure>
            <caption>Authorize Passing Test</caption>
            <img src="./image/blogs/webapi/configuring-authentication-in-functional-testing-in-asp-net-webapi/authorize-passing-test.png" alt="authorize-passing-test" class="[ w-full ]" />
        </figure>

        <h3 id="setup-authorization">Setup Authorization</h3>

        <p>
            So far so good. Now the problem with the above <ContentHighlight>TestHandler</ContentHighlight> is that it provides static set of claims for all the 
            tests. This will not be the case in real world applications. The handler provides web application with static set of claims. No matter what is the 
            request claims are always the same. This way it is not possible to test application with different users and roles. We need to validate 
            <ContentHighlight>Authorization</ContentHighlight> for endpoints which require different set of claims. So we need to configure claims for each test. Here is the plan.
        </p>

        <ol>
            <li>
                <p>
                    To make test authentication handler support different user accounts I extended claims provider. This is the <ContentHighlight>class</ContentHighlight> 
                    that carries given set of <ContentHighlight>claims</ContentHighlight> to test authentication provider. I added also some static methods to 
                    return already initialized provider with set of claims specific for role like <ContentHighlight>Guest</ContentHighlight> and 
                    <ContentHighlight>Admin</ContentHighlight>.
                </p>

                <CodeSnippet CssClass="language-csharp">
using System.Security.Claims;

namespace FunctionalTest;
public class AuthClaimsProvider
{
    public IList&lt;Claim&gt; Claims { get; }

    public AuthClaimsProvider(IList&lt;Claim&gt; claims)
    {
        Claims = claims;
    }

    public AuthClaimsProvider()
    {
        Claims = [];
    }

    public static AuthClaimsProvider WithGuestClaims()
    {
        var provider = new AuthClaimsProvider();
        provider.Claims.Add(new Claim(ClaimTypes.NameIdentifier, Guid.NewGuid().ToString()));
        provider.Claims.Add(new Claim(ClaimTypes.Name, "Guest User"));
        provider.Claims.Add(new Claim(ClaimTypes.Role, "Guest"));

        return provider;
    }

    public static AuthClaimsProvider WithAdminClaims()
    {
        var provider = new AuthClaimsProvider();
        provider.Claims.Add(new Claim(ClaimTypes.NameIdentifier, Guid.Empty.ToString()));
        provider.Claims.Add(new Claim(ClaimTypes.Name, "Admin User"));
        provider.Claims.Add(new Claim(ClaimTypes.Role, "Admin"));

        return provider;
    }
}
                </CodeSnippet>

            </li>
            <li>
                <p>
                    Now we need to add extension method to create <ContentHighlight>HttpClient</ContentHighlight> with required <ContentHighlight>Claims</ContentHighlight>. 
                    This method will be used in tests to create <ContentHighlight>HttpClient</ContentHighlight> with required claims. The code for that is shown below.
                </p>

                <CodeSnippet CssClass="language-csharp">
public static class WebApplicationFactoryExtensions 
{
	public static HttpClient CreateClientWithClaim(this WebApplicationFactory&lt;Program&gt; factory, AuthClaimsProvider claims)
	{
		var client = factory.WithWebHostBuilder(builder =&gt;
		{
			builder.ConfigureTestServices(services =&gt;
			{
				var descriptor = services.SingleOrDefault(d =&gt; d.ServiceType == typeof(AuthClaimsProvider));

				if (descriptor != null)
				{
					services.Remove(descriptor);
					services.AddScoped(_ =&gt; claims);
				}
			});
		})
		.CreateClient();
		
		return client;
	}
}
                </CodeSnippet>

            </li>
        </ol>

        <p>
            That's it. Now we can use the above code to configure <ContentHighlight>claims</ContentHighlight> and <ContentHighlight>roles</ContentHighlight> for 
            each test. Let's try to test both <ContentHighlight>Guest</ContentHighlight> and <ContentHighlight>Admin</ContentHighlight> role.
        </p>

        <p>
            Now lets try to test the <ContentHighlight>Admin</ContentHighlight> role on <ContentHighlight CssClasses="[ break-all ]">GetWeatherForecastFromDatabase</ContentHighlight> 
            endpoint. For this we need to use the extension method to create <ContentHighlight>HttpClient</ContentHighlight> with <ContentHighlight>Admin</ContentHighlight> claims.
        </p>

        <CodeSnippet CssClass="language-csharp">
using API;
using API.Services;
using FluentAssertions;
using Microsoft.EntityFrameworkCore;
using System.Diagnostics.CodeAnalysis;
using System.Net;
using Xunit.Abstractions;

namespace FunctionalTest;
[ExcludeFromCodeCoverage]
[Collection(nameof(FunctionalTestCollection))]
public class WeatherForecastControllerShouldTests(
    CustomWebApiFactory factory,
    ITestOutputHelper outputHelper) : BaseTest(factory), IClassFixture&lt;CustomWebApiFactory&gt;
{
    [Fact]
    public async Task ReturnExpectedResponse_From_Database()
    {
        var expectedWeatherForecast = await Database.WeatherForecasts.FirstAsync();

        using var client = Factory.CreateClientWithClaim(AuthClaimsProvider.WithAdminClaims());
        var result = await client.GetJsonResultAsync&lt;List&lt;WeatherForecast&gt;&gt;("/weatherforecast/fromdatabase", HttpStatusCode.OK, outputHelper);
        result.Count.Should().Be(1);
        result[0].Should().BeEquivalentTo(expectedWeatherForecast);
    }
}
        </CodeSnippet>

        <p>
            Thats it. We are done with setup. Now the tests will run in the following flow.
        </p>

        <ol>
            <li>Start Test Method.</li>
            <li>Create WebApplicationFactory.</li>
            <li>Run Program.cs.</li>
            <li>Add Default Authentication.</li>
            <li>Service Registration.</li>
            <li>Build Web Application.</li>
            <li>Create HTTP Client with required Claims.</li>
            <li>Test Code Execution.</li>
        </ol>

        <p>
            Now lets run the test and see the result.
        </p>

        <figure>
            <img src="./image/blogs/webapi/configuring-authentication-in-functional-testing-in-asp-net-webapi/all-passing-test.png" alt="all-passing-test" class="[ w-full ]" />
        </figure>

        <p>We can do the same for <ContentHighlight>Guest Claims</ContentHighlight> for another test.</p>

        <h3 id="summary">Summary</h3>

        <p>
            In this article, we learnt about how to setup <ContentHighlight>Authentication</ContentHighlight> and <ContentHighlight>Authorization</ContentHighlight> 
            in <ContentHighlight>Functional Test</ContentHighlight> in <ContentHighlight>WebAPI</ContentHighlight> in ASP.NET Core. We learnt how to setup 
            <ContentHighlight>Test Authentication Handler</ContentHighlight> and <ContentHighlight>Test Scheme</ContentHighlight> and also learnt how to inject 
            different users and claims in runtime. The complete source code for this article can be found <NavLink href="https://github.com/fingers10/ILoveDotNetFunctionalTest" class="[ underline ]" target="_blank">here</NavLink>. 
            With this we are completing the series on <ContentHighlight>Functional Testing in ASP.NET WebAPI</ContentHighlight>. I'm happy to share my knowledge 
            on functional testing. Hope you enjoyed reading it.
        </p>
    </ContentBody>
</Content>