@page "/blogs/profiling-webapi-with-mini-profiler"
@inherits BasePage

<Content FileName=@nameof(ProfilingWithMiniProfiler) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to use <Highlight>Mini Profiler</Highlight> in <Highlight>WebAPI</Highlight> in ASP.NET Core.
            </p>

            <p>
                MiniProfiler is a simple but effective library and UI for profiling your application. Mini profiler provides an ADO.NET profiler, capable of profiling calls on raw ADO.NET 
                (SQL Server, Oracle, etc), LINQ-to-SQL, Entity Framework (including Code First and EF Core), and a range of other data access scenarios. Mini profiler also helps to profile code 
                paths explicitly using steps.
            </p>
        </What>

        <Why>
            <p>
                Miniprofiler helps to quickly configure and identify performance issues in your code base. There are many tools available for profiling application during development but it can be 
                challenging to use those tools specially in production environment. MiniProfiler is a very lightweight, opensourced, stable and easy to use profiling library for ASP.Net 
                applications which can profile dotnet application during runtime without change to the environment and effect on the application. It is maintained and backed by STackOverflow 
                and used in StackExchange family of sites.
            </p>

            <p>
                MiniProfiler profiles each and every part of your code starting from filters to model binding and from controller execution to database calls.
            </p>
        </Why>

        <How>
            <h4 id="steps">Steps</h4>

        <ol>
            <li>Install <Highlight>MiniProfiler.AspNetCore.Mvc</Highlight> and <Highlight>MiniProfiler.EntityFrameworkCore</Highlight> Nuget Packages.</li>
            <li>
                <p>
                    Add <Highlight>AddMiniProfiler</Highlight> and <Highlight>AddEntityFramework</Highlight> services to dependency injection container and 
                    configure <Highlight>RouteBasePath</Highlight>.
                </p>

                <CodeSnippet CssClass="language-csharp">
builder.Services.AddMiniProfiler(options =&gt;
{
    options.RouteBasePath = "/profiler"; //Navigate to /profiler/results-index
}).AddEntityFramework();
                </CodeSnippet>

                
            </li>
            <li>Configure <Highlight>app.UseMiniProfiler()</Highlight> to the request pipeline.</li>
            <li>Your project is ready for profiling. Build the project and run it. Call your API via Swagger or any other tools.</li>
        </ol>

        <figure>
            <img src="./image/blogs/webapi/profiling-webapi-with-mini-profiler/swagger-response.png" alt="swagger-response" class="[ w-full ]" />
        </figure>

        

        <p>
            To see the results navigate to <Highlight>https://localhost:5001/profiler/results-index</Highlight> in your browser.
        </p>

        <figure>
            <img src="./image/blogs/webapi/profiling-webapi-with-mini-profiler/profiler-results-index.png" alt="profiler-results-index" class="[ w-full ]" />
        </figure>

        

        <p>
            To check the details of API call, click on respective entry from profiling results index page.
        </p>

        <figure>
            <img src="./image/blogs/webapi/profiling-webapi-with-mini-profiler/profiler-results.png" alt="profiler-results" class="[ w-full ]" />
        </figure>

        

        <p>
            From the details page you can get insights on how much time each step took along with the database queries used in the API call. This will help you to quickly identify the major 
            bottleneck in your API. Note that if your not using Entity Framework for data access then you need to do additional configuration to record database queries. You can find them in 
            their official documentation on how to profile sql using the following <NavLink class="[ underline ]" href="https://miniprofiler.com/dotnet/HowTo/ProfileSql" target="_blank">link</NavLink>.
        </p>

        

            <h4 id="custom-profiling">Custom Profiling</h4>

        <p>
            Now to analyse further and see which portion of our code block or logic takes more time we can wrap the code block using <Highlight>MiniProfiler.Current.Step</Highlight>. 
            I'm using <Highlight>MinimalAPI</Highlight> introduced in .NET 6 as example here.
        </p>

        <CodeSnippet CssClass="language-csharp">
app.MapGet("/authors", async ([FromServices] ProfilingContext context) =&gt;
{
    var authors = await context.Authors.ToListAsync();

    using (MiniProfiler.Current.Step("Returning data"))
    { 
        return authors;
    }
})
.WithName("GetAuthors");
        </CodeSnippet>

        

        <p>
            Now if we again run the app and navigate to profiler results, we can notice the timings recorded for our custom step.
        </p>

        <figure>
            <img src="./image/blogs/webapi/profiling-webapi-with-mini-profiler/profiler-results-with-custom-step.png" alt="profiler-results-with-custom-step" class="[ w-full ]" />
        </figure>

        

            <h4 id="persisting-profiling-data-in-database">Persisting Profiling Data in Database</h4>

        <p>
            We can also store the profiling data in database for further analysis. To do so we need to add another provider Nuget Package given by MiniProfiler. I'm using Postgres SQL and I'll 
            be installing corresponding provider. You can find the list of available providers in the following 
            <NavLink href="https://miniprofiler.com/dotnet/NuGet" target="_blank">link</NavLink>.
        </p>

        <ol>
            <li>Install Nuget Package <Highlight>MiniProfiler.Providers.PostgreSql</Highlight>.</li>
            <li>
                <p>
                    Modify your Mini Profiler Configuration and pass the Provider in the options as shown below.
                </p>

                <CodeSnippet CssClass="language-csharp">
builder.Services.AddMiniProfiler(options =&gt;
{
    options.RouteBasePath = "/profiler"; //Navigate to /profiler/results-index
    options.Storage = new PostgreSqlStorage("Host=localhost;Database=database;User id=postgres;Password=password;");
}).AddEntityFramework();
                </CodeSnippet>

                
            </li>
            <li>
                <p>
                    Note that you need to create database tables to store profiling details. This is a manual step. You can get the database scripts using the below code.
                </p>

                <CodeSnippet CssClass="language-csharp">
var storage = new PostgreSqlStorage("Host=localhost;Database=Database;User id=postgres;Password=password;");
foreach (var cs in storage.TableCreationScripts)
{
    Console.WriteLine(cs);
}
                </CodeSnippet>

                

                <figure>
                    <img src="./image/blogs/webapi/profiling-webapi-with-mini-profiler/database-tables.png" alt="database-tables" class="[ w-full ]" />
                </figure>

                
            </li>
        </ol>

        <p>
            Now after creating database run the API and check the database. Now all the profile results are stored in Database and can be seen anytime for further analysis.
        </p>

        <figure>
            <img src="./image/blogs/webapi/profiling-webapi-with-mini-profiler/profiler-index-query-result.png" alt="profiler-index-query-result" class="[ w-full ]" />
        </figure>

        

        <figure>
            <img src="./image/blogs/webapi/profiling-webapi-with-mini-profiler/profiler-query-result.png" alt="profiler-query-result" class="[ w-full ]" />
        </figure>

        

            <h4 id="authorization">Authorization</h4>

        <p>
            The profiling data is sensitive data and will provide lot of insight about the code flow so you don’t want it to be available to everyone who is having access to application but 
            only to certain group or role of user. Luckily, access of profiling data can be restricted with authorization mechanism.
        </p>

        <p>
            To do so, modify the MiniProfiler Configuration as follows,
        </p>

        <CodeSnippet CssClass="language-csharp">
builder.Services.AddMiniProfiler(options =&gt;
{
    options.RouteBasePath = "/profiler"; //Navigate to /profiler/results-index
    options.Storage = new PostgreSqlStorage("Host=localhost;Database=ProfilingResults;User id=postgres;Password=yourpassword;");
    options.ResultsAuthorize = request =&gt; IsUserAuthorized(request);
    options.ResultsListAuthorize = request =&gt; IsUserAuthorized(request);
}).AddEntityFramework();

static bool IsUserAuthorized(HttpRequest request)
{
    return request.HttpContext.User.Identity!.IsAuthenticated;
}
        </CodeSnippet>

        

        <p>
            For simplicity, I have added code only for checking if user is authorized or not, but it can be enhanced to check if user is in certain role or not. thus restricting access to only 
            certain group or role of user. With these changes only authorized user can access the profile results.
        </p>

        <p>
            Now when we try to navigate to profiling results page, we get unauthorized error.
        </p>

        <figure>
            <img src="./image/blogs/webapi/profiling-webapi-with-mini-profiler/unauthorized-access.png" alt="unauthorized-access" class="[ w-full ]" />
        </figure>

        

            <h4 id="useful-configurations">Useful Configurations</h4>

        <table class="[ table-fixed border-collapse ] [ bg-white ] [ border-2 border-gray-200 ] [ dark:bg-black dark:border-slate-500 ]">
            <thead>
                <tr class="[ bg-gray-100 ] [ dark:bg-slate-500 ]">
                    <th class="[ border-2 border-gray-200 ] [ dark:border-slate-600 ] [ p-2 ]">Configuration</th>
                    <th class="[ border-2 border-gray-200 ] [ dark:border-slate-600 ] [ p-2 ]">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">Exclude certain request path from profiling</td>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ] [ text-center ] [ break-all ]"><Highlight>options.IgnoredPaths.Add("/swagger");</Highlight></td>
                </tr>
                <tr>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">Include only certain request path for profiling</td>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ] [ text-center ] [ break-all ]">
                        <Highlight>options.ShouldProfile = request => ShouldProfile(request);</Highlight>

                        <p>You can implement ShouldProfile method as follows.</p>

                        <Highlight>bool ShouldProfile(HttpRequest request) => request.Path.StartsWithSegments("/api");</Highlight>
                    </td>
                </tr>
                <tr>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">Configure theme</td>
                    <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ] [ text-center ] [ break-all ]"><Highlight>options.ColorScheme = ColorScheme.Dark;</Highlight></td>
                </tr>
            </tbody>
        </table>

        

            <h4 id="complete-configurations">Complete Configurations</h4>

        <p>
            Here is the complete configuration that I have used for this demo.
        </p>

        <CodeSnippet CssClass="language-csharp">
using Microsoft.AspNetCore.Mvc;
using Microsoft.EntityFrameworkCore;
using StackExchange.Profiling;
using StackExchange.Profiling.Storage;

var builder = WebApplication.CreateBuilder(args);

// Add services to the container.
// Learn more about configuring Swagger/OpenAPI at https://aka.ms/aspnetcore/swashbuckle
builder.Services.AddEndpointsApiExplorer();
builder.Services.AddSwaggerGen();
builder.Services.AddDbContext&lt;ProfilingContext&gt;();

//var storage = new PostgreSqlStorage("Host=localhost;Database=database;User id=postgres;Password=password;");
//foreach (var cs in storage.TableCreationScripts)
//{
//    Console.WriteLine(cs);
//}

builder.Services.AddMiniProfiler(options =&gt;
{
    options.RouteBasePath = "/profiler"; //Navigate to /profiler/results-index
    options.IgnoredPaths.Add("/swagger");
    options.Storage = new PostgreSqlStorage("Host=localhost;Database=database;User id=postgres;Password=password;");
    options.ResultsAuthorize = request =&gt; IsUserAuthorized(request);
    options.ResultsListAuthorize = request =&gt; IsUserAuthorized(request);
    options.ShouldProfile = request =&gt; ShouldProfile(request);
    options.ColorScheme = ColorScheme.Dark;
}).AddEntityFramework();

var app = builder.Build();

// Configure the HTTP request pipeline.
if (app.Environment.IsDevelopment())
{
    app.UseMiniProfiler();
    app.UseSwagger();
    app.UseSwaggerUI();
}

app.UseHttpsRedirection();

app.MapGet("/authors", async ([FromServices] ProfilingContext context) =&gt;
{
    var authors = await context.Authors.ToListAsync();

    using (MiniProfiler.Current.Step("Returning data"))
    { 
        return authors;
    }
})
.WithName("GetAuthors");

app.Run();

static bool IsUserAuthorized(HttpRequest request)
{
    return request.HttpContext.User.Identity!.IsAuthenticated;
}

static bool ShouldProfile(HttpRequest request)
{
    // only profile api's
    return request.Path.StartsWithSegments("/api");
}

public class Author
{
    public long Id { get; set; }
    public string Name { get; set; } = default!;
}

public class ProfilingContext : DbContext
{
    public DbSet&lt;Author&gt; Authors =&gt; Set&lt;Author&gt;();

    protected override void OnConfiguring(DbContextOptionsBuilder optionsBuilder)
    {
        optionsBuilder.UseNpgsql("Host=localhost;Database=database;User id=postgres;Password=password;");
    }

    protected override void OnModelCreating(ModelBuilder modelBuilder)
    {
        modelBuilder.Entity&lt;Author&gt;().ToTable("Authors");
        modelBuilder.Entity&lt;Author&gt;().HasKey(a =&gt; a.Id);
    }
}
        </CodeSnippet>

        

        </How>

        <Summary>
            <p>
                In this article we learn't how to profile performance issues in ASP.NET Core WebAPI using Miniprofiler and we also learnt how to persist data in database and how to configure 
                authorization. We also saw some bonus tips to simplify and remove unnecessary routes from getting profiled.
            </p>
        </Summary>
    </ContentBody>
</Content>