@page "/blogs/request-endpoint-response-repr-pattern-in-asp-net-webapi"
@inherits BasePage

<Content FileName=@nameof(REPRInASPNET) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about <Highlight>Request Endpoint Response (REPR) Pattern</Highlight>, a better way to organize API's and 
                how to implement in <Highlight>WebAPI</Highlight> in ASP.NET Core.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/single-responsibility-principle-in-solid" Match="NavLinkMatch.All">Single Responsibility Principle in SOLID</NavLink>.
            </p>

            <p>
                I have been programming in API for a very long time and I also help companies to move out of their technical debt. I like to design and organize 
                API's in a way that it is easy to maintain and scale. But I can tell you that the traditional way of organizing API's in 
                <Highlight>Controllers</Highlight> are always a source of pain in ASP.NET projects.
            </p>

            <p>
                ASP.NET WEB API Controllers are essentially an anti pattern. They are always fat and huge. They are collection of methods that never call one another 
                and do not operate on same state. They are <Highlight>not cohesive</Highlight>. They tend to get bloated over the time of development. 
                But since that is the approach which comes with the default template, most of the developers started to follow it. 
            </p>

            <p>
                Ofcourse you can use tools like <Highlight>MediatR</Highlight> to solve this problem. But what if I tell you that you can do it 
                without any third party library or extra plumbing ?. Let's learn how to overcome this using <abbr title="Request Endpoint Response">REPR</abbr> Pattern.
            </p>
        </What>

        <Why>
            <p>
                Well the answer is simple. API Endpoints are really just controllers with few constraints applied to them. They literally inherit from 
                <Highlight>ControllerBase</Highlight> and so, its acceptable to do this way, and everything that works with Controllers, like routing, 
                model binding, model validation, dependency injection, filters, etc. all works just fine with API Endpoints because, you might have guessed it, 
                they're again controllers.
            </p>

            <p>
                Yes its going to be controllers again but with <Highlight>Single Responsibility Principle</Highlight> applied to them. They are going 
                to be <Highlight>small</Highlight> and <Highlight>cohesive</Highlight>. They are going to be easy to maintain and scale. 
                They are going to be easy to test. They don't change often like how we add new ActionMethod to Controllers. Lesser the change in file, lesser the 
                chances of breaking things and introducing bugs.
            </p>
        </Why>

        <How>
            <h4 id="what-is-repr-pattern">What is REPR Pattern ?</h4>

        <p>
            Usually API development follows <Highlight>MVC</Highlight> pattern. But for API's, we don't need Views. So we can remove the View 
            part from MVC and we are left with <Highlight>Model-Controller</Highlight>. But the problem with this is that, the Controller is 
            still fat and huge. So we need to break it down further.
        </p>

        <p>
            Any API endpoint needs the following things to work.
        </p>

        <ol>
            <li><Highlight>Request</Highlight>: The input data expected for the Enpoint</li>
            <li><Highlight>Endpoint</Highlight>: The logic performed on the given Request</li>
            <li><Highlight>Response</Highlight>: The output data returned from the Endpoint</li>
        </ol>

        <p>
            Combining all these three, we get the <Highlight>REPR</Highlight> Pattern. REPR pronounced as reaper stands for 
            <Highlight>Request Endpoint Response</Highlight> pattern. This greatly reduces the friction and makes working with individual endpoints 
            easier.
        </p>

        <figure>
            <img src="./image/blogs/webapi/request-endpoint-response-repr-pattern-in-asp-net-webapi/folder-structure.png" alt="folder-structure" class="[ w-1/2 ]" />
        </figure>

        

        <p>
            Looking at the above folder structure, we can see that there is no traditional <Highlight>Controllers</Highlight> folder. Instead we 
            stick to domain terms in folder naming like how we have <Highlight>Article</Highlight> folder in above image. Each Endpoint class inside 
            the folder represents the domain function we are trying to achieve like <Highlight>Publish</Highlight>, 
            <Highlight>UnPublish</Highlight> Article etc. This makes it more ubiquitous and easy to navigate inside codebase.
        </p>

        

            <h4 id="implementing-repr-pattern">Implementing REPR Pattern</h4>

        <p>
            To start implementing this in new project, all you need is creating a new <Highlight>Controller</Highlight> file and inherit from 
            <Highlight>ControllerBase</Highlight>. But if you are trying to implement this in existing project, you need to do break the 
            <Highlight>ActionMethod</Highlight> in existing controller to separate controllers (i.e.) each 
            <Highlight>ActionMethod</Highlight> will now become a <Highlight>Controller</Highlight> inheriting from 
            <Highlight>ControllerBase</Highlight>.
        </p>

        <p>
            The next step is to apply the necessary attributes and inject needed dependencies to the controller. The following code snippet show how it looks like.
        </p>

        <CodeSnippet CssClass="language-csharp">
namespace ILoveDotNet.Article;

[Produces(MediaTypeNames.Application.Json)]
[Consumes(MediaTypeNames.Application.Json)]
[ApiController]
[Authorize(Policy = Policies.MustBeAdminUser)]
[ApiVersion("1.0")]
public class Publish : ControllerBase
{
    [HttpPut("api/articles/publish", Name = "Publish Article")]
    [ProducesResponseType(StatusCodes.Status204NoContent)]
    public ActionResult HandleAsync(PublishArticleCommand request)
    {
        return NoContent();
    }
}
        </CodeSnippet>

        

            <h4 id="problems-with-repr-pattern">Problems with REPR Pattern</h4>

        <p>
            The common problem with REPR pattern are as follows. And fortunately we have ways to solve them.
        </p>

        <ol>
            <li>
                <p>
                    <strong>How can we prevent some developer from adding <Highlight>additional ActionMethod</Highlight> to Endpoint in 
                    future ?</strong> Well, the answer to this is to write <Highlight>fitness / architecture tests</Highlight>. These tests will 
                    fail if someone adds additional <Highlight>ActionMethod</Highlight> to Endpoint. This is a good way to prevent developers from 
                    adding additional ActionMethod to Endpoint.
                </p>

                <p>
                    All we need to do is to Install <Highlight>NetArchTest.Rules</Highlight> NuGet package and write the following test.
                </p>

                <CodeSnippet CssClass="language-csharp">
using Microsoft.AspNetCore.Mvc;
using NetArchTest.Rules;
using System.Diagnostics.CodeAnalysis;
using Xunit.Abstractions;

namespace ILoveDotNet.FitnessTest;

public class ControllerTests(ITestOutputHelper output)
{
    [Fact]
    public void Should_Have_Only_One_Handler_Inside_Them()
    {
        var policy = Policy
                .Define("Controller Policies",
                    "Enforces all Endpoints to have only one handlers inside them.")
                .For(Types.InAssembly(typeof(Program).Assembly))
                .Add(types =&gt; types
                    .That()
		    .AreClasses()
		    .And()
		    .Inherit(typeof(ControllerBase))
		    .Should()
		    .MeetCustomRule(new OnlyOneHandleRule()),
                "Use One Handler Per Endpoint",
                "Controller endpoints should not have more than one handler.");

        policy.Evaluate().Report(output);
    }

    [Fact]
    public void Should_Have_Only_One_ActionResult_Inside_Them()
    {
        var policy = Policy
            .Define("Controller Policies",
                "Enforces all Endpoints to have only one Action Result inside them.")
            .For(Types.InAssembly(typeof(Program).Assembly))
            .Add(types =&gt; types
                    .That()
		    .AreClasses()
   		    .And()
		    .Inherit(typeof(ControllerBase))
		    .Should()
		    .MeetCustomRule(new OnlyOneActionResultRule()),
                "Use One Action Result Per Endpoint",
                "Controller endpoints should not have more than one Action Result.");
        
        policy.Evaluate().Report(output);
    }
}

public class OnlyOneHandleRule : ICustomRule
{
    public bool MeetsRule(TypeDefinition type)
    {
        return type.Methods.Count(x =&gt; x.Name.Equals("HandleAsync")).Equals(1);
    }
}

public class OnlyOneActionResultRule : ICustomRule
{
    public bool MeetsRule(TypeDefinition type)
    {
        return type.Methods.Count(x =&gt; x.IsPublic &amp;&amp; !x.IsConstructor).Equals(1);
    }
}
                </CodeSnippet>

                
            </li>
            <li>
                <p>
                    <strong>Each Endpoint, technically each Controller will now get listed separately in Swagger document?</strong> Yes, this is true. But 
                    fortunately we have a way to solve this. We can use <Highlight>Tags</Highlight> inside 
                    <Highlight>SwaggerOperation</Highlight> attribute to group them together. The following code snippet show how it looks like.
                </p>

                <figure>
                    <img src="./image/blogs/webapi/request-endpoint-response-repr-pattern-in-asp-net-webapi/ungrouped-endpoints.png" alt="ungrouped-endpoints" class="[ w-full ]" />
                </figure>

                

                <p>
                    The above image shows the ungrouped endpoints in Swagger document. The following code snippet show how to group them together. All you need 
                    to do is to add <Highlight>Swashbuckle.AspNetCore.Annotations</Highlight> Nuget package and configure it in 
                    <Highlight>Program.cs</Highlight> as 
                    <Highlight CssClasses="[ break-all ]">builder.Services.AddSwaggerGen(options => options.EnableAnnotations())</Highlight>. Then 
                    we need to add the below code snippet to endpoints.
                </p>

                <CodeSnippet CssClass="language-csharp">
[SwaggerOperation(
    Summary = "I Love DotNet Endpoint Summary",
    Description = "I Love DotNet Endpoint Description",
    OperationId = "I Love DotNet Endpoint OperationId",
    Tags = new[] { "ILoveDotNetEndpoints" })
]
                </CodeSnippet>

                

                <p>
                    <Highlight CssClasses="[ break-all ]">Tags = new[] { "ArticleEndpoints" }</Highlight> plays a key role. This will group all the 
                    endpoints with same tag together in Swagger document. The following image shows the grouped endpoints in Swagger document.
                </p>

                <figure>
                    <img src="./image/blogs/webapi/request-endpoint-response-repr-pattern-in-asp-net-webapi/grouped-endpoints.png" alt="grouped-endpoints" class="[ w-full ]" />
                </figure>

                
            </li>
            <li>
                <strong>Developers some time feel like they are duplicating attributes across all the Endpoints. Number of class files will increase in project.</strong> 
                This is true. But I would say the tradeoff is worth it. We are getting a lot of benefits from this approach. And if you are using Visual Studio, 
                you can use <Highlight>Code Snippets</Highlight> to generate the code for you.
            </li>
        </ol>

        

            <h4 id="advantages">Advantages</h4>

        <p>
            The advantages of REPR Pattern are as follows,
        </p>

        <ul>
            <li>Endpoints are more <Highlight>Ubiquitous</Highlight> and domain task/functionality based.</li>
            <li><Highlight>Single Responsibility</Highlight> and less prone to change.</li>
            <li>Easy to <Highlight>maintain and test and document</Highlight>.</li>
            <li>Easy for developers / new joiners to <Highlight>navigate inside codebase</Highlight> based on domain functionality.</li>
            <li>The <Highlight>domain intent with Endpoint</Highlight> becomes clearer.</li>
        </ul>

        

        </How>

        <Summary>
            <p>
                In this article we learnt about <Highlight>REPR pattern</Highlight>, a better way to organize API's and how to implement in WebAPI 
                in ASP.NET Core. We also learnt about the problems with REPR pattern and how to solve them. We also learnt about the advantages of REPR pattern. 
                I hope you have enjoyed reading this. Now you are ready to be awesome in API development.
            </p>
        </Summary>
    </ContentBody>
</Content>