@page "/blogs/unit-testing-hosted-services-in-asp-net-webapi"
@inherits BasePage

<Content FileName=@nameof(UnitTestingHostedServicesInASPNET) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to unit test <Highlight>Hosted Services</Highlight> in <Highlight>WebAPI</Highlight> in ASP.NET Core.
            </p>

            <p>
                In ASP.NET Core, <Highlight>hosted services</Highlight> plays a vital role in simplifying background jobs which needs to run periodically 
                to perform operations. Most common use cases include:
            </p>

            <ul>
                <li><Highlight>Processing uploaded excel in background</Highlight></li>
                <li><Highlight>Sending emails in background</Highlight></li>
                <li><Highlight>Performing data migration</Highlight></li>
                <li><Highlight>Syncing data between two data sources</Highlight></li>
                <li><Highlight>Other long running operations</Highlight>, etc</li>
            </ul>

            <p>
                To know more about <Highlight>Hosted Service</Highlight> or <Highlight>Background Service</Highlight> is outside the scope 
                of this article. I'll write a separate article on Background Services in ASP.NET Core. For now lets understand walkthrough how to use Hosted Service.
            </p>
        </What>

        <Why>
            <p>
                When writing software, we want to ensure that the code is covered by tests, which verify the required behavior and catch any regressions. 
                <Highlight>Unit testing</Highlight> is a crucial practice in software development as it helps identify issues early in the development 
                process. When it comes to service registration, unit testing offers the following benefits:
            </p>

            <ul>
                <li><Highlight>Validation</Highlight>: Unit tests verify that the necessary services are registered correctly, avoiding runtime errors caused by missing or misconfigured dependencies.</li>
                <li><Highlight>Refactoring</Highlight>: Unit tests provide a safety net when refactoring code by ensuring that service registration remains intact during code changes.</li>
                <li><Highlight>Documentation</Highlight>: Well-written unit tests serve as living documentation, illustrating how services should be registered and ensuring consistency across the application.</li>
            </ul>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/implementing-tdd-in-csharp-dotnet" Match="NavLinkMatch.All">Implementing TDD in C# .Net</NavLink>.
            </p>
        </Why>

        <How>
            <p>
                We are going to write unit tests for the <Highlight>Data Migration Hosted Service</Highlight> which we used in our previous article on 
                <Highlight><NavLink href="blogs/perform-background-workloads-in-hosted-service-using-channels-in-asp-net-webapi" Match="NavLinkMatch.All">Perform Background Workloads in Hosted Service using Channels in ASP.NET Web API</NavLink></Highlight>. 
                Here is the quick reference of the hosted service used in that article.
            </p>

            <CodeSnippet CssClass="language-csharp">
namespace ILoveDotNet.HostedServices;

public class DataMigrationService : BackgroundService
{
    private readonly DataMigrationChannel dataMigrationChannel;
    private readonly ILogger&lt;DataMigrationService&gt; logger;
    private readonly IServiceProvider serviceProvider;

    public DataMigrationService(
        DataMigrationChannel dataMigrationChannel,
        ILogger&lt;DataMigrationService&gt; logger,
        IServiceProvider serviceProvider)
    {
        this.dataMigrationChannel = dataMigrationChannel;
        this.logger = logger;
        this.serviceProvider = serviceProvider;
    }

    protected override async Task ExecuteAsync(CancellationToken stoppingToken)
    {
        using var scope = serviceProvider.CreateScope();
        var unitOfWork = scope.ServiceProvider.GetRequiredService&lt;IUnitOfWork&gt;();

        await foreach (var start in dataMigrationChannel
                                       .ReadAllAsync(stoppingToken)
                                       .WithCancellation(stoppingToken))
        {
            logger.LogInformation("Starting Data Migration");

            try
            {
                // do migration via unit of work...
            }
            catch (Exception ex)
            {
                logger.LogCritical("Data Migration Failed...");
            }
            
            logger.LogInformation("Data Migration Completed Successfully");
        }
    }
}
            </CodeSnippet>

            <p>
                To unit test the <Highlight>DataMigrationService Hosted Service</Highlight>, follow these steps:
            </p>

            <ol>
                <li>
                    Create a new test <Highlight>class</Highlight>, let's call it <Highlight>HostedServiceTests</Highlight>, and add a test method 
                    using the <Highlight>[Fact]</Highlight> attribute.
                </li>
                <li>
                    In the test method, instantiate a <Highlight>DataMigrationChannel</Highlight> which we used in previous article and 
                    <Highlight>ServiceCollection</Highlight> from the 
                    <Highlight CssClasses="[ break-all ]">Microsoft.Extensions.DependencyInjection</Highlight> 
                    <Highlight>namespace</Highlight>. This collection will act as the container for our services.
                </li>
                <li>
                    Use <Highlight>Moq</Highlight> to Mock the <Highlight>IUnitOfWork</Highlight> and add it to the 
                    <Highlight>ServiceCollection</Highlight> and call <Highlight>BuildServiceProvider()</Highlight> to build the 
                    <Highlight>ServiceProvider</Highlight> instance.
                </li>
                <li>
                    Finally let's use <Highlight CssClasses="[ break-all ]">NullLogger&lt;DataMigrationService&gt;.Instance</Highlight> from 
                    <Highlight CssClasses="[ break-all ]">Microsoft.Extensions.Logging.Abstractions</Highlight> 
                    <Highlight>namespace</Highlight> instead of Mocking it as we are not going to test the logger. Moreover mocking Logger is a 
                    complex step.
                </li>
                <li>
                    Next Call the <Highlight>MigrateData</Highlight> method in the <Highlight>DataMigrationChannel</Highlight> object 
                    to add message to the channel.
                </li>
                <li>
                    Then, instantiate the <Highlight>DataMigrationService class</Highlight> with the above instantiated parameters and call the 
                    <Highlight>StartAsync</Highlight> method with <Highlight>default CancellationToken</Highlight> to start the service.
                </li>
                <li>
                    Now call <Highlight>ExecuteTask</Highlight> from the <Highlight>DataMigrationService</Highlight> class to 
                    execute the task. This will make the <Highlight>ExecuteAsync</Highlight> of actual background service to run.
                </li>
                <li>
                    Perform <Highlight>assertions</Highlight> using the <Highlight>IsCompletedSuccessfully</Highlight> result on the 
                    <Highlight>ExecuteTask</Highlight> of <Highlight>DataMigrationService</Highlight>. Check for its success.
                </li>
                <li>Additionally, verify <Highlight>IUnitOfWork</Highlight> using <Highlight>Moq Verify</Highlight> methods.</li>
            </ol>

            <CodeSnippet CssClass="language-csharp">
public class HostedServiceTests
{
    [Fact]
    public async Task DataMigrationService_ExecuteAsync()
    {
        // Arrange
        var dataMigrationChannel = new DataMigrationChannel();
        var serviceCollection = new ServiceCollection();
        var mockUnitOfWork = new Mock&lt;IUnitOfWork&gt;();
        serviceCollection.AddTransient&lt;IUnitOfWork&gt;(_ =&gt; mockUnitOfWork.Object);
        var serviceProvider = serviceCollection.BuildServiceProvider();
        var logger = NullLogger&lt;DataMigrationService&gt;.Instance;

        await dataMigrationChannel.MigrateData(true, default);

        // Act
        using var dataMigrationService = new DataMigrationService(dataMigrationChannel, logger, serviceProvider);
        await dataMigrationService.StartAsync(default);
        await dataMigrationService.ExecuteTask!;

        // Assert
        mockUnitOfWork.Verify(x =&gt; x.SaveChanges(default), Times.Once);
        dataMigrationService.ExecuteTask.IsCompletedSuccessfully.Should().BeTrue();
    }
}
            </CodeSnippet>

            <p>
                Here is an another examples of background service using <Highlight>TimeProvider</Highlight> which uses timer to Sync data attribute regular interval. 
                Let's see how to unit test this service. 
            </p>

            <CodeSnippet CssClass="language-csharp">
public class DataSyncService(
      TimeProvider timeProvider, 
      ILogger&lt;DataSyncService&gt; logger) : BackgroundService
{
    protected override async Task ExecuteAsync(CancellationToken stoppingToken)
    {
        await Task.Yield();
        
        timeProvider.CreateTimer(SyncData, null, TimeSpan.Zero, TimeSpan.FromSeconds(30));
    }

    private async void SyncData(object? sender)
    {
        logger.LogInformation("Starting Sync");
        await Task.Delay(TimeSpan.FromSeconds(5));
        logger.LogInformation("Completing Sync");
    }
}
            </CodeSnippet>

            <p>
                To unit test the <Highlight>DataSyncService Hosted Service</Highlight>, follow these steps:
            </p>

            <ol>
                <li>
                    Create a new test <Highlight>class</Highlight>, let's call it <Highlight>HostedServiceTests</Highlight>, and add a test method 
                    using the <Highlight>[Fact]</Highlight> attribute.
                </li>
                <li>
                    In the test method, instantiate a <Highlight>FakeTimeProvider</Highlight> To adjust time and test. This is available from
                    <Highlight CssClasses="[ break-all ]">Microsoft.Extensions.TimeProvider.Testing</Highlight> namespace.
                </li>
                <li>
                    Finally let's use <Highlight CssClasses="[ break-all ]">FakeLogger&lt;DataSyncService&gt;</Highlight> from 
                    <Highlight CssClasses="[ break-all ]">Microsoft.Extensions.Diagnostics.Testing</Highlight> 
                    <Highlight>namespace</Highlight> instead of Mocking it as we are going to test the logger. Moreover mocking Logger is a 
                    complex step.
                </li>
                <li>
                    Then, instantiate the <Highlight>DataSyncService class</Highlight> with the above instantiated parameters and call the 
                    <Highlight>StartAsync</Highlight> method with <Highlight>default CancellationToken</Highlight> to start the service.
                </li>
                <li>
                    Now call <Highlight>ExecuteTask</Highlight> from the <Highlight>DataSyncService</Highlight> class to 
                    execute the task. This will make the <Highlight>ExecuteAsync</Highlight> of actual background service to run.
                </li>
                <li>
                    Now adjust the time using by calling <Highlight>Advance</Highlight> from <Highlight>FakeTimeProvider</Highlight>. 
                    This will execute the <Highlight>SyncData callback</Highlight> passed to the periodic timer in the 
                    <Highlight>DataSyncService</Highlight> Background Service.
                </li>
                <li>
                    Perform <Highlight>assertions</Highlight> using the <Highlight>IsCompletedSuccessfully</Highlight> result on the 
                    <Highlight>ExecuteTask</Highlight> of <Highlight>DataSyncService</Highlight>. Check for its success.
                </li>
                <li>Additionally, make assertions as per your needs.</li>
            </ol>

            <CodeSnippet CssClass="language-csharp">
public class HostedServiceTests
{
    [Fact]
    public async Task DataSyncService_ExecuteAsync()
    {
        var fakeTimeProvider = new FakeTimeProvider();
        var fakeLogger = new FakeLogger&lt;DataSyncService&gt;();
        
        using var dataSyncService = new DataSyncService(fakeTimeProvider, fakeLogger);
        await dataSyncService.StartAsync(default);
        await dataSyncService.ExecuteTask!;
        
        fakeTimeProvider.Advance(TimeSpan.FromSeconds(30));

        dataSyncService.ExecuteTask.IsCompletedSuccessfully.Should().BeTrue();
        fakeLogger.Collector.Count.Should().Be(4);
    }
}
            </CodeSnippet>

            <p>
                By executing above test we can validate background services in ASP.NET Core apps. The same can be used to validate worker services in dotnet.
            </p>
        </How>

        <Summary>
            <p>
                Unit testing hosted services in ASP.NET Core is a crucial step to ensure that they are working as expected. By writing unit tests, you can 
                <Highlight>validate behavior, identify issues early on</Highlight>, and maintain a reliable and robust application. The examples and 
                techniques covered in this article provide a solid foundation for performing unit tests on hosted services, promoting software quality and 
                maintainability in ASP.NET Core applications.
            </p>
        </Summary>
    </ContentBody>
</Content>