@page "/blogs/unit-testing-middlewares-in-asp-net-webapi"
@inherits BasePage

<Content FileName=@nameof(UnitTestingMiddlewaresInASPNET) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about how to unit test <Highlight>Middlewares</Highlight> in <Highlight>WebAPI</Highlight> in ASP.NET Core.
            </p>

            <p>
                <Highlight>Unit testing</Highlight> is a crucial practice in software development that ensures the reliability and functionality of code components. 
                When it comes to <Highlight>ASP.NET Core middleware</Highlight>, unit testing becomes essential for <Highlight>custom middleware</Highlight> 
                that includes custom behavior. In this article, we will explore the importance of unit testing middleware, understand what middleware is, and provide practical examples 
                using C# to demonstrate how to effectively test ASP.NET Core middleware.
            </p>
        </What>

        <Why>
            <p>
                Unit testing custom middleware allows developers to verify the behavior and functionality of their code. It provides confidence that the middleware functions as 
                intended, adding value to the application. Unit tests <Highlight>catch bugs early in the development process</Highlight>, <Highlight>allowing 
                for quick identification and resolution</Highlight>. By testing middleware, developers can <Highlight>isolate and validate specific behaviors without 
                the need for complex integration testing</Highlight>, reducing the dependencies on external components.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/implementing-tdd-in-csharp-dotnet" Match="NavLinkMatch.All">Implementing TDD in C# .Net</NavLink>.
            </p>
        </Why>

        <How>
            <h4 id="what-is-a-middleware">What is a Middleware ?</h4>

            <p>
                In the context of ASP.NET Core, middleware refers to components that are placed in the application's request pipeline. It sits between the client and the server, 
                <Highlight>processing requests and generating responses</Highlight>. Middleware performs various tasks, such as authentication, logging, exception 
                handling, and modifying HTTP headers. Each middleware component is responsible for a specific functionality, and they are executed sequentially as the request flows 
                through the pipeline.
            </p>

            <p>
                <strong>Note:</strong> If you have not done so already, I recommend you read the article on
                <NavLink href="blogs/introducing-middleware-in-aspnet" Match="NavLinkMatch.All">Introducing Middleware in ASP.NET</NavLink>.
            </p>

            <h4 id="when-to-use-middleware">When to use Middleware ?</h4>

            <p>
                Custom middleware is often required when the <Highlight>built-in ASP.NET Core middleware does not meet specific application requirements</Highlight>. 
                It allows developers to extend the request pipeline with their own logic. Some scenarios where custom middleware might be used include:
            </p>

            <ul>
                <li>Adding security headers to HTTP responses.</li>
                <li>Implementing custom logging or error handling.</li>
                <li>Modifying request or response data.</li>
                <li>Enforcing specific authorization rules.</li>
            </ul>

            <h4 id="unit-testing-middleware">Unit Testing Middleware</h4>

            <p>
                 Let's consider an example of unit testing an ASP.NET Core middleware named <Highlight>AddingSecurityHeadersMiddleware</Highlight>. This middleware 
                 adds security headers to the HTTP response.
            </p>

            <CodeSnippet CssClass="language-csharp">
using Microsoft.AspNetCore.Http;
using System.Threading.Tasks;

namespace ILoveDotNet.Middleware
{
    public class AddSecurityHeadersMiddleware
    {
        private readonly RequestDelegate _next;

        public AddSecurityHeadersMiddleware(RequestDelegate next)
        {
            _next = next;
        }

        public async Task InvokeAsync(HttpContext context)
        {
            IHeaderDictionary headers = context.Response.Headers;
             
            // Add CSP + X-Content-Type
            headers["Content-Security-Policy"] = "default-src 'self';frame-ancestors 'none';"; 
            headers["X-Content-Type-Options"] = "nosniff"; 

            await _next(context);
        }
    }
}
            </CodeSnippet>

            

            <p>
                To begin, we create a test class called <Highlight>AddSecurityHeadersMiddlewareTests</Highlight> and write a test method named 
                <Highlight>InvokeAsync_SetsExpectedResponseHeaders</Highlight>. In this test, we want to ensure that the expected response headers are added by the 
                middleware.
            </p>

            <p>
                Now let's add test to this middleware. The steps are,
            </p>

            <p>
                In the test method, we set up the dependencies required for the test. This includes creating an instance of the <Highlight>HttpContext</Highlight> 
                using <Highlight>DefaultHttpContext</Highlight> and mocking the <Highlight>RequestDelegate</Highlight>, which represents the 
                <Highlight>next</Highlight> middleware in the pipeline. To <Highlight>isolate</Highlight> the test, we use an action that returns a 
                completed task instead of invoking the actual next middleware.
            </p>

            <p>
                Next, we instantiate the middleware by passing the mocked <Highlight>RequestDelegate</Highlight> to its <Highlight>constructor</Highlight>. 
                Then, we call the <Highlight>InvokeAsync</Highlight> method of the middleware, passing the created <Highlight>HttpContext</Highlight>.
            </p>

            <p>
                Finally, we <Highlight>assert</Highlight> the values of the response headers added by the middleware by accessing the <Highlight>Response.Headers</Highlight> 
                collection of the <Highlight>HttpContext</Highlight>. We compare the obtained values with the expected values using assertions.
            </p>

            <CodeSnippet CssClass="language-csharp">
using ILoveDotNet.Middleware;
using Microsoft.AspNetCore.Http;
using Xunit;

namespace ILoveDotNet.Tests
{
    public class AddSecurityHeadersMiddlewareTests
    {
        [Fact]
        public async Task InvokeAsync_SetsExpectedResponseHeaders()
        {
            // Arrange
            var httpContext = new DefaultHttpContext();
            RequestDelegate next = (HttpContext httpContext) =&gt; Task.CompletedTask;
            var middleware = new AddSecurityHeadersMiddleware(next);

            // Act
            await middleware.InvokeAsync(httpContext);

            // Assert
            var cspHeader = httpContext.Response.Headers["Content-Security-Policy"].ToString();
            var xContentTypeOptionsHeader = httpContext.Response.Headers["X-Content-Type-Options"].ToString();

            Assert.Equal("default-src 'self';frame-ancestors 'none';", cspHeader);
            Assert.Equal("nosniff", xContentTypeOptionsHeader);
        }
    }
}
            </CodeSnippet>
        </How>

        <Summary>
            <p>
                <Highlight>Unit testing</Highlight> <Highlight>custom ASP.NET Core middleware</Highlight> ensures the reliability and correctness of 
                the code. By testing middleware components, developers can verify their <Highlight>behavior and functionality in isolation, reducing the need for complex 
                integration tests</Highlight>. Through practical examples and the use of mocking techniques, developers can effectively test their middleware, enhancing 
                the overall quality of ASP.NET Core applications.
            </p>
        </Summary>
    </ContentBody>
</Content>