@page "/blogs/using-docker-test-containers-in-functional-testing-in-asp-net-webapi"
@inherits BasePage

<Content FileName=@nameof(UsingDockerTestContainersInFunctionalTestingInASPNET) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
        <p>
            In this article, let's learn about testing with <Highlight>real database</Highlight> using 
            <Highlight>Docker Test Containers</Highlight> in <Highlight>Web API</Highlight> in ASP.NET Core.
        </p>

        <p>
            <strong>Note:</strong> If you have not done so already, I recommend you read the article on
            <NavLink href="blogs/functional-testing-your-asp-net-webapi" Match="NavLinkMatch.All">Functional testing your ASP.NET WEB API</NavLink>.
        </p>

        <p>
            We are all aware that the softwares we build works rarely in isolation. Our apps will talk to many external systems like 
            <Highlight>database, message brokers, web browsers, cloud services or just any other external systems</Highlight>. And validating the 
            integration with these external systems is very important. 
        </p>

        <p>
            <Highlight>Testcontainers</Highlight> is a library that provides easy and lightweight APIs for bootstrapping local development and 
            test dependencies with <Highlight>real services</Highlight> wrapped in <Highlight>Docker containers</Highlight>. Using 
            Testcontainers, you can write tests that depend on the <Highlight>same services you use in production without mocks or in-memory services.</Highlight>
        </p>

        

        </What>

        <Why>

        <p>
            <Highlight>Cloud-native infrastructure</Highlight> and <Highlight>microservices</Highlight> have taken control away from 
            developers and made it painful to work locally. While you own only your Service and its datastore, you have several downstream dependencies that you 
            need for local development and integration testing. This brings the following challenges:
        </p>

        <ul>
            <li>
                Before running tests, you must <Highlight>ensure that the infrastructure is up and running</Highlight> and is 
                <Highlight>pre-configured in a desired state</Highlight>.
            </li>
            <li>
                If the <Highlight>resources (database, message broker, etc) are shared across multiple users or CI pipelines</Highlight>, then the 
                <Highlight>test results are non-deterministic</Highlight> because of the possibility of data corruption and configuration drift.
            </li>
        </ul>

        <p>
            A <Highlight>possible workaround could be using in-memory variations of the required services</Highlight>. But this is almost similar 
            like using mocks. In-memory services might not have all the features of the production / real service amd they have their own problems.
        </p>

        <p>
            <Highlight>Testcontainers solves this by using Docker to spin up real services</Highlight> for functional testing and helps executing 
            <Highlight>reliable and repeatable tests</Highlight> by talking to those real services and providing a programmatic API for your test 
            code.
        </p>

        

        </Why>

        <How>
            <h4 id="steps-to-do-functional-test-using-test-containers">Steps to do Functional Test using Test Containers</h4>

        <p>
            Let's learn how to do functional test using Test Containers in ASP.NET Web API. We will be using the same project we used in the previous article 
            and <Highlight>try using test containers for database instead of in-memory database</Highlight>.
        </p>

        <ol>
            <li>Install <Highlight>Testcontainers.PostgreSql</Highlight> in your Functional Test Project</li>
            <li>
                <p>
                    Setup <Highlight>SharedFixture</Highlight> as shown below
                </p>

                <CodeSnippet CssClass="language-csharp">
using API.DbContexts;
using Microsoft.EntityFrameworkCore;
using Testcontainers.PostgreSql;

namespace FunctionalTest;
public class SharedFixture : IAsyncLifetime
{
    public WeatherForecastDbContext DbContext = default!;
    public string PostgresConnectionString =&gt; _dbContainer.GetConnectionString();
    private readonly PostgreSqlContainer _dbContainer =
        new PostgreSqlBuilder()
        .WithDatabase("ILoveDotNet")
        .WithUsername("postgres")
        .WithPassword("postgres")
        .Build();

    public async Task InitializeAsync()
    {
        await _dbContainer.StartAsync();

        var dbContextOptions = new DbContextOptionsBuilder&lt;WeatherForecastDbContext&gt;()
                                .UseNpgsql(PostgresConnectionString)
                                .Options;

        DbContext = new WeatherForecastDbContext(dbContextOptions);

        await DbContext.Database.MigrateAsync();
    }

    public async Task DisposeAsync()
    {
        if (DbContext is not null)
        {
            await DbContext.DisposeAsync();
        }

        if (_dbContainer is not null)
        {
            await _dbContainer.StopAsync();
            await _dbContainer.DisposeAsync();
        }

    }
}
                </CodeSnippet>

                

                <p>
                    In the above code, we are <Highlight>initializing</Highlight> the database container and getting the 
                    <Highlight>connection string</Highlight> from the container and exposing it to be used in 
                    <Highlight>ConfigureServices</Highlight> in <Highlight>CustomWebApiFactory</Highlight>. We are then applying 
                    migrations to make sure schema is applied and created. We can also initialize database with <Highlight>initial seed data</Highlight> 
                    here. We are also <Highlight>disposing</Highlight> the container after all tests are run.
                </p>
            </li>
            <li>
                <p>
                    Update <Highlight>CustomWebApiFactory</Highlight> to replace <Highlight>WeatherForecastDbContext</Highlight> 
                    connection string with <Highlight>Test Container Connection String</Highlight> as shown below
                </p>
                
                <CodeSnippet CssClass="language-csharp">
using API.DbContexts;
using Microsoft.AspNetCore.Hosting;
using Microsoft.AspNetCore.Mvc.Testing;
using Microsoft.EntityFrameworkCore;
using Microsoft.Extensions.DependencyInjection;

namespace FunctionalTest;
public class CustomWebApiFactory(SharedFixture fixture) : WebApplicationFactory&lt;Program&gt;
{
    public SharedFixture SharedFixture =&gt; fixture;

    protected override void ConfigureWebHost(IWebHostBuilder builder)
    {
        builder.UseEnvironment("Test");

        builder.ConfigureServices(services =&gt;
        {
            var ctx = services.SingleOrDefault(d =&gt; d.ServiceType == typeof(WeatherForecastDbContext));
            services.Remove(ctx!);

            services.AddDbContext&lt;WeatherForecastDbContext&gt;(opts =&gt;
                opts.UseNpgsql(SharedFixture.PostgresConnectionString));
        });
    }
}
                </CodeSnippet>
                
                
            </li>
            <li>
                <p>
                    Finally we just need to run the tests and see the magic happening. We can see the <Highlight>database container spinning up</Highlight> 
                    and running and our tests are running against the real database within test container.
                </p>
                
                <CodeSnippet CssClass="language-csharp">
using API;
using FluentAssertions;
using Microsoft.EntityFrameworkCore;
using System.Diagnostics.CodeAnalysis;
using System.Net;
using Xunit.Abstractions;

namespace FunctionalTest;
[ExcludeFromCodeCoverage]
[Collection(nameof(FunctionalTestCollection))]
public class WeatherForecastControllerShouldTests(
    CustomWebApiFactory factory,
    ITestOutputHelper outputHelper) : BaseTest(factory), IClassFixture&lt;CustomWebApiFactory&gt;
{
    [Fact]
    public async Task ReturnExpectedResponse_From_Database()
    {
        var expectedWeatherForecast = await Database.WeatherForecasts.FirstAsync();

        var result = await Client.GetJsonResultAsync&lt;List&lt;WeatherForecast&gt;&gt;("/weatherforecast/fromdatabase", HttpStatusCode.OK, outputHelper);
        result.Count.Should().Be(1);
        result[0].Should().BeEquivalentTo(expectedWeatherForecast);
    }
}
                </CodeSnippet>

                
            </li>
        </ol>

        <p>
            Thats it. We are done with setup. Now the tests will run in the following flow.
        </p>

        <ol>
            <li>Start Test Method.</li>
            <li>TestContainers Setup.</li>
            <li>Create WebApplicationFactory.</li>
            <li>Run Program.cs.</li>
            <li>Service Registration.</li>
            <li>Overriding Configuration.</li>
            <li>Build Web Application.</li>
            <li>Create HTTP Client.</li>
            <li>Test Code Execution.</li>
        </ol>

        <figure>
            <img src="./image/blogs/webapi/using-docker-test-containers-in-functional-testing-in-asp-net-webapi/passing-test.png" alt="passing-test" class="[ w-full ]" />
        </figure>

        

        <h4 id="advantages">Advantages</h4>

        <p>
            The advantages of Test Containers are as follows,
        </p>

        <ul>
            <li><Highlight>On-demand isolated infrastructure</Highlight> provisioning</li>
            <li><Highlight>Consistent experience</Highlight> on both local and CI environments</li>
            <li><Highlight>Testing with real dependencies</Highlight> helps to catch bugs earlier</li>
            <li><Highlight>Light</Highlight> Weight</li>
            <li><Highlight>No Mocks or In-Memory setup</Highlight> which behaves differently than real ones</li>
            <li>Easy to setup and <Highlight>automatic clean up</Highlight></li>
        </ul>

        

        </How>

        <Summary>

        <p>
            In this article, we learnt about <Highlight>testing with real dependencies using Docker Test Containers</Highlight> in functional testing in 
            ASP.NET Web API. We learnt how to do that with ASP.NET functional test and understood its advantages. Hope you enjoyed reading it.
        </p>
        </Summary>
    </ContentBody>
</Content>