@page "/talks/blazor-spa-from-aspnet-family"
@inject TableOfContents tableOfContents

<Content Slug=@Slug
         PosterPath=@PosterPath
         ContentType="@ContentType"
         TotalContents=@TotalContents
         FileName=@nameof(BlazorSPAFromASPNETFamily)>
    <ContentBody>
        <p>
            With modern web apps, building a rich UI is hard. We normally use javascript to build a rich UI with the limitation of not being able
            to reuse server side code. In today's session let's learn what Blazor is and how it differs from Javascript SPA like angular, react or
            vue.
        </p>
    </ContentBody>
</Content>

@code {
    private string Slug = "blazor-spa-from-aspnet-family";
    private string PosterPath = "Talks";
    private string ContentType = "talks";
    private ushort TotalContents => (ushort)tableOfContents.Contents.Count(content => content.Channel.Equals("Talk", StringComparison.CurrentCultureIgnoreCase));
}