@page "/talks/blazor-spa-from-aspnet-family"
@inject TableOfContents tableOfContents

<Content Title=@Title
         Description=@Description
         CreatedOn=@CreatedOn
         ModifiedOn=@ModifiedOn
         Slug=@Slug
         PosterPath=@PosterPath
         Keywords=@Keywords
         Channel="@Channel"
         ContentType="@ContentType"
         TotalContents=@TotalContents
         Type="Talk"
         FileName=@nameof(BlazorSPAFromASPNETFamily)
         VideoUrl=@VideoUrl>
    <ContentBody>
        <p>
            With modern web apps, building a rich UI is hard. We normally use javascript to build a rich UI with the limitation of not being able
            to reuse server side code. In today's session let's learn what Blazor is and how it differs from Javascript SPA like angular, react or
            vue.
        </p>

        <GoogleAdSense Type="GoogleAdSenseAdType.InArticle" Format="GoogleAdSenseAdFormat.Fluid" Style="text-align:center;" Slot="3914293965"></GoogleAdSense>
    </ContentBody>
</Content>

@code {
    private string Title = "Blazor - SPA from ASP.NET Family";
    private string Description = "In this talk I will teach you what is blazor and why do we need to go for blazor. All with live working demo.";
    private DateTime CreatedOn = new DateTime(2022, 3, 13, 22, 30, 0);
    private DateTime ModifiedOn = new DateTime(2022, 3, 13, 22, 30, 0);
    private string Slug = "blazor-spa-from-aspnet-family";
    private string PosterPath = "Talks";
    private string Channel = "talk";
    private string ContentType = "talks";
    private ushort TotalContents => (ushort)tableOfContents.Contents.Count(content => content.Type.Equals("Talk", StringComparison.CurrentCultureIgnoreCase));
    private List<string> Keywords = new(5) { "Blazor", "Web Assembly", "Blazor WASM", "SPA", "ASP.NET" };
    private string VideoUrl = "https://www.youtube.com/embed/MUVyb9T5gU0";
}