@page "/talks/blazor-spa-from-aspnet-family"
@inject TableOfContents tableOfContents

<Content Description=@Description
         Slug=@Slug
         PosterPath=@PosterPath
         Channel="@Channel"
         ContentType="@ContentType"
         TotalContents=@TotalContents
         Type="Talk"
         FileName=@nameof(BlazorSPAFromASPNETFamily)>
    <ContentBody>
        <p>
            With modern web apps, building a rich UI is hard. We normally use javascript to build a rich UI with the limitation of not being able
            to reuse server side code. In today's session let's learn what Blazor is and how it differs from Javascript SPA like angular, react or
            vue.
        </p>
    </ContentBody>
</Content>

@code {
    private string Description = "In this talk I will teach you what is blazor and why do we need to go for blazor. All with live working demo.";
    private string Slug = "blazor-spa-from-aspnet-family";
    private string PosterPath = "Talks";
    private string Channel = "talk";
    private string ContentType = "talks";
    private ushort TotalContents => (ushort)tableOfContents.Contents.Count(content => content.Type.Equals("Talk", StringComparison.CurrentCultureIgnoreCase));
}