<EditForm Model="@queryModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />

    <label>
        Query
        <InputText class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 border-gray-200 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]"
                   placeholder="Red"
                   @bind-Value="queryModel.Query" />
    </label>

    <ValidationMessage For=@(() => queryModel.Query) />

    <p>Result: @result</p>

    <button type="submit" class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="HandleValidSubmit">
        Contains
    </button>

    <button type="button" class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="ResetColors">
        Reset
    </button>
</EditForm>

<table class="[ table-fixed border-collapse ] [ bg-white ] [ border-2 border-gray-200 ] [ dark:bg-black dark:border-slate-500 ] [ mt-2 ] [ w-full ]">
    <thead>
        <tr class="[ bg-gray-100 ] [ dark:bg-slate-500 ]">
            <th class="[ border-2 border-gray-200 ] [ dark:border-slate-600 ] [ p-2 ]">Color</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var color in colors)
        {
            <tr>
                <td class="[ border-2 border-gray-200 ] [ dark:border-slate-700 ] [ p-2 ]">@color</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    public class QueryModel
    {
        [Required]
        public string? Query { get; set; }
    }

    private EditContext? editContext;
    private QueryModel queryModel = new();
    private IEnumerable<string> colors = new ProductSource().Products.Select(product => product.Color);
    private bool? result;

    protected override void OnInitialized()
    {
        editContext = new(queryModel);
    }

    private void HandleValidSubmit()
    {
        result = colors.Contains(queryModel.Query);
    }

    private void ResetColors()
    {
        result = null;
    }
}