<button type="button" class="[ bg-cyan-500 ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="HandleDistinct">
    Distinct Colors
</button>

<button type="button" class="[ bg-fuchsia-500 ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="ResetColors">
    Reset
</button>

<table class="[ table-fixed border-collapse ] [ bg-white ] [ border-2 ] [ dark:bg-black dark:border-slate-500 ] [ mt-2 ]">
    <thead>
        <tr class="[ bg-gray-100 ] [ dark:bg-slate-500 ]">
            <th class="[ border-2 ] [ dark:border-slate-600 ] [ p-2 ]">Color</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var color in colors)
        {
            <tr>
                <td class="[ border-2 ] [ dark:border-slate-700 ] [ p-2 ]">@color</td>
            </tr>
        }
    </tbody>
</table>

@code
{
    private IEnumerable<string> colors = new ProductSource().Products.Select(product => product.Color).Append("Red").Append("Black");

    private void HandleDistinct()
    {
        colors = colors.Distinct();
    }

    private void ResetColors()
    {
        colors = new ProductSource().Products.Select(product => product.Color).Append("Red").Append("Black");
    }
}