@if (result is not null)
{
    <p>Sum: @result</p>
}

<button type="button" class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="HandleImmediateExecution">
    Immediate Execution
</button>

<button type="button" class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="Reset">
    Reset
</button>

@code
{
    private int[] numbers = { 1, 2, 3, 4, 5 };
    private int? result;
    
    private void HandleImmediateExecution()
    {
        result = numbers.Sum();
    }

    private void Reset()
    {
        result = null;
    }
}