<section class="[ flex flex-col md:flex-row ]">
    @foreach (var number in Numbers)
    {
        <div class="[ p-2 ] [ border-2 border-gray-200 ] [ dark:border-blue-800 ]">@number</div>
    }
    <div class="[ flex flex-row ]">
        <input class="[ px-4 py-2 ] [ border-2 border-gray-200 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]" 
               type="number" 
               @bind="number">
        <button class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ inline-flex ] [ space-x-1 ]" disabled="@disableAddNumber" @onclick="HandleAddNumber">
            Add
        </button>
    </div>
</section>

@code {
    private int number;
    private bool disableAddNumber => Numbers.Count >= 3;

    [Parameter, EditorRequired] public List<int> Numbers { get; set; } = new(3);

    private void HandleAddNumber()
    {
        Numbers.Add(number);
    }
}