<p>Query Result:</p>
@foreach(var number in query)
{
    <p>@number</p>        
}

<button type="button" class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="HandleNonStreamingExecution">
    Non-Streaming Execution
</button>

<button type="button" class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="Reset">
    Reset
</button>

@code
{
    private int[] numbers = { 1, 2, 3, 4, 5 };
    private IEnumerable<int> query = Enumerable.Empty<int>();
    
    private void HandleNonStreamingExecution()
    {
        query = numbers.OrderBy(n => n).Take(3);
        numbers[3] = 8;
    }

    private void Reset()
    {
        query = Enumerable.Empty<int>();
    }
}