<section class="[ flex flex-col ] [ space-y-1 ]">
    <IntegerSequenceDemo Numbers="numbers"></IntegerSequenceDemo>
    <IntegerSequenceDemo Numbers="anotherNumbers"></IntegerSequenceDemo>
</section>

<p>Result : @result</p>

<button type="button" class="[ bg-cyan-500 ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="HandleSequenceEqual">
    Check Sequence Equal
</button>

<button type="button" class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="ResetSequence">
    Reset
</button>

@code
{
    private List<int> numbers = new(3);
    private List<int> anotherNumbers = new(3);
    private bool? result;

    private void HandleSequenceEqual()
    {
        result = numbers.SequenceEqual(anotherNumbers);
    }

    private void ResetSequence()
    {
        numbers = new(3);
        anotherNumbers = new(3);
        result = null;
    }
}