<section class="[ flex flex-col ] [ space-y-1 ]">
    <IntegerSequenceDemo Numbers="numbers"></IntegerSequenceDemo>
    <IntegerSequenceDemo Numbers="anotherNumbers"></IntegerSequenceDemo>
</section>

<p>Combined without duplicates : @string.Join(", ", combined)</p>

<button type="button" class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="HandleUnion">
    Union
</button>

<button type="button" class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]" @onclick="ResetSequence">
    Reset
</button>

@code
{
    private List<int> numbers = new(3);
    private List<int> anotherNumbers = new(3);
    private List<int> combined = new();

    private void HandleUnion()
    {
        combined = numbers.Union(anotherNumbers).ToList();
    }

    private void ResetSequence()
    {
        numbers = new(3);
        anotherNumbers = new(3);
        combined = new();
    }
}