<p>Result from Using Facade : @_result</p>

<button type="button"
    class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @onclick="HandleFacade">
    Use Entertainment System via Facade
</button>

@code {
    private EntertainmentFacade entertainmentFacade = new EntertainmentFacade();

    private string? _result;

    private async Task HandleFacade()
    {
        // Turn on the entire entertainment system
        entertainmentFacade.TurnOnEntertainmentSystem();
        _result = "Starting the system...";

        await Task.Delay(500);

        // Simulate some movie-watching...
        _result = "Streaming the movie...";

        await Task.Delay(500);

        // Turn off the entire entertainment system
        entertainmentFacade.TurnOffEntertainmentSystem();
        _result = "Turning off the system...";
    }
}