<button type="button"
    class="[ bg-cyan-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @onclick="HandleAddOrderItem">
    Add Order Item
</button>

<button type="button"
    class="[ bg-fuchsia-500 ] [ text-white ] [ px-4 py-2 ] [ inline-block ] [ rounded-md ] [ inline-flex ] [ space-x-1 ]"
    @onclick="HandleRemoveOrderItem">
    Remove Order Item
</button>
<table>
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var index in Enumerable.Range(0, _order.OrderItems.Count))
        {
            <tr @key="@index">
                <td>
                    <InputNumber 
                        class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 border-gray-200 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]"
                        ValueExpression="() => _order.OrderItems[index].Quantity"
                        Value="_order.OrderItems[index].Quantity"
                        ValueChanged="(int quantity) => _order.OrderItems[index].UpdateQuantity(quantity)" />
                </td>
                <td>
                    <InputNumber 
                        class="[ w-full h-full ] [ px-4 py-2 ] [ border-2 border-gray-200 ] [ focus:outline-hidden focus:border-gray-400 ] [ dark:bg-black dark:border-gray-800 dark:focus:border-b-white dark:md:focus:border-blue-800 dark:caret-white dark:text-white ]"
                        ValueExpression="() => _order.OrderItems[index].UnitPrice"
                        Value="_order.OrderItems[index].UnitPrice"
                        ValueChanged="(decimal unitPrice) => _order.OrderItems[index].UpdateUnitPrice(unitPrice)" />
                </td>
                <td>
                    @_order.OrderItems[index].GetTotalPrice()
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td>@_order.Total.ToString("C")</td>
        </tr>
    </tfoot>
</table>

@code
{
    private OrderViewModel _order = new OrderViewModel();

    private void HandleAddOrderItem()
    {
        _order.AddItem();
    }

    private void HandleRemoveOrderItem()
    {
        _order.RemoveItem(_order.OrderItems.Last());
    }
}