@page "/blogs/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code"
@inherits BasePage

<Content FileName=@nameof(MAUISetup) UseNewTableOfContentsMenu=true>
    <ContentBody>
      <What>
        <p>
            Setting up MAUI development environment in <ContentHighlight>Windows Machine is easy and straight forward</ContentHighlight>. All you need to do 
            is to <ContentHighlight>install Visual Studio 2022 and select appropriate workload for MAUI development</ContentHighlight>. But its 
            <ContentHighlight>not that easy in MacOS</ContentHighlight>. 
        </p>

        <p>
            In this post, I'll teach you how to setup MAUI development environment especially in Mac OS using Visual Studio Code. 
        </p>
      </What>

      <Why>
        <p>
            I'm mostly using Mac OS for the last 5 years as of writing this. 
            <ContentHighlight>Mac OS has the only option of doing it via Visual Studio Code</ContentHighlight> and its not as 
            straight forward as Windows. Installing a different version of even one dependency will end up in errors. And this setup will alteast take 30 minutes 
            to 1 hour to complete.
        </p>

        <p>
            I'm doing this for a second time and still I find it not straight forward and easy. Hence documenting steps for future reference.
        </p>
      </Why>

      <How>
        <p>
            Let's start the setup process.
        </p>

        <ol>
            <li>
                <ContentHighlight>Download and install latest .NET SDK</ContentHighlight> from 
                <a href="https://dotnet.microsoft.com/en-us/download" target="_blank">download .net sdk</a>. I'm using 
                <ContentHighlight>.NET 10</ContentHighlight> as of writing this.
            </li>
            <li>
                Run the command <ContentHighlight>dotnet workload list</ContentHighlight>. If you don't see like What you have in below image, then you need 
                to install the workload using <ContentHighlight>dotnet workload install maui</ContentHighlight>.

                 <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/dotnet-workload-list.png"
                        alt="dotnet-workload-list" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                You can run <ContentHighlight>dotnet workload search</ContentHighlight> to see the installed workloads.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/dotnet-workload-search.png"
                        alt="dotnet-workload-search" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Now <ContentHighlight>install Visual Studio Code</ContentHighlight> and <ContentHighlight>install .NET MAUI Extension</ContentHighlight> 
                inside Visual Studio Code. This will <ContentHighlight>automatically install C# and C# Dev Kit extensions</ContentHighlight> as well.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/dotnet-maui-extension-for-vs-code.png"
                        alt="dotnet-maui-extension-for-vs-code" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Now create a new .NET MAUI project using <ContentHighlight>dotnet new maui</ContentHighlight> command or 
                <ContentHighlight>open and existing MAUI project</ContentHighlight> in Visual Studio Code. Visual Code Editor will start 
                analysis and it will show the <ContentHighlight>below logs in the output window</ContentHighlight>.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/action-required-in-output-window.png"
                        alt="action-required-in-output-window" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Now go to 
                <ContentHighlight><a href="https://github.com/dotnet/maui/wiki/Release-Versions" target="_blank">.NET MAUI Release Versions</a></ContentHighlight>. I got this link from the 
                official docs from 
                <a href="https://learn.microsoft.com/en-us/dotnet/maui/get-started/installation?view=net-maui-10.0&tabs=visual-studio-code" target="_blank">here</a>.

                You can find the <ContentHighlight>compatibility matrix</ContentHighlight> as shown below. You need to install the respective dependencies 
                based on the version of .NET MAUI you are using. In my case, I'm using 
                <ContentHighlight>.NET MAUI 10 latest</ContentHighlight>. 
                So I need to <ContentHighlight>install JDK 17, Android 35 and XCode 16.1</ContentHighlight>.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/dotnet-maui-release-version.png"
                        alt="dotnet-maui-release-version" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                The easiest way to install <ContentHighlight>XCode</ContentHighlight> is by doing it from Mac app store only If the version shown in 
                release compatibility matches with version shown in app store else you need to download and install from 
                <ContentHighlight><a href="https://xcodereleases.com/" target="_blank">xcodereleases.com</a></ContentHighlight>. If you are 
                downloading And Installing then <ContentHighlight>make sure to move to application folder before executing it</ContentHighlight>.

                Then run the following in terminal <ContentHighlight>xcode-select —-install</ContentHighlight>.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/xcode-command-line-tools.png"
                        alt="xcode-command-line-tools" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Now <ContentHighlight>open xcode and install ios and other necessary components</ContentHighlight> and as this will help to bring 
                respective simulator.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/xcode-components.png"
                        alt="xcode-components" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Now finally <ContentHighlight>make sure command line tools is set to installed xcode version</ContentHighlight>. Thats All for ios and macos.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/xcode-command-line-tools-location.png"
                        alt="xcode-command-line-tools-location" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Now for android, first download and install matching JDK version from 
                <ContentHighlight><a href="https://learn.microsoft.com/en-us/java/openjdk/download">Open JDK download</a></ContentHighlight>. 
                In my case its <ContentHighlight>JDK 17</ContentHighlight>.
            </li>
            <li>
                Now <ContentHighlight>download and install Android SDK</ContentHighlight> from 
                <ContentHighlight><a href="https://developer.android.com/studio" target="_blank">Android Studio</a></ContentHighlight>. This will install 
                Android SDK and Android Studio.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/android-studio-installation.png"
                        alt="android-studio-installation" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Now when you go back to Visual Studio Code, you will see the below logs in the output window which shows 
                <ContentHighlight>xcode is successfully installed</ContentHighlight>.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/xcode-successful-installation.png"
                        alt="xcode-successful-installation" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                If you scroll above in output window you will see <ContentHighlight>missing android dependencies</ContentHighlight> like 
                <ContentHighlight>build tools</ContentHighlight> and <ContentHighlight>command line tools</ContentHighlight>.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/android-missing-dependencies.png"
                        alt="android-missing-dependencies" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Now open Android Studio and go to <ContentHighlight>Android Studio -> More Actions -> SDK Manager -> SDK Tools</ContentHighlight> to 
                install missing tools. <ContentHighlight>Tick the show package details checkbox</ContentHighlight> to see the version to install. You need 
                to <ContentHighlight>install the exact ersions shown in above output window</ContentHighlight> otherwise you will end up in errors. 
                select appropriate version and click apply.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/android-build-tools-installation.png"
                        alt="android-build-tools-installation" class="[ w-full ]" />
                </figure>

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/android-command-line-tools-installation.png"
                        alt="android-command-line-tools-installation" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Now go back to Visual Studio Code and press <ContentHighlight>cmd+shift+p</ContentHighlight> and type 
                <ContentHighlight>&gt;.netmaui</ContentHighlight> and select <ContentHighlight>configure android</ContentHighlight> and click on 
                <ContentHighlight>refresh android environment</ContentHighlight>.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/configure-android.png"
                        alt="configure-android" class="[ w-full ]" />
                </figure>

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/refresh-android-environment.png"
                        alt="refresh-android-environment" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Now you will see the below logs in the output window that shows <ContentHighlight>android is successfully installed</ContentHighlight>.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/android-successful-installation.png"
                        alt="android-successful-installation" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                All you need to do now is to <ContentHighlight>run xcode as this is needed to bring simulator</ContentHighlight> and 
                <ContentHighlight>set debug target in Visual Studio Code to ios and select the device</ContentHighlight> 
                and run the app.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/select-debug-target.png"
                        alt="select-debug-target" class="[ w-full ]" />
                </figure>
            </li>
            <li>
                Similarly for Android, open <ContentHighlight>Android Studio -> More Actions -> Virtual Device Manager</ContentHighlight> and 
                <ContentHighlight>create a new device or run the existing device</ContentHighlight> and 
                <ContentHighlight>set debug target in Visual Studio Code to android and select the device</ContentHighlight> and run the app.

                <figure>
                    <img src="./image/blogs/maui/step-by-step-setup-guide-for-dotnet-maui-with-visual-studio-code/android-device-manager.png"
                        alt="android-device-manager" class="[ w-full ]" />
                </figure>
            </li>
        </ol>
      </How>

      <Summary>
        <p>
            In this post, I have shown you how to setup MAUI development environment in Mac OS using Visual Studio Code. This setup is not as straight forward as
            Windows and it will take alteast 30 minutes to 1 hour to complete. Many thanks for checking this and learning with me.
        </p>
      </Summary>
    </ContentBody>
</Content>