@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inherits GoogleAdSenseBase

@if (HostEnvironment.IsProduction())
{
    <section @key="@Id">
        @if (Ad is not null)
        {
            @Ad
        }
    </section>
}
else if(HostEnvironment.IsDevelopment())
{
    <section class=@($"[ flex items-center justify-center ] [ {(Type != GoogleAdSenseAdType.InFeed ? "h-52" : null )} ] [ dark:bg-gray-100 dark:text-black ] [ bg-stone-900 text-white ]")>
        Ad Space
    </section>
}