@using Microsoft.AspNetCore.Components.Routing
@inherits SponsorBase

@if (Sponsor.IsActive)
{
    <section>
        <NavLink href="@Sponsor.RedirectUrl" target="_blank">
            <figure>
                <img src="@Sponsor.LogoUrl" class="[ w-full ] [ rounded-md ]" alt="@Sponsor.Name" loading="lazy" />
            </figure>
        </NavLink>
    </section>
}
else
{
    <GoogleAdSense Type="GoogleAdSenseAdType.InFeed" Format="GoogleAdSenseAdFormat.Fluid" LayoutKey="-7m+de+1z+n+3" Slot="2741354693"></GoogleAdSense>
}