@using Microsoft.AspNetCore.Components.Routing
@inherits SponsorBase

<section>
    <NavLink href="@Data.RedirectUrl" target="_blank">
        <figure>
            <img src="@Data.LogoUrl" class="[ w-full ] [ rounded-md ]" alt="@Data.Name" loading="lazy" />
        </figure>
    </NavLink>
</section>