@page "/blogs/behavioral-design-pattern-observer"
@using DesignPatternDemoComponents.Observer
@inherits BasePage

<Content FileName=@nameof(Observer) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about <Highlight>Observer Design Pattern</Highlight> in .NET.
            </p>

            <p>
                In this article, we'll explore the <Highlight>Observer</Highlight> pattern, a <Highlight>behavioral design pattern</Highlight>
                used to create a <Highlight>one-to-many dependency</Highlight> between objects so that when one object <Highlight>changes state</Highlight>,
                all its dependents are notified and updated automatically. This pattern is also known as the <Highlight>Publish-Subscribe</Highlight> or
                <Highlight>Pub/Sub pattern</Highlight>. We'll start by explaining the pattern using a practical example. We'll implement a simplified
                order management system where different parts of an order need to stay in sync. Then, we'll delve into the pattern's structure, use cases,
                consequences, and related patterns. Let's get started!
            </p>

            <p>
                The Observer pattern, as described in the <Highlight>Gang of Four</Highlight> design patterns book, aims to define a dependency between
                objects such that when one object changes, all its dependents are notified and updated automatically. This pattern is commonly used in applications
                where data changes need to propagate throughout the system <Highlight>without tightly coupling</Highlight> components.
            </p>
        </What>

        <Why>
            <p>
                Consider a scenario where we manage orders and their associated items in an order management system. When an
                <Highlight>OrderItem</Highlight> (like the quantity or price of an item) is updated, the <Highlight>Order</Highlight> needs to
                recalculate its total to reflect these changes. This setup mirrors the Observer pattern:
            </p>

            <ul>
                <li>
                    <Highlight>OrderItem:</Highlight> Represents the individual items in an order, with properties such as quantity and unit price.
                </li>
                <li>
                    <Highlight>Order:</Highlight> Represents the overall order, which needs to keep track of total cost and other details based on its items.
                </li>
            </ul>

            <p>
                Rather than the Order directly querying each OrderItem for changes, we can use the Observer pattern to notify the Order whenever an OrderItem is
                updated. This way, the system remains flexible and easy to extend.
            </p>
        </Why>

        <How>
            <h4 id="structure">Structure</h4>

            <p>
                The Observer pattern involves several key components:
            </p>

            <ol>
                <li>
                    <Highlight>Subject:</Highlight> The object that holds the state and notifies observers of any state changes. In our example, the OrderItem acts as
                    the subject.
                </li>
                <li>
                    <Highlight>Observer:</Highlight> An interface or abstract class defining the method to be called when the subject's state changes. Here, <Highlight>IOrderItemChangeListener</Highlight> is our observer
                    interface, implemented by <Highlight>OrderViewModel</Highlight>.
                </li>
                <li>
                    <Highlight>Concrete Subject:</Highlight> The specific object holding the state of interest. For this example, it's the OrderItem class.
                </li>
                <li>
                    <Highlight>Concrete Observer:</Highlight> The specific implementation of the observer interface. In our case, each Order implements an observer to track its
                    changes.
                </li>
            </ol>

            <p>
                Here's how we can implement the Observer pattern in our order management system:
            </p>

            <CodeSnippet CssClass="language-csharp">
//Step - 1: Define Publisher

public abstract class OrderItemChangeNotifier()
{
    private readonly List&lt;IOrderItemChangeListener&gt; _observers = [];

    public void AddObserver(IOrderItemChangeListener observer)
    {
        _observers.Add(observer);
    }

    public void RemoveObserver(IOrderItemChangeListener observer)
    {
        _observers.Remove(observer);
    }

    public void NotifyOrderItemProcessed()
    {
        foreach (var observer in _observers)
        {
            observer.ReceiveOrderItemProcessedNotification();
        }
    }
}

//Step -2: Implement Publisher

public class OrderItemViewModel : OrderItemChangeNotifier
{
    public int Quantity { get; set; }
    public decimal UnitPrice { get; set; }
    
    public void UpdateQuantity(int newQuantity)
    {
        Quantity = newQuantity;
        NotifyOrderItemProcessed();
    }
    
    public void UpdateUnitPrice(decimal newUnitPrice)
    {
        UnitPrice = newUnitPrice;
        NotifyOrderItemProcessed();
    }
    
    public decimal GetTotalPrice()
    {
        return Quantity * UnitPrice;
    }
}
            </CodeSnippet>

            <p>
                In the above code we are adding Observer (Order) using <Highlight>AddObserver</Highlight> and removing Observer (Order) using
                <Highlight>RemoveObserver</Highlight>. <Highlight>NotifyOrderItemProcessed</Highlight> notifies all subscribed observers
                (order) by calling their <Highlight>ReceiveOrderItemProcessedNotification</Highlight> method. OrderItem implements the above
                <Highlight>abstract class</Highlight> and calls NotifyOrderItemProcessed method whenever there is a change in OrderItem.
            </p>

            <CodeSnippet CssClass="language-csharp">
//Step - 3: Define Subscriber

public interface IOrderItemChangeListener
{
    void ReceiveOrderItemProcessedNotification();
}

//Step - 4: Implement Subscriber

public class OrderViewModel : IOrderItemChangeListener
{

    private List&lt;OrderItemViewModel&gt; _orderItems = [];
    public IReadOnlyList&lt;OrderItemViewModel&gt; OrderItems =&gt; _orderItems;
    public decimal Total { get; private set; }
    
    public void AddItem()
    {
        var orderItem = new OrderItemViewModel 
        {
            Quantity = 1,
            UnitPrice = 10
        };
        orderItem.AddObserver(this);
        _orderItems.Add(orderItem);
    }

    public void RemoveItem(OrderItemViewModel item)
    {
        item.RemoveObserver(this);
        _orderItems.Remove(item);
    }
    
    public void CalculateTotalAmount()
    {
        Total = _orderItems.Sum(x =&gt; x.GetTotalPrice());
    }
    
    public void ReceiveOrderItemProcessedNotification()
    {
        CalculateTotalAmount();
    }
}
            </CodeSnippet>

            <p>
                In the above code <Highlight>OrderViewModel</Highlight> <Highlight>listens</Highlight> for changes in
                <Highlight>OrderItemViewModel</Highlight> instances and recalculates the total amount using <Highlight>CalculateTotalAmount</Highlight>
                whenever any item is updated, ensuring the total is always accurate.
            </p>

            <DemoSnippet Title="Observer Pattern Demo">
                <p>
                    Let's try <Highlight>Observer</Highlight> Demo, Click on the <Highlight>Add Order Item</Highlight> and
                    <Highlight>Remove Order Item</Highlight> and <Highlight>change Quantity and Price</Highlight>
                    to see the observer pattern in action.
                    The results will be displayed at the bottom of table.
                </p>
                <CodeSnippet CssClass="language-razor">
&lt;button type="button"
    @@onclick="HandleAddOrderItem"&gt;
    Add Order Item
&lt;/button&gt;

&lt;button type="button"
    @@onclick="HandleRemoveOrderItem"&gt;
    Remove Order Item
&lt;/button&gt;
&lt;table&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th&gt;Quantity&lt;/th&gt;
            &lt;th&gt;Price&lt;/th&gt;
            &lt;th&gt;Line Amount&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
        @@foreach (var index in Enumerable.Range(0, _order.OrderItems.Count))
        {
            &lt;tr @@key="@@index"&gt;
                &lt;td&gt;
                    &lt;InputNumber 
                        ValueExpression="() =&gt; _order.OrderItems[index].Quantity"
                        Value="_order.OrderItems[index].Quantity"
                        ValueChanged="(int quantity) =&gt; _order.OrderItems[index].UpdateQuantity(quantity)" /&gt;
                &lt;/td&gt;
                &lt;td&gt;
                    &lt;InputNumber 
                        ValueExpression="() =&gt; _order.OrderItems[index].UnitPrice"
                        Value="_order.OrderItems[index].UnitPrice"
                        ValueChanged="(decimal unitPrice) =&gt; _order.OrderItems[index].UpdateUnitPrice(unitPrice)" /&gt;
                &lt;/td&gt;
                &lt;td&gt;
                    @@_order.OrderItems[index].GetTotalPrice()
                &lt;/td&gt;
            &lt;/tr&gt;
        }
    &lt;/tbody&gt;
    &lt;tfoot&gt;
        &lt;tr&gt;
            &lt;td colspan="3"&gt;Total&lt;/td&gt;
            &lt;td&gt;@@_order.Total.ToString("C")&lt;/td&gt;
        &lt;/tr&gt;
    &lt;/tfoot&gt;
&lt;/table&gt;

@@code
{
    private OrderViewModel _order = new OrderViewModel();

    private void HandleAddOrderItem()
    {
        _order.AddItem();
    }

    private void HandleRemoveOrderItem()
    {
        _order.RemoveItem(_order.OrderItems.Last());
    }
}
                </CodeSnippet>
                <ObserverDemo></ObserverDemo>
            </DemoSnippet>

            <h4 id="use-cases">Use Cases</h4>

            <p>
                The Observer pattern is beneficial in several scenarios:
            </p>

            <ol>
                <li>
                    <Highlight>Dynamic Relationships:</Highlight> When the number of dependents (observers) that need to be updated can change at runtime, like dynamically adding or
                    removing items from an order.
                </li>
                <li>
                    <Highlight>Decoupling Components:</Highlight> To avoid tight coupling between components, like separating order calculation logic from item management.
                </li>
                <li>
                    <Highlight>Event Handling Systems:</Highlight> In scenarios like GUI frameworks, where user interactions need to notify various components without tightly binding
                    them together.
                </li>
            </ol>

            <h4 id="advantages">Advantages</h4>

            <p>
                <Highlight>Loose Coupling:</Highlight> Subjects and observers remain loosely coupled, which allows for greater flexibility and easier maintenance.
            </p>

            <h4 id="disadvantages">Disadvantages</h4>

            <ul>
                <li>
                    <Highlight>Potential Performance Impact:</Highlight> If not managed carefully, especially with a large number of observers, the notification process might lead to
                    performance issues.
                </li>
                <li>
                    <Highlight>Change Cascades:</Highlight> Unintended cascades of changes can occur if observers can change the state of subjects in response to notifications.
                </li>
            </ul>

            <h4 id="related-patterns">Related Patterns</h4>

            <p>
                The Observer pattern is closely related to several other design patterns:
            </p>

            <ul>
                <li>
                    <Highlight>Mediator:</Highlight> Centralizes complex communication and control logic between objects, effectively reducing dependencies.
                </li>
                <li>
                    <Highlight>Command:</Highlight> Encapsulates a request as an object, thereby allowing for parameterization and queuing of requests.
                </li>
                <li>
                    <Highlight>Chain of Responsibility:</Highlight> Allows a request to pass along a chain of potential handlers until it is processed.
                </li>
            </ul>
        </How>

        <Summary>
            <p>
                In this module, we explored the <Highlight>Observer</Highlight> pattern through the lens of an order management system. We saw how
                this pattern allows for <Highlight>automatic updates</Highlight> and <Highlight>notifications</Highlight> across related
                components, promoting <Highlight>loose coupling</Highlight> and <Highlight>flexibility</Highlight>. We also covered use
                cases, consequences, and related patterns to provide a comprehensive understanding of its applications.
            </p>
        </Summary>
    </ContentBody>
</Content>