@page "/blogs/enterprise-design-pattern-repository"
@using DesignPatternDemoComponents.Repository
@inherits BasePage

<Content FileName=@nameof(Repository) UseNewTableOfContentsMenu=true>
    <ContentBody>
        <What>
            <p>
                In this article, let's learn about <Highlight>Repository Design Pattern</Highlight> in .NET.
            </p>

            <p>
                The <Highlight>Repository pattern</Highlight> is a commonly used <Highlight>enterprise design pattern</Highlight>,
                especially in enterprise applications. It helps to <Highlight>abstract and encapsulate data access</Highlight> logic, promoting a
                clean separation of concerns between business logic and data access logic.
            </p>
        </What>

        <Why>
            <p>
                The Repository pattern provides a way to manage data access with <Highlight>minimal code duplication</Highlight> and
                <Highlight>improved testability</Highlight>. It abstracts the data layer, making the business logic unaware of the underlying data
                source. This allows developers to switch persistence technologies, if needed, without impacting the business logic. Repository Pattern in other
                words allows developer to have a <Highlight>specific persistence</Highlight> for each repository based on need.
            </p>

            <p>
                Instead of directly interacting with the database using tools like ADO.NET or Entity Framework Core, the business logic communicates with repositories.
                These repositories provide a set of methods to perform CRUD (Create, Read, Update, Delete) operations on data entities.
            </p>
        </Why>

        <How>
            <h4 id="implementing-a-repository-pattern">Implementing Repository Pattern</h4>

            <p>
                A typical repository starts with a contract, often defined as an <Highlight>interface</Highlight>. This
                <Highlight>interface</Highlight> defines common data operations that can be reused across different entities, reducing redundancy
                in your codebase. For example:
            </p>

            <CodeSnippet CssClass="language-csharp">
public interface IRepository&lt;T&gt; where T : class
{
    Task&lt;T&gt; GetByIdAsync(int id);
    Task&lt;IEnumerable&lt;T&gt;&gt; GetAllAsync();
    Task AddAsync(T entity);
    void Update(T entity);
    void Delete(T entity);
    Task SaveChangesAsync();
}
            </CodeSnippet>

            <h4 id="generic-repository">Generic Repository</h4>

            <p>
                A <Highlight>generic repository</Highlight> allows you to define <Highlight>common</Highlight> CRUD operations once and
                <Highlight>reuse</Highlight> them across multiple entities, <Highlight>reducing code duplication</Highlight>. In this
                example, lets take EF Core as the ORM and define a generic repository that implements the <Highlight>IRepository interface</Highlight>.
            </p>

            <CodeSnippet CssClass="language-csharp">
public class GenericRepository&lt;T&gt; : IRepository&lt;T&gt; where T : class
{
    private readonly DbContext _context;
    private readonly DbSet&lt;T&gt; _dbSet;

    public GenericRepository(DbContext context)
    {
        _context = context;
        _dbSet = context.Set&lt;T&gt;();
    }

    public async Task&lt;T&gt; GetByIdAsync(int id) =&gt; await _dbSet.FindAsync(id);
    public async Task&lt;IEnumerable&lt;T&gt;&gt; GetAllAsync() =&gt; await _dbSet.ToListAsync();
    public async Task AddAsync(T entity) =&gt; await _dbSet.AddAsync(entity);
    public void Update(T entity) =&gt; _dbSet.Update(entity);
    public void Delete(T entity) =&gt; _dbSet.Remove(entity);
    public async Task SaveChangesAsync() =&gt; await _context.SaveChangesAsync();
}
            </CodeSnippet>

            <h5>Advantages</h5>

            <ul>
                <li><Highlight>Reusability</Highlight>: Common data operations are defined once and reused across multiple entities.</li>
                <li><Highlight>Consistency</Highlight>: All entities have a consistent API for CRUD operations.</li>
            </ul>

            <h5>Disadvantages</h5>

            <ul>
                <li><Highlight>Lack of Specificity</Highlight>: May not provide methods tailored to specific entities, requiring additional custom methods.</li>
                <li><Highlight>Over-generalization</Highlight>: Can become too abstract, making it difficult to implement entity-specific logic.</li>
            </ul>

            <h4 id="non-generic-repository">Non Generic Repository</h4>

            <p>
                <Highlight>Non-generic repositories</Highlight> are tailored to specific entities. They define <Highlight>custom</Highlight>
                methods that are unique to the entity they represent. But also have the <Highlight>same methods defined in the generic repository</Highlight>.
                For example:
            </p>

            <CodeSnippet CssClass="language-csharp">
public interface IOrderRepository
{
    Task&lt;Order?&gt; GetByIdAsync(int id);
    Task&lt;IEnumerable&lt;Order&gt;&gt; GetAllAsync();
    Task&lt;IEnumerable&lt;Order&gt;&gt; GetOrdersByCustomerIdAsync(int customerId);
    Task AddAsync(Order entity);
    void Update(Order entity);
    void Delete(Order entity);
    Task SaveChangesAsync();
}
            </CodeSnippet>

            <h5>Advantages</h5>

            <ul>
                <li><Highlight>Specificity</Highlight>: Tailored to the needs of specific entities, making them more flexible for complex queries and operations.</li>
                <li><Highlight>Clear Intent</Highlight>: The repository's purpose is clear, as it deals with a specific entity.</li>
            </ul>

            <h5>Disadvantages</h5>

            <ul>
                <li><Highlight>Potential Code Duplication</Highlight>: Common CRUD operations may be repeated across different repositories.</li>
                <li><Highlight>Maintenance Overhead</Highlight>: Managing multiple repositories can become cumbersome in large projects.</li>
            </ul>

            <h4 id="combining-generic-and-non-generic-repository">Combining Generic and Non Generic Repository</h4>

            <p>
                In practice, you can <Highlight>mix both approaches</Highlight>. Use a <Highlight>generic repository</Highlight> for
                <Highlight>common operations</Highlight> and a <Highlight>non-generic</Highlight> repository for
                <Highlight>entity-specific</Highlight> methods. All we need to do is to create a <Highlight>non-generic repository that inherits
                from the generic repository and implements the entity-specific methods</Highlight>. This way, we can reuse the common CRUD operations
                defined in the generic repository and add custom methods as needed reducing massive code duplication.
            </p>

            <CodeSnippet CssClass="language-csharp">
public interface IOrderRepository : IRepository&lt;Order&gt;
{
    Task&lt;IEnumerable&lt;Order&gt;&gt; GetOrdersByCustomerIdAsync(int customerId);
}
            </CodeSnippet>

            <CodeSnippet CssClass="language-csharp">
public class OrderRepository(DbContext dbContext) : GenericRepository&lt;Order&gt;(dbContext), IOrderRepository
{
    private readonly DbContext _dbContext = dbContext;
    
    public async Task&lt;IEnumerable&lt;Order&gt;&gt; GetOrdersByCustomerIdAsync(int customerId)
    {
        return await _dbContext.Orders.Where(x =&gt; x.CustomerId == customerId).ToListAsync();
    }
}
            </CodeSnippet>

            <h4 id="faqs">FAQs</h4>

            <h5>Entity Framework Core and the Repository Pattern</h5>

            <p>
                <Highlight>Entity Framework Core (EF Core)</Highlight> can be used with the Repository pattern to simplify data access. While
                EF Core provides a built-in repository pattern, you can choose whether to use it directly or implement your own.
            </p>

            <h5>Should You Use EF Core's Built-In Repository?</h5>

            <p>
                <Highlight>Entity Framework Core</Highlight> provides a repository implementation via the <Highlight>DbSet</Highlight>.
                But it is considered a bit <Highlight>leaky</Highlight>, so it's often <Highlight>encapsulated</Highlight> in another
                repository just as we did in the demos.
            </p>

            <h5>Multiple SaveChangesAsync()?</h5>

            <p>
                The problem with multiple <Highlight>SaveChangesAsync()</Highlight> calls in each respository is that they can lead to
                <Highlight>inconsistent data states</Highlight>. To avoid this, consider using a <Highlight>Unit of Work</Highlight>
                pattern to <Highlight>manage transactions</Highlight> across repositories which we will cover in next article.
            </p>
        </How>

        <Summary>
            <p>
                The <Highlight>Repository</Highlight> pattern, whether <Highlight>generic</Highlight>,
                <Highlight>non-generic</Highlight>, or a <Highlight>combination</Highlight>, is a powerful tool for managing data access in a
                <Highlight>clean, maintainable</Highlight> way. It enhances <Highlight>testability, flexibility, and maintainability</Highlight>,
                allowing your application to adapt as requirements change. But, we've currently got those <Highlight>SaveChanges</Highlight> called in
                our repositories, does such a method really belong there? And what if we need to work with <Highlight>transactions</Highlight> across
                repositories? That is where the Unit of Work pattern comes in. Let's have a look at that one next.
            </p>
        </Summary>
    </ContentBody>
</Content>