@page "/blogs/blazor-wasm-app-settings"
@using BlazorDemoComponents
@inject TableOfContents tableOfContents

<Content Title=@Title
         Description=@Description
         CreatedOn=@CreatedOn
         ModifiedOn=@ModifiedOn
         Slug=@Slug
         PosterPath=@PosterPath
         Keywords=@Keywords
         Channel="@Channel"
         ContentType="@ContentType"
         TotalContents=@TotalContents>
    <ContentBody>
        <p>
            In this article, let's learn about how to read configuration from app settings in Blazor WASM application.
        </p>

        <h3 class="[ font-semibold text-lg ]">What is App Settings and Why it is needed?</h3>

        <p>
            App Settings / Configuration (<ContentHighlight>appsettings.json</ContentHighlight>) located
            inside <ContentHighlight>wwwroot</ContentHighlight> is used to store application related
            configuration in <abbr title="Java Script Object Notation">JSON</abbr> format and load them in runtime based on environment to read
            keys/id for consuming any external services or urls for external services or conditionally render UI or change code flow, etc.
        </p>

        <p>
            Blazor WebAssembly loads configuration from the following app settings files by default:
        </p>

        <ul class="[ list-disc ] [ ml-4 ]">
            <li><ContentHighlight>wwwroot/appsettings.json</ContentHighlight></li>
            <li><ContentHighlight>wwwroot/appsettings.{ENVIRONMENT}.json</ContentHighlight>, where the {ENVIRONMENT} placeholder is the app's runtime environment</li>
        </ul>

        <p>
            Please note that <ContentHighlight>appsettings.json</ContentHighlight> in blazor wasm is
            located inside <ContentHighlight>wwwroot</ContentHighlight>. Which means it can be read by
            anyone on client side. Hence don't store any sensitive information in it.
        </p>

        <h3 class="[ font-semibold text-lg ]">How to read App Settings?</h3>

        <p>
            To read the settings / configuration from <ContentHighlight>appsettings.json</ContentHighlight>
            you need to follow the below steps,
        </p>

        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>Inject <ContentHighlight>@@inject IConfiguration configuration</ContentHighlight></li>
            <li>Use injected configuration object to read settings</li>
            <li>
                <ul class="[ list-disc ] [ ml-4 ]">
                    <li>Use <ContentHighlight>configuration.GetValue&lt;string&gt;("{KEY}")</ContentHighlight> to read simple string value</li>
                    <li>Use <ContentHighlight>configuration.GetValue&lt;bool&gt;("{KEY}")</ContentHighlight> to read simple boolean value</li>
                    <li>Use <ContentHighlight>configuration.GetSection("{KEY}")</ContentHighlight> to read section as object</li>
                </ul>
            </li>
        </ol>

        <p>
            Configuration in app settings files are loaded by default. In I ❤️ .NET, a base url, authors value is stored in an app settings
            file and loaded by the Blazor framework automatically. The value is read by a component.
        </p>

        <GithubGistSnippet Title="Blazor WASM App Settings Configuration" UserId="fingers10" FileName="55930e92551a666355e743242671d185"></GithubGistSnippet>

        <DemoSnippet Title="Read Settings From Configuration">
            <p class="[ text-black ] [ dark:text-white ]">
                <b>
                    Scenario - Let's try reading configuration from I ❤️ .NET <ContentHighlight>appsettings.json</ContentHighlight>
                </b>
            </p>
            <AppSettingsConfiguration></AppSettingsConfiguration>
        </DemoSnippet>

        <h3 class="[ font-semibold text-lg ]">App Settings in Release Configuration</h3>

        <p>
            Generally configuration from <ContentHighlight>appsettings.json</ContentHighlight> will be used
            in production environment. We cannot have all same configuration in all environment. So we can override configuration for different environment
            using <ContentHighlight>appsettings.{ENVIRONMENT}.json</ContentHighlight>, where the
            {ENVIRONMENT} placeholder is the app's runtime environment. For example, in I ❤️ .NET <ContentHighlight>baseUrl</ContentHighlight>
            in development environment will be different from production environment. So in <ContentHighlight>appsettings.development.json</ContentHighlight>
            will have different <ContentHighlight>"baseUrl": "https://localhost:7176/"</ContentHighlight> value.
        </p>

        <p>
            Other common use case would be, we have an API Key for consuming external service and that endpoint might have rate limiting mechanism in place. If
            we use the same production Key in development, then we might end up exhausting our consumption limit. To avoid this we can use dummy keys or
            different keys in development environment by overriding the key value in <ContentHighlight>appsettings.development.json</ContentHighlight>.
        </p>

        <p>
            Now that we have learn't how to use app settings in blazor wasm. We are still left with one more stuff. It is not necessary to bundle
            all <ContentHighlight>appsettings.{ENVIRONMENT}.json</ContentHighlight> to production. This can
            be safely removed in <ContentHighlight>Release</ContentHighlight> configuration using the below
            settings in <ContentHighlight>.csproj</ContentHighlight> file.
        </p>

        <GithubGistSnippet Title="Blazor WASM Project File Configuration" UserId="fingers10" FileName="040e1c9ad3fb10fe1c962e0120e07ba6"></GithubGistSnippet>
    </ContentBody>
</Content>

@code {
    private string Title = "Blazor WASM App Settings";
    private string Description = "In this post I will teach you how to read configuration from app settings in your Blazor applications. All with live working demo.";
    private DateTime CreatedOn = new DateTime(2022, 2, 27, 22, 30, 0);
    private DateTime ModifiedOn = new DateTime(2022, 2, 27, 22, 30, 0);
    private string Slug = "blazor-wasm-app-settings";
    private string PosterPath = "blogs/blazor/wasm";
    private string Channel = "blazor";
    private string ContentType = "blogs";
    private ushort TotalContents => (ushort)tableOfContents.Contents.Count(content => content.Type.Equals("Blazor", StringComparison.CurrentCultureIgnoreCase));
    private List<string> Keywords = new(2) { "App Settings", "App Configuration" };
}