@page "/blogs/blazor-wasm-app-settings"
@inject IConfiguration configuration

<ContentHead Title=@Title
             Description=@Description
             CreatedOn=@CreatedOn
             ModifiedOn=@ModifiedOn
             Slug=@Slug
             Keywords=@Keywords>
</ContentHead>

<section class="[ flex flex-col md:flex-row ] [ p-5 md:px-20 ] [ md:space-x-5 space-y-5 md:space-y-0 ]">
    <article class="[ md:basis-4/5 ] [ space-y-5 ]">
        <ContentHeader Title=@Title
                       ModifiedOn=@ModifiedOn
                       Slug=@Slug>
        </ContentHeader>
        <section class="[ dark:text-white ] [ space-y-2 ] [ leading-relaxed ]">
            
        </section>
    </article>
    <ContentRecommendation Title=@Title></ContentRecommendation>
</section>

@code {
    private string Title = "Blazor WASM App Settings";
    private string Description = "In this post I will teach you how to read configuration from app settings in your Blazor applications. All with live working demo.";
    private string BaseUrl => configuration.GetValue<string>("baseUrl");
    private DateTime CreatedOn = new DateTime(2022, 2, 27, 22, 30, 0);
    private DateTime ModifiedOn = new DateTime(2022, 2, 27, 22, 30, 0);
    private string Slug = "blazor-wasm-app-settings";
    private List<string> Keywords = new(2) { "App Settings", "App Configuration" };
}