@page "/blogs/blazor-wasm-virtualization"
@using BlazorDemoComponents
@inherits FragmentNavigationBase
@inject TableOfContents tableOfContents

<Content Title=@Title
         Description=@Description
         CreatedOn=@CreatedOn
         ModifiedOn=@ModifiedOn
         Slug=@Slug
         PosterPath=@PosterPath
         Keywords=@Keywords
         Channel="@Channel"
         ContentType="@ContentType"
         TotalContents=@TotalContents>
    <ContentBody>
        <p>
            In this article, let's learn about how to use virtualization to load huge data in Blazor WASM application.
        </p>

        <h3 class="[ font-semibold text-lg ]">Table of Contents</h3>
        
        <ol class="[ list-decimal ] [ ml-4 ]">
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#why")" Match="NavLinkMatch.All">
                    Why Virtualization?
                </NavLink>
            </li>
            <li>
                <NavLink class="[ underline ]" href="@($"blogs/{Slug}#summary")" Match="NavLinkMatch.All">
                    Summary
                </NavLink>
            </li>
        </ol>

        <h3 id="why" class="[ font-semibold text-lg ]">Why Virtualization?</h3>

        <h3 id="summary" class="[ font-semibold text-lg ]">Summary</h3>

        <p>
            In this article, we learn't how to use virtualization to load huge data without compromising on performance and user experience.
        </p>
    </ContentBody>
</Content>

@code {
    private string Title = "Blazor WASM Virtualization";
    private string Description = "In this post I will teach how to use virtualization in your Blazor applications. All with live working demo.";
    private DateTime CreatedOn = new DateTime(2022, 6, 12, 22, 30, 0);
    private DateTime ModifiedOn = new DateTime(2022, 6, 12, 22, 30, 0);
    private string Slug = "blazor-wasm-virtualization";
    private string PosterPath = "blogs/blazor/wasm";
    private string Channel = "blazor";
    private string ContentType = "blogs";
    private ushort TotalContents => (ushort)tableOfContents.Contents.Count(content => content.Type.Equals("Blazor", StringComparison.CurrentCultureIgnoreCase));
    private List<string> Keywords = new(3) { "Virtualization", "Virtual DOM", "Performance" };
}