@page "/blogs/blazor-wasm-dynamic-component"
@using BlazorDemoComponents
@inject TableOfContents tableOfContents

<Content Title=@Title
         Description=@Description
         CreatedOn=@CreatedOn
         ModifiedOn=@ModifiedOn
         Slug=@Slug
         PosterPath=@PosterPath
         Keywords=@Keywords
         Channel="@Channel"
         ContentType="@ContentType"
         TotalContents=@TotalContents>
    <ContentBody>
        <p>
            
        </p>

        <h3 class="[ font-semibold text-lg ]">What is Dynamic Component in blazor?</h3>

        <p>
            
        </p>

        <DemoSnippet Title="Dynamic Component">
            <p class="[ text-black ] [ dark:text-white ]">
                <b>
                    Scenario - Let's try rendering the components dynamically
                </b>
            </p>
            <DynamicComponentDemo></DynamicComponentDemo>
        </DemoSnippet>

        <h3 class="[ font-semibold text-lg ]">Summary</h3>

        <p>
            
        </p>
    </ContentBody>
</Content>

@code {
    private string Title = "Blazor WASM Dynamic Component";
    private string Description = "In this post I will teach what is dynamic component and how to use dynamic component in your Blazor applications. All with live working demo.";
    private DateTime CreatedOn = new DateTime(2022, 7, 3, 22, 30, 0);
    private DateTime ModifiedOn = new DateTime(2022, 7, 3, 22, 30, 0);
    private string Slug = "blazor-wasm-dynamic-component";
    private string PosterPath = "blogs/blazor/wasm";
    private string Channel = "blazor";
    private string ContentType = "blogs";
    private ushort TotalContents => (ushort)tableOfContents.Contents.Count(content => content.Type.Equals("Blazor", StringComparison.CurrentCultureIgnoreCase));
    private List<string> Keywords = new(3) { "Dynamic", "Component", "Dynamically-rendered" };
}