@page "/blogs/blazor-wasm-communication-between-components"
@inherits FragmentNavigationBase
@inject TableOfContents tableOfContents

<Content Title=@Title
         Description=@Description
         CreatedOn=@CreatedOn
         ModifiedOn=@ModifiedOn
         Slug=@Slug
         PosterPath=@PosterPath
         Keywords=@Keywords
         Channel="@Channel"
         ContentType="@ContentType"
         TotalContents=@TotalContents>
    <ContentBody>
        <p>
            In this article, let's learn about how to communicate between components in Blazor WASM application.
        </p>
        
        <h3 id="summary" class="[ font-semibold text-lg ]">Summary</h3>

        <p>
            In this article, we learn't how to <ContentHighlight>Communicate</ContentHighlight> between components in blazor WASM application.
        </p>
    </ContentBody>
</Content>

@code {
    private string Title = "Blazor WASM Communication Between Components";
    private string Description = "In this post I will teach how to communicate between components in your Blazor applications. All with live working demo.";
    private DateTime CreatedOn = new DateTime(2022, 5, 22, 22, 30, 0);
    private DateTime ModifiedOn = new DateTime(2022, 5, 22, 22, 30, 0);
    private string Slug = "blazor-wasm-communication-between-components";
    private string PosterPath = "blogs/blazor/wasm";
    private string Channel = "blazor";
    private string ContentType = "blogs";
    private ushort TotalContents => (ushort)tableOfContents.Contents.Count(content => content.Type.Equals("Blazor", StringComparison.CurrentCultureIgnoreCase));
    private List<string> Keywords = new(1) { "Communication" }; 
}